<li class="yuimenuitem">
	<A href="$link.setPage('XDATScreen_edit_ghf_usCardioAssessor.vm').addPathInfo('imagesession',$om.getId()).addPathInfo('popup',$popup).addPathInfo('project',$om.getProject())"><div class="ic"><img border="0" src="$content.getURI("images/Up.gif")"/></div><div class="ic_spacer">&nbsp;</div>Add Ultrasound Data</A>
</li>