#parse($turbineUtils.getTemplateName("_details","xnat:subjectAssessorData",$project))

<script type="text/javascript">
document.title = "Encounter Log";
</script>

#set($encounters = $om.getEncounters_encounter())
#foreach($encounter in $encounters)
    <table>
        <tr>
            <th align="left">
              <br/>
              <font face="$ui.sansSerifFonts" size="2">
                Encounter $!encounter.getEncounterNumber()
              </font>
            </th>
        </tr>
        <tr>
            <td align="left" valign="top">
                <table>
                    <tr><td nowrap="nowrap">Date</td><td>$!encounter.getDate() $!encounter.getTime()</td></tr>
                    #if ($encounter.getEncounterType()) <tr><td nowrap="nowrap">Type</td><td>$!encounter.getEncounterType()</td></tr> #end
					#if ($encounter.getProjectTimepoint()) <tr><td nowrap="nowrap">Timepoint</td><td>$!encounter.getProjectTimepoint()</td></tr> #end
					#if ($encounter.getSubjectStatus()) <tr><td nowrap="nowrap">Subject Status</td><td>$!encounter.getSubjectStatus()</td></tr> #end
					#if ($encounter.getComment()) <tr><td valign="top" nowrap="nowrap">Comment</td><td>$!encounter.getComment()</td></tr> #end
                </table>
            </td>
        </tr>
    </table>
#end
