
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>ADI-R A:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("A_TOTAL"))
</div>
<div class="search-item">
<h5>A Total Notation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("A_TOTAL_NOTE"))
</div>
<div class="search-item">
<h5>ADI-R B(V):</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B_V_TOTAL"))
</div>
<div class="search-item">
<h5>B(V) Total Notation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B_V_TOTAL_NOTE"))
</div>
<div class="search-item">
<h5>ADI-R B(NV):</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B_NV_TOTAL"))
</div>
<div class="search-item">
<h5>B(NV) Total Notation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B_NV_TOTAL_NOTE"))
</div>
<div class="search-item">
<h5>ADI-R C:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("C_TOTAL"))
</div>
<div class="search-item">
<h5>C Total Notation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("C_TOTAL_NOTE"))
</div>
<div class="search-item">
<h5>ADI-R D:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("D_TOTAL"))
</div>
<div class="search-item">
<h5>D Total Notation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("D_TOTAL_NOTE"))
</div>
<div class="search-item">
<h5>ADI-R Diag:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ADI_R_DX"))
</div>
<div class="search-item">
<h5>ADI-R Clas:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ADI_R_CL"))
</div>
<div class="clear"></div></div></div>
