
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Session:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
</div>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>MR Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_DATE"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>S Type:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_TYPE"))
</div>
<div class="search-item">
<h5>Type:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TASK_TYPE"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>acc1_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_ACCURACY"))
</div>
<div class="search-item">
<h5>miss1_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_MISSED"))
</div>
<div class="search-item">
<h5>n1_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_TOTALWORDS"))
</div>
<div class="search-item">
<h5>rt1_mna:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_MEAN"))
</div>
<div class="search-item">
<h5>rt1_meda:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_MEDIAN"))
</div>
<div class="search-item">
<h5>rt1_mina:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_MINIMUM"))
</div>
<div class="search-item">
<h5>rt1_maxa:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_MAXIMUM"))
</div>
<div class="search-item">
<h5>rt1_sda:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN1_STDDEV"))
</div>
<div class="search-item">
<h5>acc2_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_ACCURACY"))
</div>
<div class="search-item">
<h5>miss2_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_MISSED"))
</div>
<div class="search-item">
<h5>n2_a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_TOTALWORDS"))
</div>
<div class="search-item">
<h5>rt2_mna:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_MEAN"))
</div>
<div class="search-item">
<h5>rt2_meda:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_MEDIAN"))
</div>
<div class="search-item">
<h5>rt2_mina:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_MINIMUM"))
</div>
<div class="search-item">
<h5>rt2_maxa:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_MAXIMUM"))
</div>
<div class="search-item">
<h5>rt2_sda:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_RUN2_STDDEV"))
</div>
<div class="search-item">
<h5>acca:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_ACCURACY"))
</div>
<div class="search-item">
<h5>na:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_TOTAL_WORDS"))
</div>
<div class="search-item">
<h5>missa:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_MISSED"))
</div>
<div class="search-item">
<h5>rta_mean:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_MEAN"))
</div>
<div class="search-item">
<h5>rta_med:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABS_MEDIAN"))
</div>
<div class="search-item">
<h5>acc1_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_ACCURACY"))
</div>
<div class="search-item">
<h5>miss1_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_MISSED"))
</div>
<div class="search-item">
<h5>n1_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_TOTALWORDS"))
</div>
<div class="search-item">
<h5>rt1_mnc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_MEAN"))
</div>
<div class="search-item">
<h5>rt1_medc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_MEDIAN"))
</div>
<div class="search-item">
<h5>rt1_minc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_MINIMUM"))
</div>
<div class="search-item">
<h5>rt1_maxc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_MAXIMUM"))
</div>
<div class="search-item">
<h5>rt1_sdc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN1_STDDEV"))
</div>
<div class="search-item">
<h5>acc2_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_ACCURACY"))
</div>
<div class="search-item">
<h5>miss2_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_MISSED"))
</div>
<div class="search-item">
<h5>n2_c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_TOTALWORDS"))
</div>
<div class="search-item">
<h5>rt2_mnc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_MEAN"))
</div>
<div class="search-item">
<h5>rt2_medc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_MEDIAN"))
</div>
<div class="search-item">
<h5>rt2_minc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_MINIMUM"))
</div>
<div class="search-item">
<h5>rt2_maxc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_MAXIMUM"))
</div>
<div class="search-item">
<h5>rt2_sdc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_RUN2_STDDEV"))
</div>
<div class="search-item">
<h5>accc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_ACCURACY"))
</div>
<div class="search-item">
<h5>nc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_TOTAL_WORDS"))
</div>
<div class="search-item">
<h5>missc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_MISSED"))
</div>
<div class="search-item">
<h5>rtc_mean:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_MEAN"))
</div>
<div class="search-item">
<h5>rtc_med:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CONC_MEDIAN"))
</div>
<div class="search-item">
<h5>acc1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_ACCURACY1"))
</div>
<div class="search-item">
<h5>acc2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_ACCURACY2"))
</div>
<div class="search-item">
<h5>acc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_ACCURACY12"))
</div>
<div class="search-item">
<h5>miss1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MISS1"))
</div>
<div class="search-item">
<h5>miss2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MISS2"))
</div>
<div class="search-item">
<h5>miss:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MISS12"))
</div>
<div class="search-item">
<h5>rt1_mean:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEAN1"))
</div>
<div class="search-item">
<h5>rt2_mean:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEAN2"))
</div>
<div class="search-item">
<h5>rt_mean:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEAN12"))
</div>
<div class="search-item">
<h5>rt1_med:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEDIAN1"))
</div>
<div class="search-item">
<h5>rt2_med:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEDIAN2"))
</div>
<div class="search-item">
<h5>rt_med:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_MEDIAN12"))
</div>
<div class="search-item">
<h5>n1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_TOTALWORDS1"))
</div>
<div class="search-item">
<h5>n2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_TOTALWORDS2"))
</div>
<div class="search-item">
<h5>n:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_TOTALWORDS12"))
</div>
<div class="search-item">
<h5>n-miss:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_TOTALWORDS_MISSED"))
</div>
<div class="search-item">
<h5>pct_corr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABSCONC_PCT_CORRECT"))
</div>
<div class="search-item">
<h5>C_SSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_Correct"))
</div>
<div class="search-item">
<h5>M_SSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_Missed"))
</div>
<div class="search-item">
<h5>W_SSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_Wrong"))
</div>
<div class="search-item">
<h5>T_SSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_Mean"))
</div>
<div class="search-item">
<h5>TSSSHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_Median"))
</div>
<div class="search-item">
<h5>TSSSHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_SSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_Correct"))
</div>
<div class="search-item">
<h5>M_SSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_Missed"))
</div>
<div class="search-item">
<h5>W_SSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_Wrong"))
</div>
<div class="search-item">
<h5>T_SSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_Mean"))
</div>
<div class="search-item">
<h5>TSSSH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_Median"))
</div>
<div class="search-item">
<h5>TSSSH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_SSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_Correct"))
</div>
<div class="search-item">
<h5>M_SSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_Missed"))
</div>
<div class="search-item">
<h5>W_SSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_Wrong"))
</div>
<div class="search-item">
<h5>T_SSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_Mean"))
</div>
<div class="search-item">
<h5>TSSSH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_Median"))
</div>
<div class="search-item">
<h5>TSSSH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSSH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_SSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_Correct"))
</div>
<div class="search-item">
<h5>M_SSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_Missed"))
</div>
<div class="search-item">
<h5>W_SSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_Wrong"))
</div>
<div class="search-item">
<h5>T_SSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_Mean"))
</div>
<div class="search-item">
<h5>TSSDHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_Median"))
</div>
<div class="search-item">
<h5>TSSDHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_SSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_Correct"))
</div>
<div class="search-item">
<h5>M_SSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_Missed"))
</div>
<div class="search-item">
<h5>W_SSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_Wrong"))
</div>
<div class="search-item">
<h5>T_SSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_Mean"))
</div>
<div class="search-item">
<h5>TSSDH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_Median"))
</div>
<div class="search-item">
<h5>TSSDH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_SSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_Correct"))
</div>
<div class="search-item">
<h5>M_SSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_Missed"))
</div>
<div class="search-item">
<h5>W_SSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_Wrong"))
</div>
<div class="search-item">
<h5>T_SSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_Mean"))
</div>
<div class="search-item">
<h5>TSSDH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_Median"))
</div>
<div class="search-item">
<h5>TSSDH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_SSDH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_Correct"))
</div>
<div class="search-item">
<h5>M_DSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_Missed"))
</div>
<div class="search-item">
<h5>W_DSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_Wrong"))
</div>
<div class="search-item">
<h5>T_DSSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_Mean"))
</div>
<div class="search-item">
<h5>TDSSHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_Median"))
</div>
<div class="search-item">
<h5>TDSSHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_Correct"))
</div>
<div class="search-item">
<h5>M_DSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_Missed"))
</div>
<div class="search-item">
<h5>W_DSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_Wrong"))
</div>
<div class="search-item">
<h5>T_DSSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_Mean"))
</div>
<div class="search-item">
<h5>TDSSH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_Median"))
</div>
<div class="search-item">
<h5>TDSSH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_Correct"))
</div>
<div class="search-item">
<h5>M_DSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_Missed"))
</div>
<div class="search-item">
<h5>W_DSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_Wrong"))
</div>
<div class="search-item">
<h5>T_DSSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_Mean"))
</div>
<div class="search-item">
<h5>TDSSH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_Median"))
</div>
<div class="search-item">
<h5>TDSSH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSSH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_Correct"))
</div>
<div class="search-item">
<h5>M_DSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_Missed"))
</div>
<div class="search-item">
<h5>W_DSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_Wrong"))
</div>
<div class="search-item">
<h5>T_DSDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_Mean"))
</div>
<div class="search-item">
<h5>TDSDHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_Median"))
</div>
<div class="search-item">
<h5>TDSDHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_Correct"))
</div>
<div class="search-item">
<h5>M_DSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_Missed"))
</div>
<div class="search-item">
<h5>W_DSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_Wrong"))
</div>
<div class="search-item">
<h5>T_DSDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_Mean"))
</div>
<div class="search-item">
<h5>TDSDH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_Median"))
</div>
<div class="search-item">
<h5>TDSDH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_Correct"))
</div>
<div class="search-item">
<h5>M_DSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_Missed"))
</div>
<div class="search-item">
<h5>W_DSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_Wrong"))
</div>
<div class="search-item">
<h5>T_DSDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_Mean"))
</div>
<div class="search-item">
<h5>TDSDH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_Median"))
</div>
<div class="search-item">
<h5>TDSDH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P_DSDH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_Correct"))
</div>
<div class="search-item">
<h5>M_STSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_Missed"))
</div>
<div class="search-item">
<h5>W_STSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_Wrong"))
</div>
<div class="search-item">
<h5>T_STSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_Mean"))
</div>
<div class="search-item">
<h5>TSTSHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_Median"))
</div>
<div class="search-item">
<h5>TSTSHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_Correct"))
</div>
<div class="search-item">
<h5>M_STSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_Missed"))
</div>
<div class="search-item">
<h5>W_STSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_Wrong"))
</div>
<div class="search-item">
<h5>T_STSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_Mean"))
</div>
<div class="search-item">
<h5>TSTSH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_Median"))
</div>
<div class="search-item">
<h5>TSTSH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_Correct"))
</div>
<div class="search-item">
<h5>M_STSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_Missed"))
</div>
<div class="search-item">
<h5>W_STSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_Wrong"))
</div>
<div class="search-item">
<h5>T_STSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_Mean"))
</div>
<div class="search-item">
<h5>TSTSH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_Median"))
</div>
<div class="search-item">
<h5>TSTSH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STSH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_Correct"))
</div>
<div class="search-item">
<h5>M_STDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_Missed"))
</div>
<div class="search-item">
<h5>W_STDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_Wrong"))
</div>
<div class="search-item">
<h5>T_STDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_Mean"))
</div>
<div class="search-item">
<h5>TSTDHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_Median"))
</div>
<div class="search-item">
<h5>TSTDHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_Correct"))
</div>
<div class="search-item">
<h5>M_STDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_Missed"))
</div>
<div class="search-item">
<h5>W_STDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_Wrong"))
</div>
<div class="search-item">
<h5>T_STDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_Mean"))
</div>
<div class="search-item">
<h5>TSTDH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_Median"))
</div>
<div class="search-item">
<h5>TSTDH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_STDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_Correct"))
</div>
<div class="search-item">
<h5>M_STDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_Missed"))
</div>
<div class="search-item">
<h5>W_STDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_Wrong"))
</div>
<div class="search-item">
<h5>T_STDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_Mean"))
</div>
<div class="search-item">
<h5>TSTDH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_Median"))
</div>
<div class="search-item">
<h5>TSTDH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_STDH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_Correct"))
</div>
<div class="search-item">
<h5>M_DTSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_Missed"))
</div>
<div class="search-item">
<h5>W_DTSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_Wrong"))
</div>
<div class="search-item">
<h5>T_DTSH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_Mean"))
</div>
<div class="search-item">
<h5>TDTSHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_Median"))
</div>
<div class="search-item">
<h5>TDTSHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_Correct"))
</div>
<div class="search-item">
<h5>M_DTSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_Missed"))
</div>
<div class="search-item">
<h5>W_DTSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_Wrong"))
</div>
<div class="search-item">
<h5>T_DTSH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_Mean"))
</div>
<div class="search-item">
<h5>TDTSH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_Median"))
</div>
<div class="search-item">
<h5>TDTSH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_Correct"))
</div>
<div class="search-item">
<h5>M_DTSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_Missed"))
</div>
<div class="search-item">
<h5>W_DTSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_Wrong"))
</div>
<div class="search-item">
<h5>T_DTSH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_Mean"))
</div>
<div class="search-item">
<h5>TDTSH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_Median"))
</div>
<div class="search-item">
<h5>TDTSH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTSH2_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_Correct"))
</div>
<div class="search-item">
<h5>M_DTDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_Missed"))
</div>
<div class="search-item">
<h5>W_DTDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_Wrong"))
</div>
<div class="search-item">
<h5>T_DTDH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_Mean"))
</div>
<div class="search-item">
<h5>TDTDHMD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_Median"))
</div>
<div class="search-item">
<h5>TDTDHSD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_Correct"))
</div>
<div class="search-item">
<h5>M_DTDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_Missed"))
</div>
<div class="search-item">
<h5>W_DTDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_Wrong"))
</div>
<div class="search-item">
<h5>T_DTDH1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_Mean"))
</div>
<div class="search-item">
<h5>TDTDH1MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_Median"))
</div>
<div class="search-item">
<h5>TDTDH1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH1_StdDeviation"))
</div>
<div class="search-item">
<h5>C_DTDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_Correct"))
</div>
<div class="search-item">
<h5>M_DTDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_Missed"))
</div>
<div class="search-item">
<h5>W_DTDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_Wrong"))
</div>
<div class="search-item">
<h5>T_DTDH2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_Mean"))
</div>
<div class="search-item">
<h5>TDTDH2MD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_Median"))
</div>
<div class="search-item">
<h5>TDTDH2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("S_DTDH2_StdDeviation"))
</div>
<div class="search-item">
<h5>OACC1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Correct"))
</div>
<div class="search-item">
<h5>OMISS1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Missed"))
</div>
<div class="search-item">
<h5>ORT1MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Mean"))
</div>
<div class="search-item">
<h5>ORT1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_StdDeviation"))
</div>
<div class="search-item">
<h5>ORT1MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Minimum"))
</div>
<div class="search-item">
<h5>ORT1MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Maximum"))
</div>
<div class="search-item">
<h5>ORT1MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN1_Median"))
</div>
<div class="search-item">
<h5>OACC2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Correct"))
</div>
<div class="search-item">
<h5>OMISS2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Missed"))
</div>
<div class="search-item">
<h5>ORT2MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Mean"))
</div>
<div class="search-item">
<h5>ORT2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_StdDeviation"))
</div>
<div class="search-item">
<h5>ORT2MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Minimum"))
</div>
<div class="search-item">
<h5>ORT2MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Maximum"))
</div>
<div class="search-item">
<h5>ORT2MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN2_Median"))
</div>
<div class="search-item">
<h5>OACC3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Correct"))
</div>
<div class="search-item">
<h5>OMISS3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Missed"))
</div>
<div class="search-item">
<h5>ORT3MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Mean"))
</div>
<div class="search-item">
<h5>ORT3SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_StdDeviation"))
</div>
<div class="search-item">
<h5>ORT3MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Minimum"))
</div>
<div class="search-item">
<h5>ORT3MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Maximum"))
</div>
<div class="search-item">
<h5>ORT3MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN3_Median"))
</div>
<div class="search-item">
<h5>OACC4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Correct"))
</div>
<div class="search-item">
<h5>OMISS4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Missed"))
</div>
<div class="search-item">
<h5>ORT4MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Mean"))
</div>
<div class="search-item">
<h5>ORT4SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_StdDeviation"))
</div>
<div class="search-item">
<h5>ORT4MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Minimum"))
</div>
<div class="search-item">
<h5>ORT4MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Maximum"))
</div>
<div class="search-item">
<h5>ORT4MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("O_RUN4_Median"))
</div>
<div class="search-item">
<h5>LACC1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Correct"))
</div>
<div class="search-item">
<h5>LMISS1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Missed"))
</div>
<div class="search-item">
<h5>LRT1MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Mean"))
</div>
<div class="search-item">
<h5>LRT1SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_StdDeviation"))
</div>
<div class="search-item">
<h5>LRT1MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Minimum"))
</div>
<div class="search-item">
<h5>LRT1MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Maximum"))
</div>
<div class="search-item">
<h5>LRT1MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN1_Median"))
</div>
<div class="search-item">
<h5>LACC2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Correct"))
</div>
<div class="search-item">
<h5>LMISS2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Missed"))
</div>
<div class="search-item">
<h5>LRT2MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Mean"))
</div>
<div class="search-item">
<h5>LRT2SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_StdDeviation"))
</div>
<div class="search-item">
<h5>LRT2MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Minimum"))
</div>
<div class="search-item">
<h5>LRT2MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Maximum"))
</div>
<div class="search-item">
<h5>LRT2MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN2_Median"))
</div>
<div class="search-item">
<h5>LACC3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Correct"))
</div>
<div class="search-item">
<h5>LMISS3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Missed"))
</div>
<div class="search-item">
<h5>LRT3MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Mean"))
</div>
<div class="search-item">
<h5>LRT3SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_StdDeviation"))
</div>
<div class="search-item">
<h5>LRT3MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Minimum"))
</div>
<div class="search-item">
<h5>LRT3MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Maximum"))
</div>
<div class="search-item">
<h5>LRT3MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN3_Median"))
</div>
<div class="search-item">
<h5>LACC4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Correct"))
</div>
<div class="search-item">
<h5>LMISS4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Missed"))
</div>
<div class="search-item">
<h5>LRT4MN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Mean"))
</div>
<div class="search-item">
<h5>LRT4SD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_StdDeviation"))
</div>
<div class="search-item">
<h5>LRT4MIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Minimum"))
</div>
<div class="search-item">
<h5>LRT4MAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Maximum"))
</div>
<div class="search-item">
<h5>LRT4MED:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("L_RUN4_Median"))
</div>
<div class="clear"></div></div></div>
