
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Categoriation QC Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CAT_QC_STATUS"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST1_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST1_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST2_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST2_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST3_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST3_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST4_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST4_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST5_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST5_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST6_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST6_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST7_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST7_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST8_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST8_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST9_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST9_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST10_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST10_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST11_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST11_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST12_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST12_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST13_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST13_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST14_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST14_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST15_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST15_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST16_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST16_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST17_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST17_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST18_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST18_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST19_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST19_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST20_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST20_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST21_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST21_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST22_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST22_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST23_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST23_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST24_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST24_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST25_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST25_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST26_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST26_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST27_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST27_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST28_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST28_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST29_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST29_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST30_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST30_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST31_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST31_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST32_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST32_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST33_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST33_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST34_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST34_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST35_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST35_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST36_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST36_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST37_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST37_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST38_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST38_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST39_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST39_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST40_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST40_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST41_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST41_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST42_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST42_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST43_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST43_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST44_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST44_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST45_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST45_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST46_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST46_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST47_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST47_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST48_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST48_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST49_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST49_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST50_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST50_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST51_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST51_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST52_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST52_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST53_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST53_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST54_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST54_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST55_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST55_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST56_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST56_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST57_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST57_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST58_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST58_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST59_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST59_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST60_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST60_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST61_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST61_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST62_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST62_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST63_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST63_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST64_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST64_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST65_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST65_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST66_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST66_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST67_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST67_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST68_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST68_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST69_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST69_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST70_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST70_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST71_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST71_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST72_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST72_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST73_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST73_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST74_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST74_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST75_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST75_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST76_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST76_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST77_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST77_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST78_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST78_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST79_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST79_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST80_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("YEST80_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT1_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT1_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT2_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT2_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT3_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT3_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT4_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT4_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT5_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT5_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT6_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT6_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT7_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT7_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT8_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT8_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT9_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT9_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT10_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT10_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT11_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT11_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT12_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT12_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT13_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT13_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT14_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT14_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT15_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT15_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT16_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT16_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT17_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT17_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT18_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT18_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT19_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT19_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT20_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT20_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT21_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT21_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT22_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT22_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT23_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT23_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT24_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT24_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT25_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT25_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT26_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT26_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT27_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT27_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT28_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT28_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT29_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT29_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT30_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT30_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT31_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT31_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT32_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT32_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT33_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT33_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT34_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT34_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT35_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT35_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT36_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT36_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT37_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT37_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT38_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT38_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT39_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT39_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT40_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT40_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT41_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT41_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT42_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT42_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT43_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT43_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT44_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT44_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT45_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT45_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT46_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT46_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT47_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT47_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT48_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT48_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT49_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT49_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT50_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT50_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT51_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT51_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT52_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT52_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT53_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT53_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT54_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT54_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT55_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT55_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT56_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT56_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT57_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT57_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT58_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT58_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT59_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT59_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT60_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT60_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT61_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT61_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT62_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT62_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT63_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT63_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT64_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT64_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT65_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT65_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT66_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT66_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT67_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT67_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT68_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT68_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT69_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT69_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT70_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT70_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT71_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT71_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT72_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT72_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT73_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT73_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT74_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT74_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT75_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT75_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT76_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT76_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT77_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT77_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT78_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT78_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT79_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT79_RESPONSETIME"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT80_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOT80_RESPONSETIME"))
</div>
<div class="search-item">
<h5>categorization:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CATEGORIZATION_SCORE"))
</div>
<div class="clear"></div></div></div>
