
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Simon QC Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIMON_QC_STATUS"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T1_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T1_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T1_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T2_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T2_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T2_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T3_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T3_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T3_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T4_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T4_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T4_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T5_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T5_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T5_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T6_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T6_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T6_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T7_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T7_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T7_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T8_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T8_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T8_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T9_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T9_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T9_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T10_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T10_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T10_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T11_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T11_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T11_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T12_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T12_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T12_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T13_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T13_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T13_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T14_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T14_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T14_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T15_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T15_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T15_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T16_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T16_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T16_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T17_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T17_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T17_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T18_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T18_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T18_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T19_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T19_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T19_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T20_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T20_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T20_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T21_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T21_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T21_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T22_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T22_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T22_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T23_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T23_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T23_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T24_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T24_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T24_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T25_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T25_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T25_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T26_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T26_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T26_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T27_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T27_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T27_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T28_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T28_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T28_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T29_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T29_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T29_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T30_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T30_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T30_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T31_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T31_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T31_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T32_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T32_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T32_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T33_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T33_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T33_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T34_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T34_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T34_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T35_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T35_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T35_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T36_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T36_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T36_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T37_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T37_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T37_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T38_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T38_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T38_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T39_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T39_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T39_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T40_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T40_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T40_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T41_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T41_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T41_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T42_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T42_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T42_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T43_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T43_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T43_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T44_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T44_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T44_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T45_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T45_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T45_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T46_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T46_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T46_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T47_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T47_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T47_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T48_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T48_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T48_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T49_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T49_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T49_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T50_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T50_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T50_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T51_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T51_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T51_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T52_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T52_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T52_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T53_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T53_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T53_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T54_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T54_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T54_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T55_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T55_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T55_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T56_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T56_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T56_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T57_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T57_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T57_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T58_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T58_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T58_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T59_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T59_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T59_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T60_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T60_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T60_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T61_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T61_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T61_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T62_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T62_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T62_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T63_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T63_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T63_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T64_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T64_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T64_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T65_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T65_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T65_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T66_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T66_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T66_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T67_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T67_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T67_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T68_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T68_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T68_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T69_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T69_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T69_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T70_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T70_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T70_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T71_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T71_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T71_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T72_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T72_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T72_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T73_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T73_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T73_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T74_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T74_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T74_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T75_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T75_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T75_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T76_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T76_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T76_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T77_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T77_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T77_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T78_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T78_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T78_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T79_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T79_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T79_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T80_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T80_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T80_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T81_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T81_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T81_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T82_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T82_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T82_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T83_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T83_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T83_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T84_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T84_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T84_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T85_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T85_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T85_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T86_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T86_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T86_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T87_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T87_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T87_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T88_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T88_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T88_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T89_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T89_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T89_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T90_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T90_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T90_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T91_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T91_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T91_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T92_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T92_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T92_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T93_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T93_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T93_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T94_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T94_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T94_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T95_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T95_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T95_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T96_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T96_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T96_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T97_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T97_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T97_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T98_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T98_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T98_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T99_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T99_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T99_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T100_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T100_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T100_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T101_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T101_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T101_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T102_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T102_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T102_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T103_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T103_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T103_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T104_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T104_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T104_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T105_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T105_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T105_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T106_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T106_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T106_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T107_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T107_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T107_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T108_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T108_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T108_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T109_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T109_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T109_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T110_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T110_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T110_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T111_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T111_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T111_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T112_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T112_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T112_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T113_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T113_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T113_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T114_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T114_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T114_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T115_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T115_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T115_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T116_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T116_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T116_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T117_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T117_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T117_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T118_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T118_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T118_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T119_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T119_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T119_CONGRUENCY"))
</div>
<div class="search-item">
<h5>accuracy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T120_ACCURACY"))
</div>
<div class="search-item">
<h5>responseTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T120_RESPONSETIME"))
</div>
<div class="search-item">
<h5>congruency:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("T120_CONGRUENCY"))
</div>
<div class="search-item">
<h5>simon:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIMON_SCORE"))
</div>
<div class="clear"></div></div></div>
