
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>VSWEIGHT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSWEIGHT"))
</div>
<div class="search-item">
<h5>VSWTUNIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSWTUNIT"))
</div>
<div class="search-item">
<h5>VSHEIGHT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSHEIGHT"))
</div>
<div class="search-item">
<h5>VSHTUNIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSHTUNIT"))
</div>
<div class="search-item">
<h5>VSBPSYS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSBPSYS"))
</div>
<div class="search-item">
<h5>VSBPDIA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSBPDIA"))
</div>
<div class="search-item">
<h5>VSPULSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSPULSE"))
</div>
<div class="search-item">
<h5>VSRESP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSRESP"))
</div>
<div class="search-item">
<h5>VSTEMP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSTEMP"))
</div>
<div class="search-item">
<h5>VSTMPUNT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSTMPUNT"))
</div>
<div class="search-item">
<h5>VSTMPSRC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSTMPSRC"))
</div>
<div class="search-item">
<h5>VSCOMM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VSCOMM"))
</div>
<div class="clear"></div></div></div>
