
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>PET Session:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PETSESSION_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Time:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TIME"))
</div>
<div class="search-item">
<h5>delay:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELAY"))
</div>
<div class="search-item">
<h5>ref_expt_id:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELAY_REF_EXPT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ID"))
</div>
<div class="search-item">
<h5>Manual PET TC QC Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MAN_PET_TC_QC_STATUS"))
</div>
<div class="search-item">
<h5>Manual PET TC QC Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MAN_PET_TC_QC_NOTE"))
</div>
<div class="search-item">
<h5>Manual PET TC QC Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MAN_PET_TC_QC_DATE"))
</div>
<div class="search-item">
<h5>Manual PET TC QC Method:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MAN_PET_TC_QC_METHOD"))
</div>
<div class="search-item">
<h5>WM BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WM_BP20"))
</div>
<div class="search-item">
<h5>WM CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WM_CORREL20"))
</div>
<div class="search-item">
<h5>WM BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WM_BP30"))
</div>
<div class="search-item">
<h5>WM CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WM_CORREL30"))
</div>
<div class="search-item">
<h5>OCC BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OCC_BP20"))
</div>
<div class="search-item">
<h5>OCC CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OCC_CORREL20"))
</div>
<div class="search-item">
<h5>OCC BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OCC_BP30"))
</div>
<div class="search-item">
<h5>OCC CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OCC_CORREL30"))
</div>
<div class="search-item">
<h5>PREF BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREF_BP20"))
</div>
<div class="search-item">
<h5>PREF CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREF_CORREL20"))
</div>
<div class="search-item">
<h5>PREF BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREF_BP30"))
</div>
<div class="search-item">
<h5>PREF CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREF_CORREL30"))
</div>
<div class="search-item">
<h5>TEMP BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TEMP_BP20"))
</div>
<div class="search-item">
<h5>TEMP CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TEMP_CORREL20"))
</div>
<div class="search-item">
<h5>TEMP BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TEMP_BP30"))
</div>
<div class="search-item">
<h5>TEMP CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TEMP_CORREL30"))
</div>
<div class="search-item">
<h5>PREC BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREC_BP20"))
</div>
<div class="search-item">
<h5>PREC CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREC_CORREL20"))
</div>
<div class="search-item">
<h5>PREC BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREC_BP30"))
</div>
<div class="search-item">
<h5>PREC CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREC_CORREL30"))
</div>
<div class="search-item">
<h5>CAU BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CAU_BP20"))
</div>
<div class="search-item">
<h5>CAU CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CAU_CORREL20"))
</div>
<div class="search-item">
<h5>CAU BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CAU_BP30"))
</div>
<div class="search-item">
<h5>CAU CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CAU_CORREL30"))
</div>
<div class="search-item">
<h5>GR BP20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GR_BP20"))
</div>
<div class="search-item">
<h5>GR CORREL20:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GR_CORREL20"))
</div>
<div class="search-item">
<h5>GR BP30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GR_BP30"))
</div>
<div class="search-item">
<h5>GR CORREL30:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GR_CORREL30"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="clear"></div></div></div>
