
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>diagnoser:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAGNOSER"))
</div>
<div class="search-item">
<h5>DSMIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICDIAGNOSIS_DSMIV"))
</div>
<div class="search-item">
<h5>impairDistress:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICDIAGNOSIS_IMPAIRDISTRESS"))
</div>
<div class="search-item">
<h5>TSSG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICDIAGNOSIS_TSSG"))
</div>
<div class="search-item">
<h5>TSSG2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICDIAGNOSIS_TSSG2"))
</div>
<div class="search-item">
<h5>firstTicAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOTOR_FIRSTTICAGE"))
</div>
<div class="search-item">
<h5>worstTicAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOTOR_WORSTTICAGE"))
</div>
<div class="search-item">
<h5>firstTicAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VOCAL_FIRSTTICAGE"))
</div>
<div class="search-item">
<h5>worstTicAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VOCAL_WORSTTICAGE"))
</div>
<div class="search-item">
<h5>firstDiagnosedTicsAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIRSTDIAGNOSEDTICSAGE"))
</div>
<div class="search-item">
<h5>diagnosis_ADHD_DSMIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAGNOSIS_ADHD_DSMIV"))
</div>
<div class="search-item">
<h5>score_TS_DCI:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCORE_TS_DCI"))
</div>
<div class="search-item">
<h5>diagnosis_OCD_DSMIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAGNOSIS_OCD_DSMIV"))
</div>
<div class="search-item">
<h5>firstObsessionAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIRSTOBSESSIONAGE"))
</div>
<div class="search-item">
<h5>firstCompulsionAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIRSTCOMPULSIONAGE"))
</div>
<div class="search-item">
<h5>worstObsessiveCompulsiveSymptomAge:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WORSTOBSESSIVECOMPULSIVESYMPTOMAGE"))
</div>
<div class="search-item">
<h5>handedness:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDEDNESS"))
</div>
<div class="search-item">
<h5>ineligibleFromSCID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INELIGIBLEFROMSCID"))
</div>
<div class="clear"></div></div></div>
