
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>plasmaLD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PLASMALD"))
</div>
<div class="search-item">
<h5>plasmaDA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PLASMADA"))
</div>
<div class="search-item">
<h5>plasma3OMe:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PLASMA3OME"))
</div>
<div class="search-item">
<h5>plasmaDC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PLASMADC"))
</div>
<div class="search-item">
<h5>plasmaCD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PLASMACD"))
</div>
<div class="search-item">
<h5>problem:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROBLEM"))
</div>
<div class="search-item">
<h5>questionableLD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUESTIONABLELD"))
</div>
<div class="search-item">
<h5>questionableDA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUESTIONABLEDA"))
</div>
<div class="search-item">
<h5>questionable3OMe:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUESTIONABLE3OME"))
</div>
<div class="search-item">
<h5>questionableDC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUESTIONABLEDC"))
</div>
<div class="search-item">
<h5>questionableCD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QUESTIONABLECD"))
</div>
<div class="search-item">
<h5>knownForIVLD1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KNOWNFORIVLD1"))
</div>
<div class="search-item">
<h5>rejectedForIVLD1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REJECTEDFORIVLD1"))
</div>
<div class="clear"></div></div></div>
