
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>descLoc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DESCLOC"))
</div>
<div class="search-item">
<h5>coordX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COORDX"))
</div>
<div class="search-item">
<h5>coordY:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COORDY"))
</div>
<div class="search-item">
<h5>coordZ:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COORDZ"))
</div>
<div class="search-item">
<h5>coordSource:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COORDSOURCE"))
</div>
<div class="search-item">
<h5>sampSplit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SAMPSPLIT"))
</div>
<div class="search-item">
<h5>surgPath:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SURGPATH"))
</div>
<div class="search-item">
<h5>tumorBank:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TUMORBANK"))
</div>
<div class="search-item">
<h5>surgeryTimeNotReported:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SURGERYTIMENOTREPORTED"))
</div>
<div class="search-item">
<h5>coordColl:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COORDCOLL"))
</div>
<div class="search-item">
<h5>screenCapColl:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCREENCAPCOLL"))
</div>
<div class="search-item">
<h5>rgraphApp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RGRAPHAPP"))
</div>
<div class="search-item">
<h5>rgraphAppNote:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RGRAPHAPPNOTE"))
</div>
<div class="clear"></div></div></div>
