
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>tumorHemisphere:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TUMORHEMISPHERE"))
</div>
<div class="search-item">
<h5>gliadelUsed:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GLIADELUSED"))
</div>
<div class="search-item">
<h5>bloodColl:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLOODCOLL"))
</div>
<div class="search-item">
<h5>redTop:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REDTOP"))
</div>
<div class="search-item">
<h5>purpleTop:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PURPLETOP"))
</div>
<div class="search-item">
<h5>sentToLab:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SENTTOLAB"))
</div>
<div class="search-item">
<h5>sentToLabDetails:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SENTTOLABDETAILS"))
</div>
<div class="search-item">
<h5>complications:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMPLICATIONS"))
</div>
<div class="search-item">
<h5>complicationsDetails:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMPLICATIONSDETAILS"))
</div>
<div class="clear"></div></div></div>
