
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>tumorType:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TUMORTYPE"))
</div>
<div class="search-item">
<h5>primaryTumorType:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRIMARYTUMORTYPE"))
</div>
<div class="search-item">
<h5>primaryWHOGrade:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRIMARYWHOGRADE"))
</div>
<div class="search-item">
<h5>metastatOrig:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("METASTATORIG"))
</div>
<div class="search-item">
<h5>onep19qDeletions:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ONEP19QDELETIONS"))
</div>
<div class="search-item">
<h5>mgmtPromoterStatus:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MGMTPROMOTERSTATUS"))
</div>
<div class="search-item">
<h5>mib1Index:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MIB1INDEX"))
</div>
<div class="search-item">
<h5>mib1IndexNotReported:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MIB1INDEXNOTREPORTED"))
</div>
<div class="search-item">
<h5>pten:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PTEN"))
</div>
<div class="search-item">
<h5>p53:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("P53"))
</div>
<div class="search-item">
<h5>othFeat:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OTHFEAT"))
</div>
<div class="clear"></div></div></div>
