
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>bldCollSessId:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLDCOLLSESSID"))
</div>
<div class="search-item">
<h5>CSF Collection:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLDCOLLSESS"))
</div>
<div class="search-item">
<h5>csf_Ab40:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40"))
</div>
<div class="search-item">
<h5>Ab40Units:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40UNITS"))
</div>
<div class="search-item">
<h5>Ab40Lot:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40LOT"))
</div>
<div class="search-item">
<h5>Ab40Plate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40PLATE"))
</div>
<div class="search-item">
<h5>Ab40AssayDate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB40ASSAYDATE"))
</div>
<div class="search-item">
<h5>Ab42:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42"))
</div>
<div class="search-item">
<h5>Ab42Units:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42UNITS"))
</div>
<div class="search-item">
<h5>Ab42Lot:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42LOT"))
</div>
<div class="search-item">
<h5>Ab42Plate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42PLATE"))
</div>
<div class="search-item">
<h5>Ab42AssayDate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AB42ASSAYDATE"))
</div>
<div class="search-item">
<h5>XMAPtau:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAU"))
</div>
<div class="search-item">
<h5>XMAPtauUnits:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUUNITS"))
</div>
<div class="search-item">
<h5>XMAPtauLot:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAULOT"))
</div>
<div class="search-item">
<h5>XMAPtauPlate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUPLATE"))
</div>
<div class="search-item">
<h5>XMAPtauAssayDate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPTAUASSAYDATE"))
</div>
<div class="search-item">
<h5>XMAPptau181:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181"))
</div>
<div class="search-item">
<h5>XMAPptau181Units:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181UNITS"))
</div>
<div class="search-item">
<h5>XMAPptau181Lot:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181LOT"))
</div>
<div class="search-item">
<h5>XMAPptau181Plate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181PLATE"))
</div>
<div class="search-item">
<h5>XMAPptau181AssayDate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPPTAU181ASSAYDATE"))
</div>
<div class="search-item">
<h5>XMAPAb42:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42"))
</div>
<div class="search-item">
<h5>XMAPAb42Units:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42UNITS"))
</div>
<div class="search-item">
<h5>XMAPAb42Lot:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42LOT"))
</div>
<div class="search-item">
<h5>XMAPAb42Plate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42PLATE"))
</div>
<div class="search-item">
<h5>XMAPAb42AssayDate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAB42ASSAYDATE"))
</div>
<div class="search-item">
<h5>xMapAb42_InnoAb40Ratio:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("XMAPAb42_Ab40_Ratio"))
</div>
<div class="search-item">
<h5>CSF_AB40_plus_QCFAILS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_AB40_plus_QCFAILS"))
</div>
<div class="search-item">
<h5>CSF_AB40_COMMENTS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_AB40_COMMENTS"))
</div>
<div class="search-item">
<h5>CSF_AB42_plus_QCFAILS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_AB42_plus_QCFAILS"))
</div>
<div class="search-item">
<h5>CSF_AB42_COMMENTS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_AB42_COMMENTS"))
</div>
<div class="search-item">
<h5>CSF_XMAP_AB42_plus_QCFAILS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAP_AB42_plus_QCFAILS"))
</div>
<div class="search-item">
<h5>CSF_XMAP_AB42_COMMENTS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAP_AB42_COMMENTS"))
</div>
<div class="search-item">
<h5>CSF_XMAPTAU_plus_QCFAILS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAPTAU_plus_QCFAILS"))
</div>
<div class="search-item">
<h5>CSF_XMAPTAU_COMMENTS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAPTAU_COMMENTS"))
</div>
<div class="search-item">
<h5>CSF_XMAPPTAU181_plus_QCFAILS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAPPTAU181_plus_QCFAILS"))
</div>
<div class="search-item">
<h5>CSF_XMAPPTAU181_COMMENTS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSF_XMAPPTAU181_COMMENTS"))
</div>
<div class="clear"></div></div></div>
