
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>AD8MEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8MEM"))
</div>
<div class="search-item">
<h5>AD8JUD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8JUD"))
</div>
<div class="search-item">
<h5>AD8HOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8HOB"))
</div>
<div class="search-item">
<h5>AD8REP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8REP"))
</div>
<div class="search-item">
<h5>AD8TOOL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8TOOL"))
</div>
<div class="search-item">
<h5>AD8FOR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8FOR"))
</div>
<div class="search-item">
<h5>AD8FIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8FIN"))
</div>
<div class="search-item">
<h5>AD8APPT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AD8APPT"))
</div>
<div class="search-item">
<h5>FAMHIST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FAMHIST"))
</div>
<div class="search-item">
<h5>MEDCOND:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEDCOND"))
</div>
<div class="search-item">
<h5>MEDSPEC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEDSPEC"))
</div>
<div class="search-item">
<h5>MEMORY:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEMORY"))
</div>
<div class="search-item">
<h5>ADL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ADL"))
</div>
<div class="clear"></div></div></div>
