
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>CSFCOLL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFCOLL"))
</div>
<div class="search-item">
<h5>CSFINIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFINIT"))
</div>
<div class="search-item">
<h5>CSFDATE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFDATE"))
</div>
<div class="search-item">
<h5>CSFFAST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFFAST"))
</div>
<div class="search-item">
<h5>PRETEMP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRETEMP"))
</div>
<div class="search-item">
<h5>PRETMPUNT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRETMPUNT"))
</div>
<div class="search-item">
<h5>PRESYS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRESYS"))
</div>
<div class="search-item">
<h5>PREDIA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREDIA"))
</div>
<div class="search-item">
<h5>PREPULSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREPULSE"))
</div>
<div class="search-item">
<h5>PRERESP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRERESP"))
</div>
<div class="search-item">
<h5>NEEDLE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NEEDLE"))
</div>
<div class="search-item">
<h5>NEEDLEOTH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NEEDLEOTH"))
</div>
<div class="search-item">
<h5>METHOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("METHOD"))
</div>
<div class="search-item">
<h5>LPSITE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LPSITE"))
</div>
<div class="search-item">
<h5>LPSITEOTH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LPSITEOTH"))
</div>
<div class="search-item">
<h5>POSITION2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSITION2"))
</div>
<div class="search-item">
<h5>TUBECOLL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TUBECOLL"))
</div>
<div class="search-item">
<h5>TUBESHIP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TUBESHIP"))
</div>
<div class="search-item">
<h5>STYRTIME:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STYRTIME"))
</div>
<div class="search-item">
<h5>CSFTIME:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFTIME"))
</div>
<div class="search-item">
<h5>CSFTRANS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFTRANS"))
</div>
<div class="search-item">
<h5>VOLCOLL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VOLCOLL"))
</div>
<div class="search-item">
<h5>VOLTRANS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VOLTRANS"))
</div>
<div class="search-item">
<h5>LOCLAB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LOCLAB"))
</div>
<div class="search-item">
<h5>TIMEFROZ:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TIMEFROZ"))
</div>
<div class="search-item">
<h5>NOTES:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTES"))
</div>
<div class="search-item">
<h5>CSFSHIP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFSHIP"))
</div>
<div class="search-item">
<h5>CSFSHDT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFSHDT"))
</div>
<div class="search-item">
<h5>CSFSHNUM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFSHNUM"))
</div>
<div class="search-item">
<h5>CSFDATERVD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFDATERVD"))
</div>
<div class="search-item">
<h5>CSFVOLRVD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFVOLRVD"))
</div>
<div class="search-item">
<h5>CSFVIALSRVD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CSFVIALSRVD"))
</div>
<div class="search-item">
<h5>POSITION3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSITION3"))
</div>
<div class="search-item">
<h5>POSTTEMP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTTEMP"))
</div>
<div class="search-item">
<h5>POSTTMPU:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTTMPU"))
</div>
<div class="search-item">
<h5>POSTSYS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTSYS"))
</div>
<div class="search-item">
<h5>POSTDIA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTDIA"))
</div>
<div class="search-item">
<h5>POSTPULSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTPULSE"))
</div>
<div class="search-item">
<h5>POSTRESP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTRESP"))
</div>
<div class="search-item">
<h5>POSITION4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSITION4"))
</div>
<div class="search-item">
<h5>HRTEMP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRTEMP"))
</div>
<div class="search-item">
<h5>HRTMPU:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRTMPU"))
</div>
<div class="search-item">
<h5>HRSYS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRSYS"))
</div>
<div class="search-item">
<h5>HRDIA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRDIA"))
</div>
<div class="search-item">
<h5>HRPULSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRPULSE"))
</div>
<div class="search-item">
<h5>HRRESP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HRRESP"))
</div>
<div class="search-item">
<h5>COMP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMP"))
</div>
<div class="search-item">
<h5>COMPOTH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMPOTH"))
</div>
<div class="clear"></div></div></div>
