
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>PsyBat QC Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PSY_QC_STATUS"))
</div>
<div class="search-item">
<h5>INITIALS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALS"))
</div>
<div class="search-item">
<h5>FLUF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LETTERF"))
</div>
<div class="search-item">
<h5>FLUA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LETTERA"))
</div>
<div class="search-item">
<h5>FLUS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LETTERS"))
</div>
<div class="search-item">
<h5>LETFLU:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LETFLU"))
</div>
<div class="search-item">
<h5>LIST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRLIST"))
</div>
<div class="search-item">
<h5>WORDIM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRIMMED"))
</div>
<div class="search-item">
<h5>MMSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MMSETOT"))
</div>
<div class="search-item">
<h5>LOGIMEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LOGMEMIM"))
</div>
<div class="search-item">
<h5>DIGIF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DSPFWD"))
</div>
<div class="search-item">
<h5>DIGIFLEN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DSPFWDL"))
</div>
<div class="search-item">
<h5>DIGIB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DSPBACK"))
</div>
<div class="search-item">
<h5>DIGIBLEN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DSPBACKL"))
</div>
<div class="search-item">
<h5>ANIMALS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CATANIM"))
</div>
<div class="search-item">
<h5>VEG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CATVEG"))
</div>
<div class="search-item">
<h5>TRAILA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRATIME"))
</div>
<div class="search-item">
<h5>TRAILARR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRAERRC"))
</div>
<div class="search-item">
<h5>TRAILALI:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRALINES"))
</div>
<div class="search-item">
<h5>TRAILB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRBTIME"))
</div>
<div class="search-item">
<h5>TRAILBRR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRBERRC"))
</div>
<div class="search-item">
<h5>TRAILBLI:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRBLINES"))
</div>
<div class="search-item">
<h5>WAIS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIGSYMB"))
</div>
<div class="search-item">
<h5>MEMUNITS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LOGMEMDL"))
</div>
<div class="search-item">
<h5>BOSTON:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BNTTOT"))
</div>
<div class="search-item">
<h5>WORDDEL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRDELAY"))
</div>
<div class="clear"></div></div></div>
