
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>version:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VERSION"))
</div>
<div class="search-item">
<h5>ICV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_ICV"))
</div>
<div class="search-item">
<h5>lhCortexVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_LHCORTEXVOL"))
</div>
<div class="search-item">
<h5>rhCortexVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_RHCORTEXVOL"))
</div>
<div class="search-item">
<h5>CortexVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_CORTEXVOL"))
</div>
<div class="search-item">
<h5>SubCortGrayVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_SUBCORTGRAYVOL"))
</div>
<div class="search-item">
<h5>TotalGrayVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_TOTALGRAYVOL"))
</div>
<div class="search-item">
<h5>SupraTentorialVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_SUPRATENTORIALVOL"))
</div>
<div class="search-item">
<h5>lhCorticalWhiteMatterVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_LHCORTICALWHITEMATTERVOL"))
</div>
<div class="search-item">
<h5>rhCorticalWhiteMatterVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_RHCORTICALWHITEMATTERVOL"))
</div>
<div class="search-item">
<h5>CorticalWhiteMatterVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MEASURES_VOLUMETRIC_CORTICALWHITEMATTERVOL"))
</div>
<div class="clear"></div></div></div>
