
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>seqStudyNumber:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SEQSTUDYNUMBER"))
</div>
<div class="search-item">
<h5>analyzableEcho:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANALYZABLEECHO"))
</div>
<div class="search-item">
<h5>image2dQuality:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("IMAGE2DQUALITY"))
</div>
<div class="search-item">
<h5>imageDpQuality:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("IMAGEDPQUALITY"))
</div>
<div class="search-item">
<h5>dominantEchoRhythm:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DOMINANTECHORHYTHM"))
</div>
<div class="search-item">
<h5>heartrate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HEARTRATE"))
</div>
<div class="search-item">
<h5>lvotD1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVOTD1"))
</div>
<div class="search-item">
<h5>lvidd:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVIDD"))
</div>
<div class="search-item">
<h5>ivs:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("IVS"))
</div>
<div class="search-item">
<h5>pw:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PW"))
</div>
<div class="search-item">
<h5>alwt:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ALWT"))
</div>
<div class="search-item">
<h5>lvids:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVIDS"))
</div>
<div class="search-item">
<h5>lvedv:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVEDV"))
</div>
<div class="search-item">
<h5>lvesv:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVESV"))
</div>
<div class="search-item">
<h5>v1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("V1"))
</div>
<div class="search-item">
<h5>lvotTvi:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LVOTTVI"))
</div>
<div class="search-item">
<h5>aortic:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVSTENOSIS_AORTIC"))
</div>
<div class="search-item">
<h5>mitral:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVSTENOSIS_MITRAL"))
</div>
<div class="search-item">
<h5>tricuspid:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVSTENOSIS_TRICUSPID"))
</div>
<div class="search-item">
<h5>pulmonic:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVSTENOSIS_PULMONIC"))
</div>
<div class="search-item">
<h5>aortic:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVREGURG_AORTIC"))
</div>
<div class="search-item">
<h5>mitral:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVREGURG_MITRAL"))
</div>
<div class="search-item">
<h5>tricuspid:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVREGURG_TRICUSPID"))
</div>
<div class="search-item">
<h5>pulmonic:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VALVREGURG_PULMONIC"))
</div>
<div class="search-item">
<h5>tr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TR"))
</div>
<div class="search-item">
<h5>e:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("E"))
</div>
<div class="search-item">
<h5>a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("A"))
</div>
<div class="search-item">
<h5>mitralDt:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MITRALDT"))
</div>
<div class="search-item">
<h5>eml:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EML"))
</div>
<div class="search-item">
<h5>ems:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EMS"))
</div>
<div class="search-item">
<h5>primarySig:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PRIMARYSIG"))
</div>
<div class="search-item">
<h5>secondarySig:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SECONDARYSIG"))
</div>
<div class="clear"></div></div></div>
