
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>fbb:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PVSCORRECTFRACS_FBB"))
</div>
<div class="search-item">
<h5>fbm:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PVSCORRECTFRACS_FBM"))
</div>
<div class="search-item">
<h5>fmb:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PVSCORRECTFRACS_FMB"))
</div>
<div class="search-item">
<h5>fmm:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PVSCORRECTFRACS_FMM"))
</div>
<div class="search-item">
<h5>roi1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KM_ROI1"))
</div>
<div class="search-item">
<h5>roi2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KM_ROI2"))
</div>
<div class="search-item">
<h5>roi3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KM_ROI3"))
</div>
<div class="search-item">
<h5>gluc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BASELINEPLASMA_GLUC"))
</div>
<div class="search-item">
<h5>ffa:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BASELINEPLASMA_FFA"))
</div>
<div class="search-item">
<h5>gluc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIFTEENMINPLASMA_GLUC"))
</div>
<div class="search-item">
<h5>ffa:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIFTEENMINPLASMA_FFA"))
</div>
<div class="search-item">
<h5>sbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BASELINEHEART_SBP"))
</div>
<div class="search-item">
<h5>dbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BASELINEHEART_DBP"))
</div>
<div class="search-item">
<h5>hr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BASELINEHEART_HR"))
</div>
<div class="search-item">
<h5>sbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIFTEENMINHEART_SBP"))
</div>
<div class="search-item">
<h5>dbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIFTEENMINHEART_DBP"))
</div>
<div class="search-item">
<h5>hr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIFTEENMINHEART_HR"))
</div>
<div class="search-item">
<h5>sbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("THIRTYMINHEART_SBP"))
</div>
<div class="search-item">
<h5>dbp:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("THIRTYMINHEART_DBP"))
</div>
<div class="search-item">
<h5>hr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("THIRTYMINHEART_HR"))
</div>
<div class="clear"></div></div></div>
