
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>subjectCode:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECTCODE"))
</div>
<div class="search-item">
<h5>wasScreeningDay:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WASSCREENINGDAY"))
</div>
<div class="search-item">
<h5>studyType:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STUDYTYPE"))
</div>
<div class="search-item">
<h5>weight:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WEIGHT"))
</div>
<div class="search-item">
<h5>units:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WEIGHT_UNITS"))
</div>
<div class="search-item">
<h5>infused:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INFUSED"))
</div>
<div class="search-item">
<h5>CDdose:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDDOSE"))
</div>
<div class="search-item">
<h5>CDtime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CDTIME"))
</div>
<div class="search-item">
<h5>infusionStartTime:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INFUSIONSTARTTIME"))
</div>
<div class="search-item">
<h5>method:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("METHOD"))
</div>
<div class="search-item">
<h5>loadDuration:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LOADDURATION"))
</div>
<div class="search-item">
<h5>loadRate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LOADRATE"))
</div>
<div class="search-item">
<h5>maintRate:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MAINTRATE"))
</div>
<div class="search-item">
<h5>bloodIsAvailable:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLOODISAVAILABLE"))
</div>
<div class="search-item">
<h5>sampleSite:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SAMPLESITE"))
</div>
<div class="search-item">
<h5>nausea:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NAUSEA"))
</div>
<div class="search-item">
<h5>vomiting:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VOMITING"))
</div>
<div class="search-item">
<h5>sedation:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SEDATION"))
</div>
<div class="search-item">
<h5>dizzy:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIZZY"))
</div>
<div class="search-item">
<h5>dyskinesias:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DYSKINESIAS"))
</div>
<div class="search-item">
<h5>psychosis:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PSYCHOSIS"))
</div>
<div class="search-item">
<h5>ticsWorse:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICSWORSE"))
</div>
<div class="search-item">
<h5>ticsBetter:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TICSBETTER"))
</div>
<div class="search-item">
<h5>otherSideEffects:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OTHERSIDEEFFECTS"))
</div>
<div class="search-item">
<h5>problem:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROBLEM"))
</div>
<div class="search-item">
<h5>knownForIVLD1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KNOWNFORIVLD1"))
</div>
<div class="search-item">
<h5>rejectedForIVLD1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REJECTEDFORIVLD1"))
</div>
<div class="search-item">
<h5>blindnessSubject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLINDNESSSUBJECT"))
</div>
<div class="search-item">
<h5>blindnessInvestigator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLINDNESSINVESTIGATOR"))
</div>
<div class="search-item">
<h5>blindnessCoordinator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLINDNESSCOORDINATOR"))
</div>
<div class="search-item">
<h5>pregnancyTest:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PREGNANCYTEST"))
</div>
<div class="clear"></div></div></div>
