
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>educationLevel:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EDUCATIONLEVEL"))
</div>
<div class="search-item">
<h5>maritalStatus:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MARITALSTATUS"))
</div>
<div class="search-item">
<h5>maritalStatusO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MARITALSTATUSO"))
</div>
<div class="search-item">
<h5>housing:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HOUSING"))
</div>
<div class="search-item">
<h5>housingO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HOUSINGO"))
</div>
<div class="search-item">
<h5>liveAlone:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LIVEALONE"))
</div>
<div class="search-item">
<h5>engNow:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENGNOW"))
</div>
<div class="search-item">
<h5>engNowO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENGNOWO"))
</div>
<div class="search-item">
<h5>engFirst:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENGFIRST"))
</div>
<div class="search-item">
<h5>engFirstO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENGFIRSTO"))
</div>
<div class="search-item">
<h5>wrkFt:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKFT"))
</div>
<div class="search-item">
<h5>wrkPt:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKPT"))
</div>
<div class="search-item">
<h5>wrkStu:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKSTU"))
</div>
<div class="search-item">
<h5>wrkHome:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKHOME"))
</div>
<div class="search-item">
<h5>wrkRet:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKRET"))
</div>
<div class="search-item">
<h5>wrkVol:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKVOL"))
</div>
<div class="search-item">
<h5>wrkSeek:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKSEEK"))
</div>
<div class="search-item">
<h5>wrkLeave:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKLEAVE"))
</div>
<div class="search-item">
<h5>wrkOth:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKOTH"))
</div>
<div class="search-item">
<h5>wrkStat:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WRKSTAT"))
</div>
<div class="search-item">
<h5>currOcc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CURROCC"))
</div>
<div class="search-item">
<h5>retOcc:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RETOCC"))
</div>
<div class="search-item">
<h5>curr Occ:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CURROCC_CSV"))
</div>
<div class="search-item">
<h5>ret Occ:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RETOCC_CSV"))
</div>
<div class="search-item">
<h5>retYr:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RETYR"))
</div>
<div class="search-item">
<h5>height:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HEIGHT"))
</div>
<div class="search-item">
<h5>weight:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("WEIGHT"))
</div>
<div class="search-item">
<h5>hand:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HAND"))
</div>
<div class="search-item">
<h5>ethnic:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ETHNIC"))
</div>
<div class="search-item">
<h5>race1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACE1"))
</div>
<div class="search-item">
<h5>race2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RACE2"))
</div>
<div class="clear"></div></div></div>
