
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Score:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TotalScore"))
</div>
<div class="search-item">
<h5>Notes:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>1a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q1A"))
</div>
<div class="search-item">
<h5>1b:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q1B"))
</div>
<div class="search-item">
<h5>1c:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q1C"))
</div>
<div class="search-item">
<h5>2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q2"))
</div>
<div class="search-item">
<h5>3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q3"))
</div>
<div class="search-item">
<h5>4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q4"))
</div>
<div class="search-item">
<h5>5a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q5A"))
</div>
<div class="search-item">
<h5>5a Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q5ANOTE"))
</div>
<div class="search-item">
<h5>5b:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q5B"))
</div>
<div class="search-item">
<h5>5b Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q5BNOTE"))
</div>
<div class="search-item">
<h5>6a:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q6A"))
</div>
<div class="search-item">
<h5>6a Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q6ANOTE"))
</div>
<div class="search-item">
<h5>6b:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q6B"))
</div>
<div class="search-item">
<h5>6b Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q6BNOTE"))
</div>
<div class="search-item">
<h5>7:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q7"))
</div>
<div class="search-item">
<h5>7 Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q7NOTE"))
</div>
<div class="search-item">
<h5>8:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q8"))
</div>
<div class="search-item">
<h5>9:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q9"))
</div>
<div class="search-item">
<h5>10:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q10"))
</div>
<div class="search-item">
<h5>10 Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q10NOTE"))
</div>
<div class="search-item">
<h5>11:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("Q11"))
</div>
<div class="clear"></div></div></div>
