
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Enrollment Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ENROLLMENTDATE"))
</div>
<div class="search-item">
<h5>Initial Diagnosis:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALDIAGNOSIS"))
</div>
<div class="search-item">
<h5>Initial Diagnosis Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALDIAGNOSISDATE"))
</div>
<div class="search-item">
<h5>Exit Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITDATE"))
</div>
<div class="search-item">
<h5>Exit Reason:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITREASON"))
</div>
<div class="search-item">
<h5>Exit Notes:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXITNOTES"))
</div>
<div class="search-item">
<h5>Death Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEATHDATE"))
</div>
<div class="search-item">
<h5>Autopsied:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSIED"))
</div>
<div class="search-item">
<h5>Autopsied:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSIEDOPTIONS"))
</div>
<div class="search-item">
<h5>Autopsy Notes:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AUTOPSYNOTES"))
</div>
<div class="clear"></div></div></div>
