
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>dateResultsReport:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATERESULTSREPORT"))
</div>
<div class="search-item">
<h5>timeResultsReport:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TIMERESULTSREPORT"))
</div>
<div class="search-item">
<h5>nonNumericResults:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NONNUMERICRESULTS"))
</div>
<div class="search-item">
<h5>numericResults:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NUMERICRESULTS"))
</div>
<div class="search-item">
<h5>unitsNumericResults:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("UNITSNUMERICRESULTS"))
</div>
<div class="search-item">
<h5>tissCollID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TISSCOLLID"))
</div>
<div class="search-item">
<h5>specID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SPECID"))
</div>
<div class="clear"></div></div></div>
