
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>INITIALS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALS"))
</div>
<div class="search-item">
<h5>PDNORMAL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PDNORMAL"))
</div>
<div class="search-item">
<h5>SPEECH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SPEECH"))
</div>
<div class="search-item">
<h5>SPEECHX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SPEECHX"))
</div>
<div class="search-item">
<h5>FACEXP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FACEXP"))
</div>
<div class="search-item">
<h5>FACEXPX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FACEXPX"))
</div>
<div class="search-item">
<h5>TRESTFAC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTFAC"))
</div>
<div class="search-item">
<h5>TRESTFAX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTFAX"))
</div>
<div class="search-item">
<h5>TRESTRHD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTRHD"))
</div>
<div class="search-item">
<h5>TRESTRHX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTRHX"))
</div>
<div class="search-item">
<h5>TRESTLHD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTLHD"))
</div>
<div class="search-item">
<h5>TRESTLHX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTLHX"))
</div>
<div class="search-item">
<h5>TRESTRFT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTRFT"))
</div>
<div class="search-item">
<h5>TRESTRFX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTRFX"))
</div>
<div class="search-item">
<h5>TRESTLFT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTLFT"))
</div>
<div class="search-item">
<h5>TRESTLFX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRESTLFX"))
</div>
<div class="search-item">
<h5>TRACTRHD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACTRHD"))
</div>
<div class="search-item">
<h5>TRACTRHX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACTRHX"))
</div>
<div class="search-item">
<h5>TRACTLHD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACTLHD"))
</div>
<div class="search-item">
<h5>TRACTLHX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TRACTLHX"))
</div>
<div class="search-item">
<h5>RIGDNECK:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDNECK"))
</div>
<div class="search-item">
<h5>RIGDNEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDNEX"))
</div>
<div class="search-item">
<h5>RIGDUPRT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDUPRT"))
</div>
<div class="search-item">
<h5>RIGDUPRX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDUPRX"))
</div>
<div class="search-item">
<h5>RIGDUPLF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDUPLF"))
</div>
<div class="search-item">
<h5>RIGDUPLX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDUPLX"))
</div>
<div class="search-item">
<h5>RIGDLORT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDLORT"))
</div>
<div class="search-item">
<h5>RIGDLORX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDLORX"))
</div>
<div class="search-item">
<h5>RIGDLOLF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDLOLF"))
</div>
<div class="search-item">
<h5>RIGDLOLX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RIGDLOLX"))
</div>
<div class="search-item">
<h5>TAPSRT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TAPSRT"))
</div>
<div class="search-item">
<h5>TAPSRTX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TAPSRTX"))
</div>
<div class="search-item">
<h5>TAPSLF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TAPSLF"))
</div>
<div class="search-item">
<h5>TAPSLFX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TAPSLFX"))
</div>
<div class="search-item">
<h5>HANDMOVR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDMOVR"))
</div>
<div class="search-item">
<h5>HANDMVRX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDMVRX"))
</div>
<div class="search-item">
<h5>HANDMOVL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDMOVL"))
</div>
<div class="search-item">
<h5>HANDMVLX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDMVLX"))
</div>
<div class="search-item">
<h5>HANDALTR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDALTR"))
</div>
<div class="search-item">
<h5>HANDATRX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDATRX"))
</div>
<div class="search-item">
<h5>HANDALTL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDALTL"))
</div>
<div class="search-item">
<h5>HANDATLX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HANDATLX"))
</div>
<div class="search-item">
<h5>LEGRT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LEGRT"))
</div>
<div class="search-item">
<h5>LEGRTX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LEGRTX"))
</div>
<div class="search-item">
<h5>LEGLF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LEGLF"))
</div>
<div class="search-item">
<h5>LEGLFX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LEGLFX"))
</div>
<div class="search-item">
<h5>ARISING:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ARISING"))
</div>
<div class="search-item">
<h5>ARISINGX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ARISINGX"))
</div>
<div class="search-item">
<h5>POSTURE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTURE"))
</div>
<div class="search-item">
<h5>POSTUREX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSTUREX"))
</div>
<div class="search-item">
<h5>GAIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GAIT"))
</div>
<div class="search-item">
<h5>GAITX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GAITX"))
</div>
<div class="search-item">
<h5>POSSTAB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSSTAB"))
</div>
<div class="search-item">
<h5>POSSTABX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("POSSTABX"))
</div>
<div class="search-item">
<h5>BRADYKIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRADYKIN"))
</div>
<div class="search-item">
<h5>BRADYKIX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BRADYKIX"))
</div>
<div class="clear"></div></div></div>
