
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>ABRUPT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ABRUPT"))
</div>
<div class="search-item">
<h5>STEPWISE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STEPWISE"))
</div>
<div class="search-item">
<h5>SOMATIC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SOMATIC"))
</div>
<div class="search-item">
<h5>EMOT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EMOT"))
</div>
<div class="search-item">
<h5>HXHYPER:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HXHYPER"))
</div>
<div class="search-item">
<h5>HXSTROKE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HXSTROKE"))
</div>
<div class="search-item">
<h5>FOCLSYM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FOCLSYM"))
</div>
<div class="search-item">
<h5>FOCLSIGN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FOCLSIGN"))
</div>
<div class="search-item">
<h5>HACHIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HACHIN"))
</div>
<div class="search-item">
<h5>CVDCOG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDCOG"))
</div>
<div class="search-item">
<h5>STROKCOG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STROKCOG"))
</div>
<div class="search-item">
<h5>CVDIMAG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAG"))
</div>
<div class="search-item">
<h5>CVDIMAG1:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAG1"))
</div>
<div class="search-item">
<h5>CVDIMAG2:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAG2"))
</div>
<div class="search-item">
<h5>CVDIMAG3:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAG3"))
</div>
<div class="search-item">
<h5>CVDIMAG4:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAG4"))
</div>
<div class="search-item">
<h5>CVDIMAGX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("CVDIMAGX"))
</div>
<div class="clear"></div></div></div>
