
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>EXAMDATE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXAMDATE"))
</div>
<div class="search-item">
<h5>A3CHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("A3CHG"))
</div>
<div class="search-item">
<h5>PARCHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PARCHG"))
</div>
<div class="search-item">
<h5>FAMILYID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FAMILYID"))
</div>
<div class="search-item">
<h5>GMOMID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMID"))
</div>
<div class="search-item">
<h5>GMOMYOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMYOB"))
</div>
<div class="search-item">
<h5>GMOMLIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMLIV"))
</div>
<div class="search-item">
<h5>GMOMYOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMYOD"))
</div>
<div class="search-item">
<h5>GMOMDEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMDEM"))
</div>
<div class="search-item">
<h5>GMOMONSET:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMONSET"))
</div>
<div class="search-item">
<h5>GMOMAUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GMOMAUTO"))
</div>
<div class="search-item">
<h5>GDADID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADID"))
</div>
<div class="search-item">
<h5>GDADYOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADYOB"))
</div>
<div class="search-item">
<h5>GDADLIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADLIV"))
</div>
<div class="search-item">
<h5>GDADYOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADYOD"))
</div>
<div class="search-item">
<h5>GDADDEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADDEM"))
</div>
<div class="search-item">
<h5>GDADONSET:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADONSET"))
</div>
<div class="search-item">
<h5>GDADAUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GDADAUTO"))
</div>
<div class="search-item">
<h5>MOMID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMID"))
</div>
<div class="search-item">
<h5>MOMYOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMYOB"))
</div>
<div class="search-item">
<h5>MOMLIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMLIV"))
</div>
<div class="search-item">
<h5>MOMYOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMYOD"))
</div>
<div class="search-item">
<h5>MOMDEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMDEM"))
</div>
<div class="search-item">
<h5>MOMONSET:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMONSET"))
</div>
<div class="search-item">
<h5>MOMAUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMAUTO"))
</div>
<div class="search-item">
<h5>DADID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADID"))
</div>
<div class="search-item">
<h5>DADYOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADYOB"))
</div>
<div class="search-item">
<h5>DADLIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADLIV"))
</div>
<div class="search-item">
<h5>DADYOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADYOD"))
</div>
<div class="search-item">
<h5>DADDEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADDEM"))
</div>
<div class="search-item">
<h5>DADONSET:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADONSET"))
</div>
<div class="search-item">
<h5>DADAUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DADAUTO"))
</div>
<div class="search-item">
<h5>SIBCHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBCHG"))
</div>
<div class="search-item">
<h5>TWIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TWIN"))
</div>
<div class="search-item">
<h5>TWINTYPE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TWINTYPE"))
</div>
<div class="search-item">
<h5>SIBS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIBS"))
</div>
<div class="search-item">
<h5>SIB1ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1ID"))
</div>
<div class="search-item">
<h5>SIB1YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1YOB"))
</div>
<div class="search-item">
<h5>SIB1LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1LIV"))
</div>
<div class="search-item">
<h5>SIB1YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1YOD"))
</div>
<div class="search-item">
<h5>SIB1DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1DEM"))
</div>
<div class="search-item">
<h5>SIB1ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1ONS"))
</div>
<div class="search-item">
<h5>SIB1AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1AUTO"))
</div>
<div class="search-item">
<h5>SIB1SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB1SEX"))
</div>
<div class="search-item">
<h5>SIB2ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2ID"))
</div>
<div class="search-item">
<h5>SIB2YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2YOB"))
</div>
<div class="search-item">
<h5>SIB2LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2LIV"))
</div>
<div class="search-item">
<h5>SIB2YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2YOD"))
</div>
<div class="search-item">
<h5>SIB2DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2DEM"))
</div>
<div class="search-item">
<h5>SIB2ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2ONS"))
</div>
<div class="search-item">
<h5>SIB2AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2AUTO"))
</div>
<div class="search-item">
<h5>SIB2SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB2SEX"))
</div>
<div class="search-item">
<h5>SIB3ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3ID"))
</div>
<div class="search-item">
<h5>SIB3YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3YOB"))
</div>
<div class="search-item">
<h5>SIB3LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3LIV"))
</div>
<div class="search-item">
<h5>SIB3YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3YOD"))
</div>
<div class="search-item">
<h5>SIB3DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3DEM"))
</div>
<div class="search-item">
<h5>SIB3ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3ONS"))
</div>
<div class="search-item">
<h5>SIB3AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3AUTO"))
</div>
<div class="search-item">
<h5>SIB3SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB3SEX"))
</div>
<div class="search-item">
<h5>SIB4ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4ID"))
</div>
<div class="search-item">
<h5>SIB4YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4YOB"))
</div>
<div class="search-item">
<h5>SIB4LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4LIV"))
</div>
<div class="search-item">
<h5>SIB4YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4YOD"))
</div>
<div class="search-item">
<h5>SIB4DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4DEM"))
</div>
<div class="search-item">
<h5>SIB4ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4ONS"))
</div>
<div class="search-item">
<h5>SIB4AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4AUTO"))
</div>
<div class="search-item">
<h5>SIB4SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB4SEX"))
</div>
<div class="search-item">
<h5>SIB5ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5ID"))
</div>
<div class="search-item">
<h5>SIB5YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5YOB"))
</div>
<div class="search-item">
<h5>SIB5LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5LIV"))
</div>
<div class="search-item">
<h5>SIB5YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5YOD"))
</div>
<div class="search-item">
<h5>SIB5DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5DEM"))
</div>
<div class="search-item">
<h5>SIB5ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5ONS"))
</div>
<div class="search-item">
<h5>SIB5AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5AUTO"))
</div>
<div class="search-item">
<h5>SIB5SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB5SEX"))
</div>
<div class="search-item">
<h5>SIB6ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6ID"))
</div>
<div class="search-item">
<h5>SIB6YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6YOB"))
</div>
<div class="search-item">
<h5>SIB6LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6LIV"))
</div>
<div class="search-item">
<h5>SIB6YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6YOD"))
</div>
<div class="search-item">
<h5>SIB6DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6DEM"))
</div>
<div class="search-item">
<h5>SIB6ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6ONS"))
</div>
<div class="search-item">
<h5>SIB6AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6AUTO"))
</div>
<div class="search-item">
<h5>SIB6SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB6SEX"))
</div>
<div class="search-item">
<h5>SIB7ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7ID"))
</div>
<div class="search-item">
<h5>SIB7YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7YOB"))
</div>
<div class="search-item">
<h5>SIB7LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7LIV"))
</div>
<div class="search-item">
<h5>SIB7YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7YOD"))
</div>
<div class="search-item">
<h5>SIB7DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7DEM"))
</div>
<div class="search-item">
<h5>SIB7ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7ONS"))
</div>
<div class="search-item">
<h5>SIB7AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7AUTO"))
</div>
<div class="search-item">
<h5>SIB7SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB7SEX"))
</div>
<div class="search-item">
<h5>SIB8ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8ID"))
</div>
<div class="search-item">
<h5>SIB8YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8YOB"))
</div>
<div class="search-item">
<h5>SIB8LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8LIV"))
</div>
<div class="search-item">
<h5>SIB8YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8YOD"))
</div>
<div class="search-item">
<h5>SIB8DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8DEM"))
</div>
<div class="search-item">
<h5>SIB8ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8ONS"))
</div>
<div class="search-item">
<h5>SIB8AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8AUTO"))
</div>
<div class="search-item">
<h5>SIB8SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB8SEX"))
</div>
<div class="search-item">
<h5>SIB9ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9ID"))
</div>
<div class="search-item">
<h5>SIB9YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9YOB"))
</div>
<div class="search-item">
<h5>SIB9LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9LIV"))
</div>
<div class="search-item">
<h5>SIB9YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9YOD"))
</div>
<div class="search-item">
<h5>SIB9DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9DEM"))
</div>
<div class="search-item">
<h5>SIB9ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9ONS"))
</div>
<div class="search-item">
<h5>SIB9AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9AUTO"))
</div>
<div class="search-item">
<h5>SIB9SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB9SEX"))
</div>
<div class="search-item">
<h5>SIB10ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10ID"))
</div>
<div class="search-item">
<h5>SIB10YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10YOB"))
</div>
<div class="search-item">
<h5>SIB10LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10LIV"))
</div>
<div class="search-item">
<h5>SIB10YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10YOD"))
</div>
<div class="search-item">
<h5>SIB10DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10DEM"))
</div>
<div class="search-item">
<h5>SIB10ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10ONS"))
</div>
<div class="search-item">
<h5>SIB10AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10AUTO"))
</div>
<div class="search-item">
<h5>SIB10SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB10SEX"))
</div>
<div class="search-item">
<h5>SIB11ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11ID"))
</div>
<div class="search-item">
<h5>SIB11YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11YOB"))
</div>
<div class="search-item">
<h5>SIB11LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11LIV"))
</div>
<div class="search-item">
<h5>SIB11YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11YOD"))
</div>
<div class="search-item">
<h5>SIB11DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11DEM"))
</div>
<div class="search-item">
<h5>SIB11ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11ONS"))
</div>
<div class="search-item">
<h5>SIB11AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11AUTO"))
</div>
<div class="search-item">
<h5>SIB11SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB11SEX"))
</div>
<div class="search-item">
<h5>SIB12ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12ID"))
</div>
<div class="search-item">
<h5>SIB12YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12YOB"))
</div>
<div class="search-item">
<h5>SIB12LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12LIV"))
</div>
<div class="search-item">
<h5>SIB12YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12YOD"))
</div>
<div class="search-item">
<h5>SIB12DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12DEM"))
</div>
<div class="search-item">
<h5>SIB12ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12ONS"))
</div>
<div class="search-item">
<h5>SIB12AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12AUTO"))
</div>
<div class="search-item">
<h5>SIB12SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB12SEX"))
</div>
<div class="search-item">
<h5>SIB13ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13ID"))
</div>
<div class="search-item">
<h5>SIB13YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13YOB"))
</div>
<div class="search-item">
<h5>SIB13LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13LIV"))
</div>
<div class="search-item">
<h5>SIB13YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13YOD"))
</div>
<div class="search-item">
<h5>SIB13DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13DEM"))
</div>
<div class="search-item">
<h5>SIB13ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13ONS"))
</div>
<div class="search-item">
<h5>SIB13AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13AUTO"))
</div>
<div class="search-item">
<h5>SIB13SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB13SEX"))
</div>
<div class="search-item">
<h5>SIB14ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14ID"))
</div>
<div class="search-item">
<h5>SIB14YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14YOB"))
</div>
<div class="search-item">
<h5>SIB14LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14LIV"))
</div>
<div class="search-item">
<h5>SIB14YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14YOD"))
</div>
<div class="search-item">
<h5>SIB14DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14DEM"))
</div>
<div class="search-item">
<h5>SIB14ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14ONS"))
</div>
<div class="search-item">
<h5>SIB14AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14AUTO"))
</div>
<div class="search-item">
<h5>SIB14SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB14SEX"))
</div>
<div class="search-item">
<h5>SIB15ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15ID"))
</div>
<div class="search-item">
<h5>SIB15YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15YOB"))
</div>
<div class="search-item">
<h5>SIB15LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15LIV"))
</div>
<div class="search-item">
<h5>SIB15YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15YOD"))
</div>
<div class="search-item">
<h5>SIB15DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15DEM"))
</div>
<div class="search-item">
<h5>SIB15ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB15ONS"))
</div>
<div class="search-item">
<h5>SIB155AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB155AUTO"))
</div>
<div class="search-item">
<h5>SIB155SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB155SEX"))
</div>
<div class="search-item">
<h5>SIB16ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16ID"))
</div>
<div class="search-item">
<h5>SIB16YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16YOB"))
</div>
<div class="search-item">
<h5>SIB16LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16LIV"))
</div>
<div class="search-item">
<h5>SIB16YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16YOD"))
</div>
<div class="search-item">
<h5>SIB16DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16DEM"))
</div>
<div class="search-item">
<h5>SIB16ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16ONS"))
</div>
<div class="search-item">
<h5>SIB16AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16AUTO"))
</div>
<div class="search-item">
<h5>SIB16SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB16SEX"))
</div>
<div class="search-item">
<h5>SIB17ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17ID"))
</div>
<div class="search-item">
<h5>SIB17YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17YOB"))
</div>
<div class="search-item">
<h5>SIB17LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17LIV"))
</div>
<div class="search-item">
<h5>SIB17YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17YOD"))
</div>
<div class="search-item">
<h5>SIB17DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17DEM"))
</div>
<div class="search-item">
<h5>SIB17ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17ONS"))
</div>
<div class="search-item">
<h5>SIB17AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17AUTO"))
</div>
<div class="search-item">
<h5>SIB17SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB17SEX"))
</div>
<div class="search-item">
<h5>SIB18ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18ID"))
</div>
<div class="search-item">
<h5>SIB18YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18YOB"))
</div>
<div class="search-item">
<h5>SIB18LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18LIV"))
</div>
<div class="search-item">
<h5>SIB18YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18YOD"))
</div>
<div class="search-item">
<h5>SIB18DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18DEM"))
</div>
<div class="search-item">
<h5>SIB18ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18ONS"))
</div>
<div class="search-item">
<h5>SIB18AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18AUTO"))
</div>
<div class="search-item">
<h5>SIB18SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB18SEX"))
</div>
<div class="search-item">
<h5>SIB19ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19ID"))
</div>
<div class="search-item">
<h5>SIB19YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19YOB"))
</div>
<div class="search-item">
<h5>SIB19LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19LIV"))
</div>
<div class="search-item">
<h5>SIB19YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19YOD"))
</div>
<div class="search-item">
<h5>SIB19DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19DEM"))
</div>
<div class="search-item">
<h5>SIB19ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19ONS"))
</div>
<div class="search-item">
<h5>SIB19AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19AUTO"))
</div>
<div class="search-item">
<h5>SIB19SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB19SEX"))
</div>
<div class="search-item">
<h5>SIB20ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20ID"))
</div>
<div class="search-item">
<h5>SIB20YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20YOB"))
</div>
<div class="search-item">
<h5>SIB20LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20LIV"))
</div>
<div class="search-item">
<h5>SIB20YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20YOD"))
</div>
<div class="search-item">
<h5>SIB20DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20DEM"))
</div>
<div class="search-item">
<h5>SIB20ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20ONS"))
</div>
<div class="search-item">
<h5>SIB20AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20AUTO"))
</div>
<div class="search-item">
<h5>SIB20SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SIB20SEX"))
</div>
<div class="search-item">
<h5>KIDCHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KIDCHG"))
</div>
<div class="search-item">
<h5>KIDS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KIDS"))
</div>
<div class="search-item">
<h5>KID1ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1ID"))
</div>
<div class="search-item">
<h5>KID1YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1YOB"))
</div>
<div class="search-item">
<h5>KID1LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1LIV"))
</div>
<div class="search-item">
<h5>KID1YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1YOD"))
</div>
<div class="search-item">
<h5>KID1DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1DEM"))
</div>
<div class="search-item">
<h5>KID1ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1ONS"))
</div>
<div class="search-item">
<h5>KID1AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1AUTO"))
</div>
<div class="search-item">
<h5>KID1SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID1SEX"))
</div>
<div class="search-item">
<h5>KID2ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2ID"))
</div>
<div class="search-item">
<h5>KID2YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2YOB"))
</div>
<div class="search-item">
<h5>KID2LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2LIV"))
</div>
<div class="search-item">
<h5>KID2YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2YOD"))
</div>
<div class="search-item">
<h5>KID2DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2DEM"))
</div>
<div class="search-item">
<h5>KID2ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2ONS"))
</div>
<div class="search-item">
<h5>KID2AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2AUTO"))
</div>
<div class="search-item">
<h5>KID2SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID2SEX"))
</div>
<div class="search-item">
<h5>KID3ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3ID"))
</div>
<div class="search-item">
<h5>KID3YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3YOB"))
</div>
<div class="search-item">
<h5>KID3LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3LIV"))
</div>
<div class="search-item">
<h5>KID3YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3YOD"))
</div>
<div class="search-item">
<h5>KID3DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3DEM"))
</div>
<div class="search-item">
<h5>KID3ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3ONS"))
</div>
<div class="search-item">
<h5>KID3AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3AUTO"))
</div>
<div class="search-item">
<h5>KID3SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID3SEX"))
</div>
<div class="search-item">
<h5>KID4ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4ID"))
</div>
<div class="search-item">
<h5>KID4YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4YOB"))
</div>
<div class="search-item">
<h5>KID4LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4LIV"))
</div>
<div class="search-item">
<h5>KID4YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4YOD"))
</div>
<div class="search-item">
<h5>KID4DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4DEM"))
</div>
<div class="search-item">
<h5>KID4ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4ONS"))
</div>
<div class="search-item">
<h5>KID4AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4AUTO"))
</div>
<div class="search-item">
<h5>KID4SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID4SEX"))
</div>
<div class="search-item">
<h5>KID5ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5ID"))
</div>
<div class="search-item">
<h5>KID5YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5YOB"))
</div>
<div class="search-item">
<h5>KID5LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5LIV"))
</div>
<div class="search-item">
<h5>KID5YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5YOD"))
</div>
<div class="search-item">
<h5>KID5DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5DEM"))
</div>
<div class="search-item">
<h5>KID5ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5ONS"))
</div>
<div class="search-item">
<h5>KID5AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5AUTO"))
</div>
<div class="search-item">
<h5>KID5SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID5SEX"))
</div>
<div class="search-item">
<h5>KID6ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6ID"))
</div>
<div class="search-item">
<h5>KID6YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6YOB"))
</div>
<div class="search-item">
<h5>KID6LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6LIV"))
</div>
<div class="search-item">
<h5>KID6YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6YOD"))
</div>
<div class="search-item">
<h5>KID6DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6DEM"))
</div>
<div class="search-item">
<h5>KID6ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6ONS"))
</div>
<div class="search-item">
<h5>KID6AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6AUTO"))
</div>
<div class="search-item">
<h5>KID6SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID6SEX"))
</div>
<div class="search-item">
<h5>KID7ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7ID"))
</div>
<div class="search-item">
<h5>KID7YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7YOB"))
</div>
<div class="search-item">
<h5>KID7LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7LIV"))
</div>
<div class="search-item">
<h5>KID7YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7YOD"))
</div>
<div class="search-item">
<h5>KID7DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7DEM"))
</div>
<div class="search-item">
<h5>KID7ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7ONS"))
</div>
<div class="search-item">
<h5>KID7AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7AUTO"))
</div>
<div class="search-item">
<h5>KID7SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID7SEX"))
</div>
<div class="search-item">
<h5>KID8ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8ID"))
</div>
<div class="search-item">
<h5>KID8YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8YOB"))
</div>
<div class="search-item">
<h5>KID8LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8LIV"))
</div>
<div class="search-item">
<h5>KID8YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8YOD"))
</div>
<div class="search-item">
<h5>KID8DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8DEM"))
</div>
<div class="search-item">
<h5>KID8ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8ONS"))
</div>
<div class="search-item">
<h5>KID8AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8AUTO"))
</div>
<div class="search-item">
<h5>KID8SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID8SEX"))
</div>
<div class="search-item">
<h5>KID9ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9ID"))
</div>
<div class="search-item">
<h5>KID9YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9YOB"))
</div>
<div class="search-item">
<h5>KID9LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9LIV"))
</div>
<div class="search-item">
<h5>KID9YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9YOD"))
</div>
<div class="search-item">
<h5>KID9DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9DEM"))
</div>
<div class="search-item">
<h5>KID9ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9ONS"))
</div>
<div class="search-item">
<h5>KID9AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9AUTO"))
</div>
<div class="search-item">
<h5>KID9SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID9SEX"))
</div>
<div class="search-item">
<h5>KID10ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10ID"))
</div>
<div class="search-item">
<h5>KID10YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10YOB"))
</div>
<div class="search-item">
<h5>KID10LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10LIV"))
</div>
<div class="search-item">
<h5>KID10YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10YOD"))
</div>
<div class="search-item">
<h5>KID10DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10DEM"))
</div>
<div class="search-item">
<h5>KID10ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10ONS"))
</div>
<div class="search-item">
<h5>KID10AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10AUTO"))
</div>
<div class="search-item">
<h5>KID10SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID10SEX"))
</div>
<div class="search-item">
<h5>KID11ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11ID"))
</div>
<div class="search-item">
<h5>KID11YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11YOB"))
</div>
<div class="search-item">
<h5>KID11LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11LIV"))
</div>
<div class="search-item">
<h5>KID11YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11YOD"))
</div>
<div class="search-item">
<h5>KID11DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11DEM"))
</div>
<div class="search-item">
<h5>KID11ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11ONS"))
</div>
<div class="search-item">
<h5>KID11AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11AUTO"))
</div>
<div class="search-item">
<h5>KID11SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID11SEX"))
</div>
<div class="search-item">
<h5>KID12ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12ID"))
</div>
<div class="search-item">
<h5>KID12YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12YOB"))
</div>
<div class="search-item">
<h5>KID12LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12LIV"))
</div>
<div class="search-item">
<h5>KID12YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12YOD"))
</div>
<div class="search-item">
<h5>KID12DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12DEM"))
</div>
<div class="search-item">
<h5>KID12ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12ONS"))
</div>
<div class="search-item">
<h5>KID12AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12AUTO"))
</div>
<div class="search-item">
<h5>KID12SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID12SEX"))
</div>
<div class="search-item">
<h5>KID13ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13ID"))
</div>
<div class="search-item">
<h5>KID13YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13YOB"))
</div>
<div class="search-item">
<h5>KID13LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13LIV"))
</div>
<div class="search-item">
<h5>KID13YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13YOD"))
</div>
<div class="search-item">
<h5>KID13DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13DEM"))
</div>
<div class="search-item">
<h5>KID13ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13ONS"))
</div>
<div class="search-item">
<h5>KID13AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13AUTO"))
</div>
<div class="search-item">
<h5>KID13SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID13SEX"))
</div>
<div class="search-item">
<h5>KID14ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14ID"))
</div>
<div class="search-item">
<h5>KID14YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14YOB"))
</div>
<div class="search-item">
<h5>KID14LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14LIV"))
</div>
<div class="search-item">
<h5>KID14YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14YOD"))
</div>
<div class="search-item">
<h5>KID14DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14DEM"))
</div>
<div class="search-item">
<h5>KID14ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14ONS"))
</div>
<div class="search-item">
<h5>KID14AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14AUTO"))
</div>
<div class="search-item">
<h5>KID14SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID14SEX"))
</div>
<div class="search-item">
<h5>KID15ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15ID"))
</div>
<div class="search-item">
<h5>KID15YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15YOB"))
</div>
<div class="search-item">
<h5>KID15LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15LIV"))
</div>
<div class="search-item">
<h5>KID15YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15YOD"))
</div>
<div class="search-item">
<h5>KID15DEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15DEM"))
</div>
<div class="search-item">
<h5>KID15ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15ONS"))
</div>
<div class="search-item">
<h5>KID15AUTO:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15AUTO"))
</div>
<div class="search-item">
<h5>KID15SEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("KID15SEX"))
</div>
<div class="search-item">
<h5>RELCHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RELCHG"))
</div>
<div class="search-item">
<h5>RELSDEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RELSDEM"))
</div>
<div class="search-item">
<h5>REL1ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL1ID"))
</div>
<div class="search-item">
<h5>REL1YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL1YOB"))
</div>
<div class="search-item">
<h5>REL1LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL1LIV"))
</div>
<div class="search-item">
<h5>REL1YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL1YOD"))
</div>
<div class="search-item">
<h5>REL1ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL1ONS"))
</div>
<div class="search-item">
<h5>REL2ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL2ID"))
</div>
<div class="search-item">
<h5>REL2YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL2YOB"))
</div>
<div class="search-item">
<h5>REL2LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL2LIV"))
</div>
<div class="search-item">
<h5>REL2YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL2YOD"))
</div>
<div class="search-item">
<h5>REL2ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL2ONS"))
</div>
<div class="search-item">
<h5>REL3ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL3ID"))
</div>
<div class="search-item">
<h5>REL3YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL3YOB"))
</div>
<div class="search-item">
<h5>REL3LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL3LIV"))
</div>
<div class="search-item">
<h5>REL3YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL3YOD"))
</div>
<div class="search-item">
<h5>REL3ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL3ONS"))
</div>
<div class="search-item">
<h5>REL4ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL4ID"))
</div>
<div class="search-item">
<h5>REL4YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL4YOB"))
</div>
<div class="search-item">
<h5>REL4LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL4LIV"))
</div>
<div class="search-item">
<h5>REL4YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL4YOD"))
</div>
<div class="search-item">
<h5>REL4ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL4ONS"))
</div>
<div class="search-item">
<h5>REL5ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL5ID"))
</div>
<div class="search-item">
<h5>REL5YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL5YOB"))
</div>
<div class="search-item">
<h5>REL5LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL5LIV"))
</div>
<div class="search-item">
<h5>REL5YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL5YOD"))
</div>
<div class="search-item">
<h5>REL5ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL5ONS"))
</div>
<div class="search-item">
<h5>REL6ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL6ID"))
</div>
<div class="search-item">
<h5>REL6YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL6YOB"))
</div>
<div class="search-item">
<h5>REL6LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL6LIV"))
</div>
<div class="search-item">
<h5>REL6YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL6YOD"))
</div>
<div class="search-item">
<h5>REL6ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL6ONS"))
</div>
<div class="search-item">
<h5>REL7ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL7ID"))
</div>
<div class="search-item">
<h5>REL7YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL7YOB"))
</div>
<div class="search-item">
<h5>REL7LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL7LIV"))
</div>
<div class="search-item">
<h5>REL7YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL7YOD"))
</div>
<div class="search-item">
<h5>REL7ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL7ONS"))
</div>
<div class="search-item">
<h5>REL8ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL8ID"))
</div>
<div class="search-item">
<h5>REL8YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL8YOB"))
</div>
<div class="search-item">
<h5>REL8LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL8LIV"))
</div>
<div class="search-item">
<h5>REL8YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL8YOD"))
</div>
<div class="search-item">
<h5>REL8ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL8ONS"))
</div>
<div class="search-item">
<h5>REL9ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL9ID"))
</div>
<div class="search-item">
<h5>REL9YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL9YOB"))
</div>
<div class="search-item">
<h5>REL9LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL9LIV"))
</div>
<div class="search-item">
<h5>REL9YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL9YOD"))
</div>
<div class="search-item">
<h5>REL9ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL9ONS"))
</div>
<div class="search-item">
<h5>REL10ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL10ID"))
</div>
<div class="search-item">
<h5>REL10YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL10YOB"))
</div>
<div class="search-item">
<h5>REL10LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL10LIV"))
</div>
<div class="search-item">
<h5>REL10YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL10YOD"))
</div>
<div class="search-item">
<h5>REL10ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL10ONS"))
</div>
<div class="search-item">
<h5>REL11ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL11ID"))
</div>
<div class="search-item">
<h5>REL11YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL11YOB"))
</div>
<div class="search-item">
<h5>REL11LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL11LIV"))
</div>
<div class="search-item">
<h5>REL11YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL11YOD"))
</div>
<div class="search-item">
<h5>REL11ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL11ONS"))
</div>
<div class="search-item">
<h5>REL12ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL12ID"))
</div>
<div class="search-item">
<h5>REL12YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL12YOB"))
</div>
<div class="search-item">
<h5>REL12LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL12LIV"))
</div>
<div class="search-item">
<h5>REL12YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL12YOD"))
</div>
<div class="search-item">
<h5>REL12ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL12ONS"))
</div>
<div class="search-item">
<h5>REL13ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL13ID"))
</div>
<div class="search-item">
<h5>REL13YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL13YOB"))
</div>
<div class="search-item">
<h5>REL13LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL13LIV"))
</div>
<div class="search-item">
<h5>REL13YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL13YOD"))
</div>
<div class="search-item">
<h5>REL13ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL13ONS"))
</div>
<div class="search-item">
<h5>REL14ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL14ID"))
</div>
<div class="search-item">
<h5>REL14YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL14YOB"))
</div>
<div class="search-item">
<h5>REL14LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL14LIV"))
</div>
<div class="search-item">
<h5>REL14YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL14YOD"))
</div>
<div class="search-item">
<h5>REL14ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL14ONS"))
</div>
<div class="search-item">
<h5>REL15ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL15ID"))
</div>
<div class="search-item">
<h5>REL15YOB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL15YOB"))
</div>
<div class="search-item">
<h5>REL15LIV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL15LIV"))
</div>
<div class="search-item">
<h5>REL15YOD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL15YOD"))
</div>
<div class="search-item">
<h5>REL15ONS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("REL15ONS"))
</div>
<div class="clear"></div></div></div>
