
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>B9SX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B9SX"))
</div>
<div class="search-item">
<h5>AGEMOTOR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGEMOTOR"))
</div>
<div class="search-item">
<h5>AGEBEHAV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGEBEHAV"))
</div>
<div class="clear"></div></div></div>
