
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>B9CHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("B9CHG"))
</div>
<div class="search-item">
<h5>DECSUB:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DECSUB"))
</div>
<div class="search-item">
<h5>DECIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DECIN"))
</div>
<div class="search-item">
<h5>DECCLIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DECCLIN"))
</div>
<div class="search-item">
<h5>DECAGE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DECAGE"))
</div>
<div class="search-item">
<h5>COGMEM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGMEM"))
</div>
<div class="search-item">
<h5>COGJUDG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGJUDG"))
</div>
<div class="search-item">
<h5>COGLANG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGLANG"))
</div>
<div class="search-item">
<h5>COGVIS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGVIS"))
</div>
<div class="search-item">
<h5>COGATTN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGATTN"))
</div>
<div class="search-item">
<h5>COGFLUC:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGFLUC"))
</div>
<div class="search-item">
<h5>COGOTHR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGOTHR"))
</div>
<div class="search-item">
<h5>COGOTHRX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGOTHRX"))
</div>
<div class="search-item">
<h5>COGFRST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGFRST"))
</div>
<div class="search-item">
<h5>COGFRSTX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGFRSTX"))
</div>
<div class="search-item">
<h5>COGMODE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGMODE"))
</div>
<div class="search-item">
<h5>COGMODEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COGMODEX"))
</div>
<div class="search-item">
<h5>BEAPATHY:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEAPATHY"))
</div>
<div class="search-item">
<h5>BEDEP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEDEP"))
</div>
<div class="search-item">
<h5>BEVHALL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEVHALL"))
</div>
<div class="search-item">
<h5>BEVWELL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEVWELL"))
</div>
<div class="search-item">
<h5>BEAHALL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEAHALL"))
</div>
<div class="search-item">
<h5>BEDEL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEDEL"))
</div>
<div class="search-item">
<h5>BEDISIN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEDISIN"))
</div>
<div class="search-item">
<h5>BEIRRIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEIRRIT"))
</div>
<div class="search-item">
<h5>BEAGIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEAGIT"))
</div>
<div class="search-item">
<h5>BEPERCH:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEPERCH"))
</div>
<div class="search-item">
<h5>BEREM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEREM"))
</div>
<div class="search-item">
<h5>BEOTHR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEOTHR"))
</div>
<div class="search-item">
<h5>BEOTHRX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEOTHRX"))
</div>
<div class="search-item">
<h5>BEFRST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEFRST"))
</div>
<div class="search-item">
<h5>BEFRSTX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEFRSTX"))
</div>
<div class="search-item">
<h5>BEMODE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEMODE"))
</div>
<div class="search-item">
<h5>BEMODEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BEMODEX"))
</div>
<div class="search-item">
<h5>MOGAIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOGAIT"))
</div>
<div class="search-item">
<h5>MOFALLS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOFALLS"))
</div>
<div class="search-item">
<h5>MOTREM:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOTREM"))
</div>
<div class="search-item">
<h5>MOSLOW:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOSLOW"))
</div>
<div class="search-item">
<h5>MOFRST:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOFRST"))
</div>
<div class="search-item">
<h5>MOMODE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMODE"))
</div>
<div class="search-item">
<h5>MOMODEX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMODEX"))
</div>
<div class="search-item">
<h5>MOMOPARK:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOMOPARK"))
</div>
<div class="search-item">
<h5>COURSE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COURSE"))
</div>
<div class="search-item">
<h5>FRSTCHG:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FRSTCHG"))
</div>
<div class="clear"></div></div></div>
