
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Note:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NOTE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>INITIALS:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INITIALS"))
</div>
<div class="search-item">
<h5>NPIQINF:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NPIQINF"))
</div>
<div class="search-item">
<h5>NPIQINFX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NPIQINFX"))
</div>
<div class="search-item">
<h5>DEL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEL"))
</div>
<div class="search-item">
<h5>DELSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DELSEV"))
</div>
<div class="search-item">
<h5>HALL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HALL"))
</div>
<div class="search-item">
<h5>HALLSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("HALLSEV"))
</div>
<div class="search-item">
<h5>AGIT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGIT"))
</div>
<div class="search-item">
<h5>AGITSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGITSEV"))
</div>
<div class="search-item">
<h5>DEPD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEPD"))
</div>
<div class="search-item">
<h5>DEPDSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DEPDSEV"))
</div>
<div class="search-item">
<h5>ANX:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANX"))
</div>
<div class="search-item">
<h5>ANXSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ANXSEV"))
</div>
<div class="search-item">
<h5>ELAT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ELAT"))
</div>
<div class="search-item">
<h5>ELATSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ELATSEV"))
</div>
<div class="search-item">
<h5>APA:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("APA"))
</div>
<div class="search-item">
<h5>APASEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("APASEV"))
</div>
<div class="search-item">
<h5>DISN:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DISN"))
</div>
<div class="search-item">
<h5>DISNSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DISNSEV"))
</div>
<div class="search-item">
<h5>IRR:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("IRR"))
</div>
<div class="search-item">
<h5>IRRSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("IRRSEV"))
</div>
<div class="search-item">
<h5>MOT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOT"))
</div>
<div class="search-item">
<h5>MOTSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MOTSEV"))
</div>
<div class="search-item">
<h5>NITE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NITE"))
</div>
<div class="search-item">
<h5>NITESEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("NITESEV"))
</div>
<div class="search-item">
<h5>APP:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("APP"))
</div>
<div class="search-item">
<h5>APPSEV:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("APPSEV"))
</div>
<div class="clear"></div></div></div>
