
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>EXP_ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXP_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Visit QC Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_QC_STATUS"))
</div>
<div class="search-item">
<h5>Visit QC Method:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_QC_METHOD"))
</div>
<div class="search-item">
<h5>Visit QC Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_QC_DATE"))
</div>
<div class="search-item">
<h5>Visit QC Notes:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_QC_NOTES"))
</div>
<div class="search-item">
<h5>Secondary Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SECONDDATE"))
</div>
<div class="search-item">
<h5>ADVERSE_COUNT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ADVERSE_COUNT"))
</div>
<div class="search-item">
<h5>Visit Type:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TYPE"))
</div>
<div class="search-item">
<h5>Visit Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OCCURRED"))
</div>
<div class="search-item">
<h5>Secondary Visit Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SECONDARY_VISIT_STATUS"))
</div>
<div class="search-item">
<h5>RGCONDCT:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RGCONDCT"))
</div>
<div class="search-item">
<h5>RGPARTIAL:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RGPARTIAL"))
</div>
<div class="search-item">
<h5>Label:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_LABEL"))
</div>
<div class="search-item">
<h5>FDGDONE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FDGDONE"))
</div>
<div class="search-item">
<h5>FDGDATE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FDGDATE"))
</div>
<div class="search-item">
<h5>FDGREASON:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FDGREASON"))
</div>
<div class="search-item">
<h5>PIBDONE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PIBDONE"))
</div>
<div class="search-item">
<h5>PIBDATE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PIBDATE"))
</div>
<div class="search-item">
<h5>PIBREASON:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PIBREASON"))
</div>
<div class="search-item">
<h5>Missing Psych Info:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAN_MISS_PSYCH"))
</div>
<div class="search-item">
<h5>Missing Clinical Info:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAN_MISS_CLINICAL"))
</div>
<div class="search-item">
<h5>Missing Biomarkers Info:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAN_MISS_BIOMARKER"))
</div>
<div class="search-item">
<h5>Missing Imaging Info:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAN_MISS_IMAGING"))
</div>
<div class="search-item">
<h5>Window Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DIAN_WIN_STAT"))
</div>
<div class="clear"></div></div></div>
