<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("MedicalHistory Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>MedicalHistory Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("sf:medicalHistory/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("sf:medicalHistory/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("sf:medicalHistory/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("sf:medicalHistory/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("sf:medicalHistory/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("sf:medicalHistory/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("sf:medicalHistory/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("sf:medicalHistory/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("sf:medicalHistory/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("sf:medicalHistory/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("sf:medicalHistory/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("sf:medicalHistory/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("sf:medicalHistory/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("sf:medicalHistory/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("sf:medicalHistory/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("sf:medicalHistory/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("sf:medicalHistory/label")</TD></TR>
							<TR><TD>smokingStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/smokingStatus")</TD></TR>
							<TR><TD>smokingPpd</TD><TD>$!item.getProperty("sf:medicalHistory/smokingPpd")</TD></TR>
							<TR><TD>alcoholStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/alcoholStatus")</TD></TR>
							<TR><TD>alcoholUse</TD><TD>$!item.getStringProperty("sf:medicalHistory/alcoholUse")</TD></TR>
							<TR><TD>illicitDrugStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/illicitDrugStatus")</TD></TR>
							<TR><TD>illicitDrugDetails</TD><TD>$!item.getStringProperty("sf:medicalHistory/illicitDrugDetails")</TD></TR>
							<TR><TD>deficitNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/deficitNotes")</TD></TR>
							<TR><TD>medicalHistoryNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/medicalHistoryNotes")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN sf:medicalHistory -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("sf:medicalHistory/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:medicalHistory/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("sf:medicalHistory/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("sf:medicalHistory/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("sf:medicalHistory/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("sf:medicalHistory/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("sf:medicalHistory/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("sf:medicalHistory/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("sf:medicalHistory/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:medicalHistory/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("sf:medicalHistory/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("sf:medicalHistory/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("sf:medicalHistory/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:medicalHistory/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($sf_condition_7_NUM_ROWS=$item.getChildItems("sf:medicalHistory/conditions/condition").size() - 1)
							#if($sf_condition_7_NUM_ROWS>=0)
								#foreach($sf_condition_7_COUNTER in [0..$sf_condition_7_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/conditionStatus")</TD></TR>
													<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/bodySystem")</TD></TR>
													<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/condition")</TD></TR>
													<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/conditionNotes")</TD></TR>
													<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/diagnosisDate")</TD></TR>
													<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/diagnosisDateDayNotReported")</TD></TR>
													<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/diagnosisDateMonthNotReported")</TD></TR>
													<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER]/diagnosisDateYearNotReported")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:medicalHistory/conditions/condition[$sf_condition_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/hypertension -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/hypertension</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypertension/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypertension/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypertension/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypertension/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/hypertension/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypertension/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypertension/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypertension/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/hypertension -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/diabetes -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/diabetes</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/diabetes/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/diabetes/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/diabetes/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/diabetes/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/diabetes/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/diabetes/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/diabetes/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/diabetes/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/diabetes -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/hypercholesterolemia -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/hypercholesterolemia</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypercholesterolemia/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypercholesterolemia/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypercholesterolemia/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/hypercholesterolemia/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/hypercholesterolemia/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypercholesterolemia/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypercholesterolemia/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/hypercholesterolemia/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/hypercholesterolemia -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/stroke -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/stroke</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/stroke/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/stroke/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/stroke/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/stroke/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/stroke/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/stroke/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/stroke/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/stroke/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/stroke -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/autoimmuneDisease -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/autoimmuneDisease</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/autoimmuneDisease/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/autoimmuneDisease/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/autoimmuneDisease/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/autoimmuneDisease/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/autoimmuneDisease/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/autoimmuneDisease/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/autoimmuneDisease/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/autoimmuneDisease/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/autoimmuneDisease -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/headache -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/headache</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/headache/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/headache/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/headache/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/headache/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/headache/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/headache/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/headache/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/headache/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/headache -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/seizure -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/seizure</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>conditionStatus</TD><TD>$!item.getStringProperty("sf:medicalHistory/seizure/conditionStatus")</TD></TR>
										<TR><TD>bodySystem</TD><TD>$!item.getStringProperty("sf:medicalHistory/seizure/bodySystem")</TD></TR>
										<TR><TD>condition</TD><TD>$!item.getStringProperty("sf:medicalHistory/seizure/condition")</TD></TR>
										<TR><TD>conditionNotes</TD><TD>$!item.getStringProperty("sf:medicalHistory/seizure/conditionNotes")</TD></TR>
										<TR><TD>diagnosisDate</TD><TD>$!item.getProperty("sf:medicalHistory/seizure/diagnosisDate")</TD></TR>
										<TR><TD>diagnosisDateDayNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/seizure/diagnosisDateDayNotReported")</TD></TR>
										<TR><TD>diagnosisDateMonthNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/seizure/diagnosisDateMonthNotReported")</TD></TR>
										<TR><TD>diagnosisDateYearNotReported</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/seizure/diagnosisDateYearNotReported")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/seizure -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($sf_medicalHistory_allergy_15_NUM_ROWS=$item.getChildItems("sf:medicalHistory/allergies/allergy").size() - 1)
							#if($sf_medicalHistory_allergy_15_NUM_ROWS>=0)
								#foreach($sf_medicalHistory_allergy_15_COUNTER in [0..$sf_medicalHistory_allergy_15_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/allergies/allergy[$sf_medicalHistory_allergy_15_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/allergies/allergy[$sf_medicalHistory_allergy_15_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>allergy</TD><TD>$!item.getStringProperty("sf:medicalHistory/allergies/allergy[$sf_medicalHistory_allergy_15_COUNTER]/allergy")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END sf:medicalHistory/allergies/allergy[$sf_medicalHistory_allergy_15_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN sf:medicalHistory/deficits -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/deficits</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>motorWeakness</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/motorWeakness")</TD></TR>
										<TR><TD>sensoryChange</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/sensoryChange")</TD></TR>
										<TR><TD>severeHeadache</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/severeHeadache")</TD></TR>
										<TR><TD>nausea</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/nausea")</TD></TR>
										<TR><TD>visualLoss</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/visualLoss")</TD></TR>
										<TR><TD>cognitiveDecline</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/cognitiveDecline")</TD></TR>
										<TR><TD>seizure</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/seizure")</TD></TR>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($sf_deficits_otherDeficit_17_NUM_ROWS=$item.getChildItems("sf:medicalHistory/deficits/otherDeficits/otherDeficit").size() - 1)
										#if($sf_deficits_otherDeficit_17_NUM_ROWS>=0)
											#foreach($sf_deficits_otherDeficit_17_COUNTER in [0..$sf_deficits_otherDeficit_17_NUM_ROWS])
<!-- BEGIN sf:medicalHistory/deficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_17_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">sf:medicalHistory/deficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_17_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>otherDeficitName</TD><TD>$!item.getStringProperty("sf:medicalHistory/deficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_17_COUNTER]/otherDeficitName")</TD></TR>
																<TR><TD>otherDeficitPresent</TD><TD>$!item.getBooleanProperty("sf:medicalHistory/deficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_17_COUNTER]/otherDeficitPresent")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END sf:medicalHistory/deficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_17_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END sf:medicalHistory/deficits -->
					</TD>
				</TR>
			</TABLE>
<!-- END sf:medicalHistory -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
