<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADRCPsychometrics Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cnda:adrc_psychometrics/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/label" $item "" $vr)</TD></TR>
							<TR><TD>BentonRecall</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/BentonRecall" $item "" $vr)</TD></TR>
							<TR><TD>BNT</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/BNT" $item "" $vr)</TD></TR>
							<TR><TD>animals</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/animals" $item "" $vr)</TD></TR>
							<TR><TD>veg</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/veg" $item "" $vr)</TD></TR>
							<TR><TD>crossingOff</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/crossingOff" $item "" $vr)</TD></TR>
							<TR><TD>SRTFree</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/SRTFree" $item "" $vr)</TD></TR>
							<TR><TD>tma</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/tma" $item "" $vr)</TD></TR>
							<TR><TD>tmb</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/tmb" $item "" $vr)</TD></TR>
							<TR><TD>info</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/info" $item "" $vr)</TD></TR>
							<TR><TD>block_I</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/block_I" $item "" $vr)</TD></TR>
							<TR><TD>digsym</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/digsym" $item "" $vr)</TD></TR>
							<TR><TD>sim</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/sim" $item "" $vr)</TD></TR>
							<TR><TD>mentcont</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/mentcont" $item "" $vr)</TD></TR>
							<TR><TD>logMemImmed</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/logMemImmed" $item "" $vr)</TD></TR>
							<TR><TD>asscMem</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/asscMem" $item "" $vr)</TD></TR>
							<TR><TD>digfor</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/digfor" $item "" $vr)</TD></TR>
							<TR><TD>digback</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/digback" $item "" $vr)</TD></TR>
							<TR><TD>wordflu</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/wordflu" $item "" $vr)</TD></TR>
							<TR><TD>gencomp</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/gencomp" $item "" $vr)</TD></TR>
							<TR><TD>visuospa</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/visuospa" $item "" $vr)</TD></TR>
							<TR><TD>exec</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/exec" $item "" $vr)</TD></TR>
							<TR><TD>trigrams</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/trigrams" $item "" $vr)</TD></TR>
							<TR><TD>line</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/line" $item "" $vr)</TD></TR>
							<TR><TD>trailb</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/trailb" $item "" $vr)</TD></TR>
							<TR><TD>block_III</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/block_III" $item "" $vr)</TD></TR>
							<TR><TD>inform</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/inform" $item "" $vr)</TD></TR>
							<TR><TD>lettnum</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/lettnum" $item "" $vr)</TD></TR>
							<TR><TD>logmem</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/logmem" $item "" $vr)</TD></TR>
							<TR><TD>lmdelay</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/lmdelay" $item "" $vr)</TD></TR>
							<TR><TD>pairs</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/pairs" $item "" $vr)</TD></TR>
							<TR><TD>spatial</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/spatial" $item "" $vr)</TD></TR>
							<TR><TD>logimem</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/logimem" $item "" $vr)</TD></TR>
							<TR><TD>memunits</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/memunits" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:adrc_psychometrics -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:adrc_psychometrics/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:adrc_psychometrics/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:adrc_psychometrics/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:adrc_psychometrics/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:adrc_psychometrics/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:adrc_psychometrics/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cnda:adrc_psychometrics/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cnda:adrc_psychometrics/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:adrc_psychometrics/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cnda:adrc_psychometrics/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cnda:adrc_psychometrics/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:adrc_psychometrics/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cnda:adrc_psychometrics/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cnda:adrc_psychometrics/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cnda:adrc_psychometrics/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cnda:adrc_psychometrics/fields/field -->
			</TABLE>
<!-- END cnda:adrc_psychometrics -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
