<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("TicVideoCounts Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>TicVideoCounts Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cnda:ticVideoCountsData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cnda:ticVideoCountsData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cnda:ticVideoCountsData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cnda:ticVideoCountsData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/label")</TD></TR>
							<TR><TD>tape</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/tape")</TD></TR>
							<TR><TD>tapeTime</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/tapeTime")</TD></TR>
							<TR><TD>tapeInfo</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/tapeInfo")</TD></TR>
							<TR><TD>boldNumber</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/boldNumber")</TD></TR>
							<TR><TD>drug</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/drug")</TD></TR>
							<TR><TD>examinerInRoom</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/examinerInRoom")</TD></TR>
							<TR><TD>durationHeadShoulders</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/durationHeadShoulders")</TD></TR>
							<TR><TD>durationFullBody</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/durationFullBody")</TD></TR>
							<TR><TD>rater</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/rater")</TD></TR>
							<TR><TD>eyes</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/eyes")</TD></TR>
							<TR><TD>nose</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/nose")</TD></TR>
							<TR><TD>mouth</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/mouth")</TD></TR>
							<TR><TD>neck</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/neck")</TD></TR>
							<TR><TD>shoulders</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/shoulders")</TD></TR>
							<TR><TD>arms</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/arms")</TD></TR>
							<TR><TD>hands</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/hands")</TD></TR>
							<TR><TD>trunk</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/trunk")</TD></TR>
							<TR><TD>pelvis</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/pelvis")</TD></TR>
							<TR><TD>legs</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/legs")</TD></TR>
							<TR><TD>feet</TD><TD>$!item.getBooleanProperty("cnda:ticVideoCountsData/feet")</TD></TR>
							<TR><TD>eyeCount</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/eyeCount")</TD></TR>
							<TR><TD>fnsCount</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/fnsCount")</TD></TR>
							<TR><TD>vocalizations</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/vocalizations")</TD></TR>
							<TR><TD>bodyCount</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/bodyCount")</TD></TR>
							<TR><TD>worstMotorSeverity</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/worstMotorSeverity")</TD></TR>
							<TR><TD>worstVocalSeverity</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/worstVocalSeverity")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:ticVideoCountsData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cnda:ticVideoCountsData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:ticVideoCountsData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:ticVideoCountsData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:ticVideoCountsData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:ticVideoCountsData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cnda:ticVideoCountsData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:ticVideoCountsData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cnda:ticVideoCountsData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:ticVideoCountsData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cnda:ticVideoCountsData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cnda:ticVideoCountsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:ticVideoCountsData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:ticVideoCountsData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:ticVideoCountsData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:ticVideoCountsData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
