<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">EXERCISE Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("ipip:exerciseData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("ipip:exerciseData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("ipip:exerciseData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("ipip:exerciseData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("ipip:exerciseData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("ipip:exerciseData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("ipip:exerciseData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("ipip:exerciseData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("ipip:exerciseData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("ipip:exerciseData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("ipip:exerciseData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("ipip:exerciseData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("ipip:exerciseData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("ipip:exerciseData/label" $item "" $vr)</TD></TR>
							<TR><TD>WALK</TD><TD>#xdatTextBox("ipip:exerciseData/WALK" $item "" $vr)</TD></TR>
							<TR><TD>JOG</TD><TD>#xdatTextBox("ipip:exerciseData/JOG" $item "" $vr)</TD></TR>
							<TR><TD>RUN</TD><TD>#xdatTextBox("ipip:exerciseData/RUN" $item "" $vr)</TD></TR>
							<TR><TD>BIKE</TD><TD>#xdatTextBox("ipip:exerciseData/BIKE" $item "" $vr)</TD></TR>
							<TR><TD>TENNIS</TD><TD>#xdatTextBox("ipip:exerciseData/TENNIS" $item "" $vr)</TD></TR>
							<TR><TD>SWIM</TD><TD>#xdatTextBox("ipip:exerciseData/SWIM" $item "" $vr)</TD></TR>
							<TR><TD>AEROBICS</TD><TD>#xdatTextBox("ipip:exerciseData/AEROBICS" $item "" $vr)</TD></TR>
							<TR><TD>LOWINT</TD><TD>#xdatTextBox("ipip:exerciseData/LOWINT" $item "" $vr)</TD></TR>
							<TR><TD>VIGOROUS</TD><TD>#xdatTextBox("ipip:exerciseData/VIGOROUS" $item "" $vr)</TD></TR>
							<TR><TD>WEIGHT</TD><TD>#xdatTextBox("ipip:exerciseData/WEIGHT" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ipip:exerciseData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ipip:exerciseData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:exerciseData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("ipip:exerciseData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ipip:exerciseData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ipip:exerciseData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ipip:exerciseData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:exerciseData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("ipip:exerciseData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("ipip:exerciseData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("ipip:exerciseData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("ipip:exerciseData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("ipip:exerciseData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ipip:exerciseData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ipip:exerciseData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ipip:exerciseData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ipip:exerciseData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:exerciseData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ipip:exerciseData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("ipip:exerciseData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ipip:exerciseData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ipip:exerciseData/fields/field -->
			</TABLE>
<!-- END ipip:exerciseData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
