<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("FEEDBACK Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>FEEDBACK Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:feedbackData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:feedbackData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("dian:feedbackData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("dian:feedbackData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("dian:feedbackData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:feedbackData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:feedbackData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("dian:feedbackData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:feedbackData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:feedbackData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("dian:feedbackData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("dian:feedbackData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:feedbackData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("dian:feedbackData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("dian:feedbackData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:feedbackData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("dian:feedbackData/label")</TD></TR>
							<TR><TD>AUTOPSY</TD><TD>$!item.getIntegerProperty("dian:feedbackData/AUTOPSY")</TD></TR>
							<TR><TD>DECISION</TD><TD>$!item.getIntegerProperty("dian:feedbackData/DECISION")</TD></TR>
							<TR><TD>REFUSE</TD><TD>$!item.getStringProperty("dian:feedbackData/REFUSE")</TD></TR>
							<TR><TD>REFUSEOTH</TD><TD>$!item.getStringProperty("dian:feedbackData/REFUSEOTH")</TD></TR>
							<TR><TD>CLINFEED</TD><TD>$!item.getIntegerProperty("dian:feedbackData/CLINFEED")</TD></TR>
							<TR><TD>PROVIDER</TD><TD>$!item.getStringProperty("dian:feedbackData/PROVIDER")</TD></TR>
							<TR><TD>PROVOTH</TD><TD>$!item.getStringProperty("dian:feedbackData/PROVOTH")</TD></TR>
							<TR><TD>PRESENT</TD><TD>$!item.getStringProperty("dian:feedbackData/PRESENT")</TD></TR>
							<TR><TD>PRESOTH</TD><TD>$!item.getStringProperty("dian:feedbackData/PRESOTH")</TD></TR>
							<TR><TD>FEEDTO</TD><TD>$!item.getStringProperty("dian:feedbackData/FEEDTO")</TD></TR>
							<TR><TD>TOOTHER</TD><TD>$!item.getStringProperty("dian:feedbackData/TOOTHER")</TD></TR>
							<TR><TD>TOPICS</TD><TD>$!item.getStringProperty("dian:feedbackData/TOPICS")</TD></TR>
							<TR><TD>MEDSPEC</TD><TD>$!item.getStringProperty("dian:feedbackData/MEDSPEC")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:feedbackData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:feedbackData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:feedbackData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:feedbackData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:feedbackData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:feedbackData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:feedbackData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:feedbackData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:feedbackData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:feedbackData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("dian:feedbackData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:feedbackData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:feedbackData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:feedbackData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:feedbackData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:feedbackData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:feedbackData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:feedbackData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:feedbackData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:feedbackData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:feedbackData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:feedbackData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
