<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("CVOE Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>CVOE Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cbat:CVOE/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cbat:CVOE/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cbat:CVOE/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cbat:CVOE/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cbat:CVOE/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cbat:CVOE/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cbat:CVOE/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cbat:CVOE/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cbat:CVOE/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cbat:CVOE/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cbat:CVOE/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cbat:CVOE/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cbat:CVOE/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cbat:CVOE/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cbat:CVOE/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cbat:CVOE/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:CVOE/label")</TD></TR>
							<TR><TD>CVT1/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT1/accuracy")</TD></TR>
							<TR><TD>CVT1/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT1/responseTime")</TD></TR>
							<TR><TD>CVT2/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT2/accuracy")</TD></TR>
							<TR><TD>CVT2/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT2/responseTime")</TD></TR>
							<TR><TD>CVT3/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT3/accuracy")</TD></TR>
							<TR><TD>CVT3/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT3/responseTime")</TD></TR>
							<TR><TD>CVT4/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT4/accuracy")</TD></TR>
							<TR><TD>CVT4/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT4/responseTime")</TD></TR>
							<TR><TD>CVT5/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT5/accuracy")</TD></TR>
							<TR><TD>CVT5/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT5/responseTime")</TD></TR>
							<TR><TD>CVT6/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT6/accuracy")</TD></TR>
							<TR><TD>CVT6/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT6/responseTime")</TD></TR>
							<TR><TD>CVT7/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT7/accuracy")</TD></TR>
							<TR><TD>CVT7/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT7/responseTime")</TD></TR>
							<TR><TD>CVT8/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT8/accuracy")</TD></TR>
							<TR><TD>CVT8/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT8/responseTime")</TD></TR>
							<TR><TD>CVT9/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT9/accuracy")</TD></TR>
							<TR><TD>CVT9/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT9/responseTime")</TD></TR>
							<TR><TD>CVT10/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT10/accuracy")</TD></TR>
							<TR><TD>CVT10/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT10/responseTime")</TD></TR>
							<TR><TD>CVT11/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT11/accuracy")</TD></TR>
							<TR><TD>CVT11/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT11/responseTime")</TD></TR>
							<TR><TD>CVT12/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT12/accuracy")</TD></TR>
							<TR><TD>CVT12/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT12/responseTime")</TD></TR>
							<TR><TD>CVT13/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT13/accuracy")</TD></TR>
							<TR><TD>CVT13/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT13/responseTime")</TD></TR>
							<TR><TD>CVT14/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT14/accuracy")</TD></TR>
							<TR><TD>CVT14/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT14/responseTime")</TD></TR>
							<TR><TD>CVT15/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT15/accuracy")</TD></TR>
							<TR><TD>CVT15/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT15/responseTime")</TD></TR>
							<TR><TD>CVT16/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT16/accuracy")</TD></TR>
							<TR><TD>CVT16/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT16/responseTime")</TD></TR>
							<TR><TD>CVT17/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT17/accuracy")</TD></TR>
							<TR><TD>CVT17/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT17/responseTime")</TD></TR>
							<TR><TD>CVT18/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT18/accuracy")</TD></TR>
							<TR><TD>CVT18/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT18/responseTime")</TD></TR>
							<TR><TD>CVT19/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT19/accuracy")</TD></TR>
							<TR><TD>CVT19/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT19/responseTime")</TD></TR>
							<TR><TD>CVT20/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT20/accuracy")</TD></TR>
							<TR><TD>CVT20/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT20/responseTime")</TD></TR>
							<TR><TD>CVT21/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT21/accuracy")</TD></TR>
							<TR><TD>CVT21/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT21/responseTime")</TD></TR>
							<TR><TD>CVT22/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT22/accuracy")</TD></TR>
							<TR><TD>CVT22/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT22/responseTime")</TD></TR>
							<TR><TD>CVT23/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT23/accuracy")</TD></TR>
							<TR><TD>CVT23/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT23/responseTime")</TD></TR>
							<TR><TD>CVT24/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT24/accuracy")</TD></TR>
							<TR><TD>CVT24/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT24/responseTime")</TD></TR>
							<TR><TD>CVT25/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT25/accuracy")</TD></TR>
							<TR><TD>CVT25/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT25/responseTime")</TD></TR>
							<TR><TD>CVT26/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT26/accuracy")</TD></TR>
							<TR><TD>CVT26/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT26/responseTime")</TD></TR>
							<TR><TD>CVT27/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT27/accuracy")</TD></TR>
							<TR><TD>CVT27/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT27/responseTime")</TD></TR>
							<TR><TD>CVT28/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT28/accuracy")</TD></TR>
							<TR><TD>CVT28/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT28/responseTime")</TD></TR>
							<TR><TD>CVT29/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT29/accuracy")</TD></TR>
							<TR><TD>CVT29/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT29/responseTime")</TD></TR>
							<TR><TD>CVT30/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT30/accuracy")</TD></TR>
							<TR><TD>CVT30/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT30/responseTime")</TD></TR>
							<TR><TD>CVT31/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT31/accuracy")</TD></TR>
							<TR><TD>CVT31/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT31/responseTime")</TD></TR>
							<TR><TD>CVT32/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT32/accuracy")</TD></TR>
							<TR><TD>CVT32/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT32/responseTime")</TD></TR>
							<TR><TD>CVT33/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT33/accuracy")</TD></TR>
							<TR><TD>CVT33/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT33/responseTime")</TD></TR>
							<TR><TD>CVT34/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT34/accuracy")</TD></TR>
							<TR><TD>CVT34/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT34/responseTime")</TD></TR>
							<TR><TD>CVT35/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT35/accuracy")</TD></TR>
							<TR><TD>CVT35/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT35/responseTime")</TD></TR>
							<TR><TD>CVT36/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT36/accuracy")</TD></TR>
							<TR><TD>CVT36/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT36/responseTime")</TD></TR>
							<TR><TD>CVT37/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT37/accuracy")</TD></TR>
							<TR><TD>CVT37/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT37/responseTime")</TD></TR>
							<TR><TD>CVT38/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT38/accuracy")</TD></TR>
							<TR><TD>CVT38/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT38/responseTime")</TD></TR>
							<TR><TD>CVT39/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT39/accuracy")</TD></TR>
							<TR><TD>CVT39/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT39/responseTime")</TD></TR>
							<TR><TD>CVT40/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT40/accuracy")</TD></TR>
							<TR><TD>CVT40/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVT40/responseTime")</TD></TR>
							<TR><TD>OET1/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET1/accuracy")</TD></TR>
							<TR><TD>OET1/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET1/responseTime")</TD></TR>
							<TR><TD>OET2/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET2/accuracy")</TD></TR>
							<TR><TD>OET2/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET2/responseTime")</TD></TR>
							<TR><TD>OET3/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET3/accuracy")</TD></TR>
							<TR><TD>OET3/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET3/responseTime")</TD></TR>
							<TR><TD>OET4/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET4/accuracy")</TD></TR>
							<TR><TD>OET4/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET4/responseTime")</TD></TR>
							<TR><TD>OET5/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET5/accuracy")</TD></TR>
							<TR><TD>OET5/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET5/responseTime")</TD></TR>
							<TR><TD>OET6/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET6/accuracy")</TD></TR>
							<TR><TD>OET6/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET6/responseTime")</TD></TR>
							<TR><TD>OET7/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET7/accuracy")</TD></TR>
							<TR><TD>OET7/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET7/responseTime")</TD></TR>
							<TR><TD>OET8/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET8/accuracy")</TD></TR>
							<TR><TD>OET8/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET8/responseTime")</TD></TR>
							<TR><TD>OET9/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET9/accuracy")</TD></TR>
							<TR><TD>OET9/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET9/responseTime")</TD></TR>
							<TR><TD>OET10/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET10/accuracy")</TD></TR>
							<TR><TD>OET10/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET10/responseTime")</TD></TR>
							<TR><TD>OET11/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET11/accuracy")</TD></TR>
							<TR><TD>OET11/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET11/responseTime")</TD></TR>
							<TR><TD>OET12/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET12/accuracy")</TD></TR>
							<TR><TD>OET12/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET12/responseTime")</TD></TR>
							<TR><TD>OET13/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET13/accuracy")</TD></TR>
							<TR><TD>OET13/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET13/responseTime")</TD></TR>
							<TR><TD>OET14/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET14/accuracy")</TD></TR>
							<TR><TD>OET14/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET14/responseTime")</TD></TR>
							<TR><TD>OET15/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET15/accuracy")</TD></TR>
							<TR><TD>OET15/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET15/responseTime")</TD></TR>
							<TR><TD>OET16/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET16/accuracy")</TD></TR>
							<TR><TD>OET16/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET16/responseTime")</TD></TR>
							<TR><TD>OET17/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET17/accuracy")</TD></TR>
							<TR><TD>OET17/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET17/responseTime")</TD></TR>
							<TR><TD>OET18/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET18/accuracy")</TD></TR>
							<TR><TD>OET18/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET18/responseTime")</TD></TR>
							<TR><TD>OET19/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET19/accuracy")</TD></TR>
							<TR><TD>OET19/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET19/responseTime")</TD></TR>
							<TR><TD>OET20/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET20/accuracy")</TD></TR>
							<TR><TD>OET20/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET20/responseTime")</TD></TR>
							<TR><TD>OET21/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET21/accuracy")</TD></TR>
							<TR><TD>OET21/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET21/responseTime")</TD></TR>
							<TR><TD>OET22/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET22/accuracy")</TD></TR>
							<TR><TD>OET22/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET22/responseTime")</TD></TR>
							<TR><TD>OET23/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET23/accuracy")</TD></TR>
							<TR><TD>OET23/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET23/responseTime")</TD></TR>
							<TR><TD>OET24/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET24/accuracy")</TD></TR>
							<TR><TD>OET24/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET24/responseTime")</TD></TR>
							<TR><TD>OET25/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET25/accuracy")</TD></TR>
							<TR><TD>OET25/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET25/responseTime")</TD></TR>
							<TR><TD>OET26/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET26/accuracy")</TD></TR>
							<TR><TD>OET26/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET26/responseTime")</TD></TR>
							<TR><TD>OET27/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET27/accuracy")</TD></TR>
							<TR><TD>OET27/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET27/responseTime")</TD></TR>
							<TR><TD>OET28/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET28/accuracy")</TD></TR>
							<TR><TD>OET28/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET28/responseTime")</TD></TR>
							<TR><TD>OET29/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET29/accuracy")</TD></TR>
							<TR><TD>OET29/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET29/responseTime")</TD></TR>
							<TR><TD>OET30/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET30/accuracy")</TD></TR>
							<TR><TD>OET30/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET30/responseTime")</TD></TR>
							<TR><TD>OET31/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET31/accuracy")</TD></TR>
							<TR><TD>OET31/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET31/responseTime")</TD></TR>
							<TR><TD>OET32/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET32/accuracy")</TD></TR>
							<TR><TD>OET32/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET32/responseTime")</TD></TR>
							<TR><TD>OET33/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET33/accuracy")</TD></TR>
							<TR><TD>OET33/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET33/responseTime")</TD></TR>
							<TR><TD>OET34/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET34/accuracy")</TD></TR>
							<TR><TD>OET34/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET34/responseTime")</TD></TR>
							<TR><TD>OET35/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET35/accuracy")</TD></TR>
							<TR><TD>OET35/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET35/responseTime")</TD></TR>
							<TR><TD>OET36/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET36/accuracy")</TD></TR>
							<TR><TD>OET36/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET36/responseTime")</TD></TR>
							<TR><TD>OET37/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET37/accuracy")</TD></TR>
							<TR><TD>OET37/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET37/responseTime")</TD></TR>
							<TR><TD>OET38/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET38/accuracy")</TD></TR>
							<TR><TD>OET38/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET38/responseTime")</TD></TR>
							<TR><TD>OET39/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET39/accuracy")</TD></TR>
							<TR><TD>OET39/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET39/responseTime")</TD></TR>
							<TR><TD>OET40/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET40/accuracy")</TD></TR>
							<TR><TD>OET40/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/OET40/responseTime")</TD></TR>
							<TR><TD>CVOET1/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET1/accuracy")</TD></TR>
							<TR><TD>CVOET1/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET1/responseTime")</TD></TR>
							<TR><TD>CVOET2/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET2/accuracy")</TD></TR>
							<TR><TD>CVOET2/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET2/responseTime")</TD></TR>
							<TR><TD>CVOET3/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET3/accuracy")</TD></TR>
							<TR><TD>CVOET3/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET3/responseTime")</TD></TR>
							<TR><TD>CVOET4/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET4/accuracy")</TD></TR>
							<TR><TD>CVOET4/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET4/responseTime")</TD></TR>
							<TR><TD>CVOET5/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET5/accuracy")</TD></TR>
							<TR><TD>CVOET5/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET5/responseTime")</TD></TR>
							<TR><TD>CVOET6/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET6/accuracy")</TD></TR>
							<TR><TD>CVOET6/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET6/responseTime")</TD></TR>
							<TR><TD>CVOET7/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET7/accuracy")</TD></TR>
							<TR><TD>CVOET7/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET7/responseTime")</TD></TR>
							<TR><TD>CVOET8/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET8/accuracy")</TD></TR>
							<TR><TD>CVOET8/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET8/responseTime")</TD></TR>
							<TR><TD>CVOET9/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET9/accuracy")</TD></TR>
							<TR><TD>CVOET9/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET9/responseTime")</TD></TR>
							<TR><TD>CVOET10/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET10/accuracy")</TD></TR>
							<TR><TD>CVOET10/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET10/responseTime")</TD></TR>
							<TR><TD>CVOET11/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET11/accuracy")</TD></TR>
							<TR><TD>CVOET11/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET11/responseTime")</TD></TR>
							<TR><TD>CVOET12/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET12/accuracy")</TD></TR>
							<TR><TD>CVOET12/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET12/responseTime")</TD></TR>
							<TR><TD>CVOET13/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET13/accuracy")</TD></TR>
							<TR><TD>CVOET13/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET13/responseTime")</TD></TR>
							<TR><TD>CVOET14/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET14/accuracy")</TD></TR>
							<TR><TD>CVOET14/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET14/responseTime")</TD></TR>
							<TR><TD>CVOET15/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET15/accuracy")</TD></TR>
							<TR><TD>CVOET15/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET15/responseTime")</TD></TR>
							<TR><TD>CVOET16/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET16/accuracy")</TD></TR>
							<TR><TD>CVOET16/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET16/responseTime")</TD></TR>
							<TR><TD>CVOET17/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET17/accuracy")</TD></TR>
							<TR><TD>CVOET17/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET17/responseTime")</TD></TR>
							<TR><TD>CVOET18/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET18/accuracy")</TD></TR>
							<TR><TD>CVOET18/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET18/responseTime")</TD></TR>
							<TR><TD>CVOET19/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET19/accuracy")</TD></TR>
							<TR><TD>CVOET19/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET19/responseTime")</TD></TR>
							<TR><TD>CVOET20/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET20/accuracy")</TD></TR>
							<TR><TD>CVOET20/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET20/responseTime")</TD></TR>
							<TR><TD>CVOET21/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET21/accuracy")</TD></TR>
							<TR><TD>CVOET21/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET21/responseTime")</TD></TR>
							<TR><TD>CVOET22/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET22/accuracy")</TD></TR>
							<TR><TD>CVOET22/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET22/responseTime")</TD></TR>
							<TR><TD>CVOET23/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET23/accuracy")</TD></TR>
							<TR><TD>CVOET23/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET23/responseTime")</TD></TR>
							<TR><TD>CVOET24/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET24/accuracy")</TD></TR>
							<TR><TD>CVOET24/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET24/responseTime")</TD></TR>
							<TR><TD>CVOET25/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET25/accuracy")</TD></TR>
							<TR><TD>CVOET25/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET25/responseTime")</TD></TR>
							<TR><TD>CVOET26/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET26/accuracy")</TD></TR>
							<TR><TD>CVOET26/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET26/responseTime")</TD></TR>
							<TR><TD>CVOET27/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET27/accuracy")</TD></TR>
							<TR><TD>CVOET27/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET27/responseTime")</TD></TR>
							<TR><TD>CVOET28/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET28/accuracy")</TD></TR>
							<TR><TD>CVOET28/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET28/responseTime")</TD></TR>
							<TR><TD>CVOET29/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET29/accuracy")</TD></TR>
							<TR><TD>CVOET29/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET29/responseTime")</TD></TR>
							<TR><TD>CVOET30/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET30/accuracy")</TD></TR>
							<TR><TD>CVOET30/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET30/responseTime")</TD></TR>
							<TR><TD>CVOET31/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET31/accuracy")</TD></TR>
							<TR><TD>CVOET31/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET31/responseTime")</TD></TR>
							<TR><TD>CVOET32/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET32/accuracy")</TD></TR>
							<TR><TD>CVOET32/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET32/responseTime")</TD></TR>
							<TR><TD>CVOET33/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET33/accuracy")</TD></TR>
							<TR><TD>CVOET33/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET33/responseTime")</TD></TR>
							<TR><TD>CVOET34/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET34/accuracy")</TD></TR>
							<TR><TD>CVOET34/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET34/responseTime")</TD></TR>
							<TR><TD>CVOET35/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET35/accuracy")</TD></TR>
							<TR><TD>CVOET35/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET35/responseTime")</TD></TR>
							<TR><TD>CVOET36/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET36/accuracy")</TD></TR>
							<TR><TD>CVOET36/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET36/responseTime")</TD></TR>
							<TR><TD>CVOET37/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET37/accuracy")</TD></TR>
							<TR><TD>CVOET37/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET37/responseTime")</TD></TR>
							<TR><TD>CVOET38/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET38/accuracy")</TD></TR>
							<TR><TD>CVOET38/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET38/responseTime")</TD></TR>
							<TR><TD>CVOET39/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET39/accuracy")</TD></TR>
							<TR><TD>CVOET39/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET39/responseTime")</TD></TR>
							<TR><TD>CVOET40/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET40/accuracy")</TD></TR>
							<TR><TD>CVOET40/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET40/responseTime")</TD></TR>
							<TR><TD>CVOET41/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET41/accuracy")</TD></TR>
							<TR><TD>CVOET41/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET41/responseTime")</TD></TR>
							<TR><TD>CVOET42/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET42/accuracy")</TD></TR>
							<TR><TD>CVOET42/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET42/responseTime")</TD></TR>
							<TR><TD>CVOET43/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET43/accuracy")</TD></TR>
							<TR><TD>CVOET43/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET43/responseTime")</TD></TR>
							<TR><TD>CVOET44/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET44/accuracy")</TD></TR>
							<TR><TD>CVOET44/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET44/responseTime")</TD></TR>
							<TR><TD>CVOET45/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET45/accuracy")</TD></TR>
							<TR><TD>CVOET45/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET45/responseTime")</TD></TR>
							<TR><TD>CVOET46/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET46/accuracy")</TD></TR>
							<TR><TD>CVOET46/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET46/responseTime")</TD></TR>
							<TR><TD>CVOET47/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET47/accuracy")</TD></TR>
							<TR><TD>CVOET47/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET47/responseTime")</TD></TR>
							<TR><TD>CVOET48/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET48/accuracy")</TD></TR>
							<TR><TD>CVOET48/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET48/responseTime")</TD></TR>
							<TR><TD>CVOET49/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET49/accuracy")</TD></TR>
							<TR><TD>CVOET49/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET49/responseTime")</TD></TR>
							<TR><TD>CVOET50/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET50/accuracy")</TD></TR>
							<TR><TD>CVOET50/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET50/responseTime")</TD></TR>
							<TR><TD>CVOET51/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET51/accuracy")</TD></TR>
							<TR><TD>CVOET51/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET51/responseTime")</TD></TR>
							<TR><TD>CVOET52/accuracy</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET52/accuracy")</TD></TR>
							<TR><TD>CVOET52/responseTime</TD><TD>$!item.getIntegerProperty("cbat:CVOE/CVOET52/responseTime")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cbat:CVOE -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cbat:CVOE/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:CVOE/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:CVOE/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cbat:CVOE/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:CVOE/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:CVOE/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cbat:CVOE/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cbat:CVOE/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cbat:CVOE/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cbat:CVOE/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cbat:CVOE/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:CVOE/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cbat:CVOE/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:CVOE/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cbat:CVOE/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cbat:CVOE/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:CVOE/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cbat:CVOE/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cbat:CVOE/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cbat:CVOE/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cbat:CVOE -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
