<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("MedicationTreatmentList Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>MedicationTreatmentList Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("tx:medTreatmentList/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("tx:medTreatmentList/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("tx:medTreatmentList/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("tx:medTreatmentList/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("tx:medTreatmentList/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("tx:medTreatmentList/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("tx:medTreatmentList/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("tx:medTreatmentList/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("tx:medTreatmentList/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("tx:medTreatmentList/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("tx:medTreatmentList/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("tx:medTreatmentList/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("tx:medTreatmentList/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("tx:medTreatmentList/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("tx:medTreatmentList/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("tx:medTreatmentList/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("tx:medTreatmentList/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN tx:medTreatmentList -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("tx:medTreatmentList/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:medTreatmentList/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:medTreatmentList/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("tx:medTreatmentList/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:medTreatmentList/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:medTreatmentList/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("tx:medTreatmentList/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("tx:medTreatmentList/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("tx:medTreatmentList/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("tx:medTreatmentList/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("tx:medTreatmentList/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:medTreatmentList/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("tx:medTreatmentList/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:medTreatmentList/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("tx:medTreatmentList/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN tx:medTreatmentList/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("tx:medTreatmentList/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("tx:medTreatmentList/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:medTreatmentList/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($tx_medTreatment_7_NUM_ROWS=$item.getChildItems("tx:medTreatmentList/medTreatments/medTreatment").size() - 1)
							#if($tx_medTreatment_7_NUM_ROWS>=0)
								#foreach($tx_medTreatment_7_COUNTER in [0..$tx_medTreatment_7_NUM_ROWS])
<!-- BEGIN tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>code</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/code")</TD></TR>
													<TR><TD>codeType</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/codeType")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/name")</TD></TR>
													<TR><TD>status</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/status")</TD></TR>
													<TR><TD>doseAmount</TD><TD>$!item.getDoubleProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/doseAmount")</TD></TR>
													<TR><TD>doseUnit</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/doseUnit")</TD></TR>
													<TR><TD>doseSchedule</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/doseSchedule")</TD></TR>
													<TR><TD>route</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/route")</TD></TR>
													<TR><TD>indication</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/indication")</TD></TR>
													<TR><TD>startDate</TD><TD>$!item.getProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/startDate")</TD></TR>
													<TR><TD>startDateDayNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/startDateDayNotReported")</TD></TR>
													<TR><TD>startDateMonthNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/startDateMonthNotReported")</TD></TR>
													<TR><TD>startDateYearNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/startDateYearNotReported")</TD></TR>
													<TR><TD>endDate</TD><TD>$!item.getProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/endDate")</TD></TR>
													<TR><TD>endDateDayNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/endDateDayNotReported")</TD></TR>
													<TR><TD>endDateMonthNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/endDateMonthNotReported")</TD></TR>
													<TR><TD>endDateYearNotReported</TD><TD>$!item.getBooleanProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/endDateYearNotReported")</TD></TR>
													<TR><TD>clinicalTrialName</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/clinicalTrialName")</TD></TR>
													<TR><TD>clinicalTrialArm</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/clinicalTrialArm")</TD></TR>
													<TR><TD>treatmentNotes</TD><TD>$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER]/treatmentNotes")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:medTreatmentList/medTreatments/medTreatment[$tx_medTreatment_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END tx:medTreatmentList -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
