<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ReadingSpan Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("cbat:readingSpan/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cbat:readingSpan/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cbat:readingSpan/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cbat:readingSpan/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cbat:readingSpan/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cbat:readingSpan/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cbat:readingSpan/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cbat:readingSpan/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cbat:readingSpan/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cbat:readingSpan/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cbat:readingSpan/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cbat:readingSpan/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cbat:readingSpan/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cbat:readingSpan/label" $item "" $vr)</TD></TR>
							<TR><TD>T1/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T1/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T1/response</TD><TD>#xdatStringBox("cbat:readingSpan/T1/response" $item "" $vr)</TD></TR>
							<TR><TD>T2/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T2/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T2/response</TD><TD>#xdatStringBox("cbat:readingSpan/T2/response" $item "" $vr)</TD></TR>
							<TR><TD>T3/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T3/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T3/response</TD><TD>#xdatStringBox("cbat:readingSpan/T3/response" $item "" $vr)</TD></TR>
							<TR><TD>T4/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T4/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T4/response</TD><TD>#xdatStringBox("cbat:readingSpan/T4/response" $item "" $vr)</TD></TR>
							<TR><TD>T5/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T5/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T5/response</TD><TD>#xdatStringBox("cbat:readingSpan/T5/response" $item "" $vr)</TD></TR>
							<TR><TD>T6/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T6/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T6/response</TD><TD>#xdatStringBox("cbat:readingSpan/T6/response" $item "" $vr)</TD></TR>
							<TR><TD>T7/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T7/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T7/response</TD><TD>#xdatStringBox("cbat:readingSpan/T7/response" $item "" $vr)</TD></TR>
							<TR><TD>T8/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T8/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T8/response</TD><TD>#xdatStringBox("cbat:readingSpan/T8/response" $item "" $vr)</TD></TR>
							<TR><TD>T9/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T9/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T9/response</TD><TD>#xdatStringBox("cbat:readingSpan/T9/response" $item "" $vr)</TD></TR>
							<TR><TD>T10/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T10/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T10/response</TD><TD>#xdatStringBox("cbat:readingSpan/T10/response" $item "" $vr)</TD></TR>
							<TR><TD>T11/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T11/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T11/response</TD><TD>#xdatStringBox("cbat:readingSpan/T11/response" $item "" $vr)</TD></TR>
							<TR><TD>T12/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T12/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T12/response</TD><TD>#xdatStringBox("cbat:readingSpan/T12/response" $item "" $vr)</TD></TR>
							<TR><TD>T13/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T13/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T13/response</TD><TD>#xdatStringBox("cbat:readingSpan/T13/response" $item "" $vr)</TD></TR>
							<TR><TD>T14/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T14/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T14/response</TD><TD>#xdatStringBox("cbat:readingSpan/T14/response" $item "" $vr)</TD></TR>
							<TR><TD>T15/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T15/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T15/response</TD><TD>#xdatStringBox("cbat:readingSpan/T15/response" $item "" $vr)</TD></TR>
							<TR><TD>T16/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T16/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T16/response</TD><TD>#xdatStringBox("cbat:readingSpan/T16/response" $item "" $vr)</TD></TR>
							<TR><TD>T17/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T17/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T17/response</TD><TD>#xdatStringBox("cbat:readingSpan/T17/response" $item "" $vr)</TD></TR>
							<TR><TD>T18/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T18/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T18/response</TD><TD>#xdatStringBox("cbat:readingSpan/T18/response" $item "" $vr)</TD></TR>
							<TR><TD>T19/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T19/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T19/response</TD><TD>#xdatStringBox("cbat:readingSpan/T19/response" $item "" $vr)</TD></TR>
							<TR><TD>T20/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T20/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T20/response</TD><TD>#xdatStringBox("cbat:readingSpan/T20/response" $item "" $vr)</TD></TR>
							<TR><TD>T21/accuracy</TD><TD>#xdatTextBox("cbat:readingSpan/T21/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>T21/response</TD><TD>#xdatStringBox("cbat:readingSpan/T21/response" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cbat:readingSpan -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:readingSpan/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:readingSpan/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cbat:readingSpan/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cbat:readingSpan/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:readingSpan/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:readingSpan/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:readingSpan/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cbat:readingSpan/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cbat:readingSpan/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cbat:readingSpan/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cbat:readingSpan/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cbat:readingSpan/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cbat:readingSpan/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:readingSpan/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cbat:readingSpan/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cbat:readingSpan/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:readingSpan/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cbat:readingSpan/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cbat:readingSpan/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cbat:readingSpan/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cbat:readingSpan/fields/field -->
			</TABLE>
<!-- END cbat:readingSpan -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
