<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("UsCardioAssessor Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>UsCardioAssessor Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("ghf:usCardioAssessor/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("ghf:usCardioAssessor/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("ghf:usCardioAssessor/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/label")</TD></TR>
							<TR><TD>seqStudyNumber</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/seqStudyNumber")</TD></TR>
							<TR><TD>analyzableEcho</TD><TD>$!item.getBooleanProperty("ghf:usCardioAssessor/analyzableEcho")</TD></TR>
							<TR><TD>image2dQuality</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/image2dQuality")</TD></TR>
							<TR><TD>imageDpQuality</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/imageDpQuality")</TD></TR>
							<TR><TD>dominantEchoRhythm</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/dominantEchoRhythm")</TD></TR>
							<TR><TD>heartrate</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/heartrate")</TD></TR>
							<TR><TD>lvotD1</TD><TD>$!item.getDoubleProperty("ghf:usCardioAssessor/lvotD1")</TD></TR>
							<TR><TD>lvidd</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/lvidd")</TD></TR>
							<TR><TD>ivs</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/ivs")</TD></TR>
							<TR><TD>pw</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/pw")</TD></TR>
							<TR><TD>alwt</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/alwt")</TD></TR>
							<TR><TD>lvids</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/lvids")</TD></TR>
							<TR><TD>lvedv</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/lvedv")</TD></TR>
							<TR><TD>lvesv</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/lvesv")</TD></TR>
							<TR><TD>v1</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/v1")</TD></TR>
							<TR><TD>lvotTvi</TD><TD>$!item.getDoubleProperty("ghf:usCardioAssessor/lvotTvi")</TD></TR>
							<TR><TD>valvStenosis/aortic</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvStenosis/aortic")</TD></TR>
							<TR><TD>valvStenosis/mitral</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvStenosis/mitral")</TD></TR>
							<TR><TD>valvStenosis/tricuspid</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvStenosis/tricuspid")</TD></TR>
							<TR><TD>valvStenosis/pulmonic</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvStenosis/pulmonic")</TD></TR>
							<TR><TD>valvRegurg/aortic</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvRegurg/aortic")</TD></TR>
							<TR><TD>valvRegurg/mitral</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvRegurg/mitral")</TD></TR>
							<TR><TD>valvRegurg/tricuspid</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvRegurg/tricuspid")</TD></TR>
							<TR><TD>valvRegurg/pulmonic</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/valvRegurg/pulmonic")</TD></TR>
							<TR><TD>tr</TD><TD>$!item.getDoubleProperty("ghf:usCardioAssessor/tr")</TD></TR>
							<TR><TD>e</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/e")</TD></TR>
							<TR><TD>a</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/a")</TD></TR>
							<TR><TD>mitralDt</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/mitralDt")</TD></TR>
							<TR><TD>eml</TD><TD>$!item.getDoubleProperty("ghf:usCardioAssessor/eml")</TD></TR>
							<TR><TD>ems</TD><TD>$!item.getDoubleProperty("ghf:usCardioAssessor/ems")</TD></TR>
							<TR><TD>primarySig</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/primarySig")</TD></TR>
							<TR><TD>secondarySig</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/secondarySig")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ghf:usCardioAssessor -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:usCardioAssessor/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END ghf:usCardioAssessor/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:usCardioAssessor/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:usCardioAssessor/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:usCardioAssessor/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:usCardioAssessor/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("ghf:usCardioAssessor/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:usCardioAssessor/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("ghf:usCardioAssessor/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN ghf:usCardioAssessor/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:usCardioAssessor/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("ghf:usCardioAssessor/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END ghf:usCardioAssessor/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END ghf:usCardioAssessor -->
		</TD>
	</TR>
</TABLE>
