<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADRCClinical Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("adrc:ADRCClinicalData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/label" $item "" $vr)</TD></TR>
							<TR><TD>mmse</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/mmse" $item "" $vr)</TD></TR>
							<TR><TD>ageAtEntry</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/ageAtEntry" $item "" $vr)</TD></TR>
							<TR><TD>cdr</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/cdr" $item "" $vr)</TD></TR>
							<TR><TD>commun</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/commun" $item "" $vr)</TD></TR>
							<TR><TD>dx1</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx1" $item "" $vr)</TD></TR>
							<TR><TD>dx2</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx2" $item "" $vr)</TD></TR>
							<TR><TD>dx3</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx3" $item "" $vr)</TD></TR>
							<TR><TD>dx4</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx4" $item "" $vr)</TD></TR>
							<TR><TD>dx5</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/dx5" $item "" $vr)</TD></TR>
							<TR><TD>homehobb</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/homehobb" $item "" $vr)</TD></TR>
							<TR><TD>judgment</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/judgment" $item "" $vr)</TD></TR>
							<TR><TD>memory</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/memory" $item "" $vr)</TD></TR>
							<TR><TD>orient</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/orient" $item "" $vr)</TD></TR>
							<TR><TD>perscare</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/perscare" $item "" $vr)</TD></TR>
							<TR><TD>apoe</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/apoe" $item "" $vr)</TD></TR>
							<TR><TD>sumbox</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/sumbox" $item "" $vr)</TD></TR>
							<TR><TD>acsparnt</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/acsparnt" $item "" $vr)</TD></TR>
							<TR><TD>height</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/height" $item "" $vr)</TD></TR>
							<TR><TD>weight</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/weight" $item "" $vr)</TD></TR>
							<TR><TD>primStudy</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/primStudy" $item "" $vr)</TD></TR>
							<TR><TD>acsStudy</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/acsStudy" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN adrc:ADRCClinicalData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adrc:ADRCClinicalData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("adrc:ADRCClinicalData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adrc:ADRCClinicalData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adrc:ADRCClinicalData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("adrc:ADRCClinicalData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("adrc:ADRCClinicalData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adrc:ADRCClinicalData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END adrc:ADRCClinicalData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN adrc:ADRCClinicalData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adrc:ADRCClinicalData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("adrc:ADRCClinicalData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END adrc:ADRCClinicalData/fields/field -->
			</TABLE>
<!-- END adrc:ADRCClinicalData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
