<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("PSYBAT Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>PSYBAT Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:psybatData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:psybatData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("dian:psybatData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("dian:psybatData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("dian:psybatData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:psybatData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:psybatData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("dian:psybatData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:psybatData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:psybatData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("dian:psybatData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("dian:psybatData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:psybatData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("dian:psybatData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("dian:psybatData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:psybatData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("dian:psybatData/label")</TD></TR>
							<TR><TD>INITIALS</TD><TD>$!item.getStringProperty("dian:psybatData/INITIALS")</TD></TR>
							<TR><TD>LETTERF</TD><TD>$!item.getIntegerProperty("dian:psybatData/LETTERF")</TD></TR>
							<TR><TD>LETTERA</TD><TD>$!item.getIntegerProperty("dian:psybatData/LETTERA")</TD></TR>
							<TR><TD>LETTERS</TD><TD>$!item.getIntegerProperty("dian:psybatData/LETTERS")</TD></TR>
							<TR><TD>WRLIST</TD><TD>$!item.getIntegerProperty("dian:psybatData/WRLIST")</TD></TR>
							<TR><TD>WRIMMED</TD><TD>$!item.getIntegerProperty("dian:psybatData/WRIMMED")</TD></TR>
							<TR><TD>MMSETOT</TD><TD>$!item.getIntegerProperty("dian:psybatData/MMSETOT")</TD></TR>
							<TR><TD>LOGMEMIM</TD><TD>$!item.getIntegerProperty("dian:psybatData/LOGMEMIM")</TD></TR>
							<TR><TD>DSPFWD</TD><TD>$!item.getIntegerProperty("dian:psybatData/DSPFWD")</TD></TR>
							<TR><TD>DSPFWDL</TD><TD>$!item.getIntegerProperty("dian:psybatData/DSPFWDL")</TD></TR>
							<TR><TD>DSPBACK</TD><TD>$!item.getIntegerProperty("dian:psybatData/DSPBACK")</TD></TR>
							<TR><TD>DSPBACKL</TD><TD>$!item.getIntegerProperty("dian:psybatData/DSPBACKL")</TD></TR>
							<TR><TD>CATANIM</TD><TD>$!item.getIntegerProperty("dian:psybatData/CATANIM")</TD></TR>
							<TR><TD>CATVEG</TD><TD>$!item.getIntegerProperty("dian:psybatData/CATVEG")</TD></TR>
							<TR><TD>TRATIME</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRATIME")</TD></TR>
							<TR><TD>TRAERRC</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRAERRC")</TD></TR>
							<TR><TD>TRALINES</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRALINES")</TD></TR>
							<TR><TD>TRBTIME</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRBTIME")</TD></TR>
							<TR><TD>TRBERRC</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRBERRC")</TD></TR>
							<TR><TD>TRBLINES</TD><TD>$!item.getIntegerProperty("dian:psybatData/TRBLINES")</TD></TR>
							<TR><TD>DIGSYMB</TD><TD>$!item.getIntegerProperty("dian:psybatData/DIGSYMB")</TD></TR>
							<TR><TD>LOGMEMDL</TD><TD>$!item.getIntegerProperty("dian:psybatData/LOGMEMDL")</TD></TR>
							<TR><TD>BNTTOT</TD><TD>$!item.getIntegerProperty("dian:psybatData/BNTTOT")</TD></TR>
							<TR><TD>WRDELAY</TD><TD>$!item.getIntegerProperty("dian:psybatData/WRDELAY")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:psybatData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:psybatData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:psybatData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:psybatData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:psybatData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:psybatData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:psybatData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:psybatData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:psybatData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:psybatData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("dian:psybatData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:psybatData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:psybatData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:psybatData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:psybatData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:psybatData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:psybatData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:psybatData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:psybatData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:psybatData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:psybatData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:psybatData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
