<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Categorization Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("cbat:categorization/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("cbat:categorization/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("cbat:categorization/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("cbat:categorization/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("cbat:categorization/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("cbat:categorization/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("cbat:categorization/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("cbat:categorization/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("cbat:categorization/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("cbat:categorization/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("cbat:categorization/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("cbat:categorization/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("cbat:categorization/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("cbat:categorization/label" $item "" $vr)</TD></TR>
							<TR><TD>YesT1/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT1/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT1/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT1/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT2/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT2/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT2/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT2/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT3/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT3/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT3/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT3/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT4/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT4/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT4/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT4/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT5/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT5/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT5/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT5/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT6/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT6/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT6/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT6/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT7/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT7/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT7/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT7/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT8/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT8/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT8/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT8/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT9/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT9/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT9/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT9/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT10/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT10/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT10/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT10/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT11/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT11/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT11/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT11/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT12/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT12/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT12/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT12/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT13/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT13/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT13/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT13/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT14/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT14/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT14/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT14/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT15/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT15/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT15/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT15/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT16/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT16/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT16/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT16/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT17/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT17/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT17/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT17/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT18/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT18/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT18/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT18/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT19/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT19/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT19/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT19/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT20/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT20/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT20/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT20/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT21/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT21/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT21/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT21/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT22/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT22/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT22/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT22/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT23/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT23/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT23/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT23/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT24/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT24/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT24/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT24/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT25/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT25/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT25/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT25/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT26/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT26/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT26/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT26/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT27/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT27/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT27/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT27/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT28/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT28/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT28/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT28/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT29/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT29/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT29/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT29/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT30/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT30/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT30/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT30/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT31/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT31/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT31/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT31/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT32/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT32/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT32/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT32/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT33/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT33/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT33/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT33/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT34/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT34/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT34/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT34/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT35/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT35/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT35/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT35/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT36/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT36/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT36/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT36/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT37/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT37/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT37/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT37/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT38/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT38/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT38/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT38/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT39/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT39/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT39/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT39/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT40/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT40/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT40/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT40/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT41/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT41/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT41/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT41/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT42/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT42/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT42/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT42/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT43/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT43/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT43/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT43/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT44/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT44/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT44/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT44/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT45/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT45/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT45/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT45/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT46/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT46/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT46/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT46/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT47/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT47/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT47/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT47/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT48/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT48/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT48/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT48/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT49/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT49/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT49/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT49/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT50/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT50/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT50/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT50/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT51/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT51/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT51/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT51/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT52/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT52/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT52/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT52/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT53/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT53/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT53/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT53/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT54/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT54/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT54/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT54/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT55/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT55/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT55/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT55/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT56/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT56/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT56/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT56/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT57/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT57/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT57/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT57/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT58/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT58/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT58/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT58/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT59/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT59/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT59/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT59/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT60/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT60/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT60/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT60/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT61/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT61/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT61/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT61/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT62/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT62/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT62/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT62/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT63/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT63/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT63/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT63/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT64/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT64/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT64/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT64/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT65/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT65/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT65/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT65/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT66/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT66/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT66/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT66/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT67/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT67/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT67/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT67/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT68/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT68/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT68/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT68/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT69/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT69/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT69/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT69/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT70/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT70/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT70/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT70/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT71/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT71/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT71/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT71/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT72/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT72/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT72/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT72/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT73/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT73/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT73/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT73/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT74/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT74/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT74/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT74/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT75/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT75/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT75/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT75/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT76/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT76/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT76/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT76/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT77/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT77/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT77/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT77/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT78/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT78/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT78/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT78/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT79/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT79/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT79/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT79/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>YesT80/accuracy</TD><TD>#xdatTextBox("cbat:categorization/YesT80/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>YesT80/responseTime</TD><TD>#xdatTextBox("cbat:categorization/YesT80/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT1/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT1/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT1/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT1/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT2/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT2/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT2/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT2/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT3/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT3/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT3/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT3/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT4/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT4/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT4/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT4/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT5/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT5/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT5/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT5/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT6/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT6/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT6/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT6/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT7/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT7/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT7/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT7/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT8/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT8/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT8/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT8/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT9/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT9/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT9/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT9/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT10/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT10/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT10/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT10/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT11/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT11/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT11/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT11/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT12/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT12/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT12/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT12/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT13/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT13/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT13/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT13/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT14/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT14/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT14/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT14/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT15/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT15/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT15/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT15/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT16/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT16/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT16/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT16/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT17/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT17/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT17/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT17/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT18/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT18/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT18/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT18/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT19/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT19/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT19/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT19/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT20/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT20/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT20/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT20/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT21/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT21/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT21/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT21/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT22/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT22/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT22/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT22/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT23/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT23/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT23/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT23/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT24/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT24/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT24/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT24/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT25/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT25/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT25/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT25/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT26/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT26/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT26/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT26/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT27/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT27/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT27/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT27/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT28/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT28/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT28/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT28/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT29/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT29/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT29/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT29/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT30/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT30/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT30/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT30/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT31/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT31/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT31/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT31/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT32/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT32/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT32/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT32/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT33/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT33/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT33/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT33/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT34/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT34/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT34/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT34/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT35/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT35/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT35/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT35/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT36/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT36/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT36/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT36/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT37/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT37/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT37/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT37/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT38/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT38/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT38/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT38/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT39/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT39/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT39/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT39/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT40/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT40/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT40/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT40/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT41/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT41/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT41/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT41/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT42/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT42/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT42/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT42/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT43/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT43/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT43/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT43/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT44/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT44/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT44/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT44/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT45/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT45/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT45/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT45/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT46/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT46/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT46/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT46/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT47/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT47/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT47/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT47/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT48/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT48/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT48/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT48/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT49/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT49/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT49/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT49/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT50/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT50/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT50/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT50/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT51/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT51/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT51/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT51/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT52/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT52/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT52/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT52/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT53/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT53/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT53/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT53/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT54/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT54/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT54/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT54/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT55/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT55/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT55/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT55/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT56/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT56/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT56/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT56/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT57/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT57/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT57/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT57/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT58/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT58/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT58/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT58/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT59/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT59/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT59/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT59/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT60/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT60/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT60/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT60/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT61/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT61/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT61/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT61/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT62/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT62/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT62/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT62/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT63/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT63/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT63/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT63/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT64/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT64/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT64/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT64/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT65/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT65/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT65/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT65/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT66/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT66/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT66/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT66/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT67/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT67/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT67/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT67/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT68/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT68/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT68/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT68/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT69/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT69/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT69/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT69/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT70/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT70/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT70/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT70/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT71/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT71/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT71/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT71/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT72/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT72/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT72/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT72/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT73/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT73/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT73/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT73/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT74/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT74/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT74/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT74/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT75/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT75/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT75/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT75/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT76/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT76/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT76/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT76/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT77/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT77/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT77/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT77/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT78/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT78/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT78/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT78/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT79/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT79/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT79/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT79/responseTime" $item "" $vr)</TD></TR>
							<TR><TD>NoT80/accuracy</TD><TD>#xdatTextBox("cbat:categorization/NoT80/accuracy" $item "" $vr)</TD></TR>
							<TR><TD>NoT80/responseTime</TD><TD>#xdatTextBox("cbat:categorization/NoT80/responseTime" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cbat:categorization -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:categorization/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:categorization/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("cbat:categorization/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("cbat:categorization/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("cbat:categorization/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("cbat:categorization/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("cbat:categorization/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("cbat:categorization/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("cbat:categorization/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("cbat:categorization/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cbat:categorization/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:categorization/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cbat:categorization/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:categorization/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("cbat:categorization/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("cbat:categorization/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("cbat:categorization/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("cbat:categorization/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("cbat:categorization/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("cbat:categorization/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cbat:categorization/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END cbat:categorization/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN cbat:categorization/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cbat:categorization/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("cbat:categorization/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("cbat:categorization/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("cbat:categorization/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END cbat:categorization/fields/field -->
			</TABLE>
<!-- END cbat:categorization -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
