<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("A3SBFMHST Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>A3SBFMHST Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("uds:a3sbfmhstData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("uds:a3sbfmhstData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("uds:a3sbfmhstData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("uds:a3sbfmhstData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/label")</TD></TR>
							<TR><TD>EXAMDATE</TD><TD>$!item.getProperty("uds:a3sbfmhstData/EXAMDATE")</TD></TR>
							<TR><TD>A3CHG</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/A3CHG")</TD></TR>
							<TR><TD>PARCHG</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/PARCHG")</TD></TR>
							<TR><TD>FAMILYID</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/FAMILYID")</TD></TR>
							<TR><TD>GMOMID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/GMOMID")</TD></TR>
							<TR><TD>GMOMYOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GMOMYOB")</TD></TR>
							<TR><TD>GMOMLIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GMOMLIV")</TD></TR>
							<TR><TD>GMOMYOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GMOMYOD")</TD></TR>
							<TR><TD>GMOMDEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GMOMDEM")</TD></TR>
							<TR><TD>GMOMONSET</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/GMOMONSET")</TD></TR>
							<TR><TD>GMOMAUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GMOMAUTO")</TD></TR>
							<TR><TD>GDADID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/GDADID")</TD></TR>
							<TR><TD>GDADYOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GDADYOB")</TD></TR>
							<TR><TD>GDADLIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GDADLIV")</TD></TR>
							<TR><TD>GDADYOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GDADYOD")</TD></TR>
							<TR><TD>GDADDEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GDADDEM")</TD></TR>
							<TR><TD>GDADONSET</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/GDADONSET")</TD></TR>
							<TR><TD>GDADAUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/GDADAUTO")</TD></TR>
							<TR><TD>MOMID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/MOMID")</TD></TR>
							<TR><TD>MOMYOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/MOMYOB")</TD></TR>
							<TR><TD>MOMLIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/MOMLIV")</TD></TR>
							<TR><TD>MOMYOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/MOMYOD")</TD></TR>
							<TR><TD>MOMDEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/MOMDEM")</TD></TR>
							<TR><TD>MOMONSET</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/MOMONSET")</TD></TR>
							<TR><TD>MOMAUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/MOMAUTO")</TD></TR>
							<TR><TD>DADID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/DADID")</TD></TR>
							<TR><TD>DADYOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/DADYOB")</TD></TR>
							<TR><TD>DADLIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/DADLIV")</TD></TR>
							<TR><TD>DADYOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/DADYOD")</TD></TR>
							<TR><TD>DADDEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/DADDEM")</TD></TR>
							<TR><TD>DADONSET</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/DADONSET")</TD></TR>
							<TR><TD>DADAUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/DADAUTO")</TD></TR>
							<TR><TD>SIBCHG</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIBCHG")</TD></TR>
							<TR><TD>TWIN</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/TWIN")</TD></TR>
							<TR><TD>TWINTYPE</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/TWINTYPE")</TD></TR>
							<TR><TD>SIBS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIBS")</TD></TR>
							<TR><TD>SIB1ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB1ID")</TD></TR>
							<TR><TD>SIB1YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1YOB")</TD></TR>
							<TR><TD>SIB1LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1LIV")</TD></TR>
							<TR><TD>SIB1YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1YOD")</TD></TR>
							<TR><TD>SIB1DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1DEM")</TD></TR>
							<TR><TD>SIB1ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1ONS")</TD></TR>
							<TR><TD>SIB1AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1AUTO")</TD></TR>
							<TR><TD>SIB1SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB1SEX")</TD></TR>
							<TR><TD>SIB2ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB2ID")</TD></TR>
							<TR><TD>SIB2YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2YOB")</TD></TR>
							<TR><TD>SIB2LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2LIV")</TD></TR>
							<TR><TD>SIB2YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2YOD")</TD></TR>
							<TR><TD>SIB2DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2DEM")</TD></TR>
							<TR><TD>SIB2ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2ONS")</TD></TR>
							<TR><TD>SIB2AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2AUTO")</TD></TR>
							<TR><TD>SIB2SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB2SEX")</TD></TR>
							<TR><TD>SIB3ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB3ID")</TD></TR>
							<TR><TD>SIB3YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3YOB")</TD></TR>
							<TR><TD>SIB3LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3LIV")</TD></TR>
							<TR><TD>SIB3YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3YOD")</TD></TR>
							<TR><TD>SIB3DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3DEM")</TD></TR>
							<TR><TD>SIB3ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3ONS")</TD></TR>
							<TR><TD>SIB3AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3AUTO")</TD></TR>
							<TR><TD>SIB3SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB3SEX")</TD></TR>
							<TR><TD>SIB4ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB4ID")</TD></TR>
							<TR><TD>SIB4YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4YOB")</TD></TR>
							<TR><TD>SIB4LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4LIV")</TD></TR>
							<TR><TD>SIB4YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4YOD")</TD></TR>
							<TR><TD>SIB4DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4DEM")</TD></TR>
							<TR><TD>SIB4ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4ONS")</TD></TR>
							<TR><TD>SIB4AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4AUTO")</TD></TR>
							<TR><TD>SIB4SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB4SEX")</TD></TR>
							<TR><TD>SIB5ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB5ID")</TD></TR>
							<TR><TD>SIB5YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5YOB")</TD></TR>
							<TR><TD>SIB5LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5LIV")</TD></TR>
							<TR><TD>SIB5YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5YOD")</TD></TR>
							<TR><TD>SIB5DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5DEM")</TD></TR>
							<TR><TD>SIB5ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5ONS")</TD></TR>
							<TR><TD>SIB5AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5AUTO")</TD></TR>
							<TR><TD>SIB5SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB5SEX")</TD></TR>
							<TR><TD>SIB6ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB6ID")</TD></TR>
							<TR><TD>SIB6YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6YOB")</TD></TR>
							<TR><TD>SIB6LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6LIV")</TD></TR>
							<TR><TD>SIB6YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6YOD")</TD></TR>
							<TR><TD>SIB6DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6DEM")</TD></TR>
							<TR><TD>SIB6ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6ONS")</TD></TR>
							<TR><TD>SIB6AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6AUTO")</TD></TR>
							<TR><TD>SIB6SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB6SEX")</TD></TR>
							<TR><TD>SIB7ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB7ID")</TD></TR>
							<TR><TD>SIB7YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7YOB")</TD></TR>
							<TR><TD>SIB7LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7LIV")</TD></TR>
							<TR><TD>SIB7YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7YOD")</TD></TR>
							<TR><TD>SIB7DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7DEM")</TD></TR>
							<TR><TD>SIB7ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7ONS")</TD></TR>
							<TR><TD>SIB7AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7AUTO")</TD></TR>
							<TR><TD>SIB7SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB7SEX")</TD></TR>
							<TR><TD>SIB8ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB8ID")</TD></TR>
							<TR><TD>SIB8YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8YOB")</TD></TR>
							<TR><TD>SIB8LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8LIV")</TD></TR>
							<TR><TD>SIB8YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8YOD")</TD></TR>
							<TR><TD>SIB8DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8DEM")</TD></TR>
							<TR><TD>SIB8ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8ONS")</TD></TR>
							<TR><TD>SIB8AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8AUTO")</TD></TR>
							<TR><TD>SIB8SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB8SEX")</TD></TR>
							<TR><TD>SIB9ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB9ID")</TD></TR>
							<TR><TD>SIB9YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9YOB")</TD></TR>
							<TR><TD>SIB9LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9LIV")</TD></TR>
							<TR><TD>SIB9YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9YOD")</TD></TR>
							<TR><TD>SIB9DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9DEM")</TD></TR>
							<TR><TD>SIB9ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9ONS")</TD></TR>
							<TR><TD>SIB9AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9AUTO")</TD></TR>
							<TR><TD>SIB9SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB9SEX")</TD></TR>
							<TR><TD>SIB10ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB10ID")</TD></TR>
							<TR><TD>SIB10YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10YOB")</TD></TR>
							<TR><TD>SIB10LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10LIV")</TD></TR>
							<TR><TD>SIB10YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10YOD")</TD></TR>
							<TR><TD>SIB10DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10DEM")</TD></TR>
							<TR><TD>SIB10ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10ONS")</TD></TR>
							<TR><TD>SIB10AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10AUTO")</TD></TR>
							<TR><TD>SIB10SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB10SEX")</TD></TR>
							<TR><TD>SIB11ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB11ID")</TD></TR>
							<TR><TD>SIB11YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11YOB")</TD></TR>
							<TR><TD>SIB11LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11LIV")</TD></TR>
							<TR><TD>SIB11YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11YOD")</TD></TR>
							<TR><TD>SIB11DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11DEM")</TD></TR>
							<TR><TD>SIB11ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11ONS")</TD></TR>
							<TR><TD>SIB11AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11AUTO")</TD></TR>
							<TR><TD>SIB11SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB11SEX")</TD></TR>
							<TR><TD>SIB12ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB12ID")</TD></TR>
							<TR><TD>SIB12YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12YOB")</TD></TR>
							<TR><TD>SIB12LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12LIV")</TD></TR>
							<TR><TD>SIB12YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12YOD")</TD></TR>
							<TR><TD>SIB12DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12DEM")</TD></TR>
							<TR><TD>SIB12ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12ONS")</TD></TR>
							<TR><TD>SIB12AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12AUTO")</TD></TR>
							<TR><TD>SIB12SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB12SEX")</TD></TR>
							<TR><TD>SIB13ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB13ID")</TD></TR>
							<TR><TD>SIB13YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13YOB")</TD></TR>
							<TR><TD>SIB13LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13LIV")</TD></TR>
							<TR><TD>SIB13YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13YOD")</TD></TR>
							<TR><TD>SIB13DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13DEM")</TD></TR>
							<TR><TD>SIB13ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13ONS")</TD></TR>
							<TR><TD>SIB13AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13AUTO")</TD></TR>
							<TR><TD>SIB13SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB13SEX")</TD></TR>
							<TR><TD>SIB14ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB14ID")</TD></TR>
							<TR><TD>SIB14YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14YOB")</TD></TR>
							<TR><TD>SIB14LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14LIV")</TD></TR>
							<TR><TD>SIB14YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14YOD")</TD></TR>
							<TR><TD>SIB14DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14DEM")</TD></TR>
							<TR><TD>SIB14ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14ONS")</TD></TR>
							<TR><TD>SIB14AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14AUTO")</TD></TR>
							<TR><TD>SIB14SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB14SEX")</TD></TR>
							<TR><TD>SIB15ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB15ID")</TD></TR>
							<TR><TD>SIB15YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB15YOB")</TD></TR>
							<TR><TD>SIB15LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB15LIV")</TD></TR>
							<TR><TD>SIB15YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB15YOD")</TD></TR>
							<TR><TD>SIB15DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB15DEM")</TD></TR>
							<TR><TD>SIB15ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB15ONS")</TD></TR>
							<TR><TD>SIB155AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB155AUTO")</TD></TR>
							<TR><TD>SIB155SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB155SEX")</TD></TR>
							<TR><TD>SIB16ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB16ID")</TD></TR>
							<TR><TD>SIB16YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16YOB")</TD></TR>
							<TR><TD>SIB16LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16LIV")</TD></TR>
							<TR><TD>SIB16YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16YOD")</TD></TR>
							<TR><TD>SIB16DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16DEM")</TD></TR>
							<TR><TD>SIB16ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16ONS")</TD></TR>
							<TR><TD>SIB16AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16AUTO")</TD></TR>
							<TR><TD>SIB16SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB16SEX")</TD></TR>
							<TR><TD>SIB17ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB17ID")</TD></TR>
							<TR><TD>SIB17YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17YOB")</TD></TR>
							<TR><TD>SIB17LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17LIV")</TD></TR>
							<TR><TD>SIB17YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17YOD")</TD></TR>
							<TR><TD>SIB17DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17DEM")</TD></TR>
							<TR><TD>SIB17ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17ONS")</TD></TR>
							<TR><TD>SIB17AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17AUTO")</TD></TR>
							<TR><TD>SIB17SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB17SEX")</TD></TR>
							<TR><TD>SIB18ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB18ID")</TD></TR>
							<TR><TD>SIB18YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18YOB")</TD></TR>
							<TR><TD>SIB18LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18LIV")</TD></TR>
							<TR><TD>SIB18YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18YOD")</TD></TR>
							<TR><TD>SIB18DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18DEM")</TD></TR>
							<TR><TD>SIB18ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18ONS")</TD></TR>
							<TR><TD>SIB18AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18AUTO")</TD></TR>
							<TR><TD>SIB18SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB18SEX")</TD></TR>
							<TR><TD>SIB19ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB19ID")</TD></TR>
							<TR><TD>SIB19YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19YOB")</TD></TR>
							<TR><TD>SIB19LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19LIV")</TD></TR>
							<TR><TD>SIB19YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19YOD")</TD></TR>
							<TR><TD>SIB19DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19DEM")</TD></TR>
							<TR><TD>SIB19ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19ONS")</TD></TR>
							<TR><TD>SIB19AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19AUTO")</TD></TR>
							<TR><TD>SIB19SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB19SEX")</TD></TR>
							<TR><TD>SIB20ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/SIB20ID")</TD></TR>
							<TR><TD>SIB20YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20YOB")</TD></TR>
							<TR><TD>SIB20LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20LIV")</TD></TR>
							<TR><TD>SIB20YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20YOD")</TD></TR>
							<TR><TD>SIB20DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20DEM")</TD></TR>
							<TR><TD>SIB20ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20ONS")</TD></TR>
							<TR><TD>SIB20AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20AUTO")</TD></TR>
							<TR><TD>SIB20SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/SIB20SEX")</TD></TR>
							<TR><TD>KIDCHG</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KIDCHG")</TD></TR>
							<TR><TD>KIDS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KIDS")</TD></TR>
							<TR><TD>KID1ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID1ID")</TD></TR>
							<TR><TD>KID1YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1YOB")</TD></TR>
							<TR><TD>KID1LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1LIV")</TD></TR>
							<TR><TD>KID1YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1YOD")</TD></TR>
							<TR><TD>KID1DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1DEM")</TD></TR>
							<TR><TD>KID1ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1ONS")</TD></TR>
							<TR><TD>KID1AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1AUTO")</TD></TR>
							<TR><TD>KID1SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID1SEX")</TD></TR>
							<TR><TD>KID2ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID2ID")</TD></TR>
							<TR><TD>KID2YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2YOB")</TD></TR>
							<TR><TD>KID2LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2LIV")</TD></TR>
							<TR><TD>KID2YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2YOD")</TD></TR>
							<TR><TD>KID2DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2DEM")</TD></TR>
							<TR><TD>KID2ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2ONS")</TD></TR>
							<TR><TD>KID2AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2AUTO")</TD></TR>
							<TR><TD>KID2SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID2SEX")</TD></TR>
							<TR><TD>KID3ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID3ID")</TD></TR>
							<TR><TD>KID3YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3YOB")</TD></TR>
							<TR><TD>KID3LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3LIV")</TD></TR>
							<TR><TD>KID3YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3YOD")</TD></TR>
							<TR><TD>KID3DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3DEM")</TD></TR>
							<TR><TD>KID3ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3ONS")</TD></TR>
							<TR><TD>KID3AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3AUTO")</TD></TR>
							<TR><TD>KID3SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID3SEX")</TD></TR>
							<TR><TD>KID4ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID4ID")</TD></TR>
							<TR><TD>KID4YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4YOB")</TD></TR>
							<TR><TD>KID4LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4LIV")</TD></TR>
							<TR><TD>KID4YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4YOD")</TD></TR>
							<TR><TD>KID4DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4DEM")</TD></TR>
							<TR><TD>KID4ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4ONS")</TD></TR>
							<TR><TD>KID4AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4AUTO")</TD></TR>
							<TR><TD>KID4SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID4SEX")</TD></TR>
							<TR><TD>KID5ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID5ID")</TD></TR>
							<TR><TD>KID5YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5YOB")</TD></TR>
							<TR><TD>KID5LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5LIV")</TD></TR>
							<TR><TD>KID5YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5YOD")</TD></TR>
							<TR><TD>KID5DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5DEM")</TD></TR>
							<TR><TD>KID5ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5ONS")</TD></TR>
							<TR><TD>KID5AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5AUTO")</TD></TR>
							<TR><TD>KID5SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID5SEX")</TD></TR>
							<TR><TD>KID6ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID6ID")</TD></TR>
							<TR><TD>KID6YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6YOB")</TD></TR>
							<TR><TD>KID6LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6LIV")</TD></TR>
							<TR><TD>KID6YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6YOD")</TD></TR>
							<TR><TD>KID6DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6DEM")</TD></TR>
							<TR><TD>KID6ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6ONS")</TD></TR>
							<TR><TD>KID6AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6AUTO")</TD></TR>
							<TR><TD>KID6SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID6SEX")</TD></TR>
							<TR><TD>KID7ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID7ID")</TD></TR>
							<TR><TD>KID7YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7YOB")</TD></TR>
							<TR><TD>KID7LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7LIV")</TD></TR>
							<TR><TD>KID7YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7YOD")</TD></TR>
							<TR><TD>KID7DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7DEM")</TD></TR>
							<TR><TD>KID7ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7ONS")</TD></TR>
							<TR><TD>KID7AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7AUTO")</TD></TR>
							<TR><TD>KID7SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID7SEX")</TD></TR>
							<TR><TD>KID8ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID8ID")</TD></TR>
							<TR><TD>KID8YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8YOB")</TD></TR>
							<TR><TD>KID8LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8LIV")</TD></TR>
							<TR><TD>KID8YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8YOD")</TD></TR>
							<TR><TD>KID8DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8DEM")</TD></TR>
							<TR><TD>KID8ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8ONS")</TD></TR>
							<TR><TD>KID8AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8AUTO")</TD></TR>
							<TR><TD>KID8SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID8SEX")</TD></TR>
							<TR><TD>KID9ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID9ID")</TD></TR>
							<TR><TD>KID9YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9YOB")</TD></TR>
							<TR><TD>KID9LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9LIV")</TD></TR>
							<TR><TD>KID9YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9YOD")</TD></TR>
							<TR><TD>KID9DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9DEM")</TD></TR>
							<TR><TD>KID9ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9ONS")</TD></TR>
							<TR><TD>KID9AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9AUTO")</TD></TR>
							<TR><TD>KID9SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID9SEX")</TD></TR>
							<TR><TD>KID10ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID10ID")</TD></TR>
							<TR><TD>KID10YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10YOB")</TD></TR>
							<TR><TD>KID10LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10LIV")</TD></TR>
							<TR><TD>KID10YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10YOD")</TD></TR>
							<TR><TD>KID10DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10DEM")</TD></TR>
							<TR><TD>KID10ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10ONS")</TD></TR>
							<TR><TD>KID10AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10AUTO")</TD></TR>
							<TR><TD>KID10SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID10SEX")</TD></TR>
							<TR><TD>KID11ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID11ID")</TD></TR>
							<TR><TD>KID11YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11YOB")</TD></TR>
							<TR><TD>KID11LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11LIV")</TD></TR>
							<TR><TD>KID11YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11YOD")</TD></TR>
							<TR><TD>KID11DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11DEM")</TD></TR>
							<TR><TD>KID11ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11ONS")</TD></TR>
							<TR><TD>KID11AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11AUTO")</TD></TR>
							<TR><TD>KID11SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID11SEX")</TD></TR>
							<TR><TD>KID12ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID12ID")</TD></TR>
							<TR><TD>KID12YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12YOB")</TD></TR>
							<TR><TD>KID12LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12LIV")</TD></TR>
							<TR><TD>KID12YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12YOD")</TD></TR>
							<TR><TD>KID12DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12DEM")</TD></TR>
							<TR><TD>KID12ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12ONS")</TD></TR>
							<TR><TD>KID12AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12AUTO")</TD></TR>
							<TR><TD>KID12SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID12SEX")</TD></TR>
							<TR><TD>KID13ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID13ID")</TD></TR>
							<TR><TD>KID13YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13YOB")</TD></TR>
							<TR><TD>KID13LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13LIV")</TD></TR>
							<TR><TD>KID13YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13YOD")</TD></TR>
							<TR><TD>KID13DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13DEM")</TD></TR>
							<TR><TD>KID13ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13ONS")</TD></TR>
							<TR><TD>KID13AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13AUTO")</TD></TR>
							<TR><TD>KID13SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID13SEX")</TD></TR>
							<TR><TD>KID14ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID14ID")</TD></TR>
							<TR><TD>KID14YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14YOB")</TD></TR>
							<TR><TD>KID14LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14LIV")</TD></TR>
							<TR><TD>KID14YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14YOD")</TD></TR>
							<TR><TD>KID14DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14DEM")</TD></TR>
							<TR><TD>KID14ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14ONS")</TD></TR>
							<TR><TD>KID14AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14AUTO")</TD></TR>
							<TR><TD>KID14SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID14SEX")</TD></TR>
							<TR><TD>KID15ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/KID15ID")</TD></TR>
							<TR><TD>KID15YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15YOB")</TD></TR>
							<TR><TD>KID15LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15LIV")</TD></TR>
							<TR><TD>KID15YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15YOD")</TD></TR>
							<TR><TD>KID15DEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15DEM")</TD></TR>
							<TR><TD>KID15ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15ONS")</TD></TR>
							<TR><TD>KID15AUTO</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15AUTO")</TD></TR>
							<TR><TD>KID15SEX</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/KID15SEX")</TD></TR>
							<TR><TD>RELCHG</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/RELCHG")</TD></TR>
							<TR><TD>RELSDEM</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/RELSDEM")</TD></TR>
							<TR><TD>REL1ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL1ID")</TD></TR>
							<TR><TD>REL1YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL1YOB")</TD></TR>
							<TR><TD>REL1LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL1LIV")</TD></TR>
							<TR><TD>REL1YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL1YOD")</TD></TR>
							<TR><TD>REL1ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL1ONS")</TD></TR>
							<TR><TD>REL2ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL2ID")</TD></TR>
							<TR><TD>REL2YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL2YOB")</TD></TR>
							<TR><TD>REL2LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL2LIV")</TD></TR>
							<TR><TD>REL2YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL2YOD")</TD></TR>
							<TR><TD>REL2ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL2ONS")</TD></TR>
							<TR><TD>REL3ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL3ID")</TD></TR>
							<TR><TD>REL3YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL3YOB")</TD></TR>
							<TR><TD>REL3LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL3LIV")</TD></TR>
							<TR><TD>REL3YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL3YOD")</TD></TR>
							<TR><TD>REL3ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL3ONS")</TD></TR>
							<TR><TD>REL4ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL4ID")</TD></TR>
							<TR><TD>REL4YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL4YOB")</TD></TR>
							<TR><TD>REL4LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL4LIV")</TD></TR>
							<TR><TD>REL4YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL4YOD")</TD></TR>
							<TR><TD>REL4ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL4ONS")</TD></TR>
							<TR><TD>REL5ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL5ID")</TD></TR>
							<TR><TD>REL5YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL5YOB")</TD></TR>
							<TR><TD>REL5LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL5LIV")</TD></TR>
							<TR><TD>REL5YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL5YOD")</TD></TR>
							<TR><TD>REL5ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL5ONS")</TD></TR>
							<TR><TD>REL6ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL6ID")</TD></TR>
							<TR><TD>REL6YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL6YOB")</TD></TR>
							<TR><TD>REL6LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL6LIV")</TD></TR>
							<TR><TD>REL6YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL6YOD")</TD></TR>
							<TR><TD>REL6ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL6ONS")</TD></TR>
							<TR><TD>REL7ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL7ID")</TD></TR>
							<TR><TD>REL7YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL7YOB")</TD></TR>
							<TR><TD>REL7LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL7LIV")</TD></TR>
							<TR><TD>REL7YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL7YOD")</TD></TR>
							<TR><TD>REL7ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL7ONS")</TD></TR>
							<TR><TD>REL8ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL8ID")</TD></TR>
							<TR><TD>REL8YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL8YOB")</TD></TR>
							<TR><TD>REL8LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL8LIV")</TD></TR>
							<TR><TD>REL8YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL8YOD")</TD></TR>
							<TR><TD>REL8ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL8ONS")</TD></TR>
							<TR><TD>REL9ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL9ID")</TD></TR>
							<TR><TD>REL9YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL9YOB")</TD></TR>
							<TR><TD>REL9LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL9LIV")</TD></TR>
							<TR><TD>REL9YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL9YOD")</TD></TR>
							<TR><TD>REL9ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL9ONS")</TD></TR>
							<TR><TD>REL10ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL10ID")</TD></TR>
							<TR><TD>REL10YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL10YOB")</TD></TR>
							<TR><TD>REL10LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL10LIV")</TD></TR>
							<TR><TD>REL10YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL10YOD")</TD></TR>
							<TR><TD>REL10ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL10ONS")</TD></TR>
							<TR><TD>REL11ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL11ID")</TD></TR>
							<TR><TD>REL11YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL11YOB")</TD></TR>
							<TR><TD>REL11LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL11LIV")</TD></TR>
							<TR><TD>REL11YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL11YOD")</TD></TR>
							<TR><TD>REL11ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL11ONS")</TD></TR>
							<TR><TD>REL12ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL12ID")</TD></TR>
							<TR><TD>REL12YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL12YOB")</TD></TR>
							<TR><TD>REL12LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL12LIV")</TD></TR>
							<TR><TD>REL12YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL12YOD")</TD></TR>
							<TR><TD>REL12ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL12ONS")</TD></TR>
							<TR><TD>REL13ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL13ID")</TD></TR>
							<TR><TD>REL13YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL13YOB")</TD></TR>
							<TR><TD>REL13LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL13LIV")</TD></TR>
							<TR><TD>REL13YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL13YOD")</TD></TR>
							<TR><TD>REL13ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL13ONS")</TD></TR>
							<TR><TD>REL14ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL14ID")</TD></TR>
							<TR><TD>REL14YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL14YOB")</TD></TR>
							<TR><TD>REL14LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL14LIV")</TD></TR>
							<TR><TD>REL14YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL14YOD")</TD></TR>
							<TR><TD>REL14ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL14ONS")</TD></TR>
							<TR><TD>REL15ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/REL15ID")</TD></TR>
							<TR><TD>REL15YOB</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL15YOB")</TD></TR>
							<TR><TD>REL15LIV</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL15LIV")</TD></TR>
							<TR><TD>REL15YOD</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL15YOD")</TD></TR>
							<TR><TD>REL15ONS</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/REL15ONS")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:a3sbfmhstData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("uds:a3sbfmhstData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a3sbfmhstData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a3sbfmhstData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a3sbfmhstData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a3sbfmhstData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("uds:a3sbfmhstData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a3sbfmhstData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("uds:a3sbfmhstData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a3sbfmhstData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("uds:a3sbfmhstData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN uds:a3sbfmhstData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a3sbfmhstData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("uds:a3sbfmhstData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a3sbfmhstData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END uds:a3sbfmhstData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
