<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">ADIR2007 Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("adir:adir2007Data/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("adir:adir2007Data/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("adir:adir2007Data/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("adir:adir2007Data/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("adir:adir2007Data/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("adir:adir2007Data/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("adir:adir2007Data/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("adir:adir2007Data/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("adir:adir2007Data/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("adir:adir2007Data/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("adir:adir2007Data/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("adir:adir2007Data/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("adir:adir2007Data/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("adir:adir2007Data/label" $item "" $vr)</TD></TR>
							<TR><TD>adirVer</TD><TD>#xdatStringBox("adir:adir2007Data/adirVer" $item "" $vr)</TD></TR>
							<TR><TD>a_total</TD><TD>#xdatTextBox("adir:adir2007Data/a_total" $item "" $vr)</TD></TR>
							<TR><TD>a_total_note</TD><TD>#xdatStringBox("adir:adir2007Data/a_total_note" $item "" $vr)</TD></TR>
							<TR><TD>b_v_total</TD><TD>#xdatTextBox("adir:adir2007Data/b_v_total" $item "" $vr)</TD></TR>
							<TR><TD>b_v_total_note</TD><TD>#xdatStringBox("adir:adir2007Data/b_v_total_note" $item "" $vr)</TD></TR>
							<TR><TD>b_nv_total</TD><TD>#xdatTextBox("adir:adir2007Data/b_nv_total" $item "" $vr)</TD></TR>
							<TR><TD>b_nv_total_note</TD><TD>#xdatStringBox("adir:adir2007Data/b_nv_total_note" $item "" $vr)</TD></TR>
							<TR><TD>c_total</TD><TD>#xdatTextBox("adir:adir2007Data/c_total" $item "" $vr)</TD></TR>
							<TR><TD>c_total_note</TD><TD>#xdatStringBox("adir:adir2007Data/c_total_note" $item "" $vr)</TD></TR>
							<TR><TD>d_total</TD><TD>#xdatTextBox("adir:adir2007Data/d_total" $item "" $vr)</TD></TR>
							<TR><TD>d_total_note</TD><TD>#xdatStringBox("adir:adir2007Data/d_total_note" $item "" $vr)</TD></TR>
							<TR><TD>adi_r_dx</TD><TD>#xdatStringBox("adir:adir2007Data/adi_r_dx" $item "" $vr)</TD></TR>
							<TR><TD>adi_r_cl</TD><TD>#xdatStringBox("adir:adir2007Data/adi_r_cl" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/respRltnSubj</TD><TD>#xdatStringBox("adir:adir2007Data/ScoreForm/respRltnSubj" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/algUsed</TD><TD>#xdatStringBox("adir:adir2007Data/ScoreForm/algUsed" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/dirGaze/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/dirGaze/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/dirGaze/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/dirGaze/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/socSmile/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/socSmile/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/socSmile/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/socSmile/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/facExpr/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/facExpr/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA1/facExpr/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA1/facExpr/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/imagPlay/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/imagPlay/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/imagPlay/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/imagPlay/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/intChild/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/intChild/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/intChild/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/intChild/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/respAppr/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/respAppr/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/respAppr/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/respAppr/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/grpPlay/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/grpPlay/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/grpPlay/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/grpPlay/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/friendships/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/friendships/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA2/friendships/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA2/friendships/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/showAttn/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/showAttn/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/showAttn/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/showAttn/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/offShare/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/offShare/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/offShare/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/offShare/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/shareEnjoy/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/shareEnjoy/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA3/shareEnjoy/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA3/shareEnjoy/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/othBodyComm/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/othBodyComm/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/othBodyComm/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/othBodyComm/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/offComf/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/offComf/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/offComf/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/offComf/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/qualSocOvert/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/qualSocOvert/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/qualSocOvert/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/qualSocOvert/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/inapFacExpr/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/inapFacExpr/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/inapFacExpr/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/inapFacExpr/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/apprSocResp/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/apprSocResp/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionA4/apprSocResp/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionA4/apprSocResp/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/pointExprInt/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/pointExprInt/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/pointExprInt/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/pointExprInt/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/nodding/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/nodding/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/nodding/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/nodding/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/headShak/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/headShak/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/headShak/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/headShak/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/convInstrGest/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/convInstrGest/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB1/convInstrGest/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB1/convInstrGest/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/spontImit/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/spontImit/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/spontImit/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/spontImit/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imagPlay/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/imagPlay/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imagPlay/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/imagPlay/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imitPlay/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/imitPlay/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imitPlay/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB4/imitPlay/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB2/socVerb/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB2/socVerb/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB2/socVerb/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB2/socVerb/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB2/recipConv/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB2/recipConv/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB2/recipConv/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB2/recipConv/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/stereoUtter/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/stereoUtter/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/stereoUtter/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/stereoUtter/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/inapprQuest/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/inapprQuest/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/inapprQuest/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/inapprQuest/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/pronomRevers/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/pronomRevers/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/pronomRevers/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/pronomRevers/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/neologIdio/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/neologIdio/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionB3/neologIdio/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionB3/neologIdio/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC1/unusPreocup/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC1/unusPreocup/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC1/unusPreocup/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC1/unusPreocup/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC1/circumInts/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC1/circumInts/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC1/circumInts/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC1/circumInts/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC2/verbRits/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC2/verbRits/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC2/verbRits/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC2/verbRits/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC2/compulRits/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC2/compulRits/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC2/compulRits/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC2/compulRits/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC3/handFingManns/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC3/handFingManns/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC3/handFingManns/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC3/handFingManns/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC3/othComplxManns/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC3/othComplxManns/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC3/othComplxManns/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC3/othComplxManns/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC4/repetUseObjs/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC4/repetUseObjs/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC4/repetUseObjs/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC4/repetUseObjs/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC4/unusSensInts/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC4/unusSensInts/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionC4/unusSensInts/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionC4/unusSensInts/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstNot/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstNot/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstNot/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstNot/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstWord/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstWord/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstWord/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstWord/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstPhrase/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstPhrase/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstPhrase/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstPhrase/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstEvdnt/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstEvdnt/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstEvdnt/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstEvdnt/score" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstManifst/code</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstManifst/code" $item "" $vr)</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstManifst/score</TD><TD>#xdatTextBox("adir:adir2007Data/ScoreForm/sectionD/ageFirstManifst/score" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN adir:adir2007Data -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adir:adir2007Data/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("adir:adir2007Data/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("adir:adir2007Data/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adir:adir2007Data/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adir:adir2007Data/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("adir:adir2007Data/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("adir:adir2007Data/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("adir:adir2007Data/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("adir:adir2007Data/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("adir:adir2007Data/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("adir:adir2007Data/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adir:adir2007Data/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END adir:adir2007Data/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN adir:adir2007Data/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("adir:adir2007Data/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("adir:adir2007Data/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("adir:adir2007Data/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END adir:adir2007Data/fields/field -->
			</TABLE>
<!-- END adir:adir2007Data -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
