<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ClinicalEncounter Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ClinicalEncounter Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("condr:clinicalEncounter/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("condr:clinicalEncounter/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("condr:clinicalEncounter/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("condr:clinicalEncounter/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("condr:clinicalEncounter/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("condr:clinicalEncounter/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/label")</TD></TR>
							<TR><TD>karnofskyPerformanceStatus</TD><TD>$!item.getIntegerProperty("condr:clinicalEncounter/karnofskyPerformanceStatus")</TD></TR>
							<TR><TD>rpaClass</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/rpaClass")</TD></TR>
							<TR><TD>clinicalDeterioration</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/clinicalDeterioration")</TD></TR>
							<TR><TD>steroids</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/steroids")</TD></TR>
							<TR><TD>steroidDose</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/steroidDose")</TD></TR>
							<TR><TD>steroidDoseIncreasing</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/steroidDoseIncreasing")</TD></TR>
							<TR><TD>progression</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/progression")</TD></TR>
							<TR><TD>pseudoProgression</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/pseudoProgression")</TD></TR>
							<TR><TD>response</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/response")</TD></TR>
							<TR><TD>changeInTreatment</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/changeInTreatment")</TD></TR>
							<TR><TD>changeInTreatmentTo</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/changeInTreatmentTo")</TD></TR>
							<TR><TD>clinicalEncounterNotes</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/clinicalEncounterNotes")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN condr:clinicalEncounter -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("condr:clinicalEncounter/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:clinicalEncounter/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:clinicalEncounter/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:clinicalEncounter/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:clinicalEncounter/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("condr:clinicalEncounter/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:clinicalEncounter/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("condr:clinicalEncounter/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:clinicalEncounter/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("condr:clinicalEncounter/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN condr:clinicalEncounter/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:clinicalEncounter/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:clinicalEncounter/newDeficits -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/newDeficits</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>motorWeakness</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/motorWeakness")</TD></TR>
										<TR><TD>sensoryChange</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/sensoryChange")</TD></TR>
										<TR><TD>severeHeadache</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/severeHeadache")</TD></TR>
										<TR><TD>nausea</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/nausea")</TD></TR>
										<TR><TD>visualLoss</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/visualLoss")</TD></TR>
										<TR><TD>cognitiveDecline</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/cognitiveDecline")</TD></TR>
										<TR><TD>seizure</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/seizure")</TD></TR>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($sf_deficits_otherDeficit_8_NUM_ROWS=$item.getChildItems("condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit").size() - 1)
										#if($sf_deficits_otherDeficit_8_NUM_ROWS>=0)
											#foreach($sf_deficits_otherDeficit_8_COUNTER in [0..$sf_deficits_otherDeficit_8_NUM_ROWS])
<!-- BEGIN condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_8_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_8_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>otherDeficitName</TD><TD>$!item.getStringProperty("condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_8_COUNTER]/otherDeficitName")</TD></TR>
																<TR><TD>otherDeficitPresent</TD><TD>$!item.getBooleanProperty("condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_8_COUNTER]/otherDeficitPresent")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END condr:clinicalEncounter/newDeficits/otherDeficits/otherDeficit[$sf_deficits_otherDeficit_8_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:clinicalEncounter/newDeficits -->
					</TD>
				</TR>
			</TABLE>
<!-- END condr:clinicalEncounter -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
