<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ClinicalAssessment Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ClinicalAssessment Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cnda:clinicalAssessmentData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cnda:clinicalAssessmentData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cnda:clinicalAssessmentData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/label")</TD></TR>
							<TR><TD>BloodPressure/HighBP_CS_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/BloodPressure/HighBP_CS_Bool")</TD></TR>
							<TR><TD>BloodPressure/systolic</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/BloodPressure/systolic")</TD></TR>
							<TR><TD>BloodPressure/diastolic</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/BloodPressure/diastolic")</TD></TR>
							<TR><TD>Neuro/SBT</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Neuro/SBT")</TD></TR>
							<TR><TD>Neuro/MMSE</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Neuro/MMSE")</TD></TR>
							<TR><TD>Neuro/Bdsc</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/Bdsc")</TD></TR>
							<TR><TD>Neuro/CDR/memory</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/memory")</TD></TR>
							<TR><TD>Neuro/CDR/orientation</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/orientation")</TD></TR>
							<TR><TD>Neuro/CDR/judgment_problem_solving</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/judgment_problem_solving")</TD></TR>
							<TR><TD>Neuro/CDR/community_affairs</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/community_affairs")</TD></TR>
							<TR><TD>Neuro/CDR/home_hobbies</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/home_hobbies")</TD></TR>
							<TR><TD>Neuro/CDR/personal_care</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/personal_care")</TD></TR>
							<TR><TD>Neuro/CDR/sumbox</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/sumbox")</TD></TR>
							<TR><TD>Neuro/CDR/rating</TD><TD>$!item.getDoubleProperty("cnda:clinicalAssessmentData/Neuro/CDR/rating")</TD></TR>
							<TR><TD>Neuro/ThinkingProblem_S_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/ThinkingProblem_S_Bool")</TD></TR>
							<TR><TD>Neuro/ThinkingProblem_CS_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/ThinkingProblem_CS_Bool")</TD></TR>
							<TR><TD>Neuro/ConsMemoryProblem_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/ConsMemoryProblem_Bool")</TD></TR>
							<TR><TD>Neuro/StrokeBool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/StrokeBool")</TD></TR>
							<TR><TD>Neuro/Sx_Stroke_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/Sx_Stroke_Bool")</TD></TR>
							<TR><TD>Neuro/Sx_Tia_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Neuro/Sx_Tia_Bool")</TD></TR>
							<TR><TD>Movement/Spasticity_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Movement/Spasticity_Bool")</TD></TR>
							<TR><TD>Movement/Rigid</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Movement/Rigid")</TD></TR>
							<TR><TD>Movement/Bradyk_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Movement/Bradyk_Bool")</TD></TR>
							<TR><TD>Movement/Gait</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Movement/Gait")</TD></TR>
							<TR><TD>Movement/AbnormalGait_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Movement/AbnormalGait_Bool")</TD></TR>
							<TR><TD>Weight</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Weight")</TD></TR>
							<TR><TD>Diabetes_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/Diabetes_Bool")</TD></TR>
							<TR><TD>HeartProblems_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/HeartProblems_Bool")</TD></TR>
							<TR><TD>TobaccoUse_Bool</TD><TD>$!item.getBooleanProperty("cnda:clinicalAssessmentData/TobaccoUse_Bool")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:clinicalAssessmentData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:clinicalAssessmentData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:clinicalAssessmentData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:clinicalAssessmentData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:clinicalAssessmentData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cnda:clinicalAssessmentData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:clinicalAssessmentData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:clinicalAssessmentData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:clinicalAssessmentData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($cnda_clinicalAssessmentData_Diagnosis_7_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/Diagnosis").size() - 1)
							#if($cnda_clinicalAssessmentData_Diagnosis_7_NUM_ROWS>=0)
								#foreach($cnda_clinicalAssessmentData_Diagnosis_7_COUNTER in [0..$cnda_clinicalAssessmentData_Diagnosis_7_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>Diagnosis</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER]/Diagnosis")</TD></TR>
													<TR><TD>type</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER]/type")</TD></TR>
													<TR><TD>number</TD><TD>$!item.getIntegerProperty("cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER]/number")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:clinicalAssessmentData/Diagnosis[$cnda_clinicalAssessmentData_Diagnosis_7_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($cnda_clinicalAssessmentData_Medication_8_NUM_ROWS=$item.getChildItems("cnda:clinicalAssessmentData/Medication").size() - 1)
							#if($cnda_clinicalAssessmentData_Medication_8_NUM_ROWS>=0)
								#foreach($cnda_clinicalAssessmentData_Medication_8_COUNTER in [0..$cnda_clinicalAssessmentData_Medication_8_NUM_ROWS])
<!-- BEGIN cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER]/name")</TD></TR>
													<TR><TD>type</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER]/type")</TD></TR>
													<TR><TD>dose</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER]/dose")</TD></TR>
													<TR><TD>history</TD><TD>$!item.getStringProperty("cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER]/history")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:clinicalAssessmentData/Medication[$cnda_clinicalAssessmentData_Medication_8_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:clinicalAssessmentData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
