<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Diagnoses Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Diagnoses Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("cnda:diagnosesData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cnda:diagnosesData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cnda:diagnosesData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cnda:diagnosesData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cnda:diagnosesData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cnda:diagnosesData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:diagnosesData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cnda:diagnosesData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:diagnosesData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:diagnosesData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cnda:diagnosesData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:diagnosesData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cnda:diagnosesData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cnda:diagnosesData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:diagnosesData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:diagnosesData/label")</TD></TR>
							<TR><TD>diagnoser</TD><TD>$!item.getStringProperty("cnda:diagnosesData/diagnoser")</TD></TR>
							<TR><TD>ticDiagnosis/DSMIV</TD><TD>$!item.getStringProperty("cnda:diagnosesData/ticDiagnosis/DSMIV")</TD></TR>
							<TR><TD>ticDiagnosis/impairDistress</TD><TD>$!item.getBooleanProperty("cnda:diagnosesData/ticDiagnosis/impairDistress")</TD></TR>
							<TR><TD>ticDiagnosis/TSSG</TD><TD>$!item.getStringProperty("cnda:diagnosesData/ticDiagnosis/TSSG")</TD></TR>
							<TR><TD>ticDiagnosis/TSSG2</TD><TD>$!item.getStringProperty("cnda:diagnosesData/ticDiagnosis/TSSG2")</TD></TR>
							<TR><TD>motor/firstTicAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/motor/firstTicAge")</TD></TR>
							<TR><TD>motor/worstTicAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/motor/worstTicAge")</TD></TR>
							<TR><TD>vocal/firstTicAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/vocal/firstTicAge")</TD></TR>
							<TR><TD>vocal/worstTicAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/vocal/worstTicAge")</TD></TR>
							<TR><TD>firstDiagnosedTicsAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/firstDiagnosedTicsAge")</TD></TR>
							<TR><TD>diagnosis_ADHD_DSMIV</TD><TD>$!item.getStringProperty("cnda:diagnosesData/diagnosis_ADHD_DSMIV")</TD></TR>
							<TR><TD>score_TS_DCI</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/score_TS_DCI")</TD></TR>
							<TR><TD>diagnosis_OCD_DSMIV</TD><TD>$!item.getStringProperty("cnda:diagnosesData/diagnosis_OCD_DSMIV")</TD></TR>
							<TR><TD>firstObsessionAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/firstObsessionAge")</TD></TR>
							<TR><TD>firstCompulsionAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/firstCompulsionAge")</TD></TR>
							<TR><TD>worstObsessiveCompulsiveSymptomAge</TD><TD>$!item.getDoubleProperty("cnda:diagnosesData/worstObsessiveCompulsiveSymptomAge")</TD></TR>
							<TR><TD>handedness</TD><TD>$!item.getStringProperty("cnda:diagnosesData/handedness")</TD></TR>
							<TR><TD>ineligibleFromSCID</TD><TD>$!item.getBooleanProperty("cnda:diagnosesData/ineligibleFromSCID")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:diagnosesData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("cnda:diagnosesData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:diagnosesData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:diagnosesData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:diagnosesData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:diagnosesData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:diagnosesData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cnda:diagnosesData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cnda:diagnosesData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cnda:diagnosesData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cnda:diagnosesData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cnda:diagnosesData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:diagnosesData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("cnda:diagnosesData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:diagnosesData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("cnda:diagnosesData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN cnda:diagnosesData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:diagnosesData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cnda:diagnosesData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:diagnosesData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:diagnosesData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:diagnosesData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
