<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("A1SUBDEMO Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>A1SUBDEMO Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("uds:a1subdemoData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("uds:a1subdemoData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("uds:a1subdemoData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("uds:a1subdemoData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("uds:a1subdemoData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("uds:a1subdemoData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("uds:a1subdemoData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("uds:a1subdemoData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:a1subdemoData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("uds:a1subdemoData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("uds:a1subdemoData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:a1subdemoData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("uds:a1subdemoData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:a1subdemoData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a1subdemoData/label")</TD></TR>
							<TR><TD>REFER</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/REFER")</TD></TR>
							<TR><TD>REFERX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/REFERX")</TD></TR>
							<TR><TD>PRESTAT</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/PRESTAT")</TD></TR>
							<TR><TD>BIRTHMO</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/BIRTHMO")</TD></TR>
							<TR><TD>BIRTHYR</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/BIRTHYR")</TD></TR>
							<TR><TD>SEX</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/SEX")</TD></TR>
							<TR><TD>HISPANIC</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/HISPANIC")</TD></TR>
							<TR><TD>HISPOR</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/HISPOR")</TD></TR>
							<TR><TD>HISPORX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/HISPORX")</TD></TR>
							<TR><TD>RACE</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/RACE")</TD></TR>
							<TR><TD>RACEX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/RACEX")</TD></TR>
							<TR><TD>RACESEC</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/RACESEC")</TD></TR>
							<TR><TD>RACESECX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/RACESECX")</TD></TR>
							<TR><TD>RACETER</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/RACETER")</TD></TR>
							<TR><TD>RACETERX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/RACETERX")</TD></TR>
							<TR><TD>PRIMLANG</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/PRIMLANG")</TD></TR>
							<TR><TD>PRIMLANX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/PRIMLANX")</TD></TR>
							<TR><TD>LIVSIT</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/LIVSIT")</TD></TR>
							<TR><TD>LIVSITX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/LIVSITX")</TD></TR>
							<TR><TD>INDEPEND</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/INDEPEND")</TD></TR>
							<TR><TD>RESIDENC</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/RESIDENC")</TD></TR>
							<TR><TD>RESIDENX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/RESIDENX")</TD></TR>
							<TR><TD>ZIP</TD><TD>$!item.getStringProperty("uds:a1subdemoData/ZIP")</TD></TR>
							<TR><TD>MARISTAT</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/MARISTAT")</TD></TR>
							<TR><TD>MARISTAX</TD><TD>$!item.getStringProperty("uds:a1subdemoData/MARISTAX")</TD></TR>
							<TR><TD>HANDED</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/HANDED")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:a1subdemoData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("uds:a1subdemoData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a1subdemoData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a1subdemoData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:a1subdemoData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a1subdemoData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:a1subdemoData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("uds:a1subdemoData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("uds:a1subdemoData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("uds:a1subdemoData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("uds:a1subdemoData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("uds:a1subdemoData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:a1subdemoData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("uds:a1subdemoData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a1subdemoData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("uds:a1subdemoData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN uds:a1subdemoData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:a1subdemoData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("uds:a1subdemoData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("uds:a1subdemoData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:a1subdemoData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END uds:a1subdemoData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
