<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">VISCOM Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("dian:viscomData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("dian:viscomData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("dian:viscomData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("dian:viscomData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("dian:viscomData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("dian:viscomData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("dian:viscomData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("dian:viscomData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("dian:viscomData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("dian:viscomData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("dian:viscomData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("dian:viscomData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("dian:viscomData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("dian:viscomData/label" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM1</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM1" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM2</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM2" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM3</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM3" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM4</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM4" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM5</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM5" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM6</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM6" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM7</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM7" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM8</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM8" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM9</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM9" $item "" $vr)</TD></TR>
							<TR><TD>VISCOMM10</TD><TD>#xdatStringBox("dian:viscomData/VISCOMM10" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:viscomData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:viscomData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:viscomData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("dian:viscomData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("dian:viscomData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("dian:viscomData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("dian:viscomData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("dian:viscomData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("dian:viscomData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("dian:viscomData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("dian:viscomData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("dian:viscomData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:viscomData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:viscomData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:viscomData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("dian:viscomData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("dian:viscomData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("dian:viscomData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("dian:viscomData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("dian:viscomData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("dian:viscomData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:viscomData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END dian:viscomData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN dian:viscomData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:viscomData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("dian:viscomData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("dian:viscomData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("dian:viscomData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END dian:viscomData/fields/field -->
			</TABLE>
<!-- END dian:viscomData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
