<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ADIR2007 Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ADIR2007 Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("adir:adir2007Data/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("adir:adir2007Data/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("adir:adir2007Data/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("adir:adir2007Data/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("adir:adir2007Data/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("adir:adir2007Data/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("adir:adir2007Data/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("adir:adir2007Data/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("adir:adir2007Data/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("adir:adir2007Data/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("adir:adir2007Data/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("adir:adir2007Data/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("adir:adir2007Data/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("adir:adir2007Data/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("adir:adir2007Data/label")</TD></TR>
							<TR><TD>adirVer</TD><TD>$!item.getStringProperty("adir:adir2007Data/adirVer")</TD></TR>
							<TR><TD>a_total</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/a_total")</TD></TR>
							<TR><TD>a_total_note</TD><TD>$!item.getStringProperty("adir:adir2007Data/a_total_note")</TD></TR>
							<TR><TD>b_v_total</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/b_v_total")</TD></TR>
							<TR><TD>b_v_total_note</TD><TD>$!item.getStringProperty("adir:adir2007Data/b_v_total_note")</TD></TR>
							<TR><TD>b_nv_total</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/b_nv_total")</TD></TR>
							<TR><TD>b_nv_total_note</TD><TD>$!item.getStringProperty("adir:adir2007Data/b_nv_total_note")</TD></TR>
							<TR><TD>c_total</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/c_total")</TD></TR>
							<TR><TD>c_total_note</TD><TD>$!item.getStringProperty("adir:adir2007Data/c_total_note")</TD></TR>
							<TR><TD>d_total</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/d_total")</TD></TR>
							<TR><TD>d_total_note</TD><TD>$!item.getStringProperty("adir:adir2007Data/d_total_note")</TD></TR>
							<TR><TD>adi_r_dx</TD><TD>$!item.getStringProperty("adir:adir2007Data/adi_r_dx")</TD></TR>
							<TR><TD>adi_r_cl</TD><TD>$!item.getStringProperty("adir:adir2007Data/adi_r_cl")</TD></TR>
							<TR><TD>ScoreForm/respRltnSubj</TD><TD>$!item.getStringProperty("adir:adir2007Data/ScoreForm/respRltnSubj")</TD></TR>
							<TR><TD>ScoreForm/algUsed</TD><TD>$!item.getStringProperty("adir:adir2007Data/ScoreForm/algUsed")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/dirGaze/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/dirGaze/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/dirGaze/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/dirGaze/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/socSmile/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/socSmile/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/socSmile/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/socSmile/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/facExpr/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/facExpr/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA1/facExpr/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA1/facExpr/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/imagPlay/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/imagPlay/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/imagPlay/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/imagPlay/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/intChild/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/intChild/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/intChild/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/intChild/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/respAppr/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/respAppr/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/respAppr/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/respAppr/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/grpPlay/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/grpPlay/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/grpPlay/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/grpPlay/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/friendships/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/friendships/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA2/friendships/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA2/friendships/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/showAttn/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/showAttn/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/showAttn/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/showAttn/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/offShare/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/offShare/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/offShare/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/offShare/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/shareEnjoy/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/shareEnjoy/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA3/shareEnjoy/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA3/shareEnjoy/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/othBodyComm/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/othBodyComm/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/othBodyComm/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/othBodyComm/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/offComf/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/offComf/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/offComf/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/offComf/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/qualSocOvert/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/qualSocOvert/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/qualSocOvert/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/qualSocOvert/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/inapFacExpr/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/inapFacExpr/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/inapFacExpr/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/inapFacExpr/score")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/apprSocResp/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/apprSocResp/code")</TD></TR>
							<TR><TD>ScoreForm/sectionA4/apprSocResp/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionA4/apprSocResp/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/pointExprInt/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/pointExprInt/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/pointExprInt/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/pointExprInt/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/nodding/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/nodding/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/nodding/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/nodding/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/headShak/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/headShak/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/headShak/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/headShak/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/convInstrGest/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/convInstrGest/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB1/convInstrGest/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB1/convInstrGest/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/spontImit/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/spontImit/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/spontImit/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/spontImit/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imagPlay/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/imagPlay/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imagPlay/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/imagPlay/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imitPlay/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/imitPlay/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB4/imitPlay/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB4/imitPlay/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB2/socVerb/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB2/socVerb/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB2/socVerb/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB2/socVerb/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB2/recipConv/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB2/recipConv/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB2/recipConv/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB2/recipConv/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/stereoUtter/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/stereoUtter/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/stereoUtter/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/stereoUtter/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/inapprQuest/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/inapprQuest/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/inapprQuest/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/inapprQuest/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/pronomRevers/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/pronomRevers/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/pronomRevers/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/pronomRevers/score")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/neologIdio/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/neologIdio/code")</TD></TR>
							<TR><TD>ScoreForm/sectionB3/neologIdio/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionB3/neologIdio/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC1/unusPreocup/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC1/unusPreocup/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC1/unusPreocup/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC1/unusPreocup/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC1/circumInts/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC1/circumInts/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC1/circumInts/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC1/circumInts/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC2/verbRits/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC2/verbRits/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC2/verbRits/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC2/verbRits/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC2/compulRits/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC2/compulRits/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC2/compulRits/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC2/compulRits/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC3/handFingManns/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC3/handFingManns/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC3/handFingManns/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC3/handFingManns/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC3/othComplxManns/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC3/othComplxManns/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC3/othComplxManns/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC3/othComplxManns/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC4/repetUseObjs/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC4/repetUseObjs/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC4/repetUseObjs/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC4/repetUseObjs/score")</TD></TR>
							<TR><TD>ScoreForm/sectionC4/unusSensInts/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC4/unusSensInts/code")</TD></TR>
							<TR><TD>ScoreForm/sectionC4/unusSensInts/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionC4/unusSensInts/score")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstNot/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstNot/code")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstNot/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstNot/score")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstWord/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstWord/code")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstWord/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstWord/score")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstPhrase/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstPhrase/code")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstPhrase/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstPhrase/score")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstEvdnt/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstEvdnt/code")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstEvdnt/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstEvdnt/score")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstManifst/code</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstManifst/code")</TD></TR>
							<TR><TD>ScoreForm/sectionD/ageFirstManifst/score</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/ScoreForm/sectionD/ageFirstManifst/score")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN adir:adir2007Data -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("adir:adir2007Data/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adir:adir2007Data/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adir:adir2007Data/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("adir:adir2007Data/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adir:adir2007Data/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN adir:adir2007Data/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("adir:adir2007Data/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("adir:adir2007Data/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("adir:adir2007Data/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("adir:adir2007Data/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("adir:adir2007Data/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END adir:adir2007Data/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("adir:adir2007Data/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adir:adir2007Data/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("adir:adir2007Data/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN adir:adir2007Data/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">adir:adir2007Data/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("adir:adir2007Data/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("adir:adir2007Data/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END adir:adir2007Data/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END adir:adir2007Data -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
