<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("B2HACH Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>B2HACH Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("uds:b2hachData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("uds:b2hachData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("uds:b2hachData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("uds:b2hachData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("uds:b2hachData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("uds:b2hachData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("uds:b2hachData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("uds:b2hachData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("uds:b2hachData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:b2hachData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("uds:b2hachData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("uds:b2hachData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:b2hachData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("uds:b2hachData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("uds:b2hachData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:b2hachData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b2hachData/label")</TD></TR>
							<TR><TD>ABRUPT</TD><TD>$!item.getIntegerProperty("uds:b2hachData/ABRUPT")</TD></TR>
							<TR><TD>STEPWISE</TD><TD>$!item.getIntegerProperty("uds:b2hachData/STEPWISE")</TD></TR>
							<TR><TD>SOMATIC</TD><TD>$!item.getIntegerProperty("uds:b2hachData/SOMATIC")</TD></TR>
							<TR><TD>EMOT</TD><TD>$!item.getIntegerProperty("uds:b2hachData/EMOT")</TD></TR>
							<TR><TD>HXHYPER</TD><TD>$!item.getIntegerProperty("uds:b2hachData/HXHYPER")</TD></TR>
							<TR><TD>HXSTROKE</TD><TD>$!item.getIntegerProperty("uds:b2hachData/HXSTROKE")</TD></TR>
							<TR><TD>FOCLSYM</TD><TD>$!item.getIntegerProperty("uds:b2hachData/FOCLSYM")</TD></TR>
							<TR><TD>FOCLSIGN</TD><TD>$!item.getIntegerProperty("uds:b2hachData/FOCLSIGN")</TD></TR>
							<TR><TD>HACHIN</TD><TD>$!item.getIntegerProperty("uds:b2hachData/HACHIN")</TD></TR>
							<TR><TD>CVDCOG</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDCOG")</TD></TR>
							<TR><TD>STROKCOG</TD><TD>$!item.getIntegerProperty("uds:b2hachData/STROKCOG")</TD></TR>
							<TR><TD>CVDIMAG</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDIMAG")</TD></TR>
							<TR><TD>CVDIMAG1</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDIMAG1")</TD></TR>
							<TR><TD>CVDIMAG2</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDIMAG2")</TD></TR>
							<TR><TD>CVDIMAG3</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDIMAG3")</TD></TR>
							<TR><TD>CVDIMAG4</TD><TD>$!item.getIntegerProperty("uds:b2hachData/CVDIMAG4")</TD></TR>
							<TR><TD>CVDIMAGX</TD><TD>$!item.getStringProperty("uds:b2hachData/CVDIMAGX")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN uds:b2hachData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("uds:b2hachData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b2hachData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b2hachData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("uds:b2hachData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b2hachData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN uds:b2hachData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("uds:b2hachData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("uds:b2hachData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("uds:b2hachData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("uds:b2hachData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("uds:b2hachData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END uds:b2hachData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("uds:b2hachData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b2hachData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("uds:b2hachData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN uds:b2hachData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">uds:b2hachData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("uds:b2hachData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("uds:b2hachData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END uds:b2hachData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END uds:b2hachData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
