<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">LS_Health Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("ls2:lsHealthData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("ls2:lsHealthData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("ls2:lsHealthData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("ls2:lsHealthData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("ls2:lsHealthData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("ls2:lsHealthData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("ls2:lsHealthData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("ls2:lsHealthData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("ls2:lsHealthData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("ls2:lsHealthData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("ls2:lsHealthData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("ls2:lsHealthData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("ls2:lsHealthData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("ls2:lsHealthData/label" $item "" $vr)</TD></TR>
							<TR><TD>rating</TD><TD>#xdatTextBox("ls2:lsHealthData/rating" $item "" $vr)</TD></TR>
							<TR><TD>satisfaction</TD><TD>#xdatTextBox("ls2:lsHealthData/satisfaction" $item "" $vr)</TD></TR>
							<TR><TD>interferes</TD><TD>#xdatTextBox("ls2:lsHealthData/interferes" $item "" $vr)</TD></TR>
							<TR><TD>activityLimits/aveLimit</TD><TD>#xdatTextBox("ls2:lsHealthData/activityLimits/aveLimit" $item "" $vr)</TD></TR>
							<TR><TD>headInjury</TD><TD>#xdatTextBox("ls2:lsHealthData/headInjury" $item "" $vr)</TD></TR>
							<TR><TD>hypertension/past</TD><TD>#xdatTextBox("ls2:lsHealthData/hypertension/past" $item "" $vr)</TD></TR>
							<TR><TD>hypertension/now</TD><TD>#xdatTextBox("ls2:lsHealthData/hypertension/now" $item "" $vr)</TD></TR>
							<TR><TD>hypertension/medication</TD><TD>#xdatTextBox("ls2:lsHealthData/hypertension/medication" $item "" $vr)</TD></TR>
							<TR><TD>postMenopausal</TD><TD>#xdatTextBox("ls2:lsHealthData/postMenopausal" $item "" $vr)</TD></TR>
							<TR><TD>estReplcTher</TD><TD>#xdatTextBox("ls2:lsHealthData/estReplcTher" $item "" $vr)</TD></TR>
							<TR><TD>medications/others</TD><TD>#xdatTextBox("ls2:lsHealthData/medications/others" $item "" $vr)</TD></TR>
							<TR><TD>boneFrac</TD><TD>#xdatTextBox("ls2:lsHealthData/boneFrac" $item "" $vr)</TD></TR>
							<TR><TD>surgery</TD><TD>#xdatTextBox("ls2:lsHealthData/surgery" $item "" $vr)</TD></TR>
							<TR><TD>hospital</TD><TD>#xdatTextBox("ls2:lsHealthData/hospital" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ls2:lsHealthData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ls2:lsHealthData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("ls2:lsHealthData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ls2:lsHealthData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ls2:lsHealthData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ls2:lsHealthData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("ls2:lsHealthData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("ls2:lsHealthData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("ls2:lsHealthData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("ls2:lsHealthData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("ls2:lsHealthData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ls2:lsHealthData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ls2:lsHealthData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ls2:lsHealthData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ls2:lsHealthData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ls2:lsHealthData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ls2:lsHealthData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ls2:lsHealthData/fields/field -->
<!-- BEGIN ls2:lsHealthData/activityLimits/activity -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/activityLimits/activity</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>name</TD>
								<TD>status</TD>
							</TR>
							#foreach($ls2_lsActivityLimit_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ls2:lsHealthData/activityLimits/activity[$ls2_lsActivityLimit_4_COUNTER]/name" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/activityLimits/activity[$ls2_lsActivityLimit_4_COUNTER]/status" $item "" $vr)</TD>
									#xdatHiddenBox("ls2:lsHealthData/activityLimits/activity[$ls2_lsActivityLimit_4_COUNTER]/ls2_lsActivityLimit_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ls2:lsHealthData/activityLimits/activity -->
<!-- BEGIN ls2:lsHealthData/medications/medication -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/medications/medication</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>lsMedication</TD>
							</TR>
							#foreach($ls2_lsMedication_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ls2:lsHealthData/medications/medication[$ls2_lsMedication_4_COUNTER]/lsMedication" $item "" $vr)</TD>
									#xdatHiddenBox("ls2:lsHealthData/medications/medication[$ls2_lsMedication_4_COUNTER]/ls2_lsMedication_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ls2:lsHealthData/medications/medication -->
<!-- BEGIN ls2:lsHealthData/illnesses/illness -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/illnesses/illness</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>lsIllness</TD>
								<TD>status</TD>
								<TD>note</TD>
							</TR>
							#foreach($ls2_lsIllness_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ls2:lsHealthData/illnesses/illness[$ls2_lsIllness_4_COUNTER]/lsIllness" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/illnesses/illness[$ls2_lsIllness_4_COUNTER]/status" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/illnesses/illness[$ls2_lsIllness_4_COUNTER]/note" $item "" $vr)</TD>
									#xdatHiddenBox("ls2:lsHealthData/illnesses/illness[$ls2_lsIllness_4_COUNTER]/ls2_lsIllness_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ls2:lsHealthData/illnesses/illness -->
<!-- BEGIN ls2:lsHealthData/substanceUse/substance -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ls2:lsHealthData/substanceUse/substance</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>current</TD>
								<TD>past</TD>
								<TD>name</TD>
							</TR>
							#foreach($ls2_lsSubstance_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ls2:lsHealthData/substanceUse/substance[$ls2_lsSubstance_4_COUNTER]/current" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/substanceUse/substance[$ls2_lsSubstance_4_COUNTER]/past" $item "" $vr)</TD>
									<TD>#xdatTextBox("ls2:lsHealthData/substanceUse/substance[$ls2_lsSubstance_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ls2:lsHealthData/substanceUse/substance[$ls2_lsSubstance_4_COUNTER]/ls2_lsSubstance_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ls2:lsHealthData/substanceUse/substance -->
			</TABLE>
<!-- END ls2:lsHealthData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
