<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Brain Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Brain Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>contLabel</TD><TD>$!item.getStringProperty("condr:brainData/contLabel")</TD></TR>
							<TR><TD>collTime</TD><TD>$!item.getProperty("condr:brainData/collTime")</TD></TR>
							<TR><TD>status</TD><TD>$!item.getStringProperty("condr:brainData/status")</TD></TR>
							<TR><TD>volume</TD><TD>$!item.getDoubleProperty("condr:brainData/volume")</TD></TR>
							<TR><TD>unitsVolume</TD><TD>$!item.getStringProperty("condr:brainData/unitsVolume")</TD></TR>
							<TR><TD>mass</TD><TD>$!item.getDoubleProperty("condr:brainData/mass")</TD></TR>
							<TR><TD>unitsMass</TD><TD>$!item.getStringProperty("condr:brainData/unitsMass")</TD></TR>
							<TR><TD>typeCont</TD><TD>$!item.getStringProperty("condr:brainData/typeCont")</TD></TR>
							<TR><TD>altLabel1</TD><TD>$!item.getStringProperty("condr:brainData/altLabel1")</TD></TR>
							<TR><TD>altLabel1Ref</TD><TD>$!item.getStringProperty("condr:brainData/altLabel1Ref")</TD></TR>
							<TR><TD>altLabel2</TD><TD>$!item.getStringProperty("condr:brainData/altLabel2")</TD></TR>
							<TR><TD>altLabel2Ref</TD><TD>$!item.getStringProperty("condr:brainData/altLabel2Ref")</TD></TR>
							<TR><TD>altLabel3</TD><TD>$!item.getStringProperty("condr:brainData/altLabel3")</TD></TR>
							<TR><TD>altLabel3Ref</TD><TD>$!item.getStringProperty("condr:brainData/altLabel3Ref")</TD></TR>
							<TR><TD>tissCollID</TD><TD>$!item.getStringProperty("condr:brainData/tissCollID")</TD></TR>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("condr:brainData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("condr:brainData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("condr:brainData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("condr:brainData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("condr:brainData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("condr:brainData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("condr:brainData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("condr:brainData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("condr:brainData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:brainData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("condr:brainData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("condr:brainData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:brainData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("condr:brainData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("condr:brainData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:brainData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainData/label")</TD></TR>
							<TR><TD>descLoc</TD><TD>$!item.getStringProperty("condr:brainData/descLoc")</TD></TR>
							<TR><TD>coordX</TD><TD>$!item.getDoubleProperty("condr:brainData/coordX")</TD></TR>
							<TR><TD>coordY</TD><TD>$!item.getDoubleProperty("condr:brainData/coordY")</TD></TR>
							<TR><TD>coordZ</TD><TD>$!item.getDoubleProperty("condr:brainData/coordZ")</TD></TR>
							<TR><TD>coordSource</TD><TD>$!item.getStringProperty("condr:brainData/coordSource")</TD></TR>
							<TR><TD>sampSplit</TD><TD>$!item.getBooleanProperty("condr:brainData/sampSplit")</TD></TR>
							<TR><TD>surgPath</TD><TD>$!item.getBooleanProperty("condr:brainData/surgPath")</TD></TR>
							<TR><TD>tumorBank</TD><TD>$!item.getBooleanProperty("condr:brainData/tumorBank")</TD></TR>
							<TR><TD>surgeryTimeNotReported</TD><TD>$!item.getBooleanProperty("condr:brainData/surgeryTimeNotReported")</TD></TR>
							<TR><TD>coordColl</TD><TD>$!item.getBooleanProperty("condr:brainData/coordColl")</TD></TR>
							<TR><TD>screenCapColl</TD><TD>$!item.getBooleanProperty("condr:brainData/screenCapColl")</TD></TR>
							<TR><TD>rgraphApp</TD><TD>$!item.getStringProperty("condr:brainData/rgraphApp")</TD></TR>
							<TR><TD>rgraphAppNote</TD><TD>$!item.getStringProperty("condr:brainData/rgraphAppNote")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN condr:brainData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:brainData/file -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/file</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>URI</TD><TD>$!item.getStringProperty("condr:brainData/file/URI")</TD></TR>
										<TR><TD>format</TD><TD>$!item.getStringProperty("condr:brainData/file/format")</TD></TR>
										<TR><TD>description</TD><TD>$!item.getStringProperty("condr:brainData/file/description")</TD></TR>
										<TR><TD>content</TD><TD>$!item.getStringProperty("condr:brainData/file/content")</TD></TR>
										<TR><TD>cachePath</TD><TD>$!item.getStringProperty("condr:brainData/file/cachePath")</TD></TR>
										<TR><TD>note</TD><TD>$!item.getStringProperty("condr:brainData/file/note")</TD></TR>
										<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainData/file/label")</TD></TR>
										<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("condr:brainData/file/file_count")</TD></TR>
										<TR><TD>file_size</TD><TD>$!item.getProperty("condr:brainData/file/file_size")</TD></TR>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
<!-- BEGIN condr:brainData/file/provenance -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/file/provenance</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($prov_processStep_3_NUM_ROWS=$item.getChildItems("condr:brainData/file/provenance/processStep").size() - 1)
													#if($prov_processStep_3_NUM_ROWS>=0)
														#foreach($prov_processStep_3_COUNTER in [0..$prov_processStep_3_NUM_ROWS])
<!-- BEGIN condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>program</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/program")</TD></TR>
																			<TR><TD>program/version</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/program/version")</TD></TR>
																			<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/program/arguments")</TD></TR>
																			<TR><TD>timestamp</TD><TD>$!item.getProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/timestamp")</TD></TR>
																			<TR><TD>cvs</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/cvs")</TD></TR>
																			<TR><TD>user</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/user")</TD></TR>
																			<TR><TD>machine</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/machine")</TD></TR>
																			<TR><TD>platform</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/platform")</TD></TR>
																			<TR><TD>platform/version</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/platform/version")</TD></TR>
																			<TR><TD>compiler</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/compiler")</TD></TR>
																			<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/compiler/version")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE><TR><TD>
																			#set($prov_processStep_library_4_NUM_ROWS=$item.getChildItems("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library").size() - 1)
																			#if($prov_processStep_library_4_NUM_ROWS>=0)
																				#foreach($prov_processStep_library_4_COUNTER in [0..$prov_processStep_library_4_NUM_ROWS])
<!-- BEGIN condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library[$prov_processStep_library_4_COUNTER] -->
																					<TABLE>
																						<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library[$prov_processStep_library_4_COUNTER]</font></TH></TR>
																						<TR>
																							<TD align="left" valign="top">
																								<TABLE>
																									<TR><TD>library</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library[$prov_processStep_library_4_COUNTER]/library")</TD></TR>
																									<TR><TD>version</TD><TD>$!item.getStringProperty("condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library[$prov_processStep_library_4_COUNTER]/version")</TD></TR>
																								</TABLE>
																							</TD>
																						</TR>
																					</TABLE>
<!-- END condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER]/library[$prov_processStep_library_4_COUNTER] -->
																				#end
																			#end
																		</TD></TR></TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END condr:brainData/file/provenance/processStep[$prov_processStep_3_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainData/file/provenance -->
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("condr:brainData/file/tags/tag").size() - 1)
										#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
											#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN condr:brainData/file/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/file/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>tag</TD><TD>$!item.getStringProperty("condr:brainData/file/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																<TR><TD>name</TD><TD>$!item.getStringProperty("condr:brainData/file/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
															</TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END condr:brainData/file/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:brainData/file -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_6_NUM_ROWS=$item.getChildItems("condr:brainData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_6_COUNTER in [0..$xnat_experimentData_share_6_NUM_ROWS])
<!-- BEGIN condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainData/sharing/share[$xnat_experimentData_share_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:brainData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("condr:brainData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("condr:brainData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("condr:brainData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("condr:brainData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("condr:brainData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("condr:brainData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("condr:brainData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:brainData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:brainData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:brainData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("condr:brainData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("condr:brainData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("condr:brainData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("condr:brainData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("condr:brainData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:brainData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_9_NUM_ROWS=$item.getChildItems("condr:brainData/resources/resource").size() - 1)
							#if($xnat_abstractResource_9_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_9_COUNTER in [0..$xnat_abstractResource_9_NUM_ROWS])
<!-- BEGIN condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_10_NUM_ROWS=$item.getChildItems("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_10_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_10_COUNTER in [0..$xnat_abstractResource_tag_10_NUM_ROWS])
<!-- BEGIN condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER]/tags/tag[$xnat_abstractResource_tag_10_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainData/resources/resource[$xnat_abstractResource_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_11_NUM_ROWS=$item.getChildItems("condr:brainData/fields/field").size() - 1)
							#if($xnat_experimentData_field_11_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_11_COUNTER in [0..$xnat_experimentData_field_11_NUM_ROWS])
<!-- BEGIN condr:brainData/fields/field[$xnat_experimentData_field_11_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainData/fields/field[$xnat_experimentData_field_11_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("condr:brainData/fields/field[$xnat_experimentData_field_11_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("condr:brainData/fields/field[$xnat_experimentData_field_11_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainData/fields/field[$xnat_experimentData_field_11_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END condr:brainData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
