<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ModifiedScheltens Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ModifiedScheltens Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>imageSession_ID</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/imageSession_ID")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/label")</TD></TR>
							<TR><TD>assessment/virchow_robin/present</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/virchow_robin/present")</TD></TR>
							<TR><TD>assessment/virchow_robin/location</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/assessment/virchow_robin/location")</TD></TR>
							<TR><TD>assessment/virchow_robin/potential_contribution</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/virchow_robin/potential_contribution")</TD></TR>
							<TR><TD>assessment/virchow_robin/contribution_location</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/assessment/virchow_robin/contribution_location")</TD></TR>
							<TR><TD>assessment/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/confluent")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN cnda:modifiedScheltensData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_1_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/in/file").size() - 1)
							#if($xnat_abstractResource_1_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_1_COUNTER in [0..$xnat_abstractResource_1_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_2_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_2_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_2_COUNTER in [0..$xnat_abstractResource_tag_2_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/in/file[$xnat_abstractResource_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_3_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/out/file").size() - 1)
							#if($xnat_abstractResource_3_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_3_COUNTER in [0..$xnat_abstractResource_3_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_4_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_4_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_4_COUNTER in [0..$xnat_abstractResource_tag_4_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/out/file[$xnat_abstractResource_3_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_addField_5_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/parameters/addParam").size() - 1)
							#if($xnat_addField_5_NUM_ROWS>=0)
								#foreach($xnat_addField_5_COUNTER in [0..$xnat_addField_5_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_5_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_5_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>addField</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_5_COUNTER]/addField")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_5_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/parameters/addParam[$xnat_addField_5_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#set($prov_processStep_7_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/provenance/processStep").size() - 1)
										#if($prov_processStep_7_NUM_ROWS>=0)
											#foreach($prov_processStep_7_COUNTER in [0..$prov_processStep_7_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER] -->
												<TABLE>
													<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]</font></TH></TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE>
																<TR><TD>program</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/program")</TD></TR>
																<TR><TD>program/version</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/program/version")</TD></TR>
																<TR><TD>program/arguments</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/program/arguments")</TD></TR>
																<TR><TD>timestamp</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/timestamp")</TD></TR>
																<TR><TD>cvs</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/cvs")</TD></TR>
																<TR><TD>user</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/user")</TD></TR>
																<TR><TD>machine</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/machine")</TD></TR>
																<TR><TD>platform</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/platform")</TD></TR>
																<TR><TD>platform/version</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/platform/version")</TD></TR>
																<TR><TD>compiler</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler")</TD></TR>
																<TR><TD>compiler/version</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/compiler/version")</TD></TR>
															</TABLE>
														</TD>
													</TR>
													<TR>
														<TD align="left" valign="top">
															<TABLE><TR><TD>
																#set($prov_processStep_library_8_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library").size() - 1)
																#if($prov_processStep_library_8_NUM_ROWS>=0)
																	#foreach($prov_processStep_library_8_COUNTER in [0..$prov_processStep_library_8_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																		<TABLE>
																			<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]</font></TH></TR>
																			<TR>
																				<TD align="left" valign="top">
																					<TABLE>
																						<TR><TD>library</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/library")</TD></TR>
																						<TR><TD>version</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER]/version")</TD></TR>
																					</TABLE>
																				</TD>
																			</TR>
																		</TABLE>
<!-- END cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER]/library[$prov_processStep_library_8_COUNTER] -->
																	#end
																#end
															</TD></TR></TABLE>
														</TD>
													</TR>
												</TABLE>
<!-- END cnda:modifiedScheltensData/provenance/processStep[$prov_processStep_7_COUNTER] -->
											#end
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_9_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_9_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_9_COUNTER in [0..$xnat_experimentData_share_9_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/sharing/share[$xnat_experimentData_share_9_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_12_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/resources/resource").size() - 1)
							#if($xnat_abstractResource_12_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_12_COUNTER in [0..$xnat_abstractResource_12_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_13_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_13_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_13_COUNTER in [0..$xnat_abstractResource_tag_13_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER]/tags/tag[$xnat_abstractResource_tag_13_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/resources/resource[$xnat_abstractResource_12_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_14_NUM_ROWS=$item.getChildItems("cnda:modifiedScheltensData/fields/field").size() - 1)
							#if($xnat_experimentData_field_14_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_14_COUNTER in [0..$xnat_experimentData_field_14_NUM_ROWS])
<!-- BEGIN cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_14_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_14_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_14_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END cnda:modifiedScheltensData/fields/field[$xnat_experimentData_field_14_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/frontal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/parietal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/occipital -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/deep_white_matter/temporal -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/left")</TD></TR>
										<TR><TD>right</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/right")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/frontal_horns -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/left")</TD></TR>
										<TR><TD>right</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/right")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/posterior_horns -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/left")</TD></TR>
										<TR><TD>right</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/right")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/periventricular/ventricular_body -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/internal_capsule -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/caudate -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/putamen -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/globus_pallidus -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>left/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/small")</TD></TR>
										<TR><TD>left/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/medium")</TD></TR>
										<TR><TD>left/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/lesions/large")</TD></TR>
										<TR><TD>left/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/infarcts/medium")</TD></TR>
										<TR><TD>left/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/infarcts/large")</TD></TR>
										<TR><TD>left/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/volume")</TD></TR>
										<TR><TD>left/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/left/confluent")</TD></TR>
										<TR><TD>right/lesions/small</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/small")</TD></TR>
										<TR><TD>right/lesions/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/medium")</TD></TR>
										<TR><TD>right/lesions/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/lesions/large")</TD></TR>
										<TR><TD>right/infarcts/medium</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/infarcts/medium")</TD></TR>
										<TR><TD>right/infarcts/large</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/infarcts/large")</TD></TR>
										<TR><TD>right/volume</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/volume")</TD></TR>
										<TR><TD>right/confluent</TD><TD>$!item.getBooleanProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/right/confluent")</TD></TR>
										<TR><TD>scheltens</TD><TD>$!item.getIntegerProperty("cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus/scheltens")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END cnda:modifiedScheltensData/assessment/regions/basal_ganglia/thalamus -->
					</TD>
				</TR>
			</TABLE>
<!-- END cnda:modifiedScheltensData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
