<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyImageAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">FdgCardioAssessor Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<hr>
								#parse("/screens/xnat_edit_experimentData.vm")
								<HR></TD></TR>
							<tr>
								<th align="left">FdgCardioAssessor ID</th>
								<TD align="left">#xdatStringBox("ghf:fdgCardioAssessor.ID" $item "" $vr)</TD>
							</tr>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>imageSession_ID</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/imageSession_ID" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("ghf:fdgCardioAssessor/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/label" $item "" $vr)</TD></TR>
							<TR><TD>pvsCorrectFracs/fbb</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/pvsCorrectFracs/fbb" $item "" $vr)</TD></TR>
							<TR><TD>pvsCorrectFracs/fbm</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/pvsCorrectFracs/fbm" $item "" $vr)</TD></TR>
							<TR><TD>pvsCorrectFracs/fmb</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/pvsCorrectFracs/fmb" $item "" $vr)</TD></TR>
							<TR><TD>pvsCorrectFracs/fmm</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/pvsCorrectFracs/fmm" $item "" $vr)</TD></TR>
							<TR><TD>baselinePlasma/gluc</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/baselinePlasma/gluc" $item "" $vr)</TD></TR>
							<TR><TD>baselinePlasma/ffa</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/baselinePlasma/ffa" $item "" $vr)</TD></TR>
							<TR><TD>fiveMinPlasma/gluc</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/fiveMinPlasma/gluc" $item "" $vr)</TD></TR>
							<TR><TD>fiveMinPlasma/ffa</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/fiveMinPlasma/ffa" $item "" $vr)</TD></TR>
							<TR><TD>fifteenMinPlasma/gluc</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/fifteenMinPlasma/gluc" $item "" $vr)</TD></TR>
							<TR><TD>fifteenMinPlasma/ffa</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/fifteenMinPlasma/ffa" $item "" $vr)</TD></TR>
							<TR><TD>thirtyMinPlasma/gluc</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/thirtyMinPlasma/gluc" $item "" $vr)</TD></TR>
							<TR><TD>thirtyMinPlasma/ffa</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/thirtyMinPlasma/ffa" $item "" $vr)</TD></TR>
							<TR><TD>sixtyMinPlasma/gluc</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/sixtyMinPlasma/gluc" $item "" $vr)</TD></TR>
							<TR><TD>sixtyMinPlasma/ffa</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/sixtyMinPlasma/ffa" $item "" $vr)</TD></TR>
							<TR><TD>baselineHeart/sbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/baselineHeart/sbp" $item "" $vr)</TD></TR>
							<TR><TD>baselineHeart/dbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/baselineHeart/dbp" $item "" $vr)</TD></TR>
							<TR><TD>baselineHeart/hr</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/baselineHeart/hr" $item "" $vr)</TD></TR>
							<TR><TD>thirtyMinHeart/sbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/thirtyMinHeart/sbp" $item "" $vr)</TD></TR>
							<TR><TD>thirtyMinHeart/dbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/thirtyMinHeart/dbp" $item "" $vr)</TD></TR>
							<TR><TD>thirtyMinHeart/hr</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/thirtyMinHeart/hr" $item "" $vr)</TD></TR>
							<TR><TD>sixtyMinHeart/sbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/sixtyMinHeart/sbp" $item "" $vr)</TD></TR>
							<TR><TD>sixtyMinHeart/dbp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/sixtyMinHeart/dbp" $item "" $vr)</TD></TR>
							<TR><TD>sixtyMinHeart/hr</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/sixtyMinHeart/hr" $item "" $vr)</TD></TR>
							<TR><TD>ki/roi1</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/ki/roi1" $item "" $vr)</TD></TR>
							<TR><TD>ki/roi2</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/ki/roi2" $item "" $vr)</TD></TR>
							<TR><TD>ki/roi3</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/ki/roi3" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ghf:fdgCardioAssessor -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_1_COUNTER in [0..5])
<!-- BEGIN ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_2_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag[$xnat_abstractResource_tag_2_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ghf:fdgCardioAssessor/in/file[$xnat_abstractResource_1_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_2_COUNTER in [0..5])
<!-- BEGIN ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_3_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag[$xnat_abstractResource_tag_3_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ghf:fdgCardioAssessor/out/file[$xnat_abstractResource_2_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ghf:fdgCardioAssessor/parameters/addParam -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/parameters/addParam</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>addField</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_addField_3_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ghf:fdgCardioAssessor/parameters/addParam[$xnat_addField_3_COUNTER]/addField" $item "" $vr)</TD>
									<TD>#xdatTextBox("ghf:fdgCardioAssessor/parameters/addParam[$xnat_addField_3_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ghf:fdgCardioAssessor/parameters/addParam[$xnat_addField_3_COUNTER]/xnat_addField_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ghf:fdgCardioAssessor/parameters/addParam -->
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:fdgCardioAssessor/provenance -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/provenance</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
																#xdatHiddenBox("ghf:fdgCardioAssessor/provenance/prov_process_id" $item "")
									</TABLE>
								</TD>
							</TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE><TR><TD>
										#foreach($prov_processStep_4_COUNTER in [0..5])
<!-- BEGIN ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER] -->
											<TABLE>
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR><TD>program</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/program" $item "" $vr)</TD></TR>
															<TR><TD>program/version</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/program/version" $item "" $vr)</TD></TR>
															<TR><TD>program/arguments</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/program/arguments" $item "" $vr)</TD></TR>
															<TR><TD>timestamp</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/timestamp" $item "" $vr)</TD></TR>
															<TR><TD>cvs</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/cvs" $item "" $vr)</TD></TR>
															<TR><TD>user</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/user" $item "" $vr)</TD></TR>
															<TR><TD>machine</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/machine" $item "" $vr)</TD></TR>
															<TR><TD>platform</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/platform" $item "" $vr)</TD></TR>
															<TR><TD>platform/version</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/platform/version" $item "" $vr)</TD></TR>
															<TR><TD>compiler</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/compiler" $item "" $vr)</TD></TR>
															<TR><TD>compiler/version</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/compiler/version" $item "" $vr)</TD></TR>
																					#xdatHiddenBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/prov_processStep_id" $item "")
														</TABLE>
													</TD>
												</TR>
<!-- BEGIN ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
												<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library</font></TH></TR>
												<TR>
													<TD align="left" valign="top">
														<TABLE>
															<TR>
																<TD>library</TD>
																<TD>version</TD>
															</TR>
															#foreach($prov_processStep_library_5_COUNTER in [0..5])
																<TR>
																	<TD>#xdatTextBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/library" $item "" $vr)</TD>
																	<TD>#xdatTextBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/version" $item "" $vr)</TD>
																	#xdatHiddenBox("ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library[$prov_processStep_library_5_COUNTER]/prov_processStep_library_id" $item "")
																</TR>
															#end
														</TABLE>
													</TD>
												</TR>
<!-- END ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER]/library -->
											</TABLE>
<!-- END ghf:fdgCardioAssessor/provenance/processStep[$prov_processStep_4_COUNTER] -->
										#end
									</TD></TR></TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:fdgCardioAssessor/provenance -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:fdgCardioAssessor/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ghf:fdgCardioAssessor/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:fdgCardioAssessor/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ghf:fdgCardioAssessor/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("ghf:fdgCardioAssessor/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ghf:fdgCardioAssessor/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ghf:fdgCardioAssessor/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_7_COUNTER in [0..5])
<!-- BEGIN ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_8_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag[$xnat_abstractResource_tag_8_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ghf:fdgCardioAssessor/resources/resource[$xnat_abstractResource_7_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ghf:fdgCardioAssessor/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ghf:fdgCardioAssessor/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_8_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ghf:fdgCardioAssessor/fields/field[$xnat_experimentData_field_8_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("ghf:fdgCardioAssessor/fields/field[$xnat_experimentData_field_8_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ghf:fdgCardioAssessor/fields/field[$xnat_experimentData_field_8_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ghf:fdgCardioAssessor/fields/field -->
			</TABLE>
<!-- END ghf:fdgCardioAssessor -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
