<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("ChemotherapyTreatment Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>ChemotherapyTreatment Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>type</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/type")</TD></TR>
							<TR><TD>unit</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/unit")</TD></TR>
							<TR><TD>dose</TD><TD>$!item.getDoubleProperty("tx:chemotherapyTreatment/dose")</TD></TR>
							<TR><TD>timing</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/timing")</TD></TR>
							<TR><TD>startDate</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/startDate")</TD></TR>
							<TR><TD>startDateDayNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/startDateDayNotReported")</TD></TR>
							<TR><TD>startDateMonthNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/startDateMonthNotReported")</TD></TR>
							<TR><TD>startDateYearNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/startDateYearNotReported")</TD></TR>
							<TR><TD>endDate</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/endDate")</TD></TR>
							<TR><TD>endDateDayNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/endDateDayNotReported")</TD></TR>
							<TR><TD>endDateMonthNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/endDateMonthNotReported")</TD></TR>
							<TR><TD>endDateYearNotReported</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/endDateYearNotReported")</TD></TR>
							<TR><TD>completed</TD><TD>$!item.getBooleanProperty("tx:chemotherapyTreatment/completed")</TD></TR>
							<TR><TD>incompleteReason</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/incompleteReason")</TD></TR>
							<TR><TD>incompleteExtent</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/incompleteExtent")</TD></TR>
							<TR><TD>clinicalTrialName</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/clinicalTrialName")</TD></TR>
							<TR><TD>clinicalTrialArm</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/clinicalTrialArm")</TD></TR>
							<TR><TD>completedNotes</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/completedNotes")</TD></TR>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("tx:chemotherapyTreatment/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("tx:chemotherapyTreatment/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("tx:chemotherapyTreatment/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/label")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN tx:chemotherapyTreatment -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("tx:chemotherapyTreatment/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:chemotherapyTreatment/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:chemotherapyTreatment/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:chemotherapyTreatment/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN tx:chemotherapyTreatment/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END tx:chemotherapyTreatment/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("tx:chemotherapyTreatment/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:chemotherapyTreatment/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("tx:chemotherapyTreatment/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN tx:chemotherapyTreatment/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">tx:chemotherapyTreatment/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("tx:chemotherapyTreatment/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END tx:chemotherapyTreatment/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END tx:chemotherapyTreatment -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
