<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("BrainPathology Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>BrainPathology Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>dateResultsReport</TD><TD>$!item.getProperty("condr:brainPathData/dateResultsReport")</TD></TR>
							<TR><TD>timeResultsReport</TD><TD>$!item.getProperty("condr:brainPathData/timeResultsReport")</TD></TR>
							<TR><TD>nonNumericResults</TD><TD>$!item.getStringProperty("condr:brainPathData/nonNumericResults")</TD></TR>
							<TR><TD>numericResults</TD><TD>$!item.getDoubleProperty("condr:brainPathData/numericResults")</TD></TR>
							<TR><TD>unitsNumericResults</TD><TD>$!item.getDoubleProperty("condr:brainPathData/unitsNumericResults")</TD></TR>
							<TR><TD>tissCollID</TD><TD>$!item.getStringProperty("condr:brainPathData/tissCollID")</TD></TR>
							<TR><TD>specID</TD><TD>$!item.getStringProperty("condr:brainPathData/specID")</TD></TR>
							<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("condr:brainPathData/subject_ID")</TD></TR>
							<TR><TD>age</TD><TD>$!item.getDoubleProperty("condr:brainPathData/age")</TD></TR>
							<TR><TD>date</TD><TD>$!item.getProperty("condr:brainPathData/date")</TD></TR>
							<TR><TD>time</TD><TD>$!item.getProperty("condr:brainPathData/time")</TD></TR>
							<TR><TD>duration</TD><TD>$!item.getProperty("condr:brainPathData/duration")</TD></TR>
							<TR><TD>delay</TD><TD>$!item.getIntegerProperty("condr:brainPathData/delay")</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("condr:brainPathData/delay/ref_expt_id")</TD></TR>
							<TR><TD>note</TD><TD>$!item.getStringProperty("condr:brainPathData/note")</TD></TR>
							<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("condr:brainPathData/acquisition_site")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:brainPathData/ID")</TD></TR>
							<TR><TD>project</TD><TD>$!item.getStringProperty("condr:brainPathData/project")</TD></TR>
							<TR><TD>visit_id</TD><TD>$!item.getStringProperty("condr:brainPathData/visit_id")</TD></TR>
							<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:brainPathData/visit")</TD></TR>
							<TR><TD>version</TD><TD>$!item.getIntegerProperty("condr:brainPathData/version")</TD></TR>
							<TR><TD>original</TD><TD>$!item.getStringProperty("condr:brainPathData/original")</TD></TR>
							<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:brainPathData/protocol")</TD></TR>
							<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainPathData/label")</TD></TR>
							<TR><TD>tumorType</TD><TD>$!item.getStringProperty("condr:brainPathData/tumorType")</TD></TR>
							<TR><TD>primaryTumorType</TD><TD>$!item.getStringProperty("condr:brainPathData/primaryTumorType")</TD></TR>
							<TR><TD>primaryWHOGrade</TD><TD>$!item.getStringProperty("condr:brainPathData/primaryWHOGrade")</TD></TR>
							<TR><TD>metastatOrig</TD><TD>$!item.getStringProperty("condr:brainPathData/metastatOrig")</TD></TR>
							<TR><TD>onep19qDeletions</TD><TD>$!item.getStringProperty("condr:brainPathData/onep19qDeletions")</TD></TR>
							<TR><TD>mgmtPromoterStatus</TD><TD>$!item.getStringProperty("condr:brainPathData/mgmtPromoterStatus")</TD></TR>
							<TR><TD>mib1Index</TD><TD>$!item.getDoubleProperty("condr:brainPathData/mib1Index")</TD></TR>
							<TR><TD>mib1IndexNotReported</TD><TD>$!item.getBooleanProperty("condr:brainPathData/mib1IndexNotReported")</TD></TR>
							<TR><TD>pten</TD><TD>$!item.getStringProperty("condr:brainPathData/pten")</TD></TR>
							<TR><TD>p53</TD><TD>$!item.getStringProperty("condr:brainPathData/p53")</TD></TR>
							<TR><TD>othFeat</TD><TD>$!item.getStringProperty("condr:brainPathData/othFeat")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#parse($turbineUtils.getTemplateName("actions",$om.getXSIType(),$project))
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN condr:brainPathData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("condr:brainPathData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
													<TR><TD>visit</TD><TD>$!item.getStringProperty("condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]/visit")</TD></TR>
													<TR><TD>protocol</TD><TD>$!item.getStringProperty("condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER]/protocol")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainPathData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:brainPathData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("condr:brainPathData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:brainPathData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN condr:brainPathData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("condr:brainPathData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("condr:brainPathData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("condr:brainPathData/validation/notes")</TD></TR>
										<TR><TD>validated_by</TD><TD>$!item.getStringProperty("condr:brainPathData/validation/validated_by")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("condr:brainPathData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END condr:brainPathData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("condr:brainPathData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
													<TR><TD>file_count</TD><TD>$!item.getIntegerProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_count")</TD></TR>
													<TR><TD>file_size</TD><TD>$!item.getProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/file_size")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainPathData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("condr:brainPathData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN condr:brainPathData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">condr:brainPathData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("condr:brainPathData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("condr:brainPathData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END condr:brainPathData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END condr:brainPathData -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
