<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">CSF Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("dian:csfData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("dian:csfData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("dian:csfData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("dian:csfData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("dian:csfData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("dian:csfData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("dian:csfData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("dian:csfData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("dian:csfData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("dian:csfData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("dian:csfData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("dian:csfData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("dian:csfData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("dian:csfData/label" $item "" $vr)</TD></TR>
							<TR><TD>bldCollSess</TD><TD>#xdatStringBox("dian:csfData/bldCollSess" $item "" $vr)</TD></TR>
							<TR><TD>tau</TD><TD>#xdatTextBox("dian:csfData/tau" $item "" $vr)</TD></TR>
							<TR><TD>tauUnits</TD><TD>#xdatStringBox("dian:csfData/tauUnits" $item "" $vr)</TD></TR>
							<TR><TD>ptau</TD><TD>#xdatTextBox("dian:csfData/ptau" $item "" $vr)</TD></TR>
							<TR><TD>ptauUnits</TD><TD>#xdatStringBox("dian:csfData/ptauUnits" $item "" $vr)</TD></TR>
							<TR><TD>Ab40</TD><TD>#xdatTextBox("dian:csfData/Ab40" $item "" $vr)</TD></TR>
							<TR><TD>Ab40Units</TD><TD>#xdatStringBox("dian:csfData/Ab40Units" $item "" $vr)</TD></TR>
							<TR><TD>Ab40Lot</TD><TD>#xdatStringBox("dian:csfData/Ab40Lot" $item "" $vr)</TD></TR>
							<TR><TD>Ab40Plate</TD><TD>#xdatStringBox("dian:csfData/Ab40Plate" $item "" $vr)</TD></TR>
							<TR><TD>Ab40AssayDate</TD><TD>#xdatDateBox("dian:csfData/Ab40AssayDate" $item $vr $years)</TD></TR>
							<TR><TD>Ab42</TD><TD>#xdatTextBox("dian:csfData/Ab42" $item "" $vr)</TD></TR>
							<TR><TD>Ab42Units</TD><TD>#xdatStringBox("dian:csfData/Ab42Units" $item "" $vr)</TD></TR>
							<TR><TD>Ab42Lot</TD><TD>#xdatStringBox("dian:csfData/Ab42Lot" $item "" $vr)</TD></TR>
							<TR><TD>Ab42Plate</TD><TD>#xdatStringBox("dian:csfData/Ab42Plate" $item "" $vr)</TD></TR>
							<TR><TD>Ab42AssayDate</TD><TD>#xdatDateBox("dian:csfData/Ab42AssayDate" $item $vr $years)</TD></TR>
							<TR><TD>XMAPtau</TD><TD>#xdatTextBox("dian:csfData/XMAPtau" $item "" $vr)</TD></TR>
							<TR><TD>XMAPtauUnits</TD><TD>#xdatStringBox("dian:csfData/XMAPtauUnits" $item "" $vr)</TD></TR>
							<TR><TD>XMAPtauLot</TD><TD>#xdatStringBox("dian:csfData/XMAPtauLot" $item "" $vr)</TD></TR>
							<TR><TD>XMAPtauPlate</TD><TD>#xdatStringBox("dian:csfData/XMAPtauPlate" $item "" $vr)</TD></TR>
							<TR><TD>XMAPtauAssayDate</TD><TD>#xdatDateBox("dian:csfData/XMAPtauAssayDate" $item $vr $years)</TD></TR>
							<TR><TD>XMAPptau181</TD><TD>#xdatTextBox("dian:csfData/XMAPptau181" $item "" $vr)</TD></TR>
							<TR><TD>XMAPptau181Units</TD><TD>#xdatStringBox("dian:csfData/XMAPptau181Units" $item "" $vr)</TD></TR>
							<TR><TD>XMAPptau181Lot</TD><TD>#xdatStringBox("dian:csfData/XMAPptau181Lot" $item "" $vr)</TD></TR>
							<TR><TD>XMAPptau181Plate</TD><TD>#xdatStringBox("dian:csfData/XMAPptau181Plate" $item "" $vr)</TD></TR>
							<TR><TD>XMAPptau181AssayDate</TD><TD>#xdatDateBox("dian:csfData/XMAPptau181AssayDate" $item $vr $years)</TD></TR>
							<TR><TD>XMAPAb42</TD><TD>#xdatTextBox("dian:csfData/XMAPAb42" $item "" $vr)</TD></TR>
							<TR><TD>XMAPAb42Units</TD><TD>#xdatStringBox("dian:csfData/XMAPAb42Units" $item "" $vr)</TD></TR>
							<TR><TD>XMAPAb42Lot</TD><TD>#xdatStringBox("dian:csfData/XMAPAb42Lot" $item "" $vr)</TD></TR>
							<TR><TD>XMAPAb42Plate</TD><TD>#xdatStringBox("dian:csfData/XMAPAb42Plate" $item "" $vr)</TD></TR>
							<TR><TD>XMAPAb42AssayDate</TD><TD>#xdatDateBox("dian:csfData/XMAPAb42AssayDate" $item $vr $years)</TD></TR>
							<TR><TD>CSF_AB40_plus_QCFAILS</TD><TD>#xdatTextBox("dian:csfData/CSF_AB40_plus_QCFAILS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_AB40_COMMENTS</TD><TD>#xdatStringBox("dian:csfData/CSF_AB40_COMMENTS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_AB42_plus_QCFAILS</TD><TD>#xdatTextBox("dian:csfData/CSF_AB42_plus_QCFAILS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_AB42_COMMENTS</TD><TD>#xdatStringBox("dian:csfData/CSF_AB42_COMMENTS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAP_AB42_plus_QCFAILS</TD><TD>#xdatTextBox("dian:csfData/CSF_XMAP_AB42_plus_QCFAILS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAP_AB42_COMMENTS</TD><TD>#xdatStringBox("dian:csfData/CSF_XMAP_AB42_COMMENTS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAPTAU_plus_QCFAILS</TD><TD>#xdatTextBox("dian:csfData/CSF_XMAPTAU_plus_QCFAILS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAPTAU_COMMENTS</TD><TD>#xdatStringBox("dian:csfData/CSF_XMAPTAU_COMMENTS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAPPTAU181_plus_QCFAILS</TD><TD>#xdatTextBox("dian:csfData/CSF_XMAPPTAU181_plus_QCFAILS" $item "" $vr)</TD></TR>
							<TR><TD>CSF_XMAPPTAU181_COMMENTS</TD><TD>#xdatStringBox("dian:csfData/CSF_XMAPPTAU181_COMMENTS" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN dian:csfData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:csfData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:csfData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("dian:csfData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("dian:csfData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("dian:csfData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("dian:csfData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("dian:csfData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("dian:csfData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("dian:csfData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("dian:csfData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("dian:csfData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:csfData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:csfData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:csfData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("dian:csfData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("dian:csfData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("dian:csfData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("dian:csfData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("dian:csfData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("dian:csfData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:csfData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END dian:csfData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN dian:csfData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:csfData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("dian:csfData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("dian:csfData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("dian:csfData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END dian:csfData/fields/field -->
			</TABLE>
<!-- END dian:csfData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
