<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"])
#set($days = [ 1..31 ])
#set($years = [ $!turbineUtils.getYear()..1900])
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">IPIPPT Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("ipip:ipipptData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("ipip:ipipptData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("ipip:ipipptData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("ipip:ipipptData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("ipip:ipipptData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("ipip:ipipptData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("ipip:ipipptData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("ipip:ipipptData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("ipip:ipipptData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>visit</TD><TD>#xdatStringBox("ipip:ipipptData/visit" $item "" $vr)</TD></TR>
							<TR><TD>version</TD><TD>#xdatTextBox("ipip:ipipptData/version" $item "" $vr)</TD></TR>
							<TR><TD>original</TD><TD>#xdatStringBox("ipip:ipipptData/original" $item "" $vr)</TD></TR>
							<TR><TD>protocol</TD><TD>#xdatStringBox("ipip:ipipptData/protocol" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("ipip:ipipptData/label" $item "" $vr)</TD></TR>
							<TR><TD>source</TD><TD>#xdatStringBox("ipip:ipipptData/source" $item "" $vr)</TD></TR>
							<TR><TD>Q1</TD><TD>#xdatTextBox("ipip:ipipptData/Q1" $item "" $vr)</TD></TR>
							<TR><TD>Q2</TD><TD>#xdatTextBox("ipip:ipipptData/Q2" $item "" $vr)</TD></TR>
							<TR><TD>Q3</TD><TD>#xdatTextBox("ipip:ipipptData/Q3" $item "" $vr)</TD></TR>
							<TR><TD>Q4</TD><TD>#xdatTextBox("ipip:ipipptData/Q4" $item "" $vr)</TD></TR>
							<TR><TD>Q5</TD><TD>#xdatTextBox("ipip:ipipptData/Q5" $item "" $vr)</TD></TR>
							<TR><TD>Q6</TD><TD>#xdatTextBox("ipip:ipipptData/Q6" $item "" $vr)</TD></TR>
							<TR><TD>Q7</TD><TD>#xdatTextBox("ipip:ipipptData/Q7" $item "" $vr)</TD></TR>
							<TR><TD>Q8</TD><TD>#xdatTextBox("ipip:ipipptData/Q8" $item "" $vr)</TD></TR>
							<TR><TD>Q9</TD><TD>#xdatTextBox("ipip:ipipptData/Q9" $item "" $vr)</TD></TR>
							<TR><TD>Q10</TD><TD>#xdatTextBox("ipip:ipipptData/Q10" $item "" $vr)</TD></TR>
							<TR><TD>Q11</TD><TD>#xdatTextBox("ipip:ipipptData/Q11" $item "" $vr)</TD></TR>
							<TR><TD>Q12</TD><TD>#xdatTextBox("ipip:ipipptData/Q12" $item "" $vr)</TD></TR>
							<TR><TD>Q13</TD><TD>#xdatTextBox("ipip:ipipptData/Q13" $item "" $vr)</TD></TR>
							<TR><TD>Q14</TD><TD>#xdatTextBox("ipip:ipipptData/Q14" $item "" $vr)</TD></TR>
							<TR><TD>Q15</TD><TD>#xdatTextBox("ipip:ipipptData/Q15" $item "" $vr)</TD></TR>
							<TR><TD>Q16</TD><TD>#xdatTextBox("ipip:ipipptData/Q16" $item "" $vr)</TD></TR>
							<TR><TD>Q17</TD><TD>#xdatTextBox("ipip:ipipptData/Q17" $item "" $vr)</TD></TR>
							<TR><TD>Q18</TD><TD>#xdatTextBox("ipip:ipipptData/Q18" $item "" $vr)</TD></TR>
							<TR><TD>Q19</TD><TD>#xdatTextBox("ipip:ipipptData/Q19" $item "" $vr)</TD></TR>
							<TR><TD>Q20</TD><TD>#xdatTextBox("ipip:ipipptData/Q20" $item "" $vr)</TD></TR>
							<TR><TD>Q21</TD><TD>#xdatTextBox("ipip:ipipptData/Q21" $item "" $vr)</TD></TR>
							<TR><TD>Q22</TD><TD>#xdatTextBox("ipip:ipipptData/Q22" $item "" $vr)</TD></TR>
							<TR><TD>Q23</TD><TD>#xdatTextBox("ipip:ipipptData/Q23" $item "" $vr)</TD></TR>
							<TR><TD>Q24</TD><TD>#xdatTextBox("ipip:ipipptData/Q24" $item "" $vr)</TD></TR>
							<TR><TD>Q25</TD><TD>#xdatTextBox("ipip:ipipptData/Q25" $item "" $vr)</TD></TR>
							<TR><TD>Q26</TD><TD>#xdatTextBox("ipip:ipipptData/Q26" $item "" $vr)</TD></TR>
							<TR><TD>Q27</TD><TD>#xdatTextBox("ipip:ipipptData/Q27" $item "" $vr)</TD></TR>
							<TR><TD>Q28</TD><TD>#xdatTextBox("ipip:ipipptData/Q28" $item "" $vr)</TD></TR>
							<TR><TD>Q29</TD><TD>#xdatTextBox("ipip:ipipptData/Q29" $item "" $vr)</TD></TR>
							<TR><TD>Q30</TD><TD>#xdatTextBox("ipip:ipipptData/Q30" $item "" $vr)</TD></TR>
							<TR><TD>Q31</TD><TD>#xdatTextBox("ipip:ipipptData/Q31" $item "" $vr)</TD></TR>
							<TR><TD>Q32</TD><TD>#xdatTextBox("ipip:ipipptData/Q32" $item "" $vr)</TD></TR>
							<TR><TD>Q33</TD><TD>#xdatTextBox("ipip:ipipptData/Q33" $item "" $vr)</TD></TR>
							<TR><TD>Q34</TD><TD>#xdatTextBox("ipip:ipipptData/Q34" $item "" $vr)</TD></TR>
							<TR><TD>Q35</TD><TD>#xdatTextBox("ipip:ipipptData/Q35" $item "" $vr)</TD></TR>
							<TR><TD>Q36</TD><TD>#xdatTextBox("ipip:ipipptData/Q36" $item "" $vr)</TD></TR>
							<TR><TD>Q37</TD><TD>#xdatTextBox("ipip:ipipptData/Q37" $item "" $vr)</TD></TR>
							<TR><TD>Q38</TD><TD>#xdatTextBox("ipip:ipipptData/Q38" $item "" $vr)</TD></TR>
							<TR><TD>Q39</TD><TD>#xdatTextBox("ipip:ipipptData/Q39" $item "" $vr)</TD></TR>
							<TR><TD>Q40</TD><TD>#xdatTextBox("ipip:ipipptData/Q40" $item "" $vr)</TD></TR>
							<TR><TD>Q41</TD><TD>#xdatTextBox("ipip:ipipptData/Q41" $item "" $vr)</TD></TR>
							<TR><TD>Q42</TD><TD>#xdatTextBox("ipip:ipipptData/Q42" $item "" $vr)</TD></TR>
							<TR><TD>Q43</TD><TD>#xdatTextBox("ipip:ipipptData/Q43" $item "" $vr)</TD></TR>
							<TR><TD>Q44</TD><TD>#xdatTextBox("ipip:ipipptData/Q44" $item "" $vr)</TD></TR>
							<TR><TD>Q45</TD><TD>#xdatTextBox("ipip:ipipptData/Q45" $item "" $vr)</TD></TR>
							<TR><TD>Q46</TD><TD>#xdatTextBox("ipip:ipipptData/Q46" $item "" $vr)</TD></TR>
							<TR><TD>Q47</TD><TD>#xdatTextBox("ipip:ipipptData/Q47" $item "" $vr)</TD></TR>
							<TR><TD>Q48</TD><TD>#xdatTextBox("ipip:ipipptData/Q48" $item "" $vr)</TD></TR>
							<TR><TD>Q49</TD><TD>#xdatTextBox("ipip:ipipptData/Q49" $item "" $vr)</TD></TR>
							<TR><TD>Q50</TD><TD>#xdatTextBox("ipip:ipipptData/Q50" $item "" $vr)</TD></TR>
							<TR><TD>Q51</TD><TD>#xdatTextBox("ipip:ipipptData/Q51" $item "" $vr)</TD></TR>
							<TR><TD>Q52</TD><TD>#xdatTextBox("ipip:ipipptData/Q52" $item "" $vr)</TD></TR>
							<TR><TD>Q53</TD><TD>#xdatTextBox("ipip:ipipptData/Q53" $item "" $vr)</TD></TR>
							<TR><TD>Q54</TD><TD>#xdatTextBox("ipip:ipipptData/Q54" $item "" $vr)</TD></TR>
							<TR><TD>Q55</TD><TD>#xdatTextBox("ipip:ipipptData/Q55" $item "" $vr)</TD></TR>
							<TR><TD>Q56</TD><TD>#xdatTextBox("ipip:ipipptData/Q56" $item "" $vr)</TD></TR>
							<TR><TD>Q57</TD><TD>#xdatTextBox("ipip:ipipptData/Q57" $item "" $vr)</TD></TR>
							<TR><TD>Q58</TD><TD>#xdatTextBox("ipip:ipipptData/Q58" $item "" $vr)</TD></TR>
							<TR><TD>Q59</TD><TD>#xdatTextBox("ipip:ipipptData/Q59" $item "" $vr)</TD></TR>
							<TR><TD>Q60</TD><TD>#xdatTextBox("ipip:ipipptData/Q60" $item "" $vr)</TD></TR>
							<TR><TD>Q61</TD><TD>#xdatTextBox("ipip:ipipptData/Q61" $item "" $vr)</TD></TR>
							<TR><TD>Q62</TD><TD>#xdatTextBox("ipip:ipipptData/Q62" $item "" $vr)</TD></TR>
							<TR><TD>Q63</TD><TD>#xdatTextBox("ipip:ipipptData/Q63" $item "" $vr)</TD></TR>
							<TR><TD>Q64</TD><TD>#xdatTextBox("ipip:ipipptData/Q64" $item "" $vr)</TD></TR>
							<TR><TD>Q65</TD><TD>#xdatTextBox("ipip:ipipptData/Q65" $item "" $vr)</TD></TR>
							<TR><TD>Q66</TD><TD>#xdatTextBox("ipip:ipipptData/Q66" $item "" $vr)</TD></TR>
							<TR><TD>Q67</TD><TD>#xdatTextBox("ipip:ipipptData/Q67" $item "" $vr)</TD></TR>
							<TR><TD>Q68</TD><TD>#xdatTextBox("ipip:ipipptData/Q68" $item "" $vr)</TD></TR>
							<TR><TD>Q69</TD><TD>#xdatTextBox("ipip:ipipptData/Q69" $item "" $vr)</TD></TR>
							<TR><TD>Q70</TD><TD>#xdatTextBox("ipip:ipipptData/Q70" $item "" $vr)</TD></TR>
							<TR><TD>Q71</TD><TD>#xdatTextBox("ipip:ipipptData/Q71" $item "" $vr)</TD></TR>
							<TR><TD>Q72</TD><TD>#xdatTextBox("ipip:ipipptData/Q72" $item "" $vr)</TD></TR>
							<TR><TD>Q73</TD><TD>#xdatTextBox("ipip:ipipptData/Q73" $item "" $vr)</TD></TR>
							<TR><TD>Q74</TD><TD>#xdatTextBox("ipip:ipipptData/Q74" $item "" $vr)</TD></TR>
							<TR><TD>Q75</TD><TD>#xdatTextBox("ipip:ipipptData/Q75" $item "" $vr)</TD></TR>
							<TR><TD>Q76</TD><TD>#xdatTextBox("ipip:ipipptData/Q76" $item "" $vr)</TD></TR>
							<TR><TD>Q77</TD><TD>#xdatTextBox("ipip:ipipptData/Q77" $item "" $vr)</TD></TR>
							<TR><TD>Q78</TD><TD>#xdatTextBox("ipip:ipipptData/Q78" $item "" $vr)</TD></TR>
							<TR><TD>Q79</TD><TD>#xdatTextBox("ipip:ipipptData/Q79" $item "" $vr)</TD></TR>
							<TR><TD>Q80</TD><TD>#xdatTextBox("ipip:ipipptData/Q80" $item "" $vr)</TD></TR>
							<TR><TD>Q81</TD><TD>#xdatTextBox("ipip:ipipptData/Q81" $item "" $vr)</TD></TR>
							<TR><TD>Q82</TD><TD>#xdatTextBox("ipip:ipipptData/Q82" $item "" $vr)</TD></TR>
							<TR><TD>Q83</TD><TD>#xdatTextBox("ipip:ipipptData/Q83" $item "" $vr)</TD></TR>
							<TR><TD>Q84</TD><TD>#xdatTextBox("ipip:ipipptData/Q84" $item "" $vr)</TD></TR>
							<TR><TD>Q85</TD><TD>#xdatTextBox("ipip:ipipptData/Q85" $item "" $vr)</TD></TR>
							<TR><TD>Q86</TD><TD>#xdatTextBox("ipip:ipipptData/Q86" $item "" $vr)</TD></TR>
							<TR><TD>Q87</TD><TD>#xdatTextBox("ipip:ipipptData/Q87" $item "" $vr)</TD></TR>
							<TR><TD>Q88</TD><TD>#xdatTextBox("ipip:ipipptData/Q88" $item "" $vr)</TD></TR>
							<TR><TD>Q89</TD><TD>#xdatTextBox("ipip:ipipptData/Q89" $item "" $vr)</TD></TR>
							<TR><TD>Q90</TD><TD>#xdatTextBox("ipip:ipipptData/Q90" $item "" $vr)</TD></TR>
							<TR><TD>Q91</TD><TD>#xdatTextBox("ipip:ipipptData/Q91" $item "" $vr)</TD></TR>
							<TR><TD>Q92</TD><TD>#xdatTextBox("ipip:ipipptData/Q92" $item "" $vr)</TD></TR>
							<TR><TD>Q93</TD><TD>#xdatTextBox("ipip:ipipptData/Q93" $item "" $vr)</TD></TR>
							<TR><TD>Q94</TD><TD>#xdatTextBox("ipip:ipipptData/Q94" $item "" $vr)</TD></TR>
							<TR><TD>Q95</TD><TD>#xdatTextBox("ipip:ipipptData/Q95" $item "" $vr)</TD></TR>
							<TR><TD>Q96</TD><TD>#xdatTextBox("ipip:ipipptData/Q96" $item "" $vr)</TD></TR>
							<TR><TD>Q97</TD><TD>#xdatTextBox("ipip:ipipptData/Q97" $item "" $vr)</TD></TR>
							<TR><TD>Q98</TD><TD>#xdatTextBox("ipip:ipipptData/Q98" $item "" $vr)</TD></TR>
							<TR><TD>Q99</TD><TD>#xdatTextBox("ipip:ipipptData/Q99" $item "" $vr)</TD></TR>
							<TR><TD>Q100</TD><TD>#xdatTextBox("ipip:ipipptData/Q100" $item "" $vr)</TD></TR>
							<TR><TD>Q101</TD><TD>#xdatTextBox("ipip:ipipptData/Q101" $item "" $vr)</TD></TR>
							<TR><TD>Q102</TD><TD>#xdatTextBox("ipip:ipipptData/Q102" $item "" $vr)</TD></TR>
							<TR><TD>Q103</TD><TD>#xdatTextBox("ipip:ipipptData/Q103" $item "" $vr)</TD></TR>
							<TR><TD>Q104</TD><TD>#xdatTextBox("ipip:ipipptData/Q104" $item "" $vr)</TD></TR>
							<TR><TD>Q105</TD><TD>#xdatTextBox("ipip:ipipptData/Q105" $item "" $vr)</TD></TR>
							<TR><TD>Q106</TD><TD>#xdatTextBox("ipip:ipipptData/Q106" $item "" $vr)</TD></TR>
							<TR><TD>Q107</TD><TD>#xdatTextBox("ipip:ipipptData/Q107" $item "" $vr)</TD></TR>
							<TR><TD>Q108</TD><TD>#xdatTextBox("ipip:ipipptData/Q108" $item "" $vr)</TD></TR>
							<TR><TD>Q109</TD><TD>#xdatTextBox("ipip:ipipptData/Q109" $item "" $vr)</TD></TR>
							<TR><TD>Q110</TD><TD>#xdatTextBox("ipip:ipipptData/Q110" $item "" $vr)</TD></TR>
							<TR><TD>Q111</TD><TD>#xdatTextBox("ipip:ipipptData/Q111" $item "" $vr)</TD></TR>
							<TR><TD>Q112</TD><TD>#xdatTextBox("ipip:ipipptData/Q112" $item "" $vr)</TD></TR>
							<TR><TD>Q113</TD><TD>#xdatTextBox("ipip:ipipptData/Q113" $item "" $vr)</TD></TR>
							<TR><TD>Q114</TD><TD>#xdatTextBox("ipip:ipipptData/Q114" $item "" $vr)</TD></TR>
							<TR><TD>Q115</TD><TD>#xdatTextBox("ipip:ipipptData/Q115" $item "" $vr)</TD></TR>
							<TR><TD>Q116</TD><TD>#xdatTextBox("ipip:ipipptData/Q116" $item "" $vr)</TD></TR>
							<TR><TD>Q117</TD><TD>#xdatTextBox("ipip:ipipptData/Q117" $item "" $vr)</TD></TR>
							<TR><TD>Q118</TD><TD>#xdatTextBox("ipip:ipipptData/Q118" $item "" $vr)</TD></TR>
							<TR><TD>Q119</TD><TD>#xdatTextBox("ipip:ipipptData/Q119" $item "" $vr)</TD></TR>
							<TR><TD>Q120</TD><TD>#xdatTextBox("ipip:ipipptData/Q120" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN ipip:ipipptData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ipip:ipipptData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:ipipptData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/title" $item "" $vr)</TD></TR>
										<TR><TD>firstname</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/firstname" $item "" $vr)</TD></TR>
										<TR><TD>lastname</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/lastname" $item "" $vr)</TD></TR>
										<TR><TD>institution</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/institution" $item "" $vr)</TD></TR>
										<TR><TD>department</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/department" $item "" $vr)</TD></TR>
										<TR><TD>email</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/email" $item "" $vr)</TD></TR>
										<TR><TD>phone</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/phone" $item "" $vr)</TD></TR>
										<TR><TD>ID</TD><TD>#xdatStringBox("ipip:ipipptData/investigator/ID" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ipip:ipipptData/investigator/xnat_investigatorData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ipip:ipipptData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN ipip:ipipptData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:ipipptData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>#xdatStringBox("ipip:ipipptData/validation/method" $item "" $vr)</TD></TR>
										<TR><TD>date</TD><TD>#xdatDateBox("ipip:ipipptData/validation/date" $item $vr $years)</TD></TR>
										<TR><TD>notes</TD><TD>#xdatStringBox("ipip:ipipptData/validation/notes" $item "" $vr)</TD></TR>
										<TR><TD>validated_by</TD><TD>#xdatStringBox("ipip:ipipptData/validation/validated_by" $item "" $vr)</TD></TR>
										<TR><TD>status</TD><TD>#xdatStringBox("ipip:ipipptData/validation/status" $item "" $vr)</TD></TR>
																#xdatHiddenBox("ipip:ipipptData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END ipip:ipipptData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#foreach($xnat_abstractResource_3_COUNTER in [0..5])
<!-- BEGIN ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
								<TABLE>
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR><TD>note</TD><TD>#xdatStringBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/note" $item "" $vr)</TD></TR>
												<TR><TD>label</TD><TD>#xdatStringBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/label" $item "" $vr)</TD></TR>
												<TR><TD>file_count</TD><TD>#xdatTextBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_count" $item "" $vr)</TD></TR>
												<TR><TD>file_size</TD><TD>#xdatTextBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/file_size" $item "" $vr)</TD></TR>
																		#xdatHiddenBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/xnat_abstractResource_id" $item "")
											</TABLE>
										</TD>
									</TR>
<!-- BEGIN ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
									<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag</font></TH></TR>
									<TR>
										<TD align="left" valign="top">
											<TABLE>
												<TR>
													<TD>tag</TD>
													<TD>name</TD>
												</TR>
												#foreach($xnat_abstractResource_tag_4_COUNTER in [0..5])
													<TR>
														<TD>#xdatTextBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/tag" $item "" $vr)</TD>
														<TD>#xdatTextBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/name" $item "" $vr)</TD>
														#xdatHiddenBox("ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag[$xnat_abstractResource_tag_4_COUNTER]/xnat_abstractResource_tag_id" $item "")
													</TR>
												#end
											</TABLE>
										</TD>
									</TR>
<!-- END ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER]/tags/tag -->
								</TABLE>
<!-- END ipip:ipipptData/resources/resource[$xnat_abstractResource_3_COUNTER] -->
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
<!-- BEGIN ipip:ipipptData/fields/field -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">ipip:ipipptData/fields/field</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
							<TR>
								<TD>field</TD>
								<TD>name</TD>
							</TR>
							#foreach($xnat_experimentData_field_4_COUNTER in [0..5])
								<TR>
									<TD>#xdatTextBox("ipip:ipipptData/fields/field[$xnat_experimentData_field_4_COUNTER]/field" $item "" $vr)</TD>
									<TD>#xdatTextBox("ipip:ipipptData/fields/field[$xnat_experimentData_field_4_COUNTER]/name" $item "" $vr)</TD>
									#xdatHiddenBox("ipip:ipipptData/fields/field[$xnat_experimentData_field_4_COUNTER]/xnat_experimentData_field_id" $item "")
								</TR>
							#end
						</TABLE>
					</TD>
				</TR>
<!-- END ipip:ipipptData/fields/field -->
			</TABLE>
<!-- END ipip:ipipptData -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateSubjectAssessorForm();
   return false;
}
</script>
