
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>ID:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EXPT_ID"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>rater:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RATER"))
</div>
<div class="search-item">
<h5>Best MPRAGE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("QC_BEST_SCAN"))
</div>
<div class="search-item">
<h5>stereotacticMarker:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STEREOTACTICMARKER"))
</div>
<div class="search-item">
<h5>incidentalFindings:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INCIDENTALFINDINGS"))
</div>
<div class="search-item">
<h5>comments:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("COMMENTS"))
</div>
<div class="search-item">
<h5>pass:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PASS"))
</div>
<div class="search-item">
<h5>payable:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PAYABLE"))
</div>
<div class="search-item">
<h5>rescan:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("RESCAN"))
</div>
<div class="clear"></div></div></div>
