
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="clear"></div></div></div>
