
<div class="advanced-search-fields autogen"><div class="search-group by-criteria"><h3><label>Search by Criteria <input type="checkbox" class="search-method by-criteria" value="by-criteria"></label></h3>
<div class="search-item">
<h5>Visit:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("VISIT_ID"))
</div>
<div class="search-item">
<h5>Session:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SESSION_ID"))
</div>
<div class="search-item">
<h5>dcmPatientName:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DCMPATIENTNAME"))
</div>
<div class="search-item">
<h5>Subject:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_ID"))
</div>
<div class="search-item">
<h5>Subject Label:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SUBJECT_LABEL"))
</div>
<div class="search-item">
<h5>Date:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DATE"))
</div>
<div class="search-item">
<h5>Time:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TIME"))
</div>
<div class="search-item">
<h5>PI:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PI"))
</div>
<div class="search-item">
<h5>Notes:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_NOTES"))
</div>
<div class="search-item">
<h5>Type:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TYPE"))
</div>
<div class="search-item">
<h5>Scanner Manufacturer:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER_MAN"))
</div>
<div class="search-item">
<h5>Scanner Model:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER_MODEL"))
</div>
<div class="search-item">
<h5>Operator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("OPERATOR_CSV"))
</div>
<div class="search-item">
<h5>Scanner:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANNER_CSV"))
</div>
<div class="search-item">
<h5>Marker:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MARKER_CSV"))
</div>
<div class="search-item">
<h5>Stabilization:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("STABILIZATION_CSV"))
</div>
<div class="search-item">
<h5>Field Strength:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FIELD_STRENGTH"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("AGE"))
</div>
<div class="search-item">
<h5>Age:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("GEN_AGE"))
</div>
<div class="search-item">
<h5>Best MPRAGE:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_BEST_SCAN"))
</div>
<div class="search-item">
<h5>MPR Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MPR_STATUS"))
</div>
<div class="search-item">
<h5>BLD Status:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLD_STATUS"))
</div>
<div class="search-item">
<h5>Scans:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("SCANS"))
</div>
<div class="search-item">
<h5>EP2D Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EP2D_COUNT"))
</div>
<div class="search-item">
<h5>3DT2 Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("_3DT2_COUNT"))
</div>
<div class="search-item">
<h5>MPR Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MPR_COUNT"))
</div>
<div class="search-item">
<h5>FLH Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FLH_COUNT"))
</div>
<div class="search-item">
<h5>TSE Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TSE_COUNT"))
</div>
<div class="search-item">
<h5>FLR Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FLR_COUNT"))
</div>
<div class="search-item">
<h5>DTI Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DTI_COUNT"))
</div>
<div class="search-item">
<h5>BLD Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BLD_COUNT"))
</div>
<div class="search-item">
<h5>MPR Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MPR_PRESENT"))
</div>
<div class="search-item">
<h5>TSE Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TSE_PRESENT"))
</div>
<div class="search-item">
<h5>3DT2 Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("_3DT2_PRESENT"))
</div>
<div class="search-item">
<h5>EP2D Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("EP2D_PRESENT"))
</div>
<div class="search-item">
<h5>DTI Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("DTI_PRESENT"))
</div>
<div class="search-item">
<h5>BOLD Bool:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("BOLD_PRESENT"))
</div>
<div class="search-item">
<h5>U scans:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("USABLE_MPRAGE_COUNT"))
</div>
<div class="search-item">
<h5>Inserted:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_DATE"))
</div>
<div class="search-item">
<h5>Creator:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("INSERT_USER"))
</div>
<div class="search-item">
<h5>Modified:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("LAST_MODIFIED"))
</div>
<div class="search-item">
<h5>FromToday:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FROM_TODAY"))
</div>
<div class="search-item">
<h5>FromYesterday:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FROM_YESTERDAY"))
</div>
<div class="search-item">
<h5>FromThisWeek:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("FROM_THIS_WEEK"))
</div>
<div class="search-item">
<h5>RAD:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_RAD_COUNT"))
</div>
<div class="search-item">
<h5>Scans:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_SCAN_COUNT_AGG"))
</div>
<div class="search-item">
<h5>Scan Details:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_SCAN_DETAILS_AGG"))
</div>
<div class="search-item">
<h5>Total Scans:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_SCAN_TOTAL_COUNT_AGG"))
</div>
<div class="search-item">
<h5>Project Aliases:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("MR_PROJECT_ALIASES"))
</div>
<div class="search-item">
<h5>Total File Count:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TOTAL_FILE_COUNT"))
</div>
<div class="search-item">
<h5>Total File Size:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("TOTAL_FILE_SIZE"))
</div>
<div class="search-item">
<h5>Project:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("PROJECT"))
</div>
<div class="search-item">
<h5>Site:</h5>
#xdatSearchField($schemaElement $schemaElement.getDisplayField("ACQ_SITE"))
</div>
<div class="clear"></div></div></div>
