												#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/education"))
<tr>
			  #formLabel("Education")
			 <td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/education")
			 </td>
		</tr>
		#end
	<tr>
			#formLabel("Race(s)")
#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race"))
<td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race")
</td>
</tr>
#end
#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race2"))
 <tr>
<td>
	&nbsp;
</td>
 <td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race2")
 </td>
 </tr>
#end
#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race3"))
<tr>
<td>
	&nbsp;
</td>
<td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/race3")
</td>
</tr>
#end
	

														#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/ethnicity"))
		<tr>
			#formLabel("Ethnicity")
<td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/ethnicity")
			 </td>
		</tr>
		#end
														#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/height"))
		<tr>
			#formLabel("Height")
<td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/height")&nbsp;
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/height/units")
			 </td>
		</tr>
		#end
														#if($subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/weight"))
		<tr>
			#formLabel("Weight")
<td>
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/weight")&nbsp;
  $!subject.getProperty("xnat:subjectData/demographics[@xsi:type=xnat:demographicData]/weight/units")
			 </td>
		</tr>
		#end
														#if($subject.getProperty("xnat:subjectData/src"))
		<tr>
			#formLabel("Recruitment Source")
<td>
  $!subject.getProperty("xnat:subjectData/src")
			 </td>
		</tr>
		#end
														#if($subject.getProperty("xnat:subjectData/group"))
		<tr>
			#formLabel("Group")
<td>
  $!subject.getProperty("xnat:subjectData/group")
			 </td>
		</tr>
		#end