##REQUIRES $item=org.nrg.xft.XFTItem $user=org.nrg.xdat.security.XDATUser
<!-- BEGIN ProjectSelector.vm -->
#set($user=$data.getSession().getAttribute("user"))
#set($create_projects= $user.getAllowedValues("$item.getXSIType()","$item.getXSIType()/project","create"))
		#set($projectMap = $user.getCachedItemValuesHash("xnat:projectData","read",false,"xnat:projectData/ID","xnat:projectData/secondary_ID"))
#if($project)
  #if($item.getProperty("project"))
  
  #else
   $item.setProperty("$item.getXSIType()/project",$project)
  #end
#else
  #set($project=$item.getProperty("project"))
#end
<TABLE><TR><TH ALIGN="left">
Primary $displayManager.getSingularDisplayNameForProject(): </TH><TD>
#if($item.getProperty("project"))
<INPUT ID="$item.getXSIType()/project" type="hidden" name="$item.getXSIType()/project" value="$item.getProperty("project")">
#if($projectMap.get($item.getProperty("project")))
$projectMap.get($item.getProperty("project"))
#else
$item.getProperty("project")
#end
#else
#if($create_projects.size()>0)
<SELECT ID="$item.getXSIType()/project" class="chosen-menu required" data-chosen-opts="width:200px,allow_single_deselect:true" data-placeholder="Select Project" name="$item.getXSIType()/project" ONCHANGE="">
<option value=""></option>
#foreach($proj in $create_projects)
	#if($proj!="*")
		<option value="$proj">
			#if($projectMap.get($proj))
				$projectMap.get($proj)
			#end
		</option>
	#end
#end
</SELECT>
#else
ERROR:  No $displayManager.getPluralDisplayNameForProject().toLowerCase() exist.  Please create a $displayManager.getSingularDisplayNameForProject().toLowerCase() before attempting to insert this item.
#end
#end
</TD>
</TR>
<TR>
 <TH ALIGN="left"><label ID='${item.getXSIType()}_label'>#if($item.instanceOf("xnat:subjectData"))$displayManager.getSingularDisplayNameForSubject()#else Experiment#end
's ID within this $displayManager.getSingularDisplayNameForProject().toLowerCase():</label></TH>

 <TD>
	#if($subject.getId())
        <INPUT type="hidden" type="text" value="$!item.getProperty("label")" id="$item.getXSIType()/label" name="$item.getXSIType()/label" />
        <span id="subject_label_placeholder">$!item.getProperty("label")</span>
        <a onclick="modifyLabel();"><img border="0" src="$content.getURI("images/e.gif")"/></a>
	#else
		<INPUT class="required" size="10" type="text" value="$!item.getProperty("label")" id="$item.getXSIType()/label" name="$item.getXSIType()/label" ONCHANGE="identifierChanged();"/>
	#end
 </TD>
 <TD></TD>
</TR>
#if($displayGroup)
<TR>
 <TH ALIGN="left"><label ID='${item.getXSIType()}_group'>#if($item.instanceOf("xnat:subjectData"))$displayManager.getSingularDisplayNameForSubject()#else Experiment#end
's research group within this $displayManager.getSingularDisplayNameForProject().toLowerCase():</label></TH>
 <TD>
 <INPUT size="10" type="text" value="$!item.getProperty("group")" id="$item.getXSIType()/group" name="$item.getXSIType()/group" value="$!item.getProperty("group")"/>
 </TD>
 <TD></TD>
</TR>
#end
</TABLE>
<script type="text/javascript" src="$content.getURI('scripts/subject/SubjectLabelEditor.js')"></SCRIPT>
<SCRIPT type="text/javascript" LANGUAGE="JavaScript">
		//USERS can create a 'eventIdentifierChanged' function in calling template if desired
		function identifierChanged(){
		  var idBox = document.getElementById("$item.getXSIType()/label");
		  idBox.value=fixSpaces(idBox.value);
}
function fixSpaces(val)
{
        var temp = stringTrim(val);
        var newVal = '';
        temp = temp.split(' ');
        for(var c=0; c < temp.length; c++) {
                newVal += temp[c];
        }
        
        newVal = newVal.replace(/[&]/,"_");
        newVal = newVal.replace(/[?]/,"_");
        newVal = newVal.replace(/[<]/,"_");
        newVal = newVal.replace(/[>]/,"_");
        newVal = newVal.replace(/[(]/,"_");
        newVal = newVal.replace(/[)]/,"_");
        if (newVal!=val){
          xModalMessage('Project Selector', 'Spaces and special characters are not allowed in identifier fields.');
        }
        return newVal;
}

function stringTrim(str)
{
   return str.replace(/^\s*|\s*$/g,"");
}
</SCRIPT>
<script type="text/javascript">  
function modifyLabel(){
	if(!window.subjectLabelEditor){
		window.subjectLabelEditor = new XNAT.app.SubjectLabelEditor("$project");
		window.subjectLabelEditor.onModification.subscribe(function (event, newLabel){
			document.getElementById("$item.getXSIType()/label").value = newLabel;
			jq("#subject_label_placeholder").text(newLabel);
		});
		window.subjectLabelEditor.render();
    }
    window.subjectLabelEditor.show(document.getElementById("$item.getXSIType()/label").value);
}
</script> 
<!-- END ProjectSelector.vm -->
