<tr>
	<th>Scan Type</th>
	<td>
		$!scan.getStringProperty("mayo:mayoMrQcScanData/scanType")
	</td>
</tr>

<tr>
	<th>Chosen</th>
	<td>
		#if ($!scan.getStringProperty("mayo:mayoMrQcScanData/chosen").equals("1"))
			<span style="color:green">Yes</span>
		#else
			<span style="color:black">No</span>
		#end
	</td>
</tr>

<tr>
	<th>Image Quality</th>
	<td style="font-weight:bold;">
		#if ($!scan.getStringProperty("mayo:mayoMrQcScanData/pass").equals("1"))
			<span style="color:green">Excellent</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/pass").equals("2"))
			<span style="color:yellowgreen">Good</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/pass").equals("3"))
			<span style="color:orange">Fair</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/pass").equals("4"))
			<span style="color:red">Unusable</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/pass").equals("-1"))
			<span style="color:red">Not Assessed</span>
		#else
			<span style="color:black">Unknown ($!scan.getStringProperty("mayo:mayoMrQcScanData/pass"))</span>
		#end
	</td>
</tr>

<tr>
	<th>Image Comments</th>
	<td>
		$!scan.getStringProperty("mayo:mayoMrQcScanData/comments")
	</td>
</tr>

<tr>
	<th>Protocol Quality</th>
	<td style="font-weight:bold;">
		#if ($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol").equals("1"))
			<span style="color:green">Pass</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol").equals("2"))
			<span style="color:gold">Usable but Deviates from Protocol</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol").equals("3"))
			<span style="color:orange">Needs Review</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol").equals("4"))
			<span style="color:red">Fail</span>
		#elseif($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol").equals("-1"))
			<span style="color:red">Not Assessed</span>
		#else
			<span style="color:black">Unknown ($!scan.getStringProperty("mayo:mayoMrQcScanData/protocol"))</span>
		#end
	</td>
</tr>

<tr>
	<th>Protocol Comments</th>
	<td>
		$!scan.getStringProperty("mayo:mayoMrQcScanData/protocolComments")
	</td>
</tr>
	

	

