##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("Login.vm")
$page.setTitle("Register A New User Account")
$page.setBgColor($ui.bgcolor)

<div id="login_area">
    #if($siteConfig.getProperty("siteWideAlertStatus","")!="0")
        <div class="$siteConfig.getProperty("siteWideAlertType","")" style="margin-bottom: 2em;"><strong>$siteConfig.getProperty("siteWideAlertMessage","")</strong></div>
    #end

    <div id="login_welcome">
        #if($siteConfig.getProperty("siteDescriptionType","")=="Text")
            <div>$siteConfig.getProperty("siteDescriptionText","")</div>
        #else
            #if($turbineUtils.templateExists($siteConfig.getProperty("siteDescriptionPage","/screens/site_description.vm")))
                <div>#parse($siteConfig.getProperty("siteDescriptionPage","/screens/site_description.vm"))</div>
            #else
                <div>Custom site description page not found!</div>
            #end
        #end
    </div>

    <div id="register_box_container">
        <h3>New User Registration</h3>

        #if($data.getMessage())
            <div class="warning" style="border-bottom: 0">
                <p><strong>Note: </strong><br />$data.getMessage()</p>
            </div>
        #end
        <div id="register_box">
            #parse("/screens/register_box.vm")
        </div>
    </div>

</div>
