#* @vtlvariable name="XNAT_CSRF" type="java.lang.String" *#
#* @vtlvariable name="turbineUtils" type="org.nrg.xdat.turbine.utils.TurbineUtils" *#
#* @vtlvariable name="hideChangePasswordForm" type="java.lang.Boolean" *#
#* @vtlvariable name="data" type="org.apache.turbine.util.RunData" *#
#* @vtlvariable name="topMessage" type="java.lang.String" *#
#set ($template = $data.getTemplateInfo())
#set ($token = $data.getParameters().getString("token"))
#set ($login = $data.getParameters().getString("login"))
$!template.setLayoutTemplate("Noninteractive.vm")
$page.setTitle("XDAT -- Change Password")
$page.setBgColor($ui.bgcolor)
<div VALIGN="top">
    #parse("/screens/newPasswordValidationJS.vm")

    <form name="form2" id="changePasswordForm" method="post" action="$link.setAction("XDATChangePassword")" onSubmit="return XNAT.app.changepassword.validateForm();">
        #foreach($key in $!turbineUtils.GetDataParameterHash($data).keySet())
            #if ($key!="action" && $key!="template" &&$key!="password" &&$key!="phone" &&$key!="comments" &&!$key.startsWith("xdat:user") &&$key!="username" &&$key!="exception")
                <input type="hidden" name="$key"
                       value="$!turbineUtils.escapeHTML($!turbineUtils.GetPassedParameter($key,$data))">
            #end
        #end
        <table valign="top" align="center">
            #if ( $data.getMessage() )
                <tr>
                    <td colspan="2">
                        <div class="error">$data.getMessage()</div><br />
                    </td>
                </tr>
            #end
            #if (!$hideChangePasswordForm)
                <tr>
                    <th colspan="2">
                        $!topMessage
                    </th>
                </tr>
                <tr>
                    <td colspan="2">
                        <hr/>
                    </td>
                </tr>
                <tr>
                    #formLabelRequired("New Password")
                    <td><input type="password" id="xdat:user.primary_password" name="xdat:user.primary_password" autocomplete="off"></td>
                </tr>
                <tr>
                    #formLabelRequired("Re-enter new password")
                    <td><input type="password" id="xdat:user.password_check" name="xdat:user.primary_password" autocomplete="off"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="left">
                            <input type="hidden" name="xdat:user.login" value="$!{login}">
                            <input type="hidden" name="xdat:user.xdat_user_id" value="$!{login}">
                            <input type="submit" value="Change" id="Change">
                    </td>
                </tr>
            #end
        </table>
    </form>
</div>
