$data.setLayoutTemplate("Popup.vm")
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set ($popup=$data.getParameters().getString("popup"))
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->





</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
<br/>

#end
<font face="$ui.sansSerifFonts">				


<br/>


<form name="PIBFSBuildPipeline" method="post" action="$link.setAction("BuildPIBFSAction")" >
<div id="msgDiv"> </div>
<b>
  <font face="verdana,geneva,helvetica ">
	      Session: $pet.getLabel()
  </font>
</b>
<br />

#set ($mrSession = $pet.getFieldByName("MRSESSION"))


#if ($freesurfermrs.size() == 0)
<table width="500" >
  <tr>
	<td colspan="2">Freesurfer files havent been created for the associated MR Session. Please launch the freesurfer process first </td>
  </tr>

  <tr>
	<td>Session Id</td><td>Date</td>
  </tr>
		       #set ($i=0)
   #foreach($mr in $mrs)
		    
					   <tr>
	       #set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID').addPathInfo('search_value',$mr.getId()).addPathInfo('popup','true')', '','600','800');" )
	         <td> 					<A CLASS=b href="#" onClick="$click">$mr.getLabel()</A></td>
		       <td>$mr.Date</td> 
   </tr>
       #set ($i = $i+1)
    #end  
</table>



#else


<b> Select the MRI Session whose Freesurfer generated files you wish to use for this processing:</b>
<br />

<table width="500" >
  <tr>
	<td>&nbsp;</td><td>Session Id</td><td>Date</td>
  </tr>
		       #set ($i=0)
   #foreach($mr in $freesurfermrs)
		    
					   <tr>
					   	    #if ($i == 0  )		
				       <td><input name="mprage_sessionId" type="radio" value="$mr.getId()" checked ></td>
				       #else 
				       <td><input name="mprage_sessionId" type="radio" value="$mr.getId()" #if ($mr.getId() == $mrSession) checked #end ></td>
				       #end
	       #set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID').addPathInfo('search_value',$mr.getId()).addPathInfo('popup','true')', '','600','800');" )
	         <td> 					<A CLASS=b href="#" onClick="$click">$mr.getLabel()</A></td>
		       <td>$mr.Date</td> 
   </tr>
       #set ($i = $i+1)
    #end  
</table>

   <br>
   
    <p>&nbsp;</p>
    #set ($email = $user.getEmail())
     #if(!($email==""))
            <p>
                When the build is complete, an email will be automatically sent to $email 
            </p>
    <p>&nbsp;</p>
	    #end
	            <p>
                Send <i>additional</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
    <p>

<input type="hidden" name="pipelineName" value="PET/StdPIBFSROIProcessing.xml"/>

<INPUT TYPE="hidden" name="job_scheduler" value="arc-grid-queue"/>

#xdatPassItemFormFields($search_element $search_field $search_value $project)
	    <input type="submit" name="eventSubmit_doBuild" value="Build" />
    			&nbsp;&nbsp;
   		    	<input type="button" ONCLICK="javascript:self.close()" value="Cancel"/>
    	    <p>&nbsp;</p>
    	    
#end    	    
</form>

