<SCRIPT type="text/javascript">
<!--

  function updateAllSlides() {
     populateSlideSelector();
     for (i = 0; i < IMGTYPES.length; i++) { 
      for (j = 0; j < ORIENTATIONS.length; j++) {
       var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
       slideObj.update(); 
      }
     }
     setDelayText(DEFAULT_DELAY/100);	
  }

  function populateSlideSelector() {
    for (i = 0; i < IMGTYPES.length; i++) { 
      var selectionElement = document.getElementById(IMGTYPES[i]+'_AXL_sliceSelector');
      for (j=AXIAL_FIRSTSLICE, k=0 ; j <= AXIAL_LASTSLICE; j=j+2, k++) {
	selectionElement.options[k]=new Option(j,k);
      }
      selectionElement = document.getElementById(IMGTYPES[i]+'_COR_sliceSelector');
      for (j=CORONAL_FIRSTSLICE, k=0 ; j <= CORONAL_LASTSLICE; j=j+2, k++) {
	selectionElement.options[k]=new Option(j,k);
      }
      selectionElement = document.getElementById(IMGTYPES[i]+'_SAG_sliceSelector');
      for (j=SAGITTAL_FIRSTSLICE, k=0 ; j <= SAGITTAL_LASTSLICE; j=j+2, k++) {
	selectionElement.options[k]=new Option(j,k);
      }
    }	
  }

  function setDelayText(delay) {
     var delayTxt = document.getElementById('delayTxt');
     delayTxt.innerHTML = "Delay: " + delay + "s";  
  }

  function goto_slide(orientation,sliceno){
    for (i = 0; i < IMGTYPES.length; i++) { 
 	var slideObj = window[IMGTYPES[i]+'_'+orientation+'_SLIDES'];
	var sliceSelectorObj = document.getElementById(IMGTYPES[i]+'_'+orientation+'_sliceSelector');
	slideObj.pause();
	slideObj.goto_slide(sliceno);
	sliceSelectorObj.options[sliceno].selected=true;
    }	
  }

  function zoomUp() {
    for (i = 0; i < IMGTYPES.length; i++) { 
      for (j = 0; j < ORIENTATIONS.length; j++) {
       var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
       slideObj.zoomUp(); 
      }
    }  
  }

  function zoomDown() {
    for (i = 0; i < IMGTYPES.length; i++) { 
      for (j = 0; j < ORIENTATIONS.length; j++) {
       var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
       slideObj.zoomDown(); 
      }
    }  
  }


  function delayUp() {
    for (i = 0; i < IMGTYPES.length; i++) { 
      for (j = 0; j < ORIENTATIONS.length; j++) {
       var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
       slideObj.pause();	
       slideObj.timeout += 100; 
      }
    }  
    setDelayText(window[IMGTYPES[0]+'_'+ORIENTATIONS[0]+'_SLIDES'].timeout/100);	
  }

  function delayDown() {
    for (i = 0; i < IMGTYPES.length; i++) { 
      for (j = 0; j < ORIENTATIONS.length; j++) {
       var slideObj = window[IMGTYPES[i]+'_'+ORIENTATIONS[j]+'_SLIDES'];
       slideObj.pause();	
       var currentTimeout = slideObj.timeout - 100;	
       if (currentTimeout < 0 ) slideObj.timeout = 100;
       else slideObj.timeout = currentTimeout; 	 
      }
    }  
    setDelayText(window[IMGTYPES[0]+'_'+ORIENTATIONS[0]+'_SLIDES'].timeout/100);	
  }

//-->
</SCRIPT>

<body onLoad="updateAllSlides()">
<form ID="freesurferQCFORM"  method="POST" action="$link.setAction("DownloadFreesurferAction")" >
<table>
<tr>
<td>
	Session: <b>$om.getLabel() </b>
</td>
<td>
	<input name="zoomMinusBtn" id="zoomMinusBtn" type="button" value="-" onClick="zoomDown()" />
</td>
<td>
Zoom
</td>
<td>	
	<input name="zoomPlusBtn" id="zoomPlusBtn" type="button" value="+" onClick="zoomUp()" />
</td>
<td>	
 <input name="delayMinusBtn" id="delayMinusBtn" type="button" value="-" onClick="delayDown()" />
</td>
<td>
<span id="delayTxt"> Delay:  </span>
</td>
<td>	
 <input name="delayPlusBtn" id="delayPlusBtn" type="button" value="+" onClick="delayUp()" />
</td>
<td align="center"> 
  <input name="eventSubmit_doPerform" id="downloadBtn" type="submit" value="Download" />
</td>
<td>	
 <select ID="download_file" name="download_file">
   <option selected value="ALLQC">All Files for QC</option>
   <option value="ALL">All Freesurfer files</option>
   <option value="FREESURFER_BRAINMASK">brainmask.mgz</option>
   <option value="FREESURFER_WM">wm.mgz</option>
   <option value="FREESURFER_T1">T1.mgz</option>
   <option value="FREESURFER_ORIG">orig.mgz</option>
  </select> 
</td>
<td align="center"> 
   Download Format	
</td>
<td>
 <select ID="download_type" name="download_type">
   <option value="zip" selected>Zip</option>
   <option value="xar">XAR</option>
   <option value="tar">TAR</option>
 </select> 	
</td>
</tr>
</table>
<BR/>
<BR/>
<A href="LINK0" HREF="#LINK0" onClick=" return blocking(0);" >
<img ID="IMG0" src="$content.getURI("images/plus.jpg")" border=0 ><b>T1 Images</b></a>
<div id="span0" style="position:relative;display:none">
<table>
<tr>
<th>
T1 AXIAL SLICES
</th>
<th>
T1 CORONAL SLICES
</th>
<th>
T1 SAGITTAL SLICES
</th>
<th>
&nbsp;
</th>
</tr>
<tr>
<td align="center">
<div id="T1_AXL_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_T1_COR" type="button" value="Play" onclick="T1_AXL_SLIDES.next();T1_AXL_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_T1_COR" type="button" value="Stop" onClick="T1_AXL_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_T1_COR" type="button" value="Prev" onClick="T1_AXL_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_T1_COR" type="button" value="Next" onClick="T1_AXL_SLIDES.next()" />
<select id="T1_AXL_sliceSelector" name="T1_AXL_sliceSelector" onchange="goto_slide('AXL',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="T1_COR_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_T1_COR" type="button" value="Play" onclick="T1_COR_SLIDES.next();T1_COR_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_T1_COR" type="button" value="Stop" onClick="T1_COR_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_T1_COR" type="button" value="Prev" onClick="T1_COR_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_T1_COR" type="button" value="Next" onClick="T1_COR_SLIDES.next()" />
	<select id="T1_COR_sliceSelector" name="T1_COR_sliceSelector" onchange="goto_slide('COR',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="T1_SAG_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_T1_COR" type="button" value="Play" onclick="T1_SAG_SLIDES.next();T1_SAG_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_T1_COR" type="button" value="Stop" onClick="T1_SAG_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_T1_COR" type="button" value="Prev" onClick="T1_SAG_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_T1_COR" type="button" value="Next" onClick="T1_SAG_SLIDES.next()" />
	<select id="T1_SAG_sliceSelector" name="T1_SAG_sliceSelector" onchange="goto_slide('SAG',this.value);">
	</select>
</div>
</td>
</tr>
<tr>
<td>
<div id="T1_AXL" >
<IMG name="T1_AXL_SLIDES_IMG" id="T1_AXL_SLIDES_IMG" src="images/minus.jpg" alt="T1 Axial Slices">
</div>
</td>
<td>
<div id="T1_COR" >
<IMG name="T1_COR_SLIDES_IMG" id="T1_COR_SLIDES_IMG" src="images/minus.jpg" alt="T1 Coronal Slices">
</div>
</td>
<td>
<div id="T1_SAG" >
<IMG name="T1_SAG_SLIDES_IMG" id="T1_SAG_SLIDES_IMG" src="images/minus.jpg" alt="T1 Sagittal Slices">
</div>
</td>
</tr>
</table>
</div>
<br />
<BR/>
<A href="LINK1" HREF="#LINK1" onClick=" return blocking(1);" >
<img ID="IMG1" src="$content.getURI("images/plus.jpg")" border=0 ><b>BRAINMASK Images</b></a>
<div id="span1" style="position:relative;display:none">
<table>
<tr>
<th>
BRAINMASK AXIAL SLICES
</th>
<th>
BRAINMASK CORONAL SLICES
</th>
<th>
BRAINMASK SAGITTAL SLICES
</th>
</tr>
<tr>
<td align="center">
<div id="BRAINMASK_AXL_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_BRAINMASK_COR" type="button" value="Play" onclick="BRAINMASK_AXL_SLIDES.next();BRAINMASK_AXL_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_BRAINMASK_COR" type="button" value="Stop" onClick="BRAINMASK_AXL_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_BRAINMASK_COR" type="button" value="Prev" onClick="BRAINMASK_AXL_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_BRAINMASK_COR" type="button" value="Next" onClick="BRAINMASK_AXL_SLIDES.next();" />
	<select id="BRAINMASK_AXL_sliceSelector" name="BRAINMASK_AXL_sliceSelector" onchange="goto_slide('AXL',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="BRAINMASK_COR_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_BRAINMASK_COR" type="button" value="Play" onclick="BRAINMASK_COR_SLIDES.next();BRAINMASK_COR_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_BRAINMASK_COR" type="button" value="Stop" onClick="BRAINMASK_COR_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_BRAINMASK_COR" type="button" value="Prev" onClick="BRAINMASK_COR_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_BRAINMASK_COR" type="button" value="Next" onClick="BRAINMASK_COR_SLIDES.next()" />
	<select id="BRAINMASK_COR_sliceSelector" name="BRAINMASK_COR_sliceSelector" onchange="goto_slide('COR',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="BRAINMASK_SAG_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_BRAINMASK_COR" type="button" value="Play" onclick="BRAINMASK_SAG_SLIDES.next();BRAINMASK_SAG_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_BRAINMASK_COR" type="button" value="Stop" onClick="BRAINMASK_SAG_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_BRAINMASK_COR" type="button" value="Prev" onClick="BRAINMASK_SAG_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_BRAINMASK_COR" type="button" value="Next" onClick="BRAINMASK_SAG_SLIDES.next();" />
	<select id="BRAINMASK_SAG_sliceSelector" name="BRAINMASK_SAG_sliceSelector" onchange="goto_slide('SAG',this.value)">
	</select>
</div>
</td>
</tr>
<tr>
<td>
<div id="BRAINMASK_AXL" >
<IMG name="BRAINMASK_AXL_SLIDES_IMG" id="BRAINMASK_AXL_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Axial Slices">
</div>
</td>
<td>
<div id="BRAINMASK_COR" >
<IMG name="BRAINMASK_COR_SLIDES_IMG" id="BRAINMASK_COR_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Coronal Slices">
</div>
</td>
<td>
<div id="BRAINMASK_SAG" >
<IMG name="BRAINMASK_SAG_SLIDES_IMG" id="BRAINMASK_SAG_SLIDES_IMG" src="images/minus.jpg" alt="BRAINMASK Sagittal Slices">
</div>
</td>
</tr>
</table>
</div>
<br />
<BR/>
<A href="LINK2" HREF="#LINK2" onClick=" return blocking(2);" >
<img ID="IMG2" src="$content.getURI("images/plus.jpg")" border=0 ><b>WM Images</b></a>
<div id="span2" style="position:relative;display:none">
<table>
<tr>
<th>
WM AXIAL SLICES
</th>
<th>
WM CORONAL SLICES
</th>
<th>
WM SAGITTAL SLICES
</th>
</tr>
<tr>
<td align="center">
<div id="WM_AXL_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_WM_COR" type="button" value="Play" onclick="WM_AXL_SLIDES.next();WM_AXL_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_WM_COR" type="button" value="Stop" onClick="WM_AXL_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_WM_COR" type="button" value="Prev" onClick="WM_AXL_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_WM_COR" type="button" value="Next" onClick="WM_AXL_SLIDES.next()" />
	<select id="WM_AXL_sliceSelector" name="WM_AXL_sliceSelector" onchange="goto_slide('AXL',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="WM_COR_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_WM_COR" type="button" value="Play" onclick="WM_COR_SLIDES.next();WM_COR_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_WM_COR" type="button" value="Stop" onClick="WM_COR_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_WM_COR" type="button" value="Prev" onClick="WM_COR_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_WM_COR" type="button" value="Next" onClick="WM_COR_SLIDES.next()" />
	<select id="WM_COR_sliceSelector" name="WM_COR_sliceSelector" onchange="goto_slide('COR',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="WM_SAG_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_WM_COR" type="button" value="Play" onclick="WM_SAG_SLIDES.next();WM_SAG_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_WM_COR" type="button" value="Stop" onClick="WM_SAG_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_WM_COR" type="button" value="Prev" onClick="WM_SAG_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_WM_COR" type="button" value="Next" onClick="WM_SAG_SLIDES.next()" />
	<select id="WM_SAG_sliceSelector" name="WM_SAG_sliceSelector" onchange="goto_slide('SAG',this.value);">
	</select>
</div>
</td>
</tr>
<tr>
<td>
<div id="WM_AXL" >
<IMG name="WM_AXL_SLIDES_IMG" id="WM_AXL_SLIDES_IMG" src="images/minus.jpg" alt="WM Axial Slices">
</div>
</td>
<td>
<div id="WM_COR" >
<IMG name="WM_COR_SLIDES_IMG" id="WM_COR_SLIDES_IMG" src="images/minus.jpg" alt="WM Coronal Slices">
</div>
</td>
<td>
<div id="WM_SAG" >
<IMG name="WM_SAG_SLIDES_IMG" id="WM_SAG_SLIDES_IMG" src="images/minus.jpg" alt="WM Sagittal Slices">
</div>
</td>
</tr>
</table>
</div>
<BR/>
<BR/>
<A href="LINK3" HREF="#LINK3" onClick=" return blocking(3);" >
<img ID="IMG3" src="$content.getURI("images/plus.jpg")" border=0 ><b>ASEG Images</b></a>
<div id="span3" style="position:relative;display:none">
<table>
<tr>
<th>
ASEG AXIAL SLICES
</th>
<th>
ASEG CORONAL SLICES
</th>
<th>
ASEG SAGITTAL SLICES
</th>
</tr>
<tr>
<td align="center">
<div id="ASEG_AXL_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_ASEG_COR" type="button" value="Play" onclick="ASEG_AXL_SLIDES.next();ASEG_AXL_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_ASEG_COR" type="button" value="Stop" onClick="ASEG_AXL_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_ASEG_COR" type="button" value="Prev" onClick="ASEG_AXL_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_ASEG_COR" type="button" value="Next" onClick="ASEG_AXL_SLIDES.next()" />
	<select id="ASEG_AXL_sliceSelector" name="ASEG_AXL_sliceSelector" onchange="goto_slide('AXL',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="ASEG_COR_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_ASEG_COR" type="button" value="Play" onclick="ASEG_COR_SLIDES.next();ASEG_COR_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_ASEG_COR" type="button" value="Stop" onClick="ASEG_COR_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_ASEG_COR" type="button" value="Prev" onClick="ASEG_COR_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_ASEG_COR" type="button" value="Next" onClick="ASEG_COR_SLIDES.next()" />
	<select id="ASEG_COR_sliceSelector" name="ASEG_COR_sliceSelector" onchange="goto_slide('COR',this.value);">
	</select>
</div>
</td>
<td align="center">
<div id="ASEG_SAG_BTN_TABLE" >  
	<input name="playBtn" id="playBtn_ASEG_COR" type="button" value="Play" onclick="ASEG_SAG_SLIDES.next();ASEG_SAG_SLIDES.play()" />
	<input name="stopBtn" id="stopBtn_ASEG_COR" type="button" value="Stop" onClick="ASEG_SAG_SLIDES.pause()" />
	<input name="prevBtn" id="prevBtn_ASEG_COR" type="button" value="Prev" onClick="ASEG_SAG_SLIDES.previous()" />
	<input name="nextBtn" id="nextBtn_ASEG_COR" type="button" value="Next" onClick="ASEG_SAG_SLIDES.next()" />
	<select id="ASEG_SAG_sliceSelector" name="ASEG_SAG_sliceSelector" onchange="goto_slide('SAG',this.value);">
	</select>
</div>
</td>
</tr>
<tr>
<td>
<div id="ASEG_AXL" >
<IMG name="ASEG_AXL_SLIDES_IMG" id="ASEG_AXL_SLIDES_IMG" src="images/minus.jpg" alt="T1 Axial Slices">
</div>
</td>
<td>
<div id="ASEG_COR" >
<IMG name="ASEG_COR_SLIDES_IMG" id="ASEG_COR_SLIDES_IMG" src="images/minus.jpg" alt="T1 Coronal Slices">
</div>
</td>
<td>
<div id="ASEG_SAG" >
<IMG name="ASEG_SAG_SLIDES_IMG" id="ASEG_SAG_SLIDES_IMG" src="images/minus.jpg" alt="T1 Sagittal Slices">
</div>
</td>
</tr>
</table>
</div>

#xdatPassItemFormFields($search_element $search_field $search_value $project)
<input type="hidden" name="freesurfer_relative_path" value="ASSESSORS/FREESURFER_64">

</form>

<SCRIPT type="text/javascript">
<!--
if (document.images) {
  T1_AXL_SLIDES.image = document.images.T1_AXL_SLIDES_IMG;
  T1_AXL_SLIDES.update();

  T1_COR_SLIDES.image = document.images.T1_COR_SLIDES_IMG;
  T1_COR_SLIDES.update();

  T1_SAG_SLIDES.image = document.images.T1_SAG_SLIDES_IMG;
  T1_SAG_SLIDES.update();

  BRAINMASK_AXL_SLIDES.image = document.images.BRAINMASK_AXL_SLIDES_IMG;
  BRAINMASK_AXL_SLIDES.update();

  BRAINMASK_COR_SLIDES.image = document.images.BRAINMASK_COR_SLIDES_IMG;
  BRAINMASK_COR_SLIDES.update();

  BRAINMASK_SAG_SLIDES.image = document.images.BRAINMASK_SAG_SLIDES_IMG;
  BRAINMASK_SAG_SLIDES.update();

  WM_AXL_SLIDES.image = document.images.WM_AXL_SLIDES_IMG;
  WM_AXL_SLIDES.update();

  WM_COR_SLIDES.image = document.images.WM_COR_SLIDES_IMG;
  WM_COR_SLIDES.update();

  WM_SAG_SLIDES.image = document.images.WM_SAG_SLIDES_IMG;
  WM_SAG_SLIDES.update();

  ASEG_AXL_SLIDES.image = document.images.ASEG_AXL_SLIDES_IMG;
  ASEG_AXL_SLIDES.update();

  ASEG_COR_SLIDES.image = document.images.ASEG_COR_SLIDES_IMG;
  ASEG_COR_SLIDES.update();

  ASEG_SAG_SLIDES.image = document.images.ASEG_SAG_SLIDES_IMG;
  ASEG_SAG_SLIDES.update();


  //T1_AXL_SLIDES.play();
  //BRAINMASK_AXL_SLIDES.play();
  //WM_AXL_SLIDES.play();
  //ASEG_AXL_SLIDES.play();
}
//-->
</SCRIPT>
</body>
</html>
