#if("$!om.getIlpAge()"!="")

    <p><strong>Subject Age at time of Session:</strong> $!om.getIlpAge()</p>
    <div id="ilpImages"></div>

    <h3>ILP Surface Measures</h3>
    <table style="border: none; border-collapse: collapse">
        <tr>
        #set($fs_fsData_hemisphere_12_NUM_ROWS=$item.getChildItems("fs:fsData/measures/surface/hemisphere").size() - 1)
        #if($fs_fsData_hemisphere_12_NUM_ROWS>=0)
            #set ($hemis = $om.getMeasures_surface_hemisphere())
            #set ($hemis_NUM_ROWS = $hemis.size() - 1)
            #foreach($fs_fsData_hemisphere_COUNTER in [0..$hemis_NUM_ROWS])
                <td style="padding-right: 20px">
                    #set ($hemi = $hemis.get($fs_fsData_hemisphere_COUNTER))
                    #set ($hemi_regions = $hemi.getRegions_region())
                    #set ($hemi_regions_NUM_ROWS = $hemi_regions.size() - 1)

                    <h4>Hemisphere: $hemi.getName()</h4>
                    <table class="xnat-table">
                        <tr>
                            <th>Region Name</th><th>ILP Norm</th><th>ILP Z-Score</th>
                        </tr>
                        #foreach($fs_fsData_hemisphere_regions_COUNTER in [0..$hemi_regions_NUM_ROWS])
                            #set ($region = $!hemi_regions.get($fs_fsData_hemisphere_regions_COUNTER))
                            <tr>
                                <td> $!region.getName()</td>
                                <td>$!turbineUtils.formatNumber($!region.getIlpNorm(),4)</td>
                                <td>$!turbineUtils.formatNumber($!region.getIlpZscore(),4)</td>
                            ##    <td>$!region.getIlpNorm()</td>
                            ##    <td>$!region.getIlpZscore()</td>
                            </tr>
                        #end
                    </table>
                </td>
            #end
        #end
        </tr>
    </table>

    <h3>ILP Volumetric Measures</h3>
    #set($fs_fsData_region_11_NUM_ROWS=$item.getChildItems("fs:fsData/measures/volumetric/regions/region").size() - 1)
    #if($fs_fsData_region_11_NUM_ROWS>=0)
        <table class="xnat-table">

            <tr><th>Region Name</th><th>Seg Id</th><th>Hemisphere</th><th>ILP Norm</th><th>ILP Z-Score</th></tr>

            #foreach($fs_fsData_region_11_COUNTER in [0..$fs_fsData_region_11_NUM_ROWS])
                <!-- BEGIN fs_fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER] -->
                <tr>
                    <td>$!item.getStringProperty("fs:fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/name")</td>
                    <td>$!item.getStringProperty("fs:fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/SegId")</td>
                    <td>$!item.getStringProperty("fs:fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/hemisphere")</td>
                    <td>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/ilp_norm"),4)</td>
                    <td>$!turbineUtils.formatNumber($!item.getDoubleProperty("fs:fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER]/ilp_zScore"),4)</td>

                </tr>


                <!-- END fs_fsData/measures/volumetric/regions/region[$fs_fsData_region_11_COUNTER] -->
            #end
        </table>
    #end

    <script src="$content.getURI("/scripts/tip/qcImageSlider.js")"></script>
    <script>
        (function(){
            jq.getJSON('/REST/experiments/$om.getImageSessionData().getId()/assessors/$om.getId()/resources/ILP_IMAGES/files?format=json')
                .success(function(data){
                    var images = data.ResultSet.Result;

                    // iterate through each image found in this resource folder
                    jq(images).each(function(){
                        var img = '<img src="'+this.URI+'" title="'+this.Name+'" style="display:block" />';
                        jq('#ilpImages').append(img);
                    });

                    // bundle all images into a slider
                    createQcSlider('#ilpImages');
                });
        })();
    </script>

#else
    <p>No ILP data exists yet.</p>
#end
