##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<script language="JavaScript">
<!--
function popup(mylink, windowname)
{
try{ 
if (! window.focus)return true;
var href;
if (typeof(mylink) == 'string')
   href=mylink;
else
   href=mylink.href;
window.open(href, windowname, 'width=340,height=320,status=yes,resizable=yes,scrollbars=yes');
}catch(e) { alert(e); }
return false;
}
-->
</script>
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
#else
	#set ($popup = "false")
#end
<APPLET CODE="org.cnl.cnda.utils.FTP.FTPApplet"  
			CODEBASE=$content.getURI("applet")
			ARCHIVE="FTPUtils.jar,commons-net-1.1.0.jar" 
			width=550 height=250>
			<PARAM NAME="dest" VALUE="$!dest">
		</APPLET>