$data.setLayoutTemplate("Popup.vm")
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set ($popup=$data.getParameters().getString("popup"))
<script type="text/javascript">


function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

 function ValidateForm(form) {
    var rtn = true;
    if ( ( form.isstat[0].checked == false ) && ( form.isstat[1].checked == false ) ) {
        alert ( "Please select if the pet scan is a static or a dynamic scan" );
        form.isstat[0].focus();
        return false;
    }
    return rtn;
  }






</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
<br/>

#end
<font face="$ui.sansSerifFonts">


<br/>
<style type="text/css">
    div.DIANQC {
        background: yellow;
        width: 320px;
        padding: 10px 10px 10px 10px;
    }
    h3.DIANQC {
        color: red;
    }
</style>
#if("$project.substring(0,4)"=="DIAN")
    #set($passedQC=false)
    #foreach($assessor in $pet.getAssessors("xnat:qcManualAssessorData"))
        #if(!$passedQC && "$!assessor.pass"=="1")
            #set($passedQC=true)
        #end
    #end
    #if(!$passedQC)
<div class="DIANQC">
<h3 class="DIANQC"><b>WARNING</b></h3>
Session $pet.getLabel() has not passed Manual QC.
</div><br/>
    #end
#end

<form name="PetProcessingPipeline" method="post" action="$link.setAction("BuildAction")"  >
<div id="msgDiv"> </div>
<b>
  <font face="verdana,geneva,helvetica ">
          Session: $pet.getLabel()
  </font>
</b>
<br />
<br />
#set ($dblQts='"')
#set ($petScan = "xnat:petScanData")
#set ($disabled="")

#if ($freesurfers.size() == 0)
<table width="500" >
  <tr>
    <td colspan="2">Freesurfer files havent been created for the associated MR Session. Please launch the freesurfer process first </td>
  </tr>

</table>
#set ($disabled="disabled")
<br />

 <input type="button" ONCLICK="javascript:self.close()" value="Close">

#else

<b> Select the PET Scan to process:</b>
<br />

<table >
  <tr>
    <td>Scan</td><td>Type</td>
  </tr>
   #foreach($scan in $pet.getScans_scan())

       #if ($scan.getXSIType().equals($petScan)  )
       <tr>
           <td><input name="pet_scan_id" type="radio" value="$scan.getId()" checked>$scan.getId()</td>
           <td>$scan.getType()</td>
       </tr>
       #end
    #end


</table>

<br />

<b> Select the MRI Session whose Freesurfer generated files you wish to use for this processing:</b>
<br />

<table >
    <tr>
        <td width="10">&nbsp;</td><td width="120">Session Id</td><td width="120">Date</td><td width="600">Passed FS assessors</td>
    </tr>
    #set ($i=0)
    #foreach($mr in $freesurfers)

    <tr>

    <td><input name="mprage_sessionId" type="radio" value="$mr.getId()" #if ($i == 0  )  checked #end ></td>

    #set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:imageSessionData.ID').addPathInfo('search_value',$mr.getId()).addPathInfo('popup','true')', '','600','800');" )
    <td><A CLASS=b href="#" onClick="$click">$mr.getLabel()</A></td>
    <td>$mr.Date</td>
    #set($fsIDs="")
    #foreach($fs in $mr.imagesessiondata.getAssessors("fs:fsData"))
        #set($validation=$fs.imageassessordata.deriveddata.experimentdata.validation)
        #if($passed || ($validation && ("$!validation.status"=="Passed" || "$!validation.status"=="Passed with edits" || "$!validation.status"=="Passed with Edits")))
        #if("$fsIDs"=="")
            #set($fsIDs="$fs.id")
        #else
            #set($fsIDs="$fsIDs, $fs.id")
        #end
        #end
    #end
    #if("$fsIDs"=="")
        #set($fsIDs="None")
    #end
    <td>$fsIDs</td>
    </tr>
    #set ($i = $i+1)
    #end
</table>

<br />

#set ($isstat=$om.isstaticScan())

#if ($isstat==2)
<div id="msgDiv"> Unable to detect if the pet scan is Static or Dynamic. Please select</div>
#end
<br />
<table>
<tr>
<td><input type="radio" name="isstat" value="1" #if ($isstat==1) checked #end/>Is a Static scan </td>
<td><input type="radio" name="isstat" value="0"#if ($isstat==0) checked #end/>Is a Dynamic scan </td>
</tr>
</table>


<br />

<b> Set the following parameters</b>
<br />

<table width="500" >
    #set ($fwhm = "fwhm")
    <tr  style="border-style:none">
        <td>Full-width-half-max of the assumed PET scanner point spread function (Parameter: fwhm)</td>
        <td ><input type="text" name=$dblQts$fwhm$dblQts value="$!projectSettings.get($fwhm).getCsvvalues()"></td>
    </tr>
    #set ($mdt = "mdt")
    <tr  style="border-style:none">
        <td>Model Duration in Minutes  for dynamic scans (Parameter: mdt)</td>
        <td ><input type="text" name=$dblQts$mdt$dblQts value="$!projectSettings.get($mdt).getCsvvalues()"></td>
    </tr>
    #set ($mst = "mst")
    <tr  style="border-style:none">
        <td> Model Starting Time  in Minutes from time of injection and scan (Parameter: mst)</td>
        <td ><input type="text" name=$dblQts$mst$dblQts value="$!projectSettings.get($mst).getCsvvalues()"></td>
    </tr>
    #set ($t1 = "t1")
    <tr  style="border-style:none">
        <td>The name of the MR data file in FreeSurfer space (Parameter: t1)</td>
        <td ><input type="text" name=$dblQts$t1$dblQts value="$!projectSettings.get($t1).getCsvvalues()"></td>
    </tr>
    #set ($wmparc = "wmparc")
    <tr  style="border-style:none">
        <td>The name of the MR data file in FreeSurfer space (Parameter: wmparc)</td>
        <td ><input type="text" name=$dblQts$wmparc$dblQts value="$!projectSettings.get($wmparc).getCsvvalues()"></td>
    </tr>
    #set ($roifn = "roisfn")
    <tr  style="border-style:none">
        <td> Absolute Path to ROI File (Parameter: $roifn)</td>
        <td ><input type="text" name=$dblQts$roifn$dblQts value="$!projectSettings.get($roifn).getCsvvalues()"></td>
    </tr>
    #set ($fslut = "fslut")
    <tr  style="border-style:none">
        <td> Absolute Path to Freesurfer LUT File (Parameter: $fslut)</td>
        <td ><input type="text" name=$dblQts$fslut$dblQts value="$!projectSettings.get($fslut).getCsvvalues()"></td>
    </tr>
</table>

 #insertCustomPipelineNotification("process")


<input type="hidden" name="pipelineName" value="pet/DIAN_Pet.xml"/>


#xdatPassItemFormFields($search_element $search_field $search_value $project)
        <input type="submit" $disabled  name="eventSubmit_doPetpreprocessing" value="Build"  onClick="return ValidateForm(this.form);" >
                &nbsp;&nbsp;
                <input type="button" ONCLICK="javascript:self.close()" value="Cancel">
            <p>&nbsp;</p>

#end
</form>

