$data.setLayoutTemplate("Popup.vm")
##Copyright 2005 Harvard University / Howard Hughes Medical Institute (HHMI) All Rights Reserved
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
#set ($popup=$data.getParameters().getString("popup"))
<script type="text/javascript">

<!--

function popup(mylink, windowname)

{

if (! window.focus)return true;

var href;

if (typeof(mylink) == 'string')

   href=mylink;

else

   href=mylink.href;

window.open(href, windowname, 'width=500,height=400,status=yes,resizable=yes,scrollbars=yes');

return false;

}

//-->





</script>

$page.setTitle("CNDA -- Central Neuroimaging Data Archive")
#if ($data.message)
<DIV class="error">$data.message</DIV><br>
<br/>

#end
<font face="$ui.sansSerifFonts">				

<div align="center">
<font size="1">
	<table  border="1">
  <tr>
    <th  align="center" width="130" #if ($step==1)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 1</th>
    <th  align="center"  width="130" #if ($step==2)  bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 2</th>
    <th  align="center" width="130" #if ($step==3) bgcolor="#006600" #else bgcolor="#999999" #end scope="col">Step 3</th>
  </tr>
  <tr>
    <td align="center"><b>
    #if ($step1Disabled == 'disabled')
    <b>Atlas Register MRI-T1</b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","PipelineScreen_ManualPetProcessingStep").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("project","$project").addPathInfo("popup","true").addPathInfo("step","1")" >Atlas Register MRI-T1 </a></b>
    #end
    </td>
    <td align="center">
    #if ($step2Disabled == 'disabled')
    <b> Create ROIS </b>
	    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","PipelineScreen_ManualPetProcessingStep2").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("project","$project").addPathInfo("popup","true").addPathInfo("content","MPRAGE_222").addPathInfo("step","2")" >Create ROIS </a></b>
    #end    
    </td>
    <td align="center">
    #if ($step3Disabled == 'disabled')
    <b>Compute SUVR and BP </b>
    #else
    <b><A HREF="$link.setAction("XDATActionRouter").addPathInfo("xdataction","PipelineScreen_ManualPetProcessingStep3").addPathInfo("search_element",${search_element}).addPathInfo("search_field",${search_field}).addPathInfo("search_value",${search_value}).addPathInfo("project","$project").addPathInfo("popup","true").addPathInfo("step","3")" >Compute SUVR and BP</a></b>
    #end
    </td>
  </tr>
</table>
</font>
</div>

<br/>


<form name="ManualPIBPipeline" method="post" action="$link.setAction("ManualPetAction")" >
<div id="msgDiv"> </div>
<b>
  <font face="verdana,geneva,helvetica ">
	      Session: $pet.getLabel()
  </font>
</b>
<table border=0 width=265 bodercolor="#CC3333">
	<tr>
		<td>
			<b>Atlas</b>			
		</td>	
		<td>
			<select name="atlas">
				<option name="711-2B" selected>711-2B </option>
				<option name="711-2C">711-2C </option>
				<option name="711-2O">711-2O </option> 
				<option name="711-2Y">711-2Y </option>
				<option name="711-2K">711-2K </option>
				<option name="711-2L">711-2L </option>
			</select>
		</td>	
	</tr>
</table>
<br />
#set ($quality="USABLE")


<br />
<b> Select the MRI Session and the T1 scan id which will be used for this build</b>
<br />
#set ($param = "T1")
#set ($t1_scan_type=$!projectSettings.get($param).getCsvvalues())

<table width="500" >
  <tr>
	<td>&nbsp;</td><td>Session Id</td><td>Date</td><td>T1 Scan ID</td>
  </tr>
		       #set ($i=0)
   #foreach($mr in $mrs)
		    
					   <tr>
					   	    #if ($i == 0  )		
				       <td><input name="mprage_sessionId" type="radio" value="$mr.getId()" checked ></td>
				       #else 
				       <td><input name="mprage_sessionId" type="radio" value="$mr.getId()" ></td>
				       #end
	       #set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID').addPathInfo('search_value',$mr.getId()).addPathInfo('popup','true')', '','600','800');" )
	         <td> 					<A CLASS=b href="#" onClick="$click">$mr.getLabel()</A></td>
		       <td>$mr.Date</td> 
		       <td>
		       	<select name="mprage_scanid#$mr.getId()">
		      
			        #foreach ($scan in $mr.getUnionOfScansByType($t1_scan_type))  
             				<option name="$scan.getId()" #if ($scan.getQuality().equalsIgnoreCase($quality)) selected #end>$scan.getId() </option>
        			#end				
        </select>
		       </td> 
   </tr>
       #set ($i = $i+1)
    #end  
</table>

   <br>
   
    <p>&nbsp;</p>
    #set ($email = $user.getEmail())
     #if(!($email==""))
            <p>
                When the build is complete, an email will be automatically sent to $email 
            </p>
    <p>&nbsp;</p>
	    #end
	            <p>
                Send <i>additional</i> confirmation emails to
                <input type="text" name="emailField" value="" size="20">  (use spaces to separate multiple addresses)
            </p>
    <p>&nbsp;</p>
    <p>
    
 <input type="hidden" name="pipelineName" value="ManualPet/ManualPetProcessing.xml"/>

#xdatPassItemFormFields($search_element $search_field $search_value $project)
	    <input type="submit" name="eventSubmit_doBuild" value="Build" />
    			&nbsp;&nbsp;
   		    	<input type="button" ONCLICK="javascript:self.close()" value="Cancel"/>
    	    <p>&nbsp;</p>
    	    
    	    
</form>

