##Copyright 2012 Radiologics, Inc
##Developer: Tim Olsen tim@radiologics.com
#if($hideTopBar)
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/ScreenOnly.vm")
#else
#set ($template = $data.getTemplateInfo())
$!template.setLayoutTemplate("/Default.vm")
#end

<style type="text/css">
	#activity_table .activityItem, #activity_table .header {
	  border-bottom:1px solid #888;
	  font:11px Arial, Helvetica, sans-serif;
	  margin-top:0;
	  margin-bottom:0;
	  padding: 4px;
	  overflow:auto;
	}
	dl.activityItem, item.activityItem {
		display:block;
	}
	#activity_table dl dl 	{ margin:1px 0;	}
	#activity_table .header {
		background-color: #ccc;
		font-weight: bold;
	}
	#activity_table dl dt, #activity_table dl dd {
		display:block;
		float:left;
		padding:4px 0;
	}
	#activity_table dd 	{ 	margin-left:20px; }
	dd.col1 	{	width:48px;	}
	dd.col4 	{	width:140px;	}
	dd.col5 	{	width:140px;	}
	dd.col2 	{	width:200px; }
	dd.col3 	{	width:120px;	}
	
	.activityItem{
		background-color:#fff;
	}
	.activityItem:hover {
		background-color:#fe9;
	}
    </style>

<div id="activity_table">
            <dl class="header">
              <dl>
                  <dd class="col1">Status</dd>
                  <dd class="col4">Login</dd>
                  <dd class="col5">Logout</dd>
                  <dd class="col2">Session</dd>
                  <dd class="col3">IP</dd>
              </dl>
            </dl>
#foreach($row in $table.toArrayListOfLists())
	<dl class="activityItem #if($row.get(0)) #else failedItem #end" id="">
        <dl>
            <dd class="col1">#if($row.get(0)) #else FAILED #end</dd>
            <dd class="col4">$!row.get(2)</dd>
            <dd class="col5">$!row.get(3)</dd>
            <dd class="col2">$!row.get(0)</dd>
            <dd class="col3">$!row.get(1)</dd>
        </dl>
	</dl>
#end
</div>
