<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("VisualSpatialTest1 Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end

<!-- Manage files support -->
<script type="text/javascript" src="$content.getURI("scripts/FileViewer.js")"></script>
<script type="text/javascript">
  var obj=new Object();
  obj.uri=serverRoot + "/REST/projects/$!om.getProject()/subjects/$!om.SubjectData.getLabel()/experiments/$!om.getId()";
  
  #if ($item.canEdit($data.getSession().getAttribute("user")))
	obj.canEdit=true;
  #else
	obj.canEdit=false;
  #end
  
  obj.catalogs=new Object();
  obj.catalogs.ids=new Array();
  window.viewer=new FileViewer(obj);
    
  function showFiles(){
    window.viewer.render();
  }
</script>

<TABLE width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<td >
			<table >
                  <TR><TH>QC Information</TH></TR>
                  <TR><TD>Status</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/status")</TD></TR>
				  <TR><TD>Date</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/date")</TD></TR>
				  <TR><TD>Method</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/method")</TD></TR>
				  <TR><TD>Notes</TD><TD>$!item.getStringProperty("cbat:visualSpatialTest1/validation/notes")</TD></TR>
             </table>
			 <br />
        </td>
    </TR>
	<TR>
		<TD>
			<TABLE>
    			<TR>
    				<TH>Trial #</TH>
    				<TH>Accuracy</TH>
    			</TR>
    			#foreach($Tnum in [1..20])
    				<TR>
    					<TD>T$Tnum</TD>
    					<TD>$!item.getIntegerProperty("cbat:visualSpatialTest1/T$Tnum/accuracy")</TD>
    				</TR>
				#end
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
