$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()

#set($categories = [ "GeneralMedication", "Steroid", "Chemotherapy", "RadiationTherapy" ])

#cndaDateBoxNotReportedJS()

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorDataAllowDataDeletion")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<style type="text/css">
	td, th { text-align: left; }
	td.header { text-align: right; }
</style>

<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>

<TABLE width="100%">
	<TR>
		<TD>
			<DIV class="edit_title">Medication List Details</DIV>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
            					<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>                
									#if($om.getId())
										#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
									#else
										#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
									#end
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</TR>
								
							<TR><TD>Medication List Notes:</TD><TD>#xdatTextArea("tx:medTreatmentList/note" $item "" $vr 4 50)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD colspan=2>
<!-- BEGIN tx:medTreatmentList -->
			<TABLE>
<!-- BEGIN tx:medTreatmentList/medTreatments/medTreatment -->
				<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">Medications</font></TH></TR>

				<TR>
					<TD align="left" valign="top" id="treatmentContainerTD">
							<HR/>

							#set($treatmentIndex = 0)
							#foreach ($treatment in $item.getChildItems("tx:medTreatmentList/medTreatments/medTreatment"))
							
							<TABLE id="treatmentTable_$treatmentIndex">
							<TR><TD colspan=4>
							</TD></TR>
								<TR>
									<TH colspan=3>
										Medication: #xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/name" $item "" $vr)
									</TH>
									<TD class="header">
										<input id="treatmentTableTemplate/deleteButton_$treatmentIndex" type="button" value="X" style="width: 20px; height 20px;" onclick="deleteTreatment(this);">
									</TD>
								</TR>
								<TR>
									<TD class="header">Start Date:</TD>
									<TD colspan="3">
										#cndaDateBoxNotReported("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/startDate" $item $vr $years)
									</TD>
								</TR>
								<TR>
									<TD class="header">End Date:</TD>
									<TD colspan="3">
										#cndaDateBoxNotReported("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/endDate" $item $vr $years)
									</TD>
								</TR>
								<TR>
									<TD class="header">Dose: <input id="tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseAmount" type="text" name="tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseAmount" value='$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseAmount")' size="5"/></TD>
									<TD>Unit: <input id="tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseUnit" type="text" name="tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseUnit" value='$!item.getStringProperty("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseUnit")' size="5"/></TD>
									<TD class="header">Schedule:</TD><TD>#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/doseSchedule" $item "" $vr)</TD>
								</TR>
								<TR>
									<TD class="header">Route:</TD><TD>#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/route" $item "" $vr)</TD>
									<TD class="header">Indication:</TD><TD>#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/indication" $item "" $vr)</TD>
								</TR>
								<TR>
									<TD class="header">Clinical Trial Name:</TD><TD>#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/clinicalTrialName" $item "" $vr)</TD>
									<TD class="header">Trial Arm:</TD><TD>#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/clinicalTrialArm" $item "" $vr)</TD>
								</TR>
								<TR>
									<TD>Notes:</TD>
								</TR>
								<TR>
									<TD colspan="4">#xdatTextArea("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/treatmentNotes" $item "" $vr 3 75)</TD>
								</TR>
##								<TR>
##									<TD colspan="4">
##										<HR/>
##										#xdatHiddenBox("tx:medTreatmentList/medTreatments/medTreatment[$treatmentIndex]/tx_treatment_id" $item "")
##									</TD>
##								</TR>
							</TABLE>
							
							#set($treatmentIndex = $treatmentIndex + 1)
							#end

					</TD>
				</TR>
<!-- END tx:medTreatmentList/medTreatments/medTreatment -->
			</TABLE>
<!-- END tx:medTreatmentList -->
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR>
			<TD ALIGN=left>
				<input type="button" name="event_doAdd" value="Add Medication" onclick="addTreatment()"/>
			</TD>
			<TD ALIGN=right>
				<input type="submit" name="eventSubmit_doInsert" value="Submit"/>
			</TD>
		</TR>
		</TD>
	</TR>
</TABLE>
</form>
<div style="display: none; visibility: hidden;">
<TABLE id="treatmentTableTemplate">
	<TR>
		<TH colspan=3>
			Medication: #xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/name" $item "" $vr)
		</TH>
		<TD class="header">
			<input id="deleteButton_#" type="button" value="X" style="width: 20px; height 20px;" onclick="deleteTreatment(this);">
		</TD>
	</TR>
	<TR>
		<TD class="header">
			Start Date:
		</TD>
		<TD colspan="3">
			#cndaDateBoxNotReported("tx:medTreatmentList/medTreatments/medTreatment[#]/startDate" $item $vr $years)
		</TD>
	</TR>
	<TR>
		<TD class="header">
			End Date:
		</TD>
		<TD colspan="3">
			#cndaDateBoxNotReported("tx:medTreatmentList/medTreatments/medTreatment[#]/endDate" $item $vr $years)
		</TD>
	</TR>
	<TR>
		<TD class="header">
			Dose: <input id="tx:medTreatmentList/medTreatments/medTreatment[#]/doseAmount" type="text" name="tx:medTreatmentList/medTreatments/medTreatment[#]/doseAmount" size="5"/>
		</TD>
		<TD>
			Unit: <input id="tx:medTreatmentList/medTreatments/medTreatment[#]/doseUnit" type="text" name="tx:medTreatmentList/medTreatments/medTreatment[#]/doseUnit" size="5"/>
		</TD>
		<TD class="header">
			Schedule:
		</TD>
		<TD>
			#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/doseSchedule" $item "" $vr)
		</TD>
	</TR>
	<TR>
		<TD class="header">
			Route:
		</TD>
		<TD>
			#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/route" $item "" $vr)
		</TD>
		<TD class="header">
			Indication:
		</TD>
		<TD>
			#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/indication" $item "" $vr)
		</TD>
	</TR>
	<TR>
		<TD class="header">
			Clinical Trial Name:
		</TD>
		<TD>
			#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/clinicalTrialName" $item "" $vr)
		</TD>
		<TD class="header">
			Trial Arm:
		</TD>
		<TD>
			#xdatTextBox("tx:medTreatmentList/medTreatments/medTreatment[#]/clinicalTrialArm" $item "" $vr)
		</TD>
	</TR>
	<TR>
		<TD>
			Notes:
		</TD>
	</TR>
	<TR>
		<TD colspan="4">
			#xdatTextArea("tx:medTreatmentList/medTreatments/medTreatment[#]/treatmentNotes" $item "" $vr 2 75)
		</TD>
	</TR>
##	<TR>
##		<TD colspan="4">
##			<HR>
##			#xdatHiddenBox("tx:medTreatmentList/medTreatments/medTreatment[#]/tx_treatment_id" $item "")
##		</TD>
##	</TR>
</TABLE>
</div>
<script type="text/javascript">
var treatmentIndex = $treatmentIndex;

function preValidateForm()
{
	var treatmentContainerTD = document.getElementById("treatmentContainerTD");
	treatmentContainerChildren = treatmentContainerTD.children;

/**** Validate that no medications have the same name and start date ****/	
	for (var i = 0; i < treatmentContainerChildren.length; i++) {
		if (treatmentContainerChildren[i].tagName === "TABLE") {
			medicationNum = treatmentContainerChildren[i].id.split("_")[1];
			
			medicationName = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/name").value;
			
			startDateMonth = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/startDate.month").value;
			startDateDate = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/startDate.date").value;
			startDateYear = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/startDate.year").value;
			
			for (var j = i+1; j < treatmentContainerChildren.length; j++) {
				if (treatmentContainerChildren[j].tagName === "TABLE") {
					validateMedicationNum = treatmentContainerChildren[j].id.split("_")[1];
				
					validateMedicationName = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/name").value;
				
					if (medicationName === validateMedicationName) {
						validateStartDateMonth = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.month").value;
						validateStartDateDate = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.date").value;
						validateStartDateYear = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.year").value;

						if (startDateMonth === validateStartDateMonth && startDateDate === validateStartDateDate && startDateYear === validateStartDateYear) {
							if (startDateMonth === "bad" || startDateDate === "bad" || startDateYear === "bad") { 
								showMessage("page_body", "Exception", "Medication '" + medicationName + "' has been entered more than once with the same start date.");
							} else if (document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.month").options.selectedIndex === 1 || document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.date").options.selectedIndex === 1 || document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + validateMedicationNum + "]/startDate.year").options.selectedIndex === 1) {
								showMessage("page_body", "Exception", "Medication '" + medicationName + "' has been entered more than once with the same start date."); 
							} else {
								showMessage("page_body", "Exception", "Medication '" + medicationName + "' has been entered more than once with the start date '" + (parseInt(validateStartDateMonth) + 1) +"/" +validateStartDateDate + "/" + validateStartDateYear + "'.");
							}
							return false;
						}
					}
				}
			}
		}
	}
 
 /**** Validate that the dose amount is a valid and positive float value ****/
	for (var i = 0; i < treatmentContainerChildren.length; i++) {
		if (treatmentContainerChildren[i].tagName === "TABLE") {
			medicationNum = treatmentContainerChildren[i].id.split("_")[1];
			
			medicationName = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/name").value;
			doseAmmount = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + medicationNum + "]/doseAmount").value;

			if (doseAmmount !== "") {
				if (isNaN(doseAmmount)) {
					showMessage("page_body", "Exception", "Medication '" + medicationName + "' has an invalid dose amount.");
					return false;
				}
				else if (parseFloat(doseAmmount) < 0) {
					showMessage("page_body", "Exception", "Medication '" + medicationName + "' dose amount must be positive.");
					return false;
				}
			}
		}
	}

	if (window.validateForm && typeof window.validateForm === 'function') {
		return validateForm();
	} else {
		document.getElementById("form1").submit();
	}
}

function addTreatment() {
	var templateTable = document.getElementById("treatmentTableTemplate");
	var treatmentContainerTD = document.getElementById("treatmentContainerTD");
		
	var newTable = cloneTable(templateTable);
	
	treatmentContainerTD.appendChild(newTable);
}

function cloneTable(table) {
	var newTable = table.cloneNode(true);
	newTable.id = "treatmentTable_" + treatmentIndex;

	updateChildren(newTable);
	
	treatmentIndex = treatmentIndex + 1;
	
	return newTable;
}

function updateChildren(parent) {	
	if (parent.hasChildNodes()) {
		for (var i = 0; i < parent.childNodes.length; i++) {
			var child = parent.childNodes[i];
		
			if (typeof child.tagName !== 'undefined') { 
				if (child.tagName.toLowerCase() === "input" && child.type.toLowerCase() !== "button") {
					child.id = child.id.replace("#", treatmentIndex);
					child.name = child.name.replace("#", treatmentIndex);
			
					child.value = "";
				} else if (child.tagName.toLowerCase() === "input" && child.type.toLowerCase() === "button") {
					child.id = child.id.replace("#", treatmentIndex);
					child.name = child.name.replace("#", treatmentIndex);
				} else if (child.tagName.toLowerCase() === "textarea") {
					child.id = child.id.replace("#", treatmentIndex);
					child.name = child.name.replace("#", treatmentIndex);
			
					child.value = "";
				} else if (child.tagName.toLowerCase() === "select") {
					child.id = child.id.replace("#", treatmentIndex);
					child.name = child.name.replace("#", treatmentIndex);

					// cycle through attributes and change onclick event/attribute. replace # with correct number
					for (var j = 0; j < child.attributes.length; j++) {
						var attribute = child.attributes[j];
						if (attribute.nodeName.toLowerCase() === "onchange") {
							attribute.value = attribute.value.replace("#", treatmentIndex); 
						}
					}
				}
			}
			updateChildren(child);
		}
	}
}

function deleteTreatment(deleteButton) {
	if (confirm("Are you sure you want to delete this item?")) {
		var treatmentContainerTD = document.getElementById("treatmentContainerTD");
	
		var treatmentId = deleteButton.id.split("_")[deleteButton.id.split("_").length - 1];
		var treatmentTable = document.getElementById("treatmentTable_" + treatmentId);
		
//		var treatmentIdInput = document.getElementById("tx:medTreatmentList/medTreatments/medTreatment[" + treatmentId + "]/tx_treatment_id").cloneNode(true);
		
		treatmentContainerTD.removeChild(treatmentTable);
		
		var treatmentIdInput = document.createElement('input');
		treatmentIdInput.type = "hidden";
		treatmentIdInput.name = "tx:medTreatmentList/medTreatments/medTreatment[" + treatmentId + "]";
		treatmentIdInput.id = "tx:medTreatmentList/medTreatments/medTreatment[" + treatmentId + "]";
		treatmentIdInput.value = "";

		treatmentContainerTD.appendChild(treatmentIdInput);
	}
}

</script>
