<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($col1width="200px")

#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<table id="uds_form"  width="600px">
	<TR>
		<TD colspan=2>
##			<table width="100%">
##				<TR>
##					<TD align="left" valign="middle">
						<DIV class="edit_title">CSF Sample Details</DIV>
##					</TD>
##				</TR>
##			</TABLE>
		</TD>
	</TR>
	<TR><TD width="$col1width"><B>Project</B></TD><TD>$om.getId()</TD></TR>
	<TR><TD width="$col1width"><B>Subject</B></TD><TD>$om.getSubjectData().getLabel()</TD></TR>
	<TR><TD width="$col1width"><B>Experiment</B></TD><TD>$om.getLabel()</TD></TR>
#*
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>age</TD><TD>#xdatTextBox("dian:csfsampData/age" $item "" $vr)</TD></TR>
							<TR><TD>date</TD><TD>#xdatDateBox("dian:csfsampData/date" $item $vr $years)</TD></TR>
							<TR><TD>time</TD><TD>#xdatTextBox("dian:csfsampData/time" $item "" $vr)</TD></TR>
							<TR><TD>duration</TD><TD>#xdatTextBox("dian:csfsampData/duration" $item "" $vr)</TD></TR>
							<TR><TD>delay</TD><TD>#xdatTextBox("dian:csfsampData/delay" $item "" $vr)</TD></TR>
							<TR><TD>delay/ref_expt_id</TD><TD>#xdatStringBox("dian:csfsampData/delay/ref_expt_id" $item "" $vr)</TD></TR>
							<TR><TD>note</TD><TD>#xdatStringBox("dian:csfsampData/note" $item "" $vr)</TD></TR>
							<TR><TD>acquisition_site</TD><TD>#xdatStringBox("dian:csfsampData/acquisition_site" $item "" $vr)</TD></TR>
							<TR><TD>visit_id</TD><TD>#xdatStringBox("dian:csfsampData/visit_id" $item "" $vr)</TD></TR>
							<TR><TD>label</TD><TD>#xdatStringBox("dian:csfsampData/label" $item "" $vr)</TD></TR>
							<TR><TD>CSFCOLL</TD><TD>#xdatTextBox("dian:csfsampData/CSFCOLL" $item "" $vr)</TD></TR>
							<TR><TD>CSFINIT</TD><TD>#xdatStringBox("dian:csfsampData/CSFINIT" $item "" $vr)</TD></TR>
							<TR><TD>CSFDATE</TD><TD>#xdatDateBox("dian:csfsampData/CSFDATE" $item $vr $years)</TD></TR>
							<TR><TD>CSFFAST</TD><TD>#xdatTextBox("dian:csfsampData/CSFFAST" $item "" $vr)</TD></TR>
							<TR><TD>PRETEMP</TD><TD>#xdatTextBox("dian:csfsampData/PRETEMP" $item "" $vr)</TD></TR>
							<TR><TD>PRETMPUNT</TD><TD>#xdatTextBox("dian:csfsampData/PRETMPUNT" $item "" $vr)</TD></TR>
							<TR><TD>PRESYS</TD><TD>#xdatTextBox("dian:csfsampData/PRESYS" $item "" $vr)</TD></TR>
							<TR><TD>PREDIA</TD><TD>#xdatTextBox("dian:csfsampData/PREDIA" $item "" $vr)</TD></TR>
							<TR><TD>PREPULSE</TD><TD>#xdatTextBox("dian:csfsampData/PREPULSE" $item "" $vr)</TD></TR>
							<TR><TD>PRERESP</TD><TD>#xdatTextBox("dian:csfsampData/PRERESP" $item "" $vr)</TD></TR>
							<TR><TD>NEEDLE</TD><TD>#xdatTextBox("dian:csfsampData/NEEDLE" $item "" $vr)</TD></TR>
							<TR><TD>NEEDLEOTH</TD><TD>#xdatStringBox("dian:csfsampData/NEEDLEOTH" $item "" $vr)</TD></TR>
							<TR><TD>METHOD</TD><TD>#xdatTextBox("dian:csfsampData/METHOD" $item "" $vr)</TD></TR>
							<TR><TD>LPSITE</TD><TD>#xdatTextBox("dian:csfsampData/LPSITE" $item "" $vr)</TD></TR>
							<TR><TD>LPSITEOTH</TD><TD>#xdatStringBox("dian:csfsampData/LPSITEOTH" $item "" $vr)</TD></TR>
							<TR><TD>POSITION2</TD><TD>#xdatTextBox("dian:csfsampData/POSITION2" $item "" $vr)</TD></TR>
							<TR><TD>TUBECOLL</TD><TD>#xdatTextBox("dian:csfsampData/TUBECOLL" $item "" $vr)</TD></TR>
							<TR><TD>TUBESHIP</TD><TD>#xdatTextBox("dian:csfsampData/TUBESHIP" $item "" $vr)</TD></TR>
							<TR><TD>STYRTIME</TD><TD>#xdatTextBox("dian:csfsampData/STYRTIME" $item "" $vr)</TD></TR>
							<TR><TD>CSFTIME</TD><TD>#xdatTextBox("dian:csfsampData/CSFTIME" $item "" $vr)</TD></TR>
							<TR><TD>CSFTRANS</TD><TD>#xdatStringBox("dian:csfsampData/CSFTRANS" $item "" $vr)</TD></TR>
							<TR><TD>VOLCOLL</TD><TD>#xdatTextBox("dian:csfsampData/VOLCOLL" $item "" $vr)</TD></TR>
							<TR><TD>VOLTRANS</TD><TD>#xdatTextBox("dian:csfsampData/VOLTRANS" $item "" $vr)</TD></TR>
							<TR><TD>LOCLAB</TD><TD>#xdatTextBox("dian:csfsampData/LOCLAB" $item "" $vr)</TD></TR>
							<TR><TD>TIMEFROZ</TD><TD>#xdatStringBox("dian:csfsampData/TIMEFROZ" $item "" $vr)</TD></TR>
							<TR><TD>NOTES</TD><TD>#xdatStringBox("dian:csfsampData/NOTES" $item "" $vr)</TD></TR>
							<TR><TD>CSFSHIP</TD><TD>#xdatTextBox("dian:csfsampData/CSFSHIP" $item "" $vr)</TD></TR>
							<TR><TD>CSFSHDT</TD><TD>#xdatDateBox("dian:csfsampData/CSFSHDT" $item $vr $years)</TD></TR>
							<TR><TD>CSFSHNUM</TD><TD>#xdatStringBox("dian:csfsampData/CSFSHNUM" $item "" $vr)</TD></TR>
							<TR><TD>CSFDATERVD</TD><TD>#xdatDateBox("dian:csfsampData/CSFDATERVD" $item $vr $years)</TD></TR>
							<TR><TD>CSFVOLRVD</TD><TD>#xdatTextBox("dian:csfsampData/CSFVOLRVD" $item "" $vr)</TD></TR>
							<TR><TD>CSFVIALSRVD</TD><TD>#xdatTextBox("dian:csfsampData/CSFVIALSRVD" $item "" $vr)</TD></TR>
							<TR><TD>POSITION3</TD><TD>#xdatTextBox("dian:csfsampData/POSITION3" $item "" $vr)</TD></TR>
							<TR><TD>POSTTEMP</TD><TD>#xdatTextBox("dian:csfsampData/POSTTEMP" $item "" $vr)</TD></TR>
							<TR><TD>POSTTMPU</TD><TD>#xdatTextBox("dian:csfsampData/POSTTMPU" $item "" $vr)</TD></TR>
							<TR><TD>POSTSYS</TD><TD>#xdatTextBox("dian:csfsampData/POSTSYS" $item "" $vr)</TD></TR>
							<TR><TD>POSTDIA</TD><TD>#xdatTextBox("dian:csfsampData/POSTDIA" $item "" $vr)</TD></TR>
							<TR><TD>POSTPULSE</TD><TD>#xdatTextBox("dian:csfsampData/POSTPULSE" $item "" $vr)</TD></TR>
							<TR><TD>POSTRESP</TD><TD>#xdatTextBox("dian:csfsampData/POSTRESP" $item "" $vr)</TD></TR>
							<TR><TD>POSITION4</TD><TD>#xdatTextBox("dian:csfsampData/POSITION4" $item "" $vr)</TD></TR>
							<TR><TD>HRTEMP</TD><TD>#xdatTextBox("dian:csfsampData/HRTEMP" $item "" $vr)</TD></TR>
							<TR><TD>HRTMPU</TD><TD>#xdatTextBox("dian:csfsampData/HRTMPU" $item "" $vr)</TD></TR>
							<TR><TD>HRSYS</TD><TD>#xdatTextBox("dian:csfsampData/HRSYS" $item "" $vr)</TD></TR>
							<TR><TD>HRDIA</TD><TD>#xdatTextBox("dian:csfsampData/HRDIA" $item "" $vr)</TD></TR>
							<TR><TD>HRPULSE</TD><TD>#xdatTextBox("dian:csfsampData/HRPULSE" $item "" $vr)</TD></TR>
							<TR><TD>HRRESP</TD><TD>#xdatTextBox("dian:csfsampData/HRRESP" $item "" $vr)</TD></TR>
							<TR><TD>COMP</TD><TD>#xdatTextBox("dian:csfsampData/COMP" $item "" $vr)</TD></TR>
							<TR><TD>COMPOTH</TD><TD>#xdatStringBox("dian:csfsampData/COMPOTH" $item "" $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
*#

	#set ($CSFCOLL = $item.getStringProperty("CSFCOLL"))
	#if ( "-4" != $CSFCOLL )
		<tr>
			<td width="$col1width"><B>CSF for Biomarker Core - Sample Collected?</B></td>
			<td>
				$CSFCOLL 
				#if ($CSFCOLL == "1")
					- Yes
				#elseif ($CSFCOLL == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($CSFINIT = $item.getStringProperty("CSFINIT"))
	#if ( "-4" != $CSFINIT )
		<tr>
			<td width="$col1width"><B>CSF collector initials</B></td>
			<td>
				$!CSFINIT
			</td>
		</tr>
	#end
	#set ($CSFDATE = $item.getStringProperty("CSFDATE"))
		<tr>
			<td width="$col1width"><B>Date of LP</B></td>
			<td>
				$!CSFDATE
			</td>
		</tr>
	#set ($CSFFAST = $item.getStringProperty("CSFFAST"))
	#if ( "-4" != $CSFFAST )
		<tr>
			<td width="$col1width"><B>Overnight fast (at least 8 hours)</B></td>
			<td>
				$CSFFAST 
				#if ($CSFFAST == "1")
					- Yes
				#elseif ($CSFFAST == "0")
					- No
			#end
			</td>
		</tr>
	#end
	<tr>
		<td colspan="2"><B>Pre-procedure Vital Signs<B></td>
	</tr>	#set ($PRETEMP = $item.getStringProperty("PRETEMP"))
	#if ( "-4" != $PRETEMP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature</B></td>
			<td>
				$!PRETEMP
			</td>
		</tr>
	#end
	#set ($PRETMPUNT = $item.getStringProperty("PRETMPUNT"))
	#if ( "-4" != $PRETMPUNT )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature Units</B></td>
			<td>
				$PRETMPUNT 
				#if ($PRETMPUNT == "1")
					- Celsius
				#elseif ($PRETMPUNT == "2")
					- Farenheit
			#end
			</td>
		</tr>
	#end
	#set ($PRESYS = $item.getStringProperty("PRESYS"))
	#if ( "-4" != $PRESYS )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Systolic</B></td>
			<td>
				$!PRESYS
			</td>
		</tr>
	#end
	#set ($PREDIA = $item.getStringProperty("PREDIA"))
	#if ( "-4" != $PREDIA )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Diastolic</B></td>
			<td>
				$!PREDIA
			</td>
		</tr>
	#end
	#set ($PREPULSE = $item.getStringProperty("PREPULSE"))
	#if ( "-4" != $PREPULSE )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Seated Pulse Rate</B></td>
			<td>
				$!PREPULSE
			</td>
		</tr>
	#end
	#set ($PRERESP = $item.getStringProperty("PRERESP"))
	#if ( "-4" != $PRERESP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Respirations</B></td>
			<td>
				$!PRERESP
			</td>
		</tr>
	#end
	#set ($NEEDLE = $item.getStringProperty("NEEDLE"))
	#if ( "-4" != $NEEDLE )
		<tr>
			<td width="$col1width"><B>Spinal Needle</B></td>
			<td>
				$NEEDLE 
				#if ($NEEDLE == "1")
					- 22g
				#elseif ($NEEDLE == "2")
					- 24g
				#elseif ($NEEDLE == "3")
					- Other
			#end
			</td>
		</tr>
	#end
	#set ($NEEDLEOTH = $item.getStringProperty("NEEDLEOTH"))
	#if ( "-4" != $NEEDLEOTH )
		<tr>
			<td width="$col1width"><B>If other, specify</B></td>
			<td>
				$!NEEDLEOTH
			</td>
		</tr>
	#end
	#set ($METHOD = $item.getStringProperty("METHOD"))
	#if ( "-4" != $METHOD )
		<tr>
			<td width="$col1width"><B>Collection Method</B></td>
			<td>
				$METHOD 
				#if ($METHOD == "1")
					- Gravity (REQUIRED for DIAN protocol)
				#elseif ($METHOD == "2")
					- Aspiration (Protocol violation)
			#end
			</td>
		</tr>
	#end
	#set ($LPSITE = $item.getStringProperty("LPSITE"))
	#if ( "-4" != $LPSITE )
		<tr>
			<td width="$col1width"><B>LP was performed at the:</B></td>
			<td>
				$LPSITE 
				#if ($LPSITE == "1")
					- L3-L4 inter space
				#elseif ($LPSITE == "2")
					- L2-L3 inter space
			#end
			</td>
		</tr>
	#end
	#set ($POSITION2 = $item.getStringProperty("POSITION2"))
	#if ( "-4" != $POSITION2 )
		<tr>
			<td width="$col1width"><B>Patient Position:</B></td>
			<td>
				$POSITION2 
				#if ($POSITION2 == "1")
					- Sitting, leaned over (preferred)
				#elseif ($POSITION2 == "2")
					- Lying, curled up on side
			#end
			</td>
		</tr>
	#end
	#set ($TUBECOLL = $item.getStringProperty("TUBECOLL"))
	#if ( "-4" != $TUBECOLL )
		<tr>
			<td width="$col1width"><B>Collection Tube</B></td>
			<td>
				$TUBECOLL 
				#if ($TUBECOLL == "1")
					- Confirm ONLY POLYPROPYLENE tube used for collection
				#elseif ($TUBECOLL == "2")
					- Check if protocol violated and polystyrene tube used
			#end
			</td>
		</tr>
	#end
	#set ($TUBESHIP = $item.getStringProperty("TUBESHIP"))
	#if ( "-4" != $TUBESHIP )
		<tr>
			<td width="$col1width"><B>Shipping Tube</B></td>
			<td>
				$TUBESHIP 
				#if ($TUBESHIP == "1")
					- Confirm ONLY POLYPROPYLENE tube used for shipping
				#elseif ($TUBESHIP == "2")
					- Check if protocol violated and polystyrene tube used
			#end
			</td>
		</tr>
	#end
	#set ($STYRTIME = $item.getStringProperty("STYRTIME"))
	#if ( "-4" != $STYRTIME )
		<tr>
			<td width="$col1width"><B>If collected in polystyrene and shipped in polypropylene, time in polystyrene collection tube:</B></td>
			<td>
				$!STYRTIME
			</td>
		</tr>
	#end
	#set ($CSFTIME = $item.getStringProperty("CSFTIME"))
	#if ( "-4" != $CSFTIME )
		<tr>
			<td width="$col1width"><B>Time CSF collected</B></td>
			<td>
				$!CSFTIME
			</td>
		</tr>
	#end
	#set ($CSFTRANS = $item.getStringProperty("CSFTRANS"))
	#if ( "-4" != $CSFTRANS )
		<tr>
			<td width="$col1width"><B>CSF Transfer Time</B></td>
			<td>
				$!CSFTRANS
			</td>
		</tr>
	#end
	#set ($VOLCOLL = $item.getStringProperty("VOLCOLL"))
	#if ( "-4" != $VOLCOLL )
		<tr>
			<td width="$col1width"><B>Volume CSF collected</B></td>
			<td>
				$!VOLCOLL
			</td>
		</tr>
	#end
	#set ($VOLTRANS = $item.getStringProperty("VOLTRANS"))
	#if ( "-4" != $VOLTRANS )
		<tr>
			<td width="$col1width"><B>Volume CSF transferred to final transfer tube</B></td>
			<td>
				$!VOLTRANS
			</td>
		</tr>
	#end
	#set ($TIMEFROZ = $item.getStringProperty("TIMEFROZ"))
	#if ( "-4" != $TIMEFROZ )
		<tr>
			<td width="$col1width"><B>Time put on dry ice/frozen</B></td>
			<td>
				$!TIMEFROZ
			</td>
		</tr>
	#end
	#set ($NOTES = $item.getStringProperty("NOTES"))
	#if ( "-4" != $NOTES )
		<tr>
			<td width="$col1width"><B>Additional procedures/notes/dates:</B></td>
			<td>
				$!NOTES
			</td>
		</tr>
	#end
	#set ($CSFSHIP = $item.getStringProperty("CSFSHIP"))
	#if ( "-4" != $CSFSHIP )
		<tr>
			<td width="$col1width"><B>Shipping</B></td>
			<td>
				$CSFSHIP 
				#if ($CSFSHIP == "1")
					- Shipped day of visit (US sites ONLY)
				#elseif ($CSFSHIP == "2")
					- Not shipped day of visit (US sites ONLY)
				#elseif ($CSFSHIP == "3")
					- Frozen for batch shipping (International sites ONLY)
			#end
			</td>
		</tr>
	#end
	#set ($CSFSHDT = $item.getStringProperty("CSFSHDT"))
		<tr>
			<td width="$col1width"><B>Date shipped</B></td>
			<td>
				$!CSFSHDT
			</td>
		</tr>
	#set ($CSFSHNUM = $item.getStringProperty("CSFSHNUM"))
	#if ( "-4" != $CSFSHNUM )
		<tr>
			<td width="$col1width"><B>Tracking Number</B></td>
			<td>
				$!CSFSHNUM
			</td>
		</tr>
	#end

	<TR><TD width="$col1width"><B>Date CSF Received</B></TD><TD>#xdatDateBox("dian:csfsampData/CSFDATERVD" $item $vr $years)</TD></TR>
	<TR><TD width="$col1width"><B>CSF Volume Received</B></TD><TD>#xdatTextBox("dian:csfsampData/CSFVOLRVD" $item "" $vr)</TD></TR>
	<TR><TD width="$col1width"><B>Number of CSF Vials Received</B></TD><TD>#xdatTextBox("dian:csfsampData/CSFVIALSRVD" $item "" $vr)</TD></TR>

	<tr>
		<td colspan="2"><B>Vital Signs Immediately Post Procedure<br> (Participant should be lying down for all post-procedure vitals)</B></td>
		
	</tr>	#set ($POSITION3 = $item.getStringProperty("POSITION3"))
	#if ( "-4" != $POSITION3 )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Patient Position - Vitals</B></td>
			<td>
				$POSITION3 
				#if ($POSITION3 == "1")
					- Lying Down
				#elseif ($POSITION3 == "2")
					- Seated (not recommended immediately post-procedure)
			#end
			</td>
		</tr>
	#end
	#set ($POSTTEMP = $item.getStringProperty("POSTTEMP"))
	#if ( "-4" != $POSTTEMP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature</B></td>
			<td>
				$!POSTTEMP
			</td>
		</tr>
	#end
	#set ($POSTTMPU = $item.getStringProperty("POSTTMPU"))
	#if ( "-4" != $POSTTMPU )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature Units</B></td>
			<td>
				$POSTTMPU 
				#if ($POSTTMPU == "1")
					- Celsius
				#elseif ($POSTTMPU == "2")
					- Farenheit
			#end
			</td>
		</tr>
	#end
	#set ($POSTSYS = $item.getStringProperty("POSTSYS"))
	#if ( "-4" != $POSTSYS )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Systolic</B></td>
			<td>
				$!POSTSYS
			</td>
		</tr>
	#end
	#set ($POSTDIA = $item.getStringProperty("POSTDIA"))
	#if ( "-4" != $POSTDIA )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Diastolic</B></td>
			<td>
				$!POSTDIA
			</td>
		</tr>
	#end
	#set ($POSTPULSE = $item.getStringProperty("POSTPULSE"))
	#if ( "-4" != $POSTPULSE )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Pulse Rate</B></td>
			<td>
				$!POSTPULSE
			</td>
		</tr>
	#end
	#set ($POSTRESP = $item.getStringProperty("POSTRESP"))
	#if ( "-4" != $POSTRESP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Respirations</B></td>
			<td>
				$!POSTRESP
			</td>
		</tr>
	#end
	<tr>
		<td colspan="2"><B>Vital Signs 1 Hour Post Procedure</B></td>
	</tr>	#set ($POSITION4 = $item.getStringProperty("POSITION4"))
	#if ( "-4" != $POSITION4 )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Patient Position - Vitals</B></td>
			<td>
				$POSITION4 
				#if ($POSITION4 == "1")
					- Lying Down
				#elseif ($POSITION4 == "2")
					- Seated
			#end
			</td>
		</tr>
	#end
	#set ($HRTEMP = $item.getStringProperty("HRTEMP"))
	#if ( "-4" != $HRTEMP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature</B></td>
			<td>
				$!HRTEMP
			</td>
		</tr>
	#end
	#set ($HRTMPU = $item.getStringProperty("HRTMPU"))
	#if ( "-4" != $HRTMPU )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Temperature Units</B></td>
			<td>
				$HRTMPU 
				#if ($HRTMPU == "1")
					- Celsius
				#elseif ($HRTMPU == "2")
					- Farenheit
			#end
			</td>
		</tr>
	#end
	#set ($HRSYS = $item.getStringProperty("HRSYS"))
	#if ( "-4" != $HRSYS )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Systolic</B></td>
			<td>
				$!HRSYS
			</td>
		</tr>
	#end
	#set ($HRDIA = $item.getStringProperty("HRDIA"))
	#if ( "-4" != $HRDIA )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Blood Pressure - Diastolic</B></td>
			<td>
				$!HRDIA
			</td>
		</tr>
	#end
	#set ($HRPULSE = $item.getStringProperty("HRPULSE"))
	#if ( "-4" != $HRPULSE )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Pulse Rate</B></td>
			<td>
				$!HRPULSE
			</td>
		</tr>
	#end
	#set ($HRRESP = $item.getStringProperty("HRRESP"))
	#if ( "-4" != $HRRESP )
		<tr>
			<td width="$col1width" style="padding-left:20px;"><B>Respirations</B></td>
			<td>
				$!HRRESP
			</td>
		</tr>
	#end
	#set ($COMP = $item.getStringProperty("COMP"))
	#if ( "-4" != $COMP )
		<tr>
			<td width="$col1width"><B>Immediate Complications</B></td>
			<td>
				$COMP 
				#if ($COMP == "1")
					- None
				#elseif ($COMP == "2")
					- Headache
				#elseif ($COMP == "3")
					- Other
			#end
			</td>
		</tr>
	#end
	#set ($COMPOTH = $item.getStringProperty("COMPOTH"))
	#if ( "-4" != $COMPOTH )
		<tr>
			<td width="$col1width"><B>Other, specify</B></td>
			<td>
				$!COMPOTH
			</td>
		</tr>
	#end
	
	<TR><TD><B>Note</B></TD><TD>#xdatStringBox("dian:csfsampData/note" $item "" $vr)</TD></TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   //validateSubjectAssessorForm();
   //return false;
   
   document.getElementById("form1").submit();
   return true;
}
</script>
