## DIAN MRI Meta Details Report Page
## Created: 01/22/2013

$page.setTitle("MRIMETA Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($turbineUtils.GetPassedParameter("popup", $data))
   #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
   #set ($popup = "false")
#end

#if(!$project)
   #set($project=$om.getProject())
#end

#macro (createTableRow $e $header $options $keys)
   #set($elm = "")  ## Clear out variable
   #set($elm = $item.getStringProperty($e))
   #dian_createTableRow($elm $header $options $keys)
#end

#macro (createSimpleTableRow $e $header)
   #createTableRow($elm $header "" "")
#end

<style>
#uds_form {
   border-collapse: collapse;
   border-spacing:0px;
   border: 1px solid #000;
}
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
}
</style>

<table width="100%">
   <tr>
      <td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))</td>
      <td valign="top" align="right">#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)</td>
   </tr>
   <tr>
      <td colspan="2">
      <table id="uds_form"  width="700px">
         ## Create the scan conducted table row
         #set ( $KEYS = ["0","1"] )
         #set ( $OPTIONS = ["No","Yes"] )
         #createTableRow("SCANDONE" "Was the scan conducted?" $OPTIONS $KEYS)
         
         ## Create the date of scan table row
         #createSimpleTableRow("SCANDATE" "Date of scan")
         
         ## Create the Scan no conducted table row
         ## Create the scan conducted table row
         #set ( $KEYS = ["1","2","3","4","5","6"] )
         #set ( $OPTIONS = ["Illness","Participant unavailable", "Participant unwilling", "Administrative problems", "Withdrawn consent", "Other (specify)"])
         #createTableRow("NDREASON" "Reason the scan was not conducted" $OPTIONS $KEYS )
         ## NOT WORKING createSimpleTableRow("NDOTHER" "If other, specify")
         
         ## Create the if other specify scan table row
		 #set ($NDOTHER = $item.getStringProperty("NDOTHER"))
		<tr>
			<th width="400px">If other, specify</th>
			<td>
				$!NDOTHER
			</td>
		</tr>
      </table>
      </td>
   </tr>
</table>