$page.setTitle("A5SUBHST")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	<tr>
		<th colspan="2">1. Cardiovascular Disease</th>
	</tr>	#set ($CVHATT = $item.getStringProperty("CVHATT"))
	#if ( "-4" != $CVHATT )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Heart attack/cardiac arrest</th>
			<td>
				$CVHATT 
				#if ($CVHATT == "0")
					- Absent
				#elseif ($CVHATT == "1")
					- Recent/Active
				#elseif ($CVHATT == "2")
					- Remote/Inactive
				#elseif ($CVHATT == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVAFIB = $item.getStringProperty("CVAFIB"))
	#if ( "-4" != $CVAFIB )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Atrial fibrillation</th>
			<td>
				$CVAFIB 
				#if ($CVAFIB == "0")
					- Absent
				#elseif ($CVAFIB == "1")
					- Recent/Active
				#elseif ($CVAFIB == "2")
					- Remote/Inactive
				#elseif ($CVAFIB == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVANGIO = $item.getStringProperty("CVANGIO"))
	#if ( "-4" != $CVANGIO )
		<tr>
			<th width="400px" style="padding-left:20px;">c. Angioplasty/endarterectomy/stent</th>
			<td>
				$CVANGIO 
				#if ($CVANGIO == "0")
					- Absent
				#elseif ($CVANGIO == "1")
					- Recent/Active
				#elseif ($CVANGIO == "2")
					- Remote/Inactive
				#elseif ($CVANGIO == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVBYPASS = $item.getStringProperty("CVBYPASS"))
	#if ( "-4" != $CVBYPASS )
		<tr>
			<th width="400px" style="padding-left:20px;">d. Cardiac bypass procedure</th>
			<td>
				$CVBYPASS 
				#if ($CVBYPASS == "0")
					- Absent
				#elseif ($CVBYPASS == "1")
					- Recent/Active
				#elseif ($CVBYPASS == "2")
					- Remote/Inactive
				#elseif ($CVBYPASS == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVPACE = $item.getStringProperty("CVPACE"))
	#if ( "-4" != $CVPACE )
		<tr>
			<th width="400px" style="padding-left:20px;">e. Pacemaker</th>
			<td>
				$CVPACE 
				#if ($CVPACE == "0")
					- Absent
				#elseif ($CVPACE == "1")
					- Recent/Active
				#elseif ($CVPACE == "2")
					- Remote/Inactive
				#elseif ($CVPACE == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVCHF = $item.getStringProperty("CVCHF"))
	#if ( "-4" != $CVCHF )
		<tr>
			<th width="400px" style="padding-left:20px;">f. Congestive heart failure</th>
			<td>
				$CVCHF 
				#if ($CVCHF == "0")
					- Absent
				#elseif ($CVCHF == "1")
					- Recent/Active
				#elseif ($CVCHF == "2")
					- Remote/Inactive
				#elseif ($CVCHF == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVOTHR = $item.getStringProperty("CVOTHR"))
	#if ( "-4" != $CVOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">g. Other (specify):</th>
			<td>
				$CVOTHR 
				#if ($CVOTHR == "0")
					- Absent
				#elseif ($CVOTHR == "1")
					- Recent/Active
				#elseif ($CVOTHR == "2")
					- Remote/Inactive
				#elseif ($CVOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CVOTHRX = $item.getStringProperty("CVOTHRX"))
	#if ( "-4" != $CVOTHRX )
		<tr>
			<th width="400px" style="padding-left:20px;"> Other (specify):</th>
			<td>
				$CVOTHRX 
				#if ($CVOTHRX == "0")
					- Absent
				#elseif ($CVOTHRX == "1")
					- Recent/Active
				#elseif ($CVOTHRX == "2")
					- Remote/Inactive
				#elseif ($CVOTHRX == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">2. Cerebrovascular Disease</th>
	</tr>	#set ($CBSTROKE = $item.getStringProperty("CBSTROKE"))
	#if ( "-4" != $CBSTROKE )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Stroke</th>
			<td>
				$CBSTROKE 
				#if ($CBSTROKE == "0")
					- Absent
				#elseif ($CBSTROKE == "1")
					- Recent/Active
				#elseif ($CBSTROKE == "2")
					- Remote/Inactive
				#elseif ($CBSTROKE == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK1YR = $item.getStringProperty("STROK1YR"))
	#if ( "-4" != $STROK1YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK1YR 
				#if ($STROK1YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK2YR = $item.getStringProperty("STROK2YR"))
	#if ( "-4" != $STROK2YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK2YR 
				#if ($STROK2YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK3YR = $item.getStringProperty("STROK3YR"))
	#if ( "-4" != $STROK3YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK3YR 
				#if ($STROK3YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK4YR = $item.getStringProperty("STROK4YR"))
	#if ( "-4" != $STROK4YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK4YR 
				#if ($STROK4YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK5YR = $item.getStringProperty("STROK5YR"))
	#if ( "-4" != $STROK5YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK5YR 
				#if ($STROK5YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($STROK6YR = $item.getStringProperty("STROK6YR"))
	#if ( "-4" != $STROK6YR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$STROK6YR 
				#if ($STROK6YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($CBTIA = $item.getStringProperty("CBTIA"))
	#if ( "-4" != $CBTIA )
		<tr>
			<th width="400px">b. Transient ischemic attack</th>
			<td>
				$CBTIA 
				#if ($CBTIA == "0")
					- Absent
				#elseif ($CBTIA == "1")
					- Recent/Active
				#elseif ($CBTIA == "2")
					- Remote/Inactive
				#elseif ($CBTIA == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA1YR = $item.getStringProperty("TIA1YR"))
	#if ( "-4" != $TIA1YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA1YR 
				#if ($TIA1YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA2YR = $item.getStringProperty("TIA2YR"))
	#if ( "-4" != $TIA2YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA2YR 
				#if ($TIA2YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA3YR = $item.getStringProperty("TIA3YR"))
	#if ( "-4" != $TIA3YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA3YR 
				#if ($TIA3YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA4YR = $item.getStringProperty("TIA4YR"))
	#if ( "-4" != $TIA4YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA4YR 
				#if ($TIA4YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA5YR = $item.getStringProperty("TIA5YR"))
	#if ( "-4" != $TIA5YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA5YR 
				#if ($TIA5YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($TIA6YR = $item.getStringProperty("TIA6YR"))
	#if ( "-4" != $TIA6YR )
		<tr>
			<th width="400px">If recent/active or remote/inactive, indicate year(s) in which this occurred:</th>
			<td>
				$TIA6YR 
				#if ($TIA6YR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($CBOTHR = $item.getStringProperty("CBOTHR"))
	#if ( "-4" != $CBOTHR )
		<tr>
			<th width="400px">c. Other (specify):</th>
			<td>
				$CBOTHR 
				#if ($CBOTHR == "0")
					- Absent
				#elseif ($CBOTHR == "1")
					- Recent/Active
				#elseif ($CBOTHR == "2")
					- Remote/Inactive
				#elseif ($CBOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($CBOTHRX = $item.getStringProperty("CBOTHRX"))
	#if ( "-4" != $CBOTHRX )
		<tr>
			<th width="400px"> Other (specify):</th>
			<td>
				$CBOTHRX 
				#if ($CBOTHRX == "0")
					- Absent
				#elseif ($CBOTHRX == "1")
					- Recent/Active
				#elseif ($CBOTHRX == "2")
					- Remote/Inactive
				#elseif ($CBOTHRX == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end

	<tr>
		<th colspan="2">3.  Parkinsonian features</th>
	</tr>	#set ($PD = $item.getStringProperty("PD"))
	#if ( "-4" != $PD )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Parkinson's disease</th>
			<td>
				$PD 
				#if ($PD == "0")
					- Absent
				#elseif ($PD == "1")
					- Recent/Active
				#elseif ($PD == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($PDYR = $item.getStringProperty("PDYR"))
	#if ( "-4" != $PDYR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active, indicate year of diagnosis:</th>
			<td>
				$PDYR 
				#if ($PDYR == "9999")
					-  Year unknown
			#end
			</td>
		</tr>
	#end
	#set ($PDOTHR = $item.getStringProperty("PDOTHR"))
	#if ( "-4" != $PDOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Other Parkinsonian disorder</th>
			<td>
				$PDOTHR 
				#if ($PDOTHR == "0")
					- Absent
				#elseif ($PDOTHR == "1")
					- Recent/Active
				#elseif ($PDOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($PDOTHRYR = $item.getStringProperty("PDOTHRYR"))
	#if ( "-4" != $PDOTHRYR )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active, indicate year of diagnosis:</th>
			<td>
				$PDOTHRYR 
				#if ($PDOTHRYR == "9999")
					-  Year Unknown
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">4.  Other neurologic conditions</th>
	</tr>	#set ($SEIZURES = $item.getStringProperty("SEIZURES"))
	#if ( "-4" != $SEIZURES )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Seizures</th>
			<td>
				$SEIZURES 
				#if ($SEIZURES == "0")
					- Absent
				#elseif ($SEIZURES == "1")
					- Recent/Active
				#elseif ($SEIZURES == "2")
					- Remote/Inactive
				#elseif ($SEIZURES == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TRAUMBRF = $item.getStringProperty("TRAUMBRF"))
	#if ( "-4" != $TRAUMBRF )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Traumatic brain injury <p>1. with brief loss of consciousness (less than 5 minutes)</th>
			<td>
				$TRAUMBRF 
				#if ($TRAUMBRF == "0")
					- Absent
				#elseif ($TRAUMBRF == "1")
					- Recent/Active
				#elseif ($TRAUMBRF == "2")
					- Remote/Inactive
				#elseif ($TRAUMBRF == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TRAUMEXT = $item.getStringProperty("TRAUMEXT"))
	#if ( "-4" != $TRAUMEXT )
		<tr>
			<th width="400px" style="padding-left:20px;">2. with extended loss of consciousness (equal or greater than 5 minutes)</th>
			<td>
				$TRAUMEXT 
				#if ($TRAUMEXT == "0")
					- Absent
				#elseif ($TRAUMEXT == "1")
					- Recent/Active
				#elseif ($TRAUMEXT == "2")
					- Remote/Inactive
				#elseif ($TRAUMEXT == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TRAUMCHR = $item.getStringProperty("TRAUMCHR"))
	#if ( "-4" != $TRAUMCHR )
		<tr>
			<th width="400px" style="padding-left:20px;">3. with chronic deficit or dysfunction</th>
			<td>
				$TRAUMCHR 
				#if ($TRAUMCHR == "0")
					- Absent
				#elseif ($TRAUMCHR == "1")
					- Recent/Active
				#elseif ($TRAUMCHR == "2")
					- Remote/Inactive
				#elseif ($TRAUMCHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($NCOTHR = $item.getStringProperty("NCOTHR"))
	#if ( "-4" != $NCOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">c. Other (specify):</th>
			<td>
				$NCOTHR 
				#if ($NCOTHR == "0")
					- Absent
				#elseif ($NCOTHR == "1")
					- Recent/Active
				#elseif ($NCOTHR == "2")
					- Remote/Inactive
				#elseif ($NCOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
		#set ($NCOTHRX = $item.getStringProperty("NCOTHRX"))
	#if ( "-4" != $NCOTHRX )
		<tr>
			<th width="400px" style="padding-left:20px;"> Other (specify):</th>
			<td>
				$NCOTHRX 
				#if ($NCOTHRX == "0")
					- Absent
				#elseif ($NCOTHRX == "1")
					- Recent/Active
				#elseif ($NCOTHRX == "2")
					- Remote/Inactive
				#elseif ($NCOTHRX == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">5.  Medical/metabolic conditions</th>
	</tr>	#set ($HYPERTEN = $item.getStringProperty("HYPERTEN"))
	#if ( "-4" != $HYPERTEN )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Hypertension</th>
			<td>
				$HYPERTEN 
				#if ($HYPERTEN == "0")
					- Absent
				#elseif ($HYPERTEN == "1")
					- Recent/Active
				#elseif ($HYPERTEN == "2")
					- Remote/Inactive
				#elseif ($HYPERTEN == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($HYPERCHO = $item.getStringProperty("HYPERCHO"))
	#if ( "-4" != $HYPERCHO )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Hypercholesterolemia</th>
			<td>
				$HYPERCHO 
				#if ($HYPERCHO == "0")
					- Absent
				#elseif ($HYPERCHO == "1")
					- Recent/Active
				#elseif ($HYPERCHO == "2")
					- Remote/Inactive
				#elseif ($HYPERCHO == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($DIABETES = $item.getStringProperty("DIABETES"))
	#if ( "-4" != $DIABETES )
		<tr>
			<th width="400px" style="padding-left:20px;">c. Diabetes</th>
			<td>
				$DIABETES 
				#if ($DIABETES == "0")
					- Absent
				#elseif ($DIABETES == "1")
					- Recent/Active
				#elseif ($DIABETES == "2")
					- Remote/Inactive
				#elseif ($DIABETES == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($B12DEF = $item.getStringProperty("B12DEF"))
	#if ( "-4" != $B12DEF )
		<tr>
			<th width="400px" style="padding-left:20px;">d. B12 deficiency</th>
			<td>
				$B12DEF 
				#if ($B12DEF == "0")
					- Absent
				#elseif ($B12DEF == "1")
					- Recent/Active
				#elseif ($B12DEF == "2")
					- Remote/Inactive
				#elseif ($B12DEF == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($THYROID = $item.getStringProperty("THYROID"))
	#if ( "-4" != $THYROID )
		<tr>
			<th width="400px" style="padding-left:20px;">e. Thyroid disease</th>
			<td>
				$THYROID 
				#if ($THYROID == "0")
					- Absent
				#elseif ($THYROID == "1")
					- Recent/Active
				#elseif ($THYROID == "2")
					- Remote/Inactive
				#elseif ($THYROID == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INCONTU = $item.getStringProperty("INCONTU"))
	#if ( "-4" != $INCONTU )
		<tr>
			<th width="400px" style="padding-left:20px;">f. Incontinence--urinary</th>
			<td>
				$INCONTU 
				#if ($INCONTU == "0")
					- Absent
				#elseif ($INCONTU == "1")
					- Recent/Active
				#elseif ($INCONTU == "2")
					- Remote/Inactive
				#elseif ($INCONTU == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($INCONTF = $item.getStringProperty("INCONTF"))
	#if ( "-4" != $INCONTF )
		<tr>
			<th width="400px" style="padding-left:20px;">g. Incontinence--bowel</th>
			<td>
				$INCONTF 
				#if ($INCONTF == "0")
					- Absent
				#elseif ($INCONTF == "1")
					- Recent/Active
				#elseif ($INCONTF == "2")
					- Remote/Inactive
				#elseif ($INCONTF == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">6. Depression</th>
	</tr>	#set ($DEP2YRS = $item.getStringProperty("DEP2YRS"))
	#if ( "-4" != $DEP2YRS )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Active within past 2 years</th>
			<td>
				$DEP2YRS 
				#if ($DEP2YRS == "0")
					- No
				#elseif ($DEP2YRS == "1")
					- Yes
				#elseif ($DEP2YRS == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($DEPOTHR = $item.getStringProperty("DEPOTHR"))
	#if ( "-4" != $DEPOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Other episodes (prior to 2 years)</th>
			<td>
				$DEPOTHR 
				#if ($DEPOTHR == "0")
					- No
				#elseif ($DEPOTHR == "1")
					- Yes
				#elseif ($DEPOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">7. Substance abuse and psychiatric disorders</th>
	</tr>	#set ($ALCOHOL = $item.getStringProperty("ALCOHOL"))
	#if ( "-4" != $ALCOHOL )
		<tr>
			<th width="400px" style="padding-left:20px;">a. Substance abuse--alcohol:  <p>Clinically significant impairment occurring over a 12-month period manifested in one of the following: work, driving, legal or social.</th>
			<td>
				$ALCOHOL 
				#if ($ALCOHOL == "0")
					- Absent
				#elseif ($ALCOHOL == "1")
					- Recent/Active
				#elseif ($ALCOHOL == "2")
					- Remote/Inactive
				#elseif ($ALCOHOL == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TOBAC30 = $item.getStringProperty("TOBAC30"))
	#if ( "-4" != $TOBAC30 )
		<tr>
			<th width="400px" style="padding-left:20px;">b. Cigarette smoking history:  <p>Has subject smoked within last 30 days?</th>
			<td>
				$TOBAC30 
				#if ($TOBAC30 == "0")
					- No
				#elseif ($TOBAC30 == "1")
					- Yes
				#elseif ($TOBAC30 == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($TOBAC100 = $item.getStringProperty("TOBAC100"))
	#if ( "-4" != $TOBAC100 )
		<tr>
			<th width="400px" style="padding-left:20px;">Has subject smoked more than 100 cigarettes in his/her life?</th>
			<td>
				$TOBAC100 
				#if ($TOBAC100 == "0")
					- No
				#elseif ($TOBAC100 == "1")
					- Yes
				#elseif ($TOBAC100 == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($SMOKYRS = $item.getStringProperty("SMOKYRS"))
	#if ( "-4" != $SMOKYRS )
		<tr>
			<th width="400px" style="padding-left:20px;">Total years smoked</th>
			<td>
				$SMOKYRS 
				#if ($SMOKYRS == "88")
					-  N/A
				#elseif ($SMOKYRS == "99")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($PACKSPER = $item.getStringProperty("PACKSPER"))
	#if ( "-4" != $PACKSPER )
		<tr>
			<th width="400px" style="padding-left:20px;">Average number of packs/day smoked</th>
			<td>
				$PACKSPER 
				#if ($PACKSPER == "1")
					-  1 cigarette - < 1/2 pack
				#elseif ($PACKSPER == "2")
					-  1/2 - < 1 pack
				#elseif ($PACKSPER == "3")
					-  1 - <1 1/2 pack
				#elseif ($PACKSPER == "4")
					-  1 1/2 - < 2 packs
				#elseif ($PACKSPER == "5")
					-  equal or greater than 2 packs
				#elseif ($PACKSPER == "8")
					-  N/A
				#elseif ($PACKSPER == "9")
					-  Unknown
			#end
			</td>
		</tr>
	#end
	#set ($QUITSMOK = $item.getStringProperty("QUITSMOK"))
	#if ( "-4" != $QUITSMOK )
		<tr>
			<th width="400px" style="padding-left:20px;">If subject quit smoking, specify age when last smoked (i.e., quit)</th>
			<td>
				$QUITSMOK 
				#if ($QUITSMOK == "888")
					-  N/A
				#elseif ($QUITSMOK == "999")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($ABUSOTHR = $item.getStringProperty("ABUSOTHR"))
	#if ( "-4" != $ABUSOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">c. Other abused substances:  <p>Clinically significant impairment occurring over a 12-month period manifested in one of the following: work, driving, legal or social.</th>
			<td>
				$ABUSOTHR 
				#if ($ABUSOTHR == "0")
					- Absent
				#elseif ($ABUSOTHR == "1")
					- Recent/Active
				#elseif ($ABUSOTHR == "2")
					- Remote/Inactive
				#elseif ($ABUSOTHR == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($ABUSX = $item.getStringProperty("ABUSX"))
	#if ( "-4" != $ABUSX )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, specify:</th>
			<td>
				$!ABUSX
			</td>
		</tr>
	#end
	#set ($PSYCDIS = $item.getStringProperty("PSYCDIS"))
	#if ( "-4" != $PSYCDIS )
		<tr>
			<th width="400px" style="padding-left:20px;">d. Psychiatric disorders</th>
			<td>
				$PSYCDIS 
				#if ($PSYCDIS == "0")
					- Absent
				#elseif ($PSYCDIS == "1")
					- Recent/Active
				#elseif ($PSYCDIS == "2")
					- Remote/Inactive
				#elseif ($PSYCDIS == "9")
					- Unknown
			#end
			</td>
		</tr>
	#end
	#set ($PSYCDISX = $item.getStringProperty("PSYCDISX"))
	#if ( "-4" != $PSYCDISX )
		<tr>
			<th width="400px" style="padding-left:20px;">If recent/active or remote/inactive, specify:</th>
			<td>
				$!PSYCDISX
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
