<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Visit Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#set($ScoreTotal = 0)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Visit Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>Date</TD><TD>$!item.getProperty("visit:visitData/date")</TD></TR>
							<TR><TD>Visit secondary date (if remote to onsite visit)</TD><TD>$!item.getProperty("visit:visitData/endDate")</TD></TR>
							##<TR><TD>Subject's age at visit</TD><TD>$!item.getDoubleProperty("visit:visitData/age")</TD></TR>
							<TR><TD>Visit type</TD><TD>$!item.getStringProperty("visit:visitData/type")</TD></TR>
							<TR><TD>Note</TD><TD>$!item.getStringProperty("visit:visitData/note")</TD></TR>
						</TABLE>
					</TD>
				</TR>
				<TR></TR>
				<TR>
					<TD valign="top">
						<TABLE>
                            <TR><TH>QC Information</TH></TR>
                            <TR><TD>Status</TD><TD>$!item.getStringProperty("visit:visitData/validation/status")</TD></TR>
							<TR><TD>Date</TD><TD>$!item.getStringProperty("visit:visitData/validation/date")</TD></TR>
							<TR><TD>Method</TD><TD>$!item.getStringProperty("visit:visitData/validation/method")</TD></TR>
							<TR><TD>Notes</TD><TD>$!item.getStringProperty("visit:visitData/validation/notes")</TD></TR>
                        </TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	
</TABLE>
