<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form name="form1" method="post" action="$link.setAction("ModifyItem")">
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
<TABLE width="100%">
				<TR>
					<TD align="left"><font face="$ui.sansSerifFonts" size="4" style="line-height:20px;"><b>Research Radiological Assessment</b></font></TD>
				</TR>
								<TR>
					<TD align="left">$item.getProperty("ID") / $item.getProperty("label")</TD>
				</TR>
			  <input type="hidden" name="cnda:radiologyReadData/ID" value="$item.getProperty("ID")"/>
			  <input type="hidden" name="cnda:radiologyReadData/label" value="$item.getProperty("label")"/>
			  <input type="hidden" name="cnda:radiologyReadData/project" value="$item.getProperty("project")"/>
			</TABLE>
			
			#xdatHiddenBox("cnda:radiologyReadData/imageSession_ID" $item "")
						#xdatHiddenBox("cnda:radiologyReadData/modality" $item "MR")
			<P><TABLE align="left" width="100%">
				<TR>
			<TD>
				<HR>
				<TABLE align="left">
					<TR><TH align="left">Session Id: </TH>
					#set($mr=$om.getMrSessionData())
					#set($mr_id=$item.getProperty("imageSession_ID"))
				#if ($mr)
					#set ( $click = "return popup('$link.setAction('DisplayItemAction').addPathInfo('search_element','xnat:mrSessionData').addPathInfo('search_field','xnat:mrSessionData.ID').addPathInfo('search_value',$mr_id).addPathInfo('popup',true).addPathInfo('project',$project)', '','600','800');" )
				  <TD><A CLASS=b href="#" onClick="$click">$!mr.getIdentifier($project)</A></TD>
					#else
						<TD>$!item.getProperty("imageSession_ID")</TD>
					#end
					</TR>
					<TR><TH align="left" width=200>Session Date: </TH><TD>$!mr.getDate()</TD></TR>
					<TR><TH align="left">Participant: </TH><TD>$!mr.getSubjectData().getIdentifier($project,false)</TD></TR>
					<TR align="left"><TH ALIGN="left">Gender: </TH><TD>$!mr.getSubjectData().getGenderText()</TD></TR>
					<TR align="left"><TH ALIGN="left">Age:</TH><TD>$!mr.SubjectAge</TD></TR>
				</TABLE>

					</TD>
				</TR>
			</TABLE>

		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top"> 
									<HR>
						<TABLE>
							<TR><TD>Date</TD><TD>#xdatDateBox("cnda:radiologyReadData/date" $item $vr $years)</TD></TR>
							<TR><TD>Reader</TD><TD>#xdatStringBoxWSize("cnda:radiologyReadData/reader" $item "" $vr 40)</TD></TR>
							#set($examValues = ["Brain with contrast","Brain without contrast","Spine with contrast","Spine without contrast","Brain and Spine with contrast","Brain and Spine without contrast"])
							<TR><TD valign="top">Exam</TD><TD>#xdatSelectBoxWSingleValue("cnda:radiologyReadData/exam" $item $examValues $vr)</TD></TR>
							<TR><TD>History</TD><TD>#xdatStringBoxWSize("cnda:radiologyReadData/history" $item "" $vr 40)</TD></TR>
							<TR><TD valign="top">Technique</TD><TD>
							<textarea name="cnda:radiologyReadData/technique" cols="60" rows="4">$item.getProperty("technique")</textarea>
							</TD></TR>
							<TR><TD valign="top">Comparison</TD><TD>
							<table align="left" cellpadding="0" cellspacing="0"><tr><td align="left">
			<SELECT id="SEL_cnda:radiologyReadData/comparison" name="SEL_cnda:radiologyReadData/comparison"  ONCHANGE="setSelectValue(this);">
				<OPTION VALUE="">(SELECT)</OPTION>
				#foreach($expt in $mr.getSubjectData().getExperiments_experiment("xnat:mrSessionData"))
							    #if($expt.getId().equals($mr.getId()))
							    
							    #else
							       <OPTION value="$expt.getId()" #if($expt.getId().equals($item.getProperty("cnda:radiologyReadData/comparison"))) SELECTED #end>$!expt.getLabel() ($expt.getDate():$expt.getId())</OPTION>
							    #end
							  #end
				<OPTION VALUE="">CUSTOM</OPTION>
			</SELECT>			</td><td align="left"><DIV ID="IND_cnda:radiologyReadData/comparison"><a ID="A_cnda:radiologyReadData/comparison" ONCHANGE="showText(this);"><img src="$content.getURI("images/arrow3.gif")" border=0></a></DIV>
			</td><td>
<DIV ID="TEXT_cnda:radiologyReadData/comparison" style="display:none"> Enter: <input id="cnda:radiologyReadData/comparison" type="text" name="cnda:radiologyReadData/comparison" value="$!item.getProperty("cnda:radiologyReadData/comparison")"/></DIV>
</td></tr></table>
</TD></TR>
							<TR>
								<TD valign="top">Findings</TD>
								<TD>
									<textarea name="cnda:radiologyReadData/finding" cols="60" rows="4">$!item.getProperty("finding")</textarea>
								</TD>
							</TR>
							<TR>
								<TD valign="top">Diagnosis/Impression</TD>
								<TD>
									##xdatStringBoxWSize("cnda:radiologyReadData/diagnosis" $item "" $vr 40)
									<textarea name="cnda:radiologyReadData/diagnosis" cols="60" rows="4">$!item.getProperty("diagnosis")</textarea>
								</TD>
							</TR>
							<TR><TD>Status</TD><TD>
							#if ($vr)
	#if($vr.getField("cnda:radiologyReadData/finding/normal_status"))
		<font color="red">&#8658</font>
	#end
#end
	#if ($item.getBooleanProperty("cnda:radiologyReadData/finding/normal_status",true))
	<input type="radio" name="cnda:radiologyReadData/finding/normal_status" value="1" CHECKED/>&nbsp;normal
	<input type="radio" name="cnda:radiologyReadData/finding/normal_status" value="0"/>&nbsp;abnormal
	#else
	<input type="radio" name="cnda:radiologyReadData/finding/normal_status" value="1"/>&nbsp;normal
	<input type="radio" name="cnda:radiologyReadData/finding/normal_status" value="0" CHECKED/>&nbsp;abnormal
	#end
							</TD></TR>
							<TR><TD>Recommend Further Evaluation:</TD><TD>#xdatBooleanCheckbox("cnda:radiologyReadData/followup_recommended" $item $vr)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<input type="hidden" name="project" value="$!project"/>
		<TR><TD COLSPAN=2 ALIGN=left><input type="submit" name="eventSubmit_doPerform" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>
