$page.setTitle("A4DRUGS")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
    <tr><th>Drug ID</th><th>Medication Name</th></tr>
    #set($drugs_num = $item.getChildItems("uds:a4drugsData/a4drugsList/a4drugs").size() - 1)
    #if($drugs_num >= 0)
        #foreach($drugs_counter in [0..$drugs_num])
            <tr>
                <td>$!item.getStringProperty("uds:a4drugsData/a4drugsList/a4drugs[$drugs_counter]/DRUGID")</td>
                <td>$!item.getStringProperty("uds:a4drugsData/a4drugsList/a4drugs[$drugs_counter]/DRUGNAME")</td>
            </tr>
        #end
    #end
</table>
		</td>
	</tr>
</table>
