$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()

#set($severity = [ "Mild", "Moderate", "Severe", "Live Threatening/Disabling", "Fatal" ])
#set($attribution = [ "Unrelated", "Unlikely", "Possible", "Probable", "Definite" ])
#set($actionTaken = [ "None", "Medication therapy", "Procedure", "Hospitalization" ])
#set($outcome = [ "Recovered", "Improved", "Ongoing", "Death", "Unknown" ])

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Adverse Event Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								#parse("/screens/xnat_edit_subjectAssessorData.vm")
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							
							<TR><TD>Event Description:</TD><TD>#xdatStringBox("sf:adverseEvent/eventDescription" $item "" $vr)</TD></TR>
							
							<TR><TD colspan='2'>&nbsp;</TD></TR>
							
							<TR><TD>Onset Date:</TD><TD>#xdatDateBox("sf:adverseEvent/onsetDate" $item $vr $years)</TD></TR>
							<TR><TD>Resolution Date:</TD><TD>#xdatDateBox("sf:adverseEvent/resolutionDate" $item $vr $years)</TD></TR>
							<TR><TD>Ongoing:</TD><TD>#xdatBooleanRadioYesNo("sf:adverseEvent/ongoing" $item false $vr)</TD></TR>
							
							<TR><TD colspan='2'>&nbsp;</TD></TR>
							
							<TR><TD>Severity:</TD><TD>#xdatSelectBoxWSingleValueWID("sf:adverseEvent/severity" $item $severity $vr "sf:adverseEvent/severity")</TD></TR>
							<TR><TD>Serious:</TD><TD>#xdatBooleanRadioYesNo("sf:adverseEvent/serious" $item false $vr)</TD></TR>
							<TR><TD>Reason:</TD><TD>#xdatTextArea("sf:adverseEvent/seriousReason" $item "" $vr 4 50)</TD></TR>
							
							<TR><TD colspan='2'>&nbsp;</TD></TR>
							
							<TR><TD>Attribution:</TD><TD>#xdatSelectBoxWSingleValueWID("sf:adverseEvent/attribution" $item $attribution $vr "sf:adverseEvent/attribution")</TD></TR>
							<TR><TD>Expected:</TD><TD>#xdatBooleanRadioYesNo("sf:adverseEvent/expected" $item false $vr)</TD></TR>
							<TR><TD>Attribution Notes:</TD><TD>#xdatTextArea("sf:adverseEvent/attributionNotes" $item "" $vr 4 50)</TD></TR>
							
							<TR><TD colspan='2'>&nbsp;</TD></TR>
							
							<TR><TD>Action Taken:</TD><TD>#xdatSelectBoxWSingleValue("sf:adverseEvent/actionTaken" $item $actionTaken $vr)</TD></TR>
							<TR><TD>Outcome:</TD><TD>#xdatSelectBoxWSingleValueWID("sf:adverseEvent/outcome" $item $outcome $vr "sf:adverseEvent/outcome")</TD></TR>
							
							<TR><TD colspan='2'>&nbsp;</TD></TR>
							
							<TR><TD>Notes:</TD><TD>#xdatTextArea("sf:adverseEvent/adverseEventNotes" $item "" $vr 4 50)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN sf:adverseEvent -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Investigator</font></TH></TR>
				<TR><TD colspan='2'>&nbsp;</TD></TR>
				<TR><TD>First Name:</TD><TD>#xdatStringBox("sf:adverseEvent/investigator/firstname" $item "" $vr)</TD></TR>
				<TR><TD>Last Name:</TD><TD>#xdatStringBox("sf:adverseEvent/investigator/lastname" $item "" $vr)</TD></TR>
				<TR><TD colspan="2">#xdatHiddenBox("sf:adverseEvent/investigator/xnat_investigatorData_id" $item "")</TD></TR>
			</TABLE>
<!-- END sf:adverseEvent -->
		</TD>
	</TR>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
</TABLE>
</form>
