<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Treatment List Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<style type="text/css">
	th { text-align: left; }
	.standard { width: 400px; }
	.report, .report td, .report th { border: 1px solid gray; border-collapse:collapse; }
</style>

<!-- abbreviate notes -->
<script type="text/javascript">
YAHOO.util.Event.onDOMReady(function() {
	var notes = YAHOO.util.Dom.getElementsByClassName("note");

	YAHOO.util.Dom.batch(notes, function (el) {
    	el.title = el.alt = el.innerHTML;
		if(el.innerHTML.length > 30) {
			el.innerHTML = el.innerHTML.slice(0, 30) + "...";
		}
    })
});
</script>

<table width="100%">
	<tr>
		<td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
			
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">
	
<TABLE width="100%">
	<TR>
		<TD>
			<font face="$ui.sansSerifFonts" size="3"><b>Medication List Details</b></font>
		</TD>
	</TR>
	<TR>
		<TD>
<!-- BEGIN tx:treatmentList -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Past Medications</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE  class="report">
							<TR>
								<TH>Name</TH>
								<TH>Dose</TH>
								<TH>Schedule</TH>
								<TH>Route</TH>
								<TH>Start Date</TH>
								<TH>End Date</TH>
								<TH>Indication</TH>
								<TH>Clinical Trial Name / Arm</TH>
								<TH>Notes</TH>
							</TR>

							#set($tx_treatmentList_treatment_7_NUM_ROWS = $item.getChildItems("tx:treatmentList/treatments/treatment").size() - 1)
							#if($tx_treatmentList_treatment_7_NUM_ROWS >= 0)
								#foreach($tx_treatmentList_treatment_7_COUNTER in [0..$tx_treatmentList_treatment_7_NUM_ROWS])
									#if($item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate") && $!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate") != "")
    							<TR>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/name")</TD>
    								<TD>
    									$!item.getDoubleProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseAmount")
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseUnit")
    								</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseSchedule")</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/route")</TD>
    								<TD>#xdatViewDateNotReported("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/startDate" $item)</TD>
    								<TD>#xdatViewDateNotReported("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate" $item)</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/indication")</TD>
    								<TD>
    									   
    									#if ($item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialName") || $item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialArm"))
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialName") &nbsp;/
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialArm")
    									#else
    										&nbsp;
    									#end    								</TD>
    								<TD class="note">$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/treatmentNotes")</TD>
    							</TR>
    									#end
								#end
							#end
						</TABLE>
					</TD>
				</TR>
			</TABLE>
			
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Current Medications</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE  class="report">
							<TR>
								<TH>Name</TH>
								<TH>Dose</TH>
								<TH>Schedule</TH>
								<TH>Route</TH>
								<TH>Start Date</TH>
								<TH>End Date</TH>
								<TH>Indication</TH>
								<TH>Clinical Trial Name / Arm</TH>
								<TH>Notes</TH>
							</TR>

							#set($tx_treatmentList_treatment_7_NUM_ROWS = $item.getChildItems("tx:treatmentList/treatments/treatment").size() - 1)
							#if($tx_treatmentList_treatment_7_NUM_ROWS >= 0)
								#foreach($tx_treatmentList_treatment_7_COUNTER in [0..$tx_treatmentList_treatment_7_NUM_ROWS])
									#if(! $item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate") || $!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate") == "")
    							<TR>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/name")</TD>
    								<TD>
    									$!item.getDoubleProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseAmount")
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseUnit")
    								</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/doseSchedule")</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/route")</TD>
    								<TD>#xdatViewDateNotReported("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/startDate" $item)</TD>
    								<TD>#xdatViewDateNotReported("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/endDate" $item)</TD>
    								<TD>$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/indication")</TD>
    								<TD>
    									#if ($item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialName") || $item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialArm"))
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialName") &nbsp;/
    									$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/clinicalTrialArm")
    									#else
    										&nbsp;
    									#end
    								</TD>
    								<TD class="note">$!item.getStringProperty("tx:treatmentList/treatments/treatment[$tx_treatmentList_treatment_7_COUNTER]/treatmentNotes")</TD>
    							</TR>
    									#end
								#end
							#end
						</TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END tx:treatmentList -->
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
		</td>
	</tr>
</table>
