<!-- BEGIN XDATScreen_report_condr_mets_lesionData.vm -->
<script type="text/javascript">
    if (console.log) console.log('BEGIN XDATScreen_report_condr_mets_lesionData.vm');
</script>

$page.setTitle("Lesion Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Lesion Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD>Lesion Collection ID</TD><TD>$!item.getStringProperty("condr_mets:lesionData/saCollID")</TD></TR>
							<TR><TD>Lesion Link ID</TD><TD>$!item.getStringProperty("condr_mets:lesionData/saLinkID")</TD></TR>
							<TR><TD>Subject ID</TD><TD>$!item.getStringProperty("condr_mets:lesionData/subject_ID")</TD></TR>
							<TR><TD>ID</TD><TD>$!item.getStringProperty("condr_mets:lesionData/ID")</TD></TR>
							<TR><TD>Project</TD><TD>$!item.getStringProperty("condr_mets:lesionData/project")</TD></TR>
							<TR><TD>Label</TD><TD>$!item.getStringProperty("condr_mets:lesionData/label")</TD></TR>
							<TR><TD>Lesion Num</TD><TD>$!item.getStringProperty("condr_mets:lesionData/nodeNum")</TD></TR>
							<TR><TD>Location</TD><TD>$!item.getStringProperty("condr_mets:lesionData/location")</TD></TR>
							<TR><TD>Hemisphere</TD><TD>$!item.getStringProperty("condr_mets:lesionData/hemisphere")</TD></TR>
							<TR><TD>Date Of Diagnosis</TD><TD>$!item.getProperty("condr_mets:lesionData/dateOfDiagnosis")</TD></TR>
							<TR><TD>Description</TD><TD>$!item.getStringProperty("condr_mets:lesionData/description")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")

<script type="text/javascript">
    if (console.log) console.log('END XDATScreen_report_condr_mets_lesionData.vm');
</script>
<!-- END XDATScreen_report_condr_mets_lesionData.vm -->
