$page.setTitle("PSYBAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<td >
			<table >
                  <TR><TH>QC Information</TH></TR>
                  <TR><TD>Status</TD><TD>$!item.getStringProperty("dian:psybatData/validation/status")</TD></TR>
				  <TR><TD>Date</TD><TD>$!item.getStringProperty("dian:psybatData/validation/date")</TD></TR>
				  <TR><TD>Method</TD><TD>$!item.getStringProperty("dian:psybatData/validation/method")</TD></TR>
				  <TR><TD>Notes</TD><TD>$!item.getStringProperty("dian:psybatData/validation/notes")</TD></TR>
             </table>
			 <br />
        </td>
    </TR>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Examination Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($INITIALS = $item.getStringProperty("INITIALS"))
	#if ( "-4" != $INITIALS )
		<tr>
			<th width="400px">Examiner's initials:</th>
			<td>
				$!INITIALS
			</td>
		</tr>
	#end
	#set ($LETTERF = $item.getStringProperty("LETTERF"))
	#if ( "-4" != $LETTERF )
		<tr>
			<th width="400px">Letter Fluency Number Correct: F</th>
			<td>
				$!LETTERF
			</td>
		</tr>
	#end
	#set ($LETTERA = $item.getStringProperty("LETTERA"))
	#if ( "-4" != $LETTERA )
		<tr>
			<th width="400px">Letter Fluency Number Correct: A</th>
			<td>
				$!LETTERA
			</td>
		</tr>
	#end
	#set ($LETTERS = $item.getStringProperty("LETTERS"))
	#if ( "-4" != $LETTERS )
		<tr>
			<th width="400px">Letter Fluency Number Correct: S</th>
			<td>
				$!LETTERS
			</td>
		</tr>
	#end
	#set ($WRLIST = $item.getStringProperty("WRLIST"))
	#if ( "-4" != $WRLIST )
		<tr>
			<th width="400px">Word List Recall - Immediate: List Used</th>
			<td>
				$!WRLIST
			</td>
		</tr>
	#end
	#set ($WRIMMED = $item.getStringProperty("WRIMMED"))
	#if ( "-4" != $WRIMMED )
		<tr>
			<th width="400px">Word List Recall - Immediate: Number Correct</th>
			<td>
				$!WRIMMED
			</td>
		</tr>
	#end
	#set ($MMSETOT = $item.getStringProperty("MMSETOT"))
	#if ( "-4" != $MMSETOT )
		<tr>
			<th width="400px">MMSE Total Score</th>
			<td>
				$!MMSETOT
			</td>
		</tr>
	#end
	#set ($LOGMEMIM = $item.getStringProperty("LOGMEMIM"))
	#if ( "-4" != $LOGMEMIM )
		<tr>
			<th width="400px">Logical Memory IA - Immediate: Total recalled</th>
			<td>
				$!LOGMEMIM
			</td>
		</tr>
	#end
	#set ($DSPFWD = $item.getStringProperty("DSPFWD"))
	#if ( "-4" != $DSPFWD )
		<tr>
			<th width="400px">Digit Span Forward: Total Correct</th>
			<td>
				$!DSPFWD
			</td>
		</tr>
	#end
	#set ($DSPFWDL = $item.getStringProperty("DSPFWDL"))
	#if ( "-4" != $DSPFWDL )
		<tr>
			<th width="400px">Digit Span Forward: Length</th>
			<td>
				$!DSPFWDL
			</td>
		</tr>
	#end
	#set ($DSPBACK = $item.getStringProperty("DSPBACK"))
	#if ( "-4" != $DSPBACK )
		<tr>
			<th width="400px">Digit Span Backward: Total Correct</th>
			<td>
				$!DSPBACK
			</td>
		</tr>
	#end
	#set ($DSPBACKL = $item.getStringProperty("DSPBACKL"))
	#if ( "-4" != $DSPBACKL )
		<tr>
			<th width="400px">Digit Span Backward: Length</th>
			<td>
				$!DSPBACKL
			</td>
		</tr>
	#end
	#set ($CATANIM = $item.getStringProperty("CATANIM"))
	#if ( "-4" != $CATANIM )
		<tr>
			<th width="400px">Category Fluency Total Correct: Animals</th>
			<td>
				$!CATANIM
			</td>
		</tr>
	#end
	#set ($CATVEG = $item.getStringProperty("CATVEG"))
	#if ( "-4" != $CATVEG )
		<tr>
			<th width="400px">Category Fluency Total Correct: Vegetables</th>
			<td>
				$!CATVEG
			</td>
		</tr>
	#end
	#set ($TRATIME = $item.getStringProperty("TRATIME"))
	#if ( "-4" != $TRATIME )
		<tr>
			<th width="400px">Trail Making A: Total Seconds</th>
			<td>
				$!TRATIME
			</td>
		</tr>
	#end
	#set ($TRAERRC = $item.getStringProperty("TRAERRC"))
	#if ( "-4" != $TRAERRC )
		<tr>
			<th width="400px">Trail Making A: Number of commission errors</th>
			<td>
				$!TRAERRC
			</td>
		</tr>
	#end
	#set ($TRALINES = $item.getStringProperty("TRALINES"))
	#if ( "-4" != $TRALINES )
		<tr>
			<th width="400px">Trail Making A: Number of correct lines</th>
			<td>
				$!TRALINES
			</td>
		</tr>
	#end
	#set ($TRBTIME = $item.getStringProperty("TRBTIME"))
	#if ( "-4" != $TRBTIME )
		<tr>
			<th width="400px">Trail Making B: Total Seconds</th>
			<td>
				$!TRBTIME
			</td>
		</tr>
	#end
	#set ($TRBERRC = $item.getStringProperty("TRBERRC"))
	#if ( "-4" != $TRBERRC )
		<tr>
			<th width="400px">Trail Making B: Number of commission errors</th>
			<td>
				$!TRBERRC
			</td>
		</tr>
	#end
	#set ($TRBLINES = $item.getStringProperty("TRBLINES"))
	#if ( "-4" != $TRBLINES )
		<tr>
			<th width="400px">Trail Making B: Number of correct lines</th>
			<td>
				$!TRBLINES
			</td>
		</tr>
	#end
	#set ($DIGSYMB = $item.getStringProperty("DIGSYMB"))
	#if ( "-4" != $DIGSYMB )
		<tr>
			<th width="400px">Digit Symbol:  Number Correct</th>
			<td>
				$!DIGSYMB
			</td>
		</tr>
	#end
	#set ($LOGMEMDL = $item.getStringProperty("LOGMEMDL"))
	#if ( "-4" != $LOGMEMDL )
		<tr>
			<th width="400px">Logical Memory IIA - Delayed: Total recalled</th>
			<td>
				$!LOGMEMDL
			</td>
		</tr>
	#end
	#set ($BNTTOT = $item.getStringProperty("BNTTOT"))
	#if ( "-4" != $BNTTOT )
		<tr>
			<th width="400px">Boston Naming Test:  Total correct</th>
			<td>
				$!BNTTOT
			</td>
		</tr>
	#end
	#set ($WRDELAY = $item.getStringProperty("WRDELAY"))
	#if ( "-4" != $WRDELAY )
		<tr>
			<th width="400px">Word List - Delayed: Number correct</th>
			<td>
				$!WRDELAY
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
