$page.setTitle("D1DX")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Exam Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($WHODIDDX = $item.getStringProperty("WHODIDDX"))
	#if ( "-4" != $WHODIDDX )
		<tr>
			<th width="400px">1. Responses are based on:</th>
			<td>
				$WHODIDDX 
				#if ($WHODIDDX == "1")
					- Diagnosis from single clinician
				#elseif ($WHODIDDX == "2")
					- Consensus diagnosis
			#end
			</td>
		</tr>
	#end
	#set ($NORMCOG = $item.getStringProperty("NORMCOG"))
	#if ( "-4" != $NORMCOG )
		<tr>
			<th width="400px">2. Does the subject have normal cognition (no MCI, dementia, or other neurological condition resulting in cognitive impairment)?</th>
			<td>
				$NORMCOG 
				#if ($NORMCOG == "1")
					- Yes (If yes, skip to #14)
				#elseif ($NORMCOG == "0")
					- No (If no, continue to #3)
			#end
			</td>
		</tr>
	#end
	#set ($DEMENTED = $item.getStringProperty("DEMENTED"))
	#if ( "-4" != $DEMENTED )
		<tr>
			<th width="400px">3. Does the subject meet the criteria for dementia (in accordance with standard criteria for dementia of the Alzheimer's type or for other non-Alzheimer's dementing disorders)?</th>
			<td>
				$DEMENTED 
				#if ($DEMENTED == "1")
					- Yes (If yes, skip to #5)
				#elseif ($DEMENTED == "0")
					- No (If no, continue to #4)
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">4. If the subject does not have normal cognition and is not clinically demented, indicate the type of cognitive impairment (<i>choose only <u>one</u> impairment from items 4a thru 4e as being 'present' and mark <u>all others</u> 'absent'</i>) <b>and then designate the suspected underlying cause(s) of the impairment by completing items 5-30:</b></th>
	</tr>	#set ($MCIAMEM = $item.getStringProperty("MCIAMEM"))
	#if ( "-4" != $MCIAMEM )
		<tr>
			<th width="400px" style="padding-left:20px;">4a. Amnestic MCI - memory impairment only</th>
			<td>
				$MCIAMEM 
				#if ($MCIAMEM == "1")
					- Present
				#elseif ($MCIAMEM == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($MCIAPLUS = $item.getStringProperty("MCIAPLUS"))
	#if ( "-4" != $MCIAPLUS )
		<tr>
			<th width="400px" style="padding-left:20px;">4b. Amnestic MCI - memory impairment plus one or more other domains (if present, check one or more domain boxes "yes" and check all other domain boxes "no")</th>
			<td>
				$MCIAPLUS 
				#if ($MCIAPLUS == "1")
					- Present
				#elseif ($MCIAPLUS == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($MCIAPLAN = $item.getStringProperty("MCIAPLAN"))
	#if ( "-4" != $MCIAPLAN )
		<tr>
			<th width="400px" style="padding-left:20px;">1) Language</th>
			<td>
				$MCIAPLAN 
				#if ($MCIAPLAN == "1")
					- Yes
				#elseif ($MCIAPLAN == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIAPATT = $item.getStringProperty("MCIAPATT"))
	#if ( "-4" != $MCIAPATT )
		<tr>
			<th width="400px" style="padding-left:20px;">2) Attention</th>
			<td>
				$MCIAPATT 
				#if ($MCIAPATT == "1")
					- Yes
				#elseif ($MCIAPATT == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIAPEX = $item.getStringProperty("MCIAPEX"))
	#if ( "-4" != $MCIAPEX )
		<tr>
			<th width="400px" style="padding-left:20px;">3) Executive function</th>
			<td>
				$MCIAPEX 
				#if ($MCIAPEX == "1")
					- Yes
				#elseif ($MCIAPEX == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIAPVIS = $item.getStringProperty("MCIAPVIS"))
	#if ( "-4" != $MCIAPVIS )
		<tr>
			<th width="400px" style="padding-left:20px;">4) Visuospatial</th>
			<td>
				$MCIAPVIS 
				#if ($MCIAPVIS == "1")
					- Yes
				#elseif ($MCIAPVIS == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCINON1 = $item.getStringProperty("MCINON1"))
	#if ( "-4" != $MCINON1 )
		<tr>
			<th width="400px">4c. Non-amnestic MCI - single domain (if present, check only ONE domain box "yes," check ALL OTHER domain boxes "no")</th>
			<td>
				$MCINON1 
				#if ($MCINON1 == "1")
					- Present
				#elseif ($MCINON1 == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($MCIN1LAN = $item.getStringProperty("MCIN1LAN"))
	#if ( "-4" != $MCIN1LAN )
		<tr>
			<th width="400px">1) Language</th>
			<td>
				$MCIN1LAN 
				#if ($MCIN1LAN == "1")
					- Yes
				#elseif ($MCIN1LAN == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN1ATT = $item.getStringProperty("MCIN1ATT"))
	#if ( "-4" != $MCIN1ATT )
		<tr>
			<th width="400px">2) Attention</th>
			<td>
				$MCIN1ATT 
				#if ($MCIN1ATT == "1")
					- Yes
				#elseif ($MCIN1ATT == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN1EX = $item.getStringProperty("MCIN1EX"))
	#if ( "-4" != $MCIN1EX )
		<tr>
			<th width="400px">3) Executive function</th>
			<td>
				$MCIN1EX 
				#if ($MCIN1EX == "1")
					- Yes
				#elseif ($MCIN1EX == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN1VIS = $item.getStringProperty("MCIN1VIS"))
	#if ( "-4" != $MCIN1VIS )
		<tr>
			<th width="400px">4) Visuospatial</th>
			<td>
				$MCIN1VIS 
				#if ($MCIN1VIS == "1")
					- Yes
				#elseif ($MCIN1VIS == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCINON2 = $item.getStringProperty("MCINON2"))
	#if ( "-4" != $MCINON2 )
		<tr>
			<th width="400px">4d. Non-amnestic MCI - multiple domains (if present, check TWO or more domain boxes "yes" and check all other domain boxes "no")</th>
			<td>
				$MCINON2 
				#if ($MCINON2 == "1")
					- Present
				#elseif ($MCINON2 == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($MCIN2LAN = $item.getStringProperty("MCIN2LAN"))
	#if ( "-4" != $MCIN2LAN )
		<tr>
			<th width="400px">1) Language</th>
			<td>
				$MCIN2LAN 
				#if ($MCIN2LAN == "1")
					- Yes
				#elseif ($MCIN2LAN == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN2ATT = $item.getStringProperty("MCIN2ATT"))
	#if ( "-4" != $MCIN2ATT )
		<tr>
			<th width="400px">2) Attention</th>
			<td>
				$MCIN2ATT 
				#if ($MCIN2ATT == "1")
					- Yes
				#elseif ($MCIN2ATT == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN2EX = $item.getStringProperty("MCIN2EX"))
	#if ( "-4" != $MCIN2EX )
		<tr>
			<th width="400px">3) Executive function</th>
			<td>
				$MCIN2EX 
				#if ($MCIN2EX == "1")
					- Yes
				#elseif ($MCIN2EX == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($MCIN2VIS = $item.getStringProperty("MCIN2VIS"))
	#if ( "-4" != $MCIN2VIS )
		<tr>
			<th width="400px">4) Visuospatial</th>
			<td>
				$MCIN2VIS 
				#if ($MCIN2VIS == "1")
					- Yes
				#elseif ($MCIN2VIS == "0")
					- No
			#end
			</td>
		</tr>
	#end
	#set ($IMPNOMCI = $item.getStringProperty("IMPNOMCI"))
	#if ( "-4" != $IMPNOMCI )
		<tr>
			<th width="400px">4e. Impaired, not MCI</th>
			<td>
				$IMPNOMCI 
				#if ($IMPNOMCI == "1")
					- Present
				#elseif ($IMPNOMCI == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PROBAD = $item.getStringProperty("PROBAD"))
	#if ( "-4" != $PROBAD )
		<tr>
			<th width="400px">5. Probable AD (NINCDS/ADRDA) (if present, answer 5a and skip to item #7)</th>
			<td>
				$PROBAD 
				#if ($PROBAD == "1")
					- Present
				#elseif ($PROBAD == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PROBADIF = $item.getStringProperty("PROBADIF"))
	#if ( "-4" != $PROBADIF )
		<tr>
			<th width="400px">5a. If Present:</th>
			<td>
				$PROBADIF 
				#if ($PROBADIF == "1")
					- Primary
				#elseif ($PROBADIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($POSSAD = $item.getStringProperty("POSSAD"))
	#if ( "-4" != $POSSAD )
		<tr>
			<th width="400px">6. Possible AD (NINCDS/ADRDA) (if #5 is present, leave this blank)</th>
			<td>
				$POSSAD 
				#if ($POSSAD == "1")
					- Present
				#elseif ($POSSAD == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($POSSADIF = $item.getStringProperty("POSSADIF"))
	#if ( "-4" != $POSSADIF )
		<tr>
			<th width="400px">6a. If Present:</th>
			<td>
				$POSSADIF 
				#if ($POSSADIF == "1")
					- Primary
				#elseif ($POSSADIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($DLB = $item.getStringProperty("DLB"))
	#if ( "-4" != $DLB )
		<tr>
			<th width="400px">7. Dementia with Lewy Bodies</th>
			<td>
				$DLB 
				#if ($DLB == "1")
					- Present
				#elseif ($DLB == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($DLBIF = $item.getStringProperty("DLBIF"))
	#if ( "-4" != $DLBIF )
		<tr>
			<th width="400px">7a. If Present:</th>
			<td>
				$DLBIF 
				#if ($DLBIF == "1")
					- Primary
				#elseif ($DLBIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($VASC = $item.getStringProperty("VASC"))
	#if ( "-4" != $VASC )
		<tr>
			<th width="400px">8. Vascular dementia (NINDS/AIREN Probable)</th>
			<td>
				$VASC 
				#if ($VASC == "1")
					- Present
				#elseif ($VASC == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($VASCIF = $item.getStringProperty("VASCIF"))
	#if ( "-4" != $VASCIF )
		<tr>
			<th width="400px">8a. If Present:</th>
			<td>
				$VASCIF 
				#if ($VASCIF == "1")
					- Primary
				#elseif ($VASCIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($VASCPS = $item.getStringProperty("VASCPS"))
	#if ( "-4" != $VASCPS )
		<tr>
			<th width="400px">9. Vascular dementia (NINDS/AIREN Possible)</th>
			<td>
				$VASCPS 
				#if ($VASCPS == "1")
					- Present
				#elseif ($VASCPS == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($VASCPSIF = $item.getStringProperty("VASCPSIF"))
	#if ( "-4" != $VASCPSIF )
		<tr>
			<th width="400px">9a. If Present:</th>
			<td>
				$VASCPSIF 
				#if ($VASCPSIF == "1")
					- Primary
				#elseif ($VASCPSIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($ALCDEM = $item.getStringProperty("ALCDEM"))
	#if ( "-4" != $ALCDEM )
		<tr>
			<th width="400px">10. Alcohol-related dementia</th>
			<td>
				$ALCDEM 
				#if ($ALCDEM == "1")
					- Present
				#elseif ($ALCDEM == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($ALCDEMIF = $item.getStringProperty("ALCDEMIF"))
	#if ( "-4" != $ALCDEMIF )
		<tr>
			<th width="400px">10a. If Present:</th>
			<td>
				$ALCDEMIF 
				#if ($ALCDEMIF == "1")
					- Primary
				#elseif ($ALCDEMIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($DEMUN = $item.getStringProperty("DEMUN"))
	#if ( "-4" != $DEMUN )
		<tr>
			<th width="400px">11. Dementia of undetermined etiology</th>
			<td>
				$DEMUN 
				#if ($DEMUN == "1")
					- Present
				#elseif ($DEMUN == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($DEMUNIF = $item.getStringProperty("DEMUNIF"))
	#if ( "-4" != $DEMUNIF )
		<tr>
			<th width="400px">11a. If Present:</th>
			<td>
				$DEMUNIF 
				#if ($DEMUNIF == "1")
					- Primary
				#elseif ($DEMUNIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($FTD = $item.getStringProperty("FTD"))
	#if ( "-4" != $FTD )
		<tr>
			<th width="400px">12. Frontotemporal dementia (behavioral/executive dementia)</th>
			<td>
				$FTD 
				#if ($FTD == "1")
					- Present
				#elseif ($FTD == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($FTDIF = $item.getStringProperty("FTDIF"))
	#if ( "-4" != $FTDIF )
		<tr>
			<th width="400px">12a. If Present:</th>
			<td>
				$FTDIF 
				#if ($FTDIF == "1")
					- Primary
				#elseif ($FTDIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	#set ($PPAPH = $item.getStringProperty("PPAPH"))
	#if ( "-4" != $PPAPH )
		<tr>
			<th width="400px">13. Primary progressive aphasia (aphasic dementia)</th>
			<td>
				$PPAPH 
				#if ($PPAPH == "1")
					- Present
				#elseif ($PPAPH == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PPAPHIF = $item.getStringProperty("PPAPHIF"))
	#if ( "-4" != $PPAPHIF )
		<tr>
			<th width="400px">13a. If Present:</th>
			<td>
				$PPAPHIF 
				#if ($PPAPHIF == "1")
					- Primary
				#elseif ($PPAPHIF == "2")
					- Contributing
			#end
			</td>
		</tr>
	#end
	<tr>
		<th colspan="2">If PPA is present, specify type by checking <u>one</u> box below 'present' and <u>all others</u> 'absent'</th>
	</tr>	#set ($PNAPH = $item.getStringProperty("PNAPH"))
	#if ( "-4" != $PNAPH )
		<tr>
			<th width="400px" style="padding-left:20px;">1) Progressive nonfluent aphasia</th>
			<td>
				$PNAPH 
				#if ($PNAPH == "1")
					- Present
				#elseif ($PNAPH == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($SEMDEMAN = $item.getStringProperty("SEMDEMAN"))
	#if ( "-4" != $SEMDEMAN )
		<tr>
			<th width="400px" style="padding-left:20px;">2) Semantic dementia - anomia plus word comprehension</th>
			<td>
				$SEMDEMAN 
				#if ($SEMDEMAN == "1")
					- Present
				#elseif ($SEMDEMAN == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($SEMDEMAG = $item.getStringProperty("SEMDEMAG"))
	#if ( "-4" != $SEMDEMAG )
		<tr>
			<th width="400px" style="padding-left:20px;">3) Semantic dementia - agnostic variant</th>
			<td>
				$SEMDEMAG 
				#if ($SEMDEMAG == "1")
					- Present
				#elseif ($SEMDEMAG == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PPAOTHR = $item.getStringProperty("PPAOTHR"))
	#if ( "-4" != $PPAOTHR )
		<tr>
			<th width="400px" style="padding-left:20px;">4) Other (e.g., logopenic, anomic, transcortical, word deafness, syntactic comprehension, motor speech disorder)</th>
			<td>
				$PPAOTHR 
				#if ($PPAOTHR == "1")
					- Present
				#elseif ($PPAOTHR == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PSP = $item.getStringProperty("PSP"))
	#if ( "-4" != $PSP )
		<tr>
			<th width="400px">14. Progressive supranuclear palsy</th>
			<td>
				$PSP 
				#if ($PSP == "1")
					- Present
				#elseif ($PSP == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PSPIF = $item.getStringProperty("PSPIF"))
	#if ( "-4" != $PSPIF )
		<tr>
			<th width="400px">14a. If Present:</th>
			<td>
				$PSPIF 
				#if ($PSPIF == "1")
					- Primary
				#elseif ($PSPIF == "2")
					- Contributing
				#elseif ($PSPIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($CORT = $item.getStringProperty("CORT"))
	#if ( "-4" != $CORT )
		<tr>
			<th width="400px">15. Corticobasal degeneration</th>
			<td>
				$CORT 
				#if ($CORT == "1")
					- Present
				#elseif ($CORT == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($CORTIF = $item.getStringProperty("CORTIF"))
	#if ( "-4" != $CORTIF )
		<tr>
			<th width="400px">15a. If Present:</th>
			<td>
				$CORTIF 
				#if ($CORTIF == "1")
					- Primary
				#elseif ($CORTIF == "2")
					- Contributing
				#elseif ($CORTIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($HUNT = $item.getStringProperty("HUNT"))
	#if ( "-4" != $HUNT )
		<tr>
			<th width="400px">16. Huntington's disease</th>
			<td>
				$HUNT 
				#if ($HUNT == "1")
					- Present
				#elseif ($HUNT == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($HUNTIF = $item.getStringProperty("HUNTIF"))
	#if ( "-4" != $HUNTIF )
		<tr>
			<th width="400px">16a. If Present:</th>
			<td>
				$HUNTIF 
				#if ($HUNTIF == "1")
					- Primary
				#elseif ($HUNTIF == "2")
					- Contributing
				#elseif ($HUNTIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($PRION = $item.getStringProperty("PRION"))
	#if ( "-4" != $PRION )
		<tr>
			<th width="400px">17. Prion Disease</th>
			<td>
				$PRION 
				#if ($PRION == "1")
					- Present
				#elseif ($PRION == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PRIONIF = $item.getStringProperty("PRIONIF"))
	#if ( "-4" != $PRIONIF )
		<tr>
			<th width="400px">17a. If Present:</th>
			<td>
				$PRIONIF 
				#if ($PRIONIF == "1")
					- Primary
				#elseif ($PRIONIF == "2")
					- Contributing
				#elseif ($PRIONIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($MEDS = $item.getStringProperty("MEDS"))
	#if ( "-4" != $MEDS )
		<tr>
			<th width="400px">18. Cognitive dysfunction from medications</th>
			<td>
				$MEDS 
				#if ($MEDS == "1")
					- Present
				#elseif ($MEDS == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($MEDSIF = $item.getStringProperty("MEDSIF"))
	#if ( "-4" != $MEDSIF )
		<tr>
			<th width="400px">18a. If Present:</th>
			<td>
				$MEDSIF 
				#if ($MEDSIF == "1")
					- Primary
				#elseif ($MEDSIF == "2")
					- Contributing
				#elseif ($MEDSIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($DYSILL = $item.getStringProperty("DYSILL"))
	#if ( "-4" != $DYSILL )
		<tr>
			<th width="400px">19. Cognitive dysfunction from medical illness</th>
			<td>
				$DYSILL 
				#if ($DYSILL == "1")
					- Present
				#elseif ($DYSILL == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($DYSILLIF = $item.getStringProperty("DYSILLIF"))
	#if ( "-4" != $DYSILLIF )
		<tr>
			<th width="400px">19a. If Present:</th>
			<td>
				$DYSILLIF 
				#if ($DYSILLIF == "1")
					- Primary
				#elseif ($DYSILLIF == "2")
					- Contributing
				#elseif ($DYSILLIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($DEP = $item.getStringProperty("DEP"))
	#if ( "-4" != $DEP )
		<tr>
			<th width="400px">20. Depression</th>
			<td>
				$DEP 
				#if ($DEP == "1")
					- Present
				#elseif ($DEP == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($DEPIF = $item.getStringProperty("DEPIF"))
	#if ( "-4" != $DEPIF )
		<tr>
			<th width="400px">20a. If Present:</th>
			<td>
				$DEPIF 
				#if ($DEPIF == "1")
					- Primary
				#elseif ($DEPIF == "2")
					- Contributing
				#elseif ($DEPIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($OTHPSY = $item.getStringProperty("OTHPSY"))
	#if ( "-4" != $OTHPSY )
		<tr>
			<th width="400px">21. Other major psychiatric illness</th>
			<td>
				$OTHPSY 
				#if ($OTHPSY == "1")
					- Present
				#elseif ($OTHPSY == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($OTHPSYIF = $item.getStringProperty("OTHPSYIF"))
	#if ( "-4" != $OTHPSYIF )
		<tr>
			<th width="400px">21a. If Present:</th>
			<td>
				$OTHPSYIF 
				#if ($OTHPSYIF == "1")
					- Primary
				#elseif ($OTHPSYIF == "2")
					- Contributing
				#elseif ($OTHPSYIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($DOWNS = $item.getStringProperty("DOWNS"))
	#if ( "-4" != $DOWNS )
		<tr>
			<th width="400px">22. Down's syndrome</th>
			<td>
				$DOWNS 
				#if ($DOWNS == "1")
					- Present
				#elseif ($DOWNS == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($DOWNSIF = $item.getStringProperty("DOWNSIF"))
	#if ( "-4" != $DOWNSIF )
		<tr>
			<th width="400px">22a. If Present:</th>
			<td>
				$DOWNSIF 
				#if ($DOWNSIF == "1")
					- Primary
				#elseif ($DOWNSIF == "2")
					- Contributing
				#elseif ($DOWNSIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($PARK = $item.getStringProperty("PARK"))
	#if ( "-4" != $PARK )
		<tr>
			<th width="400px">23. Parkinson's disease</th>
			<td>
				$PARK 
				#if ($PARK == "1")
					- Present
				#elseif ($PARK == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($PARKIF = $item.getStringProperty("PARKIF"))
	#if ( "-4" != $PARKIF )
		<tr>
			<th width="400px">23a. If Present:</th>
			<td>
				$PARKIF 
				#if ($PARKIF == "1")
					- Primary
				#elseif ($PARKIF == "2")
					- Contributing
				#elseif ($PARKIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($STROKE = $item.getStringProperty("STROKE"))
	#if ( "-4" != $STROKE )
		<tr>
			<th width="400px">24. Stroke</th>
			<td>
				$STROKE 
				#if ($STROKE == "1")
					- Present
				#elseif ($STROKE == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($STROKIF = $item.getStringProperty("STROKIF"))
	#if ( "-4" != $STROKIF )
		<tr>
			<th width="400px">24a. If Present:</th>
			<td>
				$STROKIF 
				#if ($STROKIF == "1")
					- Primary
				#elseif ($STROKIF == "2")
					- Contributing
				#elseif ($STROKIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($HYCEPH = $item.getStringProperty("HYCEPH"))
	#if ( "-4" != $HYCEPH )
		<tr>
			<th width="400px">25. Hydrocephalus</th>
			<td>
				$HYCEPH 
				#if ($HYCEPH == "1")
					- Present
				#elseif ($HYCEPH == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($HYCEPHIF = $item.getStringProperty("HYCEPHIF"))
	#if ( "-4" != $HYCEPHIF )
		<tr>
			<th width="400px">25a. If Present:</th>
			<td>
				$HYCEPHIF 
				#if ($HYCEPHIF == "1")
					- Primary
				#elseif ($HYCEPHIF == "2")
					- Contributing
				#elseif ($HYCEPHIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($BRNINJ = $item.getStringProperty("BRNINJ"))
	#if ( "-4" != $BRNINJ )
		<tr>
			<th width="400px">26. Traumatic brain injury</th>
			<td>
				$BRNINJ 
				#if ($BRNINJ == "1")
					- Present
				#elseif ($BRNINJ == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($BRNINJIF = $item.getStringProperty("BRNINJIF"))
	#if ( "-4" != $BRNINJIF )
		<tr>
			<th width="400px">26a. If Present:</th>
			<td>
				$BRNINJIF 
				#if ($BRNINJIF == "1")
					- Primary
				#elseif ($BRNINJIF == "2")
					- Contributing
				#elseif ($BRNINJIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($NEOP = $item.getStringProperty("NEOP"))
	#if ( "-4" != $NEOP )
		<tr>
			<th width="400px">27. CNS neoplasm</th>
			<td>
				$NEOP 
				#if ($NEOP == "1")
					- Present
				#elseif ($NEOP == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($NEOPIF = $item.getStringProperty("NEOPIF"))
	#if ( "-4" != $NEOPIF )
		<tr>
			<th width="400px">27a. If Present:</th>
			<td>
				$NEOPIF 
				#if ($NEOPIF == "1")
					- Primary
				#elseif ($NEOPIF == "2")
					- Contributing
				#elseif ($NEOPIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($COGOTH = $item.getStringProperty("COGOTH"))
	#if ( "-4" != $COGOTH )
		<tr>
			<th width="400px">28. Other</th>
			<td>
				$COGOTH 
				#if ($COGOTH == "1")
					- Present
				#elseif ($COGOTH == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($COGOTHX = $item.getStringProperty("COGOTHX"))
	#if ( "-4" != $COGOTHX )
		<tr>
			<th width="400px">Specify other:</th>
			<td>
				$!COGOTHX
			</td>
		</tr>
	#end
	#set ($COGOTHIF = $item.getStringProperty("COGOTHIF"))
	#if ( "-4" != $COGOTHIF )
		<tr>
			<th width="400px">28a. If Present:</th>
			<td>
				$COGOTHIF 
				#if ($COGOTHIF == "1")
					- Primary
				#elseif ($COGOTHIF == "2")
					- Contributing
				#elseif ($COGOTHIF == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($COGOTH2 = $item.getStringProperty("COGOTH2"))
	#if ( "-4" != $COGOTH2 )
		<tr>
			<th width="400px">29. Other</th>
			<td>
				$COGOTH2 
				#if ($COGOTH2 == "1")
					- Present
				#elseif ($COGOTH2 == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($COGOTH2X = $item.getStringProperty("COGOTH2X"))
	#if ( "-4" != $COGOTH2X )
		<tr>
			<th width="400px">Specify other:</th>
			<td>
				$!COGOTH2X
			</td>
		</tr>
	#end
	#set ($COGOTH2F = $item.getStringProperty("COGOTH2F"))
	#if ( "-4" != $COGOTH2F )
		<tr>
			<th width="400px">29a. If Present:</th>
			<td>
				$COGOTH2F 
				#if ($COGOTH2F == "1")
					- Primary
				#elseif ($COGOTH2F == "2")
					- Contributing
				#elseif ($COGOTH2F == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end
	#set ($COGOTH3 = $item.getStringProperty("COGOTH3"))
	#if ( "-4" != $COGOTH3 )
		<tr>
			<th width="400px">30. Other</th>
			<td>
				$COGOTH3 
				#if ($COGOTH3 == "1")
					- Present
				#elseif ($COGOTH3 == "0")
					- Absent
			#end
			</td>
		</tr>
	#end
	#set ($COGOTH3X = $item.getStringProperty("COGOTH3X"))
	#if ( "-4" != $COGOTH3X )
		<tr>
			<th width="400px">Specify other:</th>
			<td>
				$!COGOTH3X
			</td>
		</tr>
	#end
	#set ($COGOTH3F = $item.getStringProperty("COGOTH3F"))
	#if ( "-4" != $COGOTH3F )
		<tr>
			<th width="400px">30a. If Present:</th>
			<td>
				$COGOTH3F 
				#if ($COGOTH3F == "1")
					- Primary
				#elseif ($COGOTH3F == "2")
					- Contributing
				#elseif ($COGOTH3F == "3")
					- Non-contributing
			#end
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
