<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($units = "pg/ml")

<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/yui/build/calendar/calendar-min.js')"></SCRIPT>

<script type="text/javascript">

/********************* TO DO *********************/
// XModify plasm edit for. For plasma session label = subjectLabel_visitid_"plasma"
// X What to do if partial data for visit id and subject label. use subject id instead of label?
// X Subject ID needs to be pulled from subject dropdown. Session and visit ID needs to be updated when subject is changed.
// X pull subject label instead of subject id
// X session label=subjectid_visitid_"csf"
// X don't let user modify it
// X remove visit ID edit field
// X make note edit field bigger (areatext)
// X pull data on date change, issue error
/*************************************************/

var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else 
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";

projectCache=new Array();

function buildSessionLabel(dateName)
{
	this.initCallback={
		success:this.loadedSessionID,
		failure:this.sessionIDFailure,
		scope:this
	}


"dian:csfData/date"
	
	month=document.getElementsByName(dateName + ".month")[0].value;
	day=document.getElementsByName(dateName + ".date")[0].value;
	year=document.getElementsByName(dateName + ".year")[0].value;
	projectID=document.getElementById("dian:csfData/project").value;
	subjectID=document.getElementById("dian:csfData/subject_id").value;
	
	// If provided data is invalid, clear out the session label and visit id
	
alert("projectID="+projectID+" subjectID="+subjectID)
if (projectCache[projectID])
{
	alert("project cache is defined")
	
	if(projectCache[projectID][subjectID])
	{
		alert("subject cache is defined");
	}
	else
	{
		alert("subject cache is not defined")
	}
}
else
{
	alert("project cache is not defined")
}
//alert(projectCache[projectID][subjectID]);

//	if (month =="bad" || day == "bad" || year == "bad" || subjectID == "")
	if (subjectID == "")
	{
		document.getElementById("dian:csfData/visit_id").value="";
		document.getElementById("dian:csfData/label").value="";
alert("no subjectID");
	}
	else if (! projectCache[projectID] || ! projectCache[projectID][subjectID])
	{
alert("nothing in cache");
		restDate = (parseInt(month) + 1) + "/" + day + "/" + year;
		//restURL="/REST/experiments?format=json&columns=visit_id,xsitype,date,subject_label&date=" + restDate + "&subject_ID=" + subjectID + "&xsiType=dian:csfData";
		restURL="/REST/experiments?format=json&columns=visit_id,xsitype,date,subject_label&subject_ID=" + subjectID;
		YAHOO.util.Connect.asyncRequest('GET',serverRoot + restURL,this.initCallback,null,this);
	}
	else
	{
alert("found in cache");
		buildSessionID(projectCache[projectID][subjectID]);
	}
}

function loadedSessionID(o)
{
	xmlDoc=o.responseXML;
	
	//alert(o.responseText);
	
	try {
		jsonResponse = YAHOO.lang.JSON.parse(o.responseText);
	}
	catch (x)
	{
		alert("JSON Parse failed!"); 
		return; 
	}

alert("project id =" +jsonResponse.ResultSet.Result[0]["project"]+" subject id="+jsonResponse.ResultSet.Result[0]["subject_ID"]);
	if (jsonResponse.ResultSet.Result.length > 0)
	{
		if (! projectCache[jsonResponse.ResultSet.Result[0]["project"]])
		{
alert("no project");
			subjectCache = new Array();
			
			subjectCache[jsonResponse.ResultSet.Result[0]["subject_ID"]]=jsonResponse;
			projectCache[jsonResponse.ResultSet.Result[0]["project"]] = subjectCache;
		}
		else 
		{
alert("no subject");
			subjectCache = projectCache[jsonResponse.ResultSet.Result[0]["project"]];
			
			if (! subjectCache[jsonResponse.ResultSet.Result[0]["subject_ID"]])
			{
alert("defining subject cache");			
				subjectCache[jsonResponse.ResultSet.Result[0]["subject_ID"]]=jsonResponse;
			}
		}
		
		buildSessionID(jsonResponse)
	}
	return;
	
	sessionLabel="";
	visitId="";
	
	for (i=0; i<jsonResponse.ResultSet.Result.length; i++)
	{
		resultSet=jsonResponse.ResultSet.Result[i];
		
		if (resultSet["visit_id"] !="")
		{
			visitId = resultSet["visit_id"];
			
			if (resultSet["subject_label"] != "")
			{
				sessionLabel = resultSet["subject_label"]+"_"+resultSet["visit_id"]+"_csf";
			}
			else if (resultSet["dian:csfdata/subject_id"] != "")
			{
				sessionLabel=resultSet["dian:csfdata/subject_id"]+"_"+resultSet["visit_id"]+"_csf";
			}
		}
	}

	document.getElementById("dian:csfData/visit_id").value=visitId;
	document.getElementById("dian:csfData/label").value=sessionLabel;
		
	return
	// Indexes for data stored in returned XML
	subject_id_index=1;
	subject_label_index=2;
	visid_id_index=3;
	
	// Place holders for variables building the session label
	session_label = ""
	visit_id = ""
	subject_label = ""
	
	// ResultSet tag contains the attribute totalRecords which is the number of matching records returned
	resultSet = xmlDoc.getElementsByTagName("ResultSet")[0];
	totalRecords = resultSet.getAttribute("totalRecords");
	
	if (totalRecords > 0)
	{
		rows=xmlDoc.getElementsByTagName("rows")[0];
		if (rows.hasChildNodes)
		{
			for (i=0;i < totalRecords;i++)
			{
				if (rows.children)
				{
					// For Firefox browsers
					row=rows.children[i]
				}
				else
				{
					// For IE browsers
					if (rows.childNodes.length == totalRecords)
					{
						// For IE browsers
						row=rows.childNodes[i]
					}
					else
					{
						// For Safari browsers
						row=rows.childNodes[i*2]
					}
				}
					
				if (row.hasChildNodes && row.childNodes.length > 0)
				{
					if (row.childNodes[subject_label_index].childNodes[0])
						subject_label = row.childNodes[subject_label_index].childNodes[0].nodeValue;
					else if (row.childNodes[subject_id_index].childNodes[0])
						subject_label = row.childNodes[subject_id_index].childNodes[0].nodeValue;
					if (row.childNodes[visid_id_index].childNodes[0])
						visit_id = row.childNodes[visid_id_index].childNodes[0].nodeValue;						
					if (subject_label != "" && visit_id != "")
					{
						// Generate session label and set i to exit loop
						session_label = subject_label + "_" + visit_id + "_csf";
						i=totalRecords;
					}
					else
					{
						// Reset values
						subject_label = ""
						visit_id = ""
					}
				}
			}
		}
	
/*****************************************
		columnIndex = new Object;
		columns=xmlDoc.getElementsByTagName("columns")[0];

		if (columns.hasChildNodes)
		{
			for (i=0;i<columns.childNodes.length;i++)
			{
				column=columns.childNodes[i];
				
				if (column.hasChildNodes)
				{
					columnIndex[column.childNodes[0].nodeValue] = i;
				}
				else
				{
					return;	// Header data not provided
				}		
			}
			
			rows=xmlDoc.getElementsByTagName("rows")[0];
			if (rows.hasChildNodes)
			{
				alert(totalRecords);
				for (i=0;i < totalRecords;i++)
				{
					row=rows.childNodes[i]

					if (row.hasChildNodes && row.childNodes.length > 0)
					{
						subject_ID=row.childNodes[columnIndex["subject_label"]].childNodes[0].nodeValue;
						visit_id=row.childNodes[columnIndex["visit_id"]].childNodes[0].nodeValue;						
						sessionLabel = subject_ID + "_" + visit_id + "_csf";
					}
					else
					{
						return; // Row has no children
					}
				}
			}
		}
		else
		{				
			return;	// Header data not provided
		}
**********************************/
	}
	
	document.getElementById("dian:csfData/visit_id").value=visit_id;
	document.getElementById("dian:csfData/label").value=session_label;
}

function buildSessionID(jsonResponse)
{
	sessionLabel="";
	visitId="";
	
	for (i=0; i<jsonResponse.ResultSet.Result.length; i++)
	{
		resultSet=jsonResponse.ResultSet.Result[i];
		
		if (resultSet["visit_id"] !="")
		{
			visitId = resultSet["visit_id"];
			
			if (resultSet["subject_label"] != "")
			{
				sessionLabel = resultSet["subject_label"]+"_"+resultSet["visit_id"]+"_csf";
			}
			else if (resultSet["dian:csfdata/subject_id"] != "")
			{
				sessionLabel=resultSet["dian:csfdata/subject_id"]+"_"+resultSet["visit_id"]+"_csf";
			}
		}
	}

	document.getElementById("dian:csfData/visit_id").value=visitId;
	document.getElementById("dian:csfData/label").value=sessionLabel;
}


function sessionIDFailure(o)
{
	document.getElementById("myDiv").innerHTML="FAILED";
}

function validateDate2(sel)
{
	buildSessionLabel(sel.name.split(".")[0]);
	
	validateDate(sel);
}

</script>

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">CSF Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
  								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>               
     								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       									#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
								#end
							</TD></TR>
							<TR><TD>
							</TD><TD style="font-size:xx-small;font-style:italic">
								The session label is based on subject label/id and visit id.<BR>
								These are generated from the subject id and collection date.
							</TD></TR>
##							<TR><TD colspan='2'>
##								#parse("/screens/xnat_edit_subjectAssessorData.vm")
##							</TD></TR>
							<tr>
								<TD colspan="2">
									#parse("/screens/EditProjectSpecificFields.vm")
##									<input type="hidden" name="dian:csfData/bldCollSess" value="" >
##									<input type="hidden" name="dian:csfData/visit_id" id="dian:csfData/visit_id" value="" ></TD>
							</tr>
							<TR><TD><b>Lab Test Date</b></TD>
							<TD>
##								#xdatDateBox("dian:csfData/date" $item $vr $years)							
###if ($!item.getProperty("dian:csfData/date"))
##								$!turbineUtils.formatDate($!om.getDateProperty("dian:csfData/date"),"M/d/yyyy")
##								<input type="hidden" id="dian:csfData/date" name="dian:csfData/date" #if($om.getProperty("dian:csfData/date")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:csfData/date"),"MM/dd/yyyy")' #end />
## #else
								<input type="text" id="dian:csfData/date" name="dian:csfData/date" #if($om.getProperty("dian:csfData/date")) value='$turbineUtils.formatDate($!om.getDateProperty("dian:csfData/date"),"MM/dd/yyyy")' #end />
								<script type="text/javascript">
									insertCalendar(document.getElementById("dian:csfData/date"),"Date");
#*
									dateElem = document.getElementById("dian:csfData/date")
										
									if (dateElem.addEventListener)
									{
										dateElem.addEventListener('change', function() {updateDate()}, false);
									}
									else
									{
										dateElem.attachEvent('onchange', function() {updateDate()});
									}
									
									function handleHide(type, args, obj) {
										updateDate();
									}
									
									dateElem.calendar.hideEvent.subscribe(handleHide, dateElem.calendar, true);
*#
								</script>
							
## #end
							</TD></TR>
#if(! $om.getId())							
							<TR><TD><b>Collection Date</b></TD>
							<TD>
##								#xdatDateBoxOnChange("collDate" $item $vr $years "validateDate2(this);")
###if ($!item.getProperty("dian:csfData/date"))
##								$!turbineUtils.formatDate($!om.getDateProperty("collDate"),"M/d/yyyy")
##								<input type="hidden" id="collDate" name="collDate" #if($om.getProperty("collDate")) value='$turbineUtils.formatDate($!om.getDateProperty("collDate"),"MM/dd/yyyy")' #end />
###else
								<input type="text" id="collDate" name="collDate" #if($om.getProperty("collDate")) value='$turbineUtils.formatDate($!om.getDateProperty("collDate"),"MM/dd/yyyy")' #end />
								<script type="text/javascript">
									insertCalendar(document.getElementById("collDate"),"Date");

									collDateDateElem = document.getElementById("collDate")
										
									if (collDateDateElem.addEventListener)
									{
										collDateDateElem.addEventListener('change', function() {updateDate()}, false);
									}
									else
									{
										collDateDateElem.attachEvent('onchange', function() {updateDate()});
									}
									
									function handleCollDateCalHide(type, args, obj) {
										updateDate();
									}
									
									collDateDateElem.calendar.hideEvent.subscribe(handleCollDateCalHide, collDateDateElem.calendar, true);
								</script>							

							</TD></TR> ## used to run REST request
#end							
							
							<TR><TD><b>Visit ID</b></TD>
								<TD>
									<input type="hidden" name="dian:csfData/bldCollSess" id="dian:csfData/bldCollSess" value="" >
									<div id="selectVisitDiv" style="height:100%">$!item.getProperty("dian:csfData/visit_id")</div>
									<input type="hidden" id="dian:csfData/visit_id" name="dian:csfData/visit_id" value="$!item.getProperty('dian:csfData/visit_id')">									
								</TD>
							</TR>
							
	##						<TR><TD><b>Visit Id</b></TD>
	##							<TD>
	##								#xdatStringBox("dian:csfData/visit_id" $item "" $vr)
	##								<input type="hidden" name="dian:csfData/bldCollSess" value="" >
	##							</TD>
	##						</TR>
##							<TR><TD>label</TD><TD>#xdatStringBox("dian:csfData/label" $item "" $vr)</TD></TR>
							##<TR><TD><b>Blood Coll Sess</b></TD><TD>#xdatStringBox("dian:csfData/bldCollSess" $item "" $vr)</TD></TR>
#*							
							<TR><TD><b>tau</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/tau" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/tauUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>tau Units</b></TD><TD>#xdatStringBox("dian:csfData/tauUnits" $item "" $vr)</TD></TR>
							<TR><TD><b>ptau</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/ptau" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/ptauUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>ptau Units</b></TD><TD>#xdatStringBox("dian:csfData/ptauUnits" $item "" $vr)</TD></TR>
*#
							<TR><TD><b>Ab40</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/Ab40" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/Ab40Units" value="$!{units}" >
								</TD>
							</TR>
							
							##<TR><TD><b>Ab40 Units</b></TD><TD>#xdatStringBox("dian:csfData/Ab40Units" $item "" $vr)</TD></TR>
							<TR><TD><b>Ab42</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/Ab42" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/Ab42Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>Ab42 Units</b></TD><TD>#xdatStringBox("dian:csfData/Ab42Units" $item "" $vr)</TD></TR>
							<TR><TD><b>XMAP tau</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/XMAPtau" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/XMAPtauUnits" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>XMAP tau Units</b></TD><TD>#xdatStringBox("dian:csfData/XMAPtauUnits" $item "" $vr)</TD></TR>
							<TR><TD><b>XMAP ptau 181</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/XMAPptau181" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/XMAPptau181Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>XMAP ptau 181 Units</b></TD><TD>#xdatStringBox("dian:csfData/XMAPptau181Units" $item "" $vr)</TD></TR>
							<TR><TD><b>XMAP Ab42</b></TD>
								<TD>
									#xdatTextBox("dian:csfData/XMAPAb42" $item "" $vr) $!{units}
									<input type="hidden" name="dian:csfData/XMAPAb42Units" value="$!{units}" >
								</TD>
							</TR>
							##<TR><TD><b>XMAP Ab42 Units</b></TD><TD>#xdatStringBox("dian:csfData/XMAPAb42Units" $item "" $vr)</TD></TR>
							<TR><TD><B>Note</B></TD><TD>
								#xdatTextArea("dian:csfData/note" $item "" $vr 3 30)
							</TD></TR>
#*							
							<TR><TD colspan=2>
							getProject=$om.getProject()<br>
							project=$project<br>
							</td></tr>
*#
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>	
##	<TR>
##		<TD>
		<TR><TD COLSPAN=2 ALIGN=left>
		#xdatEditProps($item $edit_screen)
		<input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
##		</TD>
##	</TR>
</TABLE>
</form>

<script type="text/javascript">

var csfSampData = new Object();
var visitIdArray = new Object();
var csdfSampDataContents;

// Disable session label field so user cannot modify it
document.getElementById("dian:csfData/label").readOnly=true;

// Add onChange event to call buildSessionLabel for the Subject dropdown field
YAHOO.util.Event.addListener("dian:csfData/subject_id", "change", function(){buildSessionLabel("collDate");});

function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   //validateSubjectAssessorForm();
   //return false;

	if (document.getElementById("dian:csfData/visit_id").value == "" || document.getElementById("dian:csfData/label").value == "")
	{
		alert("Session label and visit id are required.");
		return false;
	}
	else
	{
		// Enable Session field box before submit. Othwerwise value will not be recognized.
##		document.getElementById("dian:csfData/label").disabled=false;
		document.getElementById("form1").submit();
		return true;
	}
}


function updateDate()
{
	this.updateDateCallback={
		cache:false,
		success:this.csfSampDataFound,
		failure:this.csfSampDataFailed,
		scope:this
	}

##	csfData = document.getElementById("dian:csfData/date").value;
	csfData = document.getElementById("collDate").value;

	if (csfData != "")
	{
##		restURL = "/REST/experiments?xsiType=dian:csfData&columns=visit_id,date,label&date=" + csfData + "&format=json"
##		restURL = "/REST/experiments?xsiType=dian:csfData&columns=visit_id,date,label&dian:csfsampData/csfdate=" + csfData + "&format=json"
		restURL = "/REST/experiments?xsiType=dian:csfsampData&columns=visit_id,date,label&dian:csfsampData/csfdate=" + csfData + "&subject_ID=$subject.getId()&format=json"
		
		YAHOO.util.Connect.asyncRequest('GET',serverRoot + restURL,this.updateDateCallback,null,this);
	}
	else
	{
		alert("Error: Date field is empty.");
	}		
}

function csfSampDataFound(o)
{
	try {
		jsonResponse = YAHOO.lang.JSON.parse(o.responseText);
	}
	catch (x)
	{
		alert("Error: Unable to load csfSampData data."); 
		return; 
	}
	
	contents=jsonResponse.ResultSet.Result

	csfSampDataContents = contents;

	buildSelectVisit(contents);
}

function csfSampDataFailed(o)
{
	alert("Error: Failed to find csfSampData matching provided date.");
}

function buildSelectVisit(contents)
{
 	clearChildren("selectVisitDiv");
 
	var selectVisitDiv = document.getElementById("selectVisitDiv");
	
#if ($!subject.getLabel())
	var subjectLabel = "$!subject.getLabel()";
#else
	subjectElem = document.getElementById("dian:csfData/subject_id")
	if (subjectElem.addEventListener)
	{
		subjectElem.addEventListener('change', function() {buildSelectVisit(csfSampDataContents)}, false);
	}
	else
	{
		subjectElem.attachEvent('onchange', function() {buildSelectVisit(csfSampDataContents)});
	}
	
	var subjectLabel = "";
	
	for (i=0; i < subjectElem.options.length; i++)
	{
		if (subjectElem.options[i].selected)
		{
			if (subjectElem.options[i].value != "")
				subjectLabel = subjectElem.options[i].text;
			break;
		}	
	}
 
#end
	if (subjectLabel == "")
	{
		selectVisitDiv.innerHTML = "<font color='red' size='2'>No subject selected.</font>";
		document.getElementById("dian:csfData/label").value="";
		document.getElementById("dian:csfData/bldCollSess").value = "";
		document.getElementById("dian:csfData/visit_id").value = "";
	}
	else if (contents.length == 1 && contents[0]["visit_id"] != "")
	{
		selectVisitDiv.innerHTML = contents[0]["visit_id"];

		document.getElementById("dian:csfData/label").value = subjectLabel + "_" + contents[0]["visit_id"] + "_csf";
		document.getElementById("dian:csfData/bldCollSess").value = contents[0]["dian:csfsampdata/id"];
		document.getElementById("dian:csfData/visit_id").value = contents[0]["visit_id"];
	}
	else if (contents.length > 1)
	{
		var selectOptions = new Array();
		var selectId = "selectVisitId";
		selectIndex = 0;
		
		for (i=0; i < contents.length; i++)
		{
			if (contents[i]["visit_id"] != "")
			{
				selectOptions[selectIndex] = new Array();
				selectOptions[selectIndex][0] = subjectLabel + "_" + contents[i]["visit_id"] + "_csf";
				selectOptions[selectIndex][1] = contents[i]["visit_id"] + " (" + contents[i]["label"] + ")";
				csfSampData[subjectLabel + "_" + contents[i]["visit_id"] + "_csf"] = contents[i]["dian:csfsampdata/id"]
				visitIdArray[subjectLabel + "_" + contents[i]["visit_id"] + "_csf"] = contents[i]["visit_id"]
				selectIndex++;
			}
		}
		
		selectElem = buildDropDown(selectId, selectOptions);
		
		if (selectElem.addEventListener)
		{
			selectElem.addEventListener('change', function() {selectVisit(this.id)}, false);
		}
		else
		{
			selectElem.attachEvent("onchange", function() {selectVisit(this.id)})
		}

		selectVisitDiv.appendChild(selectElem);
		
		selectVisit(selectId)
	}
	else
	{
		selectVisitDiv.innerHTML = "<font color='red' size='2'>No matching experiment found.</font>";
		document.getElementById("dian:csfData/label").value="";
		document.getElementById("dian:csfData/bldCollSess").value = "";
		document.getElementById("dian:csfData/visit_id").value = "";
	} 
}

function buildDropDown(id, contentArray)
{
	var dropDownElem = document.createElement('select');
	dropDownElem.id = id;
	
	for (i=0; i < contentArray.length; i++)
	{
		var optionElem = document.createElement('option');
		optionElem.value=contentArray[i][0];
		optionElem.text=contentArray[i][1];
		##dropDownElem.appendChild(optionElem);
		
		try {
			dropDownElem.add(optionElem, null); // Standards compliant.
		} catch (e) {
			dropDownElem.add(optionElem);      // IE only version.
		}
	}
	
	
	return dropDownElem;
}

function clearChildren(elementId)
{	
	element = document.getElementById(elementId);
	while(element.hasChildNodes())
	{
		element.removeChild(element.firstChild);
	}
}

function selectVisit(selectId)
{
	document.getElementById("dian:csfData/label").value = document.getElementById(selectId).value
	document.getElementById("dian:csfData/bldCollSess").value = csfSampData[document.getElementById(selectId).value];
	document.getElementById("dian:csfData/visit_id").value = visitIdArray[document.getElementById(selectId).value];
}
</script>
