## DIAN Core CDRSUPP Details Report Page
## Created: 01/17/2013

$page.setTitle("CDRSUPP Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($turbineUtils.GetPassedParameter("popup", $data))
   #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
   #set ($popup = "false")
#end

#if(!$project)
   #set($project=$om.getProject())
#end

#macro (createTableRow $e $header $options $keys)
   #set($elm = "")  ## Clear out variable
   #set($elm = $item.getStringProperty($e))
   #dian_createTableRow($elm $header $options $keys)
#end

#macro (createSimpleTableRow $e $header)
   #createTableRow($elm $header "" "")
#end

<style>
#uds_form {
   border-collapse: collapse;
   border-spacing:0px;
   border: 1px solid #000;
}
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
}
</style>

<table width="100%">
   <tr>
      <td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))</td>
      <td valign="top" align="right">#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)</td>
   </tr>
   <tr>
      <td colspan="2">
      <table id="uds_form"  width="600px">
         #set ( $OPTIONS = ["No","Yes"] )
         #set ( $KEYS = ["0","1"] )
         #createTableRow("AMEND2" "Did visit occur prior to Amendment 2 consent?" $OPTIONS $KEYS)
         
         ## Create the Memory Change Table row
         #createTableRow("CHANGES" "Have you noticed a consistent change in your memory and/or thinking?" $OPTIONS $KEYS)
         
         ## Create the Memory Change table row
         #createTableRow("MEMORY" "Memory Change" $OPTIONS $KEYS)
         
         ## Create the Memory Months Present table row
         ##createSimpleTableRow("MEMORYM" "Months Present")
         ## Create the MEMORYM scan table row
		 #set ($MEMORYM = $item.getStringProperty("MEMORYM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!MEMORYM
			</td>
		</tr>
         
         ## Create the Judgement Change table
         #createTableRow("JUDGMENT" "Judgment and Problem-Solving Change" $OPTIONS $KEYS)
         
         ## Create the judgment months present table row
         ##createSimpleTableRow("JUDGMENTM" "Months Present")
         #set ($JUDGMENTM = $item.getStringProperty("JUDGMENTM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!JUDGMENTM
			</td>
		</tr>
         
         ## Create the language change table row
         #createTableRow("LANGUAGE" "Language Change" $OPTIONS $KEYS)
         
         
         ## Create the language months present table row
         ##createSimpleTableRow("LANGUAGEM" "Months Present")
         #set ($LANGUAGEM = $item.getStringProperty("LANGUAGEM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!LANGUAGEM
			</td>
		</tr>
         
         ## Create the Visuospatial function change table row
         #createTableRow("VISUOSPAT" "Visuospatial Function Change" $OPTIONS $KEYS)
         
         ## Create the Visuospatial months present table row
         ##createSimpleTableRow("VISUOSPATM" "Months Present")
         #set ($VISUOSPATM = $item.getStringProperty("VISUOSPATM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!VISUOSPATM
			</td>
		</tr>
         
         ## Create the Attention change table row
         #createTableRow("ATTENTION" "Attention/Concentration Change" $OPTIONS $KEYS)
         
         ## Create the Attention Months present table row
         ##createSimpleTableRow("ATTENTIONM" "Months Present")
         #set ($ATTENTIONM = $item.getStringProperty("ATTENTIONM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!ATTENTIONM
			</td>
		</tr>
         
         ## Create the Behavior Change table row
         #createTableRow("BEHAVIOR" "Behavior/Personality/Mood Change" $OPTIONS $KEYS)
         
         ## Create the Behavior Months Present table row.
         ##createSimpleTableRow("BEHAVIORM" "Months Present")
         #set ($BEHAVIORM = $item.getStringProperty("BEHAVIORM"))
		<tr>
			<th width="400px">Months Present</th>
			<td>
				$!BEHAVIORM
			</td>
		</tr>
      </table>
      </td>
   </tr>
</table>
