<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("Blood Lipid Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
	#set ($popup = $data.getParameters().getString("popup") )
	#set ($popup = "false")
#end
<TABLE width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<font face="$ui.sansSerifFonts" size="3"><b>Blood Lipids Details</b></font>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE border=1 cellspacing=0 cellpadding=0>
							##<TR><TD>subject_ID</TD><TD>$!item.getStringProperty("dian:bldLipidData/subject_ID")</TD></TR>
							##<TR><TD>age</TD><TD>$!item.getDoubleProperty("dian:bldLipidData/age")</TD></TR>
							##<TR><TD><b>Date</b></TD><TD>$!item.getProperty("dian:bldLipidData/date")</TD></TR>
							##<TR><TD>time</TD><TD>$!item.getProperty("dian:bldLipidData/time")</TD></TR>
							##<TR><TD>duration</TD><TD>$!item.getProperty("dian:bldLipidData/duration")</TD></TR>
							##<TR><TD>delay</TD><TD>$!item.getIntegerProperty("dian:bldLipidData/delay")</TD></TR>
							##<TR><TD>delay/ref_expt_id</TD><TD>$!item.getStringProperty("dian:bldLipidData/delay/ref_expt_id")</TD></TR>
							##<TR><TD>note</TD><TD>$!item.getStringProperty("dian:bldLipidData/note")</TD></TR>
							##<TR><TD>acquisition_site</TD><TD>$!item.getStringProperty("dian:bldLipidData/acquisition_site")</TD></TR>
							##<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:bldLipidData/ID")</TD></TR>
							##<TR><TD>project</TD><TD>$!item.getStringProperty("dian:bldLipidData/project")</TD></TR>
							##<TR><TD><b>Visit ID</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/visit_id")</TD></TR>
							##<TR><TD>label</TD><TD>$!item.getStringProperty("dian:bldLipidData/label")</TD></TR>
							##<TR><TD><b>Blood Coll Sess</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/bldCollSess")</TD></TR>
							<TR><TD><b>Triglyceride</b></TD><TD>$!item.getIntegerProperty("dian:bldLipidData/Triglyc") $!item.getStringProperty("dian:bldLipidData/TriglycUnits")</TD></TR>
							##<TR><TD><b>Triglyc Units</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/TriglycUnits")</TD></TR>
							<TR><TD><b>Total Cholesterol</b></TD><TD>$!item.getIntegerProperty("dian:bldLipidData/TotCholes") $!item.getStringProperty("dian:bldLipidData/TotCholesUnits")</TD></TR>
							##<TR><TD><b>Total Choles Units</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/TotCholesUnits")</TD></TR>
							<TR><TD><b>HDL</b></TD><TD>$!item.getIntegerProperty("dian:bldLipidData/HDL") $!item.getStringProperty("dian:bldLipidData/HDLUnits")</TD></TR>
							##<TR><TD><b>HDL Units</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/HDLUnits")</TD></TR>
							<TR><TD><b>LDL</b></TD><TD>$!item.getIntegerProperty("dian:bldLipidData/LDL") $!item.getStringProperty("dian:bldLipidData/LDLUnits")</TD></TR>
							##<TR><TD><b>LDL Units</b></TD><TD>$!item.getStringProperty("dian:bldLipidData/LDLUnits")</TD></TR>
						</TABLE>
					</TD>
					<TD valign="top" align="right">
						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
#*	
	<TR>
		<TD>
<!-- BEGIN dian:bldLipidData -->
			<TABLE>
				<TR><TH align="left"><font face="$ui.sansSerifFonts" size="2">Related Items</font></TH></TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE>
						</TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_share_1_NUM_ROWS=$item.getChildItems("dian:bldLipidData/sharing/share").size() - 1)
							#if($xnat_experimentData_share_1_NUM_ROWS>=0)
								#foreach($xnat_experimentData_share_1_COUNTER in [0..$xnat_experimentData_share_1_NUM_ROWS])
<!-- BEGIN dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>share</TD><TD>$!item.getStringProperty("dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER]/share")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER]/label")</TD></TR>
													<TR><TD>project</TD><TD>$!item.getStringProperty("dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER]/project")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:bldLipidData/sharing/share[$xnat_experimentData_share_1_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:bldLipidData/investigator -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/investigator</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>title</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/title")</TD></TR>
										<TR><TD>firstname</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/firstname")</TD></TR>
										<TR><TD>lastname</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/lastname")</TD></TR>
										<TR><TD>institution</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/institution")</TD></TR>
										<TR><TD>department</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/department")</TD></TR>
										<TR><TD>email</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/email")</TD></TR>
										<TR><TD>phone</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/phone")</TD></TR>
										<TR><TD>ID</TD><TD>$!item.getStringProperty("dian:bldLipidData/investigator/ID")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:bldLipidData/investigator -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
<!-- BEGIN dian:bldLipidData/validation -->
						<TABLE>
							<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/validation</font></TH></TR>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
										<TR><TD>method</TD><TD>$!item.getStringProperty("dian:bldLipidData/validation/method")</TD></TR>
										<TR><TD>date</TD><TD>$!item.getProperty("dian:bldLipidData/validation/date")</TD></TR>
										<TR><TD>notes</TD><TD>$!item.getStringProperty("dian:bldLipidData/validation/notes")</TD></TR>
										<TR><TD>status</TD><TD>$!item.getStringProperty("dian:bldLipidData/validation/status")</TD></TR>
									</TABLE>
								</TD>
							</TR>
						</TABLE>
<!-- END dian:bldLipidData/validation -->
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_abstractResource_4_NUM_ROWS=$item.getChildItems("dian:bldLipidData/resources/resource").size() - 1)
							#if($xnat_abstractResource_4_NUM_ROWS>=0)
								#foreach($xnat_abstractResource_4_COUNTER in [0..$xnat_abstractResource_4_NUM_ROWS])
<!-- BEGIN dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>note</TD><TD>$!item.getStringProperty("dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/note")</TD></TR>
													<TR><TD>label</TD><TD>$!item.getStringProperty("dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/label")</TD></TR>
												</TABLE>
											</TD>
										</TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE><TR><TD>
													#set($xnat_abstractResource_tag_5_NUM_ROWS=$item.getChildItems("dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag").size() - 1)
													#if($xnat_abstractResource_tag_5_NUM_ROWS>=0)
														#foreach($xnat_abstractResource_tag_5_COUNTER in [0..$xnat_abstractResource_tag_5_NUM_ROWS])
<!-- BEGIN dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
															<TABLE>
																<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]</font></TH></TR>
																<TR>
																	<TD align="left" valign="top">
																		<TABLE>
																			<TR><TD>tag</TD><TD>$!item.getStringProperty("dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/tag")</TD></TR>
																			<TR><TD>name</TD><TD>$!item.getStringProperty("dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER]/name")</TD></TR>
																		</TABLE>
																	</TD>
																</TR>
															</TABLE>
<!-- END dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER]/tags/tag[$xnat_abstractResource_tag_5_COUNTER] -->
														#end
													#end
												</TD></TR></TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:bldLipidData/resources/resource[$xnat_abstractResource_4_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
				<TR>
					<TD align="left" valign="top">
						<TABLE><TR><TD>
							#set($xnat_experimentData_field_6_NUM_ROWS=$item.getChildItems("dian:bldLipidData/fields/field").size() - 1)
							#if($xnat_experimentData_field_6_NUM_ROWS>=0)
								#foreach($xnat_experimentData_field_6_COUNTER in [0..$xnat_experimentData_field_6_NUM_ROWS])
<!-- BEGIN dian:bldLipidData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
									<TABLE>
										<TR><TH align="left"><BR><font face="$ui.sansSerifFonts" size="2">dian:bldLipidData/fields/field[$xnat_experimentData_field_6_COUNTER]</font></TH></TR>
										<TR>
											<TD align="left" valign="top">
												<TABLE>
													<TR><TD>field</TD><TD>$!item.getStringProperty("dian:bldLipidData/fields/field[$xnat_experimentData_field_6_COUNTER]/field")</TD></TR>
													<TR><TD>name</TD><TD>$!item.getStringProperty("dian:bldLipidData/fields/field[$xnat_experimentData_field_6_COUNTER]/name")</TD></TR>
												</TABLE>
											</TD>
										</TR>
									</TABLE>
<!-- END dian:bldLipidData/fields/field[$xnat_experimentData_field_6_COUNTER] -->
								#end
							#end
						</TD></TR></TABLE>
					</TD>
				</TR>
			</TABLE>
<!-- END dian:bldLipidData -->
		</TD>
	</TR>
*#
</TABLE><BR>#parse("/screens/ReportProjectSpecificFields.vm")
