$page.setTitle("PHYSICAL")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<table width="100%">
	<tr>
		<td>
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">

<style>
#uds_form {
	border-collapse: collapse;
	border-spacing:0px;
	border: 1px solid #000;
}
#uds_form td, #uds_form th {
	vertical-align:top;
	text-align:left;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
</style>
<table id="uds_form"  width="600px">
	#set ($EXAMDATE = $item.getStringProperty("EXAMDATE"))
		<tr>
			<th width="400px">Examination Date</th>
			<td>
				$!EXAMDATE
			</td>
		</tr>
	#set ($PXGENAPP = $item.getStringProperty("PXGENAPP"))
	#if ( "-4" != $PXGENAPP )
		<tr>
			<th width="400px">General Appearance</th>
			<td>
				$PXGENAPP 
				#if ($PXGENAPP == "1")
					- Normal
				#elseif ($PXGENAPP == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXGENDES = $item.getStringProperty("PXGENDES"))
	#if ( "-4" != $PXGENDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXGENDES
			</td>
		</tr>
	#end
	#set ($PXHEADEY = $item.getStringProperty("PXHEADEY"))
	#if ( "-4" != $PXHEADEY )
		<tr>
			<th width="400px">Head, Eyes, Ears, Nose and Throat</th>
			<td>
				$PXHEADEY 
				#if ($PXHEADEY == "1")
					- Normal
				#elseif ($PXHEADEY == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXHEADDE = $item.getStringProperty("PXHEADDE"))
	#if ( "-4" != $PXHEADDE )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXHEADDE
			</td>
		</tr>
	#end
	#set ($PXNECK = $item.getStringProperty("PXNECK"))
	#if ( "-4" != $PXNECK )
		<tr>
			<th width="400px">Neck</th>
			<td>
				$PXNECK 
				#if ($PXNECK == "1")
					- Normal
				#elseif ($PXNECK == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXNECDES = $item.getStringProperty("PXNECDES"))
	#if ( "-4" != $PXNECDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXNECDES
			</td>
		</tr>
	#end
	#set ($PXCHEST = $item.getStringProperty("PXCHEST"))
	#if ( "-4" != $PXCHEST )
		<tr>
			<th width="400px">Chest</th>
			<td>
				$PXCHEST 
				#if ($PXCHEST == "1")
					- Normal
				#elseif ($PXCHEST == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXCHEDES = $item.getStringProperty("PXCHEDES"))
	#if ( "-4" != $PXCHEDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXCHEDES
			</td>
		</tr>
	#end
	#set ($PXHEART = $item.getStringProperty("PXHEART"))
	#if ( "-4" != $PXHEART )
		<tr>
			<th width="400px">Heart</th>
			<td>
				$PXHEART 
				#if ($PXHEART == "1")
					- Normal
				#elseif ($PXHEART == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXHEADES = $item.getStringProperty("PXHEADES"))
	#if ( "-4" != $PXHEADES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXHEADES
			</td>
		</tr>
	#end
	#set ($PXABDOM = $item.getStringProperty("PXABDOM"))
	#if ( "-4" != $PXABDOM )
		<tr>
			<th width="400px">Abdomen</th>
			<td>
				$PXABDOM 
				#if ($PXABDOM == "1")
					- Normal
				#elseif ($PXABDOM == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXABDDES = $item.getStringProperty("PXABDDES"))
	#if ( "-4" != $PXABDDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXABDDES
			</td>
		</tr>
	#end
	#set ($PXEXTREM = $item.getStringProperty("PXEXTREM"))
	#if ( "-4" != $PXEXTREM )
		<tr>
			<th width="400px">Extremities</th>
			<td>
				$PXEXTREM 
				#if ($PXEXTREM == "1")
					- Normal
				#elseif ($PXEXTREM == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXEXTDES = $item.getStringProperty("PXEXTDES"))
	#if ( "-4" != $PXEXTDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXEXTDES
			</td>
		</tr>
	#end
	#set ($PXEDEMA = $item.getStringProperty("PXEDEMA"))
	#if ( "-4" != $PXEDEMA )
		<tr>
			<th width="400px">Edema</th>
			<td>
				$PXEDEMA 
				#if ($PXEDEMA == "1")
					- Normal
				#elseif ($PXEDEMA == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXEDEDES = $item.getStringProperty("PXEDEDES"))
	#if ( "-4" != $PXEDEDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXEDEDES
			</td>
		</tr>
	#end
	#set ($PXPERIPH = $item.getStringProperty("PXPERIPH"))
	#if ( "-4" != $PXPERIPH )
		<tr>
			<th width="400px">Peripheral Vascular</th>
			<td>
				$PXPERIPH 
				#if ($PXPERIPH == "1")
					- Normal
				#elseif ($PXPERIPH == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXPERDES = $item.getStringProperty("PXPERDES"))
	#if ( "-4" != $PXPERDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXPERDES
			</td>
		</tr>
	#end
	#set ($PXSKIN = $item.getStringProperty("PXSKIN"))
	#if ( "-4" != $PXSKIN )
		<tr>
			<th width="400px">Skin and Appendages</th>
			<td>
				$PXSKIN 
				#if ($PXSKIN == "1")
					- Normal
				#elseif ($PXSKIN == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXSKIDES = $item.getStringProperty("PXSKIDES"))
	#if ( "-4" != $PXSKIDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXSKIDES
			</td>
		</tr>
	#end
	#set ($PXMUSCUL = $item.getStringProperty("PXMUSCUL"))
	#if ( "-4" != $PXMUSCUL )
		<tr>
			<th width="400px">Musculoskeletal</th>
			<td>
				$PXMUSCUL 
				#if ($PXMUSCUL == "1")
					- Normal
				#elseif ($PXMUSCUL == "2")
					- Abnormal
			#end
			</td>
		</tr>
	#end
	#set ($PXMUSDES = $item.getStringProperty("PXMUSDES"))
	#if ( "-4" != $PXMUSDES )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXMUSDES
			</td>
		</tr>
	#end
	#set ($PXOTHER = $item.getStringProperty("PXOTHER"))
	#if ( "-4" != $PXOTHER )
		<tr>
			<th width="400px">Other</th>
			<td>
				$PXOTHER 
				#if ($PXOTHER == "1")
					- Normal
				#elseif ($PXOTHER == "2")
					- Abnormal
				#elseif ($PXOTHER == "3")
					- N/A
			#end
			</td>
		</tr>
	#end
	#set ($PXOTRCOM = $item.getStringProperty("PXOTRCOM"))
	#if ( "-4" != $PXOTRCOM )
		<tr>
			<th width="400px">Details</th>
			<td>
				$!PXOTRCOM
			</td>
		</tr>
	#end
	#set ($PXGENCOM = $item.getStringProperty("PXGENCOM"))
	#if ( "-4" != $PXGENCOM )
		<tr>
			<th width="400px">General Comments</th>
			<td>
				$!PXGENCOM
			</td>
		</tr>
	#end

</table>
		</td>
	</tr>
</table>
