$page.setTitle("Enrollment Status Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($data.getParameters().getString("popup"))
#set ($popup = $data.getParameters().getString("popup") )
#set ($popup = "false")
#end
#if($project)

#else
#set($project=$om.getProject())
#end

<style type="text/css">
	.report th { text-align: left; }
	.standard { width: 400px; }
	.report, .report td, .report th { border: 1px solid gray; border-collapse:collapse; }
</style>

<table width="100%">
	<tr>
		<td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
			
		</td>
		<td valign="top" align="right">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
	<tr>
		<td colspan="2">
            <font face="$ui.sansSerifFonts" size="3"><b>Enrollment Status Details</b></font><br/><br/>
            
            <TABLE class="standard report">
            	<TR><TH>Site:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/acquisition_site")</TD></TR>
            
            	<TR><TD colspan='2'>&nbsp;</TD></TR>
            	
            	<TR><TH>Enrollment Date:</TH><TD>$!item.getProperty("sf:enrollmentStatus/enrollmentDate")</TD></TR>
            	
            	<TR><TD colspan='2'>&nbsp;</TD></TR>
            	
            	<TR><TH>Date of Brain Tumor Diagnosis:</TH><TD>$!item.getProperty("sf:enrollmentStatus/initialDiagnosisDate")</TD></TR>
            	<TR><TH>Initial Diagnosis:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/initialDiagnosis")</TD></TR>
            	
            	<TR><TD colspan='2'>&nbsp;</TD></TR>

#if ($!item.getBooleanProperty("sf:enrollmentStatus/pathologicDiagnosis"))            	
            	<TR><TH>Pathologic Diagnosis:</TH><TD>Yes</TD></TR>
            	<TR><TH>Pathologic Diagnosis Type:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/pathologicDiagnosisType")</TD></TR>
            	<TR><TH>Patholigic Diagnosis Date:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/pathologicDiagnosisDate")</TD></TR>
            	<TR><TH>Previously Treated:</TH>
#if ($!item.getBooleanProperty("sf:enrollmentStatus/previouslyTreated"))
		<TD>
			Yes
		</TD></TR>
		<TR><TH>Previously Treated:</TH>
		<TD>
			$!item.getStringProperty("sf:enrollmentStatus/detailsPriorToEnrollment")
		</TD></TR>
#else 
		<TD>
			No
		</TD></TR>
#end
            	
            	<TR><TH>Precurrent At Enrollment:</TH>

#if ($!item.getBooleanProperty("sf:enrollmentStatus/recurrentAtEnrollment"))
		<TD>
			Yes
		</TD></TR>
		<TR><TH>Recurrent At Enrollment Notes:</TH>
		<TD>
			$!item.getStringProperty("sf:enrollmentStatus/recurrentAtEnrollmentNotes")
		</TD></TR>
#else 
		<TD>
			No
		</TD></TR>
#end
            	

#else
            	<TR><TH>Pathologic Diagnosis:</TH><TD>No</TD></TR>
#end
            	<TR><TD colspan='2'>&nbsp;</TD></TR>
            	
            	<TR><TH>Exit Date:</TH><TD>$!item.getProperty("sf:enrollmentStatus/exitDate")</TD></TR>
            	<TR><TH>Exit Reason:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/exitReason")</TD></TR>
            	<TR><TH>Exit Notes:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/exitNotes")</TD></TR>
            	
            	<TR><TD colspan='2'>&nbsp;</TD></TR>
            	
            	<TR><TH>Death Date:</TH><TD>$!item.getProperty("sf:enrollmentStatus/deathDate")</TD></TR>
##            	<TR><TH>Autopsied:</TH><TD>$!item.getBooleanProperty("sf:enrollmentStatus/autopsied")</TD></TR>
            	<TR><TH>Autopsied:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/autopsiedOptions")</TD></TR>
		<TR><TH>Autopsy Notes:</TH><TD>$!item.getStringProperty("sf:enrollmentStatus/autopsyNotes")</TD></TR>

            </TABLE>
            
            <BR>#parse("/screens/ReportProjectSpecificFields.vm")
		</td>
	</tr>
</table>

