<!-- BEGIN XDATScreen_edit_condr_mets_lesionData.vm -->
<script type="text/javascript">
    if (console.log) console.log('BEGIN XDATScreen_edit_condr_mets_lesionData.vm');
</script>
$page.setTitle("Lesion Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Lesion Details</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top">
						<TABLE>
							<TR><TD colspan='2'>
								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>             
								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       									#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       							#end
							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR><TD>Lesion Collection ID</TD><TD>#xdatStringBox("condr_mets:lesionData/saCollID" $item "" $vr)</TD></TR>
							<TR><TD>Lesion Link ID</TD><TD>#xdatStringBox("condr_mets:lesionData/saLinkID" $item "" $vr)</TD></TR>
							<TR><TD>Lesion Number</TD><TD>#xdatStringBox("condr_mets:lesionData/nodeNum" $item "" $vr)</TD></TR>
							<TR><TD>Hemisphere</TD><TD>#xdatStringBox("condr_mets:lesionData/hemisphere" $item "" $vr)</TD></TR>
							<TR><TD>Location</TD><TD>#xdatStringBox("condr_mets:lesionData/location" $item "" $vr)</TD></TR>
							<TR><TD>Date Of Diagnosis</TD><TD>#xdatDateBox("condr_mets:lesionData/dateOfDiagnosis" $item $vr $years)</TD></TR>
							<TR><TD>Description</TD><TD>#xdatTextArea("condr_mets:lesionData/description" $item "" $vr 7 30)</TD></TR>
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left>
				##<input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/>
				<input type="submit" name="eventSubmit_doInsert" value="Submit"/>
		</TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

//   validateSubjectAssessorForm();
//   return false;
}

if (typeof confirmValues !== 'function') { 
  window.confirmValues = function(){}; 
}
</script>
<script type="text/javascript">
    if (console.log) console.log('END XDATScreen_edit_condr_mets_lesionData.vm');
</script>
<!-- END XDATScreen_edit_condr_mets_lesionData.vm -->
