## DIAN Visit Frequency Report Page
## Created: 01/22/2013

$page.setTitle("VISFREQ Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)

#if ($turbineUtils.GetPassedParameter("popup", $data))
   #set ($popup = $turbineUtils.GetPassedParameter("popup", data) )
   #set ($popup = "false")
#end

#if(!$project)
   #set($project=$om.getProject())
#end

#macro (createTableRow $e $header $options $keys)
   #set($elm = "")  ## Clear out variable
   #set($elm = $item.getStringProperty($e))
   #dian_createTableRow($elm $header $options $keys)
#end

#macro (createSimpleTableRow $e $header)
   #createTableRow($elm $header "" "")
#end

<style>
#uds_form {
   border-collapse: collapse;
   border-spacing:0px;
   border: 1px solid #000;
}
#uds_form td, #uds_form th {
   vertical-align:top;
   text-align:left;
   border-top:1px solid #000;
   border-bottom:1px solid #000;
}
</style>

<table width="100%">
   <tr>
      <td>#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))</td>
      <td valign="top" align="right">#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)</td>
   </tr>
   <tr>
      <td colspan="2">
      <table id="uds_form"  width="700px">
         ## Create the Participant's current age table row
		 #set ($VISITAGE = $item.getStringProperty("VISITAGE"))
		<tr>
			<th width="400px">"Participant's (P) current age"</th>
			<td>
				$!VISITAGE
			</td>
		</tr>
         
         ## Create the parents's age at onset table row
         #createSimpleTableRow("" "")
		 #set ($PARENTAO = $item.getStringProperty("PARENTAO"))
		<tr>
			<th width="400px">"Parent's age at onset (as calculated from Age at Onset Evaluation Worksheet):"</th>
			<td>
				$!PARENTAO
			</td>
		</tr>
         
         ## Create the current in person visit frequency
         #set ($KEYS = ["1","2","3","4","5","6"])
         #set ( $OPTIONS = ["P 11 or more years younger--in person visit every 3 years", "P 10 to 4 years younger--in person visit every 3 years", "P 3 to 0 years younger--annual in person visit", "P 1 to 3 years older--annual in person visit", "P 4 or more years older-- in person visit and one additional in person visit 3 years later", "P has cognitive decline which was confirmed at an in person visit--annual in person visit"] )
         #createTableRow("MQRSCAN" "Based on above, please mark the current in-person visit frequency" $OPTIONS $KEYS)
		 
		 ## Create the next annual assessment table row
		 #set ( $KEYS = ["1","2","-1"] )
         #set ( $OPTIONS = ["In-Person Assessment","Remote Telephone Assessment", ""] )
         #createTableRow("NXTANN" "At the next annual assessment, the participant should be scheduled for:" $OPTIONS $KEYS )
      </table>
      </td>
   </tr>
</table>
