<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()

#set($imageQuality = [ "Excellent", "Good", "Poor", "Inadequate" ])
#set($dominantEchoRhythm = [ "Regular", "Afib", "Other" ])
#set($valveFunctionRating = [ "Not Evaluated", "None/Trivial", "Mild", "Moderate", "Severe" ])

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifyItem")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<script type="text/javascript" LANGUAGE="JavaScript" src="$content.getURI('scripts/omUtils.js')"></SCRIPT>
<script type="text/javascript">
	dynamicJSLoad("SAXDriver","xmlsax-min.js");
	dynamicJSLoad("SAXEventHandler","SAXEventHandler-min.js");
	dynamicJSLoad("xdat_stored_search","generated/xdat_stored_search.js");
	dynamicJSLoad("xdat_criteria_set","generated/xdat_criteria_set.js");
	dynamicJSLoad("xdat_criteria","generated/xdat_criteria.js");
</script>

<DIV class="edit_title">UsCardioAssessor Details</DIV>
<TABLE width="100%">
	<TR>
		<TD>
			<TABLE>
				<TR><TD colspan='2'>
					<hr>
					#parse("/screens/xnat_edit_experimentData.vm")
					<HR></TD>
				</TR>
				<tr>
					<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
				</tr>
				<tr>
					<td>Ultrasound Session </td>
					<td>
						#set($imageSession_ID = $item.getStringProperty("ghf:usCardioAssessor/imageSession_ID"))
						#set ($imageSessionType = $om.getImageSessionData().getXSIType())
						#if ($imageSession_ID)
							#set ($click = "$link.setAction('DisplayItemAction').addPathInfo('search_element',$imageSessionType).addPathInfo('search_field','xnat:imageSessionData.ID').addPathInfo('search_value',$imageSession_ID).addPathInfo('popup',$!popup).addPathInfo('project',$project)" )
							<a href="$click">$om.getImageSessionData().getLabel()</a>
							#xdatHiddenBox("ghf:usCardioAssessor/imageSession_ID" $item $imageSession_ID)
						#end
						#xdatHiddenBox("ghf:usCardioAssessor/project" $item $item.getStringProperty("ghf:usCardioAssessor/project"))
						#xdatHiddenBox("ghf:usCardioAssessor.ID" $item $item.getStringProperty("ghf:usCardioAssessor.ID"))
					</td>
				</tr>
				<TR><TD>Date</TD><TD>#xdatDateBox("ghf:usCardioAssessor/date" $item $vr $years)</TD></TR>
				<TR><TD>Time</TD><TD>#xdatTimeBox("ghf:usCardioAssessor/time" $item $vr)</TD></TR>
				<TR><TD>Acquisition Site</TD><TD>#xdatStringBox("ghf:usCardioAssessor/acquisition_site" $item "" $vr)</TD></TR>
				<TR><TD>Visit</TD><TD>#xdatStringBox("ghf:usCardioAssessor/visit_id" $item "" $vr)</TD></TR>
				<TR><TD>Notes</TD><TD>#xdatTextArea("ghf:usCardioAssessor/note" $item "" $vr 4 50)</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>Sequential Study Number</TD><TD>#xdatStringBox("ghf:usCardioAssessor/seqStudyNumber" $item "" $vr)</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>Analyzable Echo</TD><TD>#xdatBooleanRadio("ghf:usCardioAssessor/analyzableEcho" $item false $vr)</TD></TR>
				<TR><TD>2D Quality</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/image2dQuality" $item $imageQuality $vr)</TD></TR>
				<TR><TD>DP Quality</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/imageDpQuality" $item $imageQuality $vr)</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>Dominant Rhythm at Echo</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/dominantEchoRhythm" $item $dominantEchoRhythm $vr)</TD></TR>
				<TR><TD>Heart Rate</TD><TD>#xdatTextBox("ghf:usCardioAssessor/heartrate" $item "" $vr) bpm</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>LVOT Diameter (D1)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvotD1" $item "" $vr) cm</TD></TR>
				<TR><TD>LV Diameter at ED (LVIDD)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvidd" $item "" $vr) mm</TD></TR>
				<TR><TD>Septal Thickness at ED (IVS)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/ivs" $item "" $vr) mm</TD></TR>
				<TR><TD>LV PW Thickness at ED (PW)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/pw" $item "" $vr) mm</TD></TR>
				<TR><TD>Ant Lat Wall Thickness</TD><TD>#xdatTextBox("ghf:usCardioAssessor/alwt" $item "" $vr) mm</TD></TR>
				<TR><TD>LV Diameter at ES (LVIDS)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvids" $item "" $vr) mm</TD></TR>
				<TR><TD>LV End Diastolic Volume (LVEDV)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvedv" $item "" $vr) mL</TD></TR>
				<TR><TD>LV End Systolic Volume (LVESV)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvesv" $item "" $vr) mL</TD></TR>
				<TR><TD>Peak LV Outflow Velocity (V1)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/v1" $item "" $vr) cm/s</TD></TR>
				<TR><TD>LV Outflow TVI (LVOT TVI)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/lvotTvi" $item "" $vr) cm</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>Valve Function</TD><TD/></TR>
				<TR>
				<TD colspan="2">
					<TABLE>
						<TR><TD/><TD>Valvular Stenosis</TD><TD>Valvular Regurgitation</TD></TR>
						<TR><TD>Aortic</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvStenosis/aortic" $item $valveFunctionRating $vr)</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvRegurg/aortic" $item $valveFunctionRating $vr)</TD></TR>
						<TR><TD>Mitral</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvStenosis/mitral" $item $valveFunctionRating $vr)</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvRegurg/mitral" $item $valveFunctionRating $vr)</TD></TR>
						<TR><TD>Tricuspid</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvStenosis/tricuspid" $item $valveFunctionRating $vr)</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvRegurg/tricuspid" $item $valveFunctionRating $vr)</TD></TR>
						<TR><TD>Pulmonic</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvStenosis/pulmonic" $item $valveFunctionRating $vr)</TD><TD>#xdatSelectBoxWSingleValue("ghf:usCardioAssessor/valvRegurg/pulmonic" $item $valveFunctionRating $vr)</TD></TR>
					</TABLE>
				</TD>
				</TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>TR Jet Velocity (TR)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/tr" $item "" $vr) m/s</TD></TR>
				<TR><TD>Mitral E Wave Velocity (E)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/e" $item "" $vr) cm/s</TD></TR>
				<TR><TD>Mitral A Wave Velocity (A)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/a" $item "" $vr) cm/s</TD></TR>
				<TR><TD>Mitral DT</TD><TD>#xdatTextBox("ghf:usCardioAssessor/mitralDt" $item "" $vr) ms</TD></TR>
				<TR><TD>Em Lateral Velocity (EML)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/eml" $item "" $vr) cm/s</TD></TR>
				<TR><TD>Em Septal Velocity (EMS)</TD><TD>#xdatTextBox("ghf:usCardioAssessor/ems" $item "" $vr) cm/s</TD></TR>
				<TR><TD colspan="2">&nbsp;</TD></TR>
				<TR><TD>Primary Signature</TD><TD>#xdatStringBox("ghf:usCardioAssessor/primarySig" $item "" $vr)</TD></TR>
				<TR><TD>Secondary Signature</TD><TD>#xdatStringBox("ghf:usCardioAssessor/secondarySig" $item "" $vr)</TD></TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" name="eventSubmit_doInsert" onclick="validateForm();" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   //INSERT CUSTOM CONTENT HERE

   validateExperimentForm();
   return false;
}
</script>
