<!-- BEGIN XDATScreen_report_condr_mets_lesionCollection.vm -->
<script type="text/javascript">
    if (console.log) console.log('BEGIN XDATScreen_report_condr_mets_lesionCollection.vm');
</script>

#set ($userIsOwner = $user.isOwner($project))
#set ($userIsMember = $user.isMember($project))
###set ($userIsCollaborator = $user.isCollaborator($project))
#set ($userIsSiteAdmin = $user.isSiteAdmin())

#set ($userCanEdit = ($userIsOwner || $userIsMember || $userIsSiteAdmin))

<script type="text/javascript">

    if (typeof XNAT.data == 'undefined') XNAT.data={};
    if (typeof XNAT.data.context == 'undefined') XNAT.data.context={};
    if (typeof XNAT.app == 'undefined') XNAT.app={};
    if (typeof XNAT.app.user == 'undefined') XNAT.app.user={};
    if (typeof CONDR == 'undefined') var CONDR={};
    if (typeof CONDR.lesionTracker == 'undefined') CONDR.lesionTracker={};

    CONDR.lesionTracker.collType = '$!item.getStringProperty("condr_mets:lesionCollection/collectionType")';
    XNAT.data.context.exptLabel = CONDR.lesionTracker.collLabel = '$!item.getStringProperty("condr_mets:lesionCollection/label")';
    XNAT.data.context.exptID = CONDR.lesionTracker.collID = '$!item.getStringProperty("condr_mets:lesionCollection/ID")';
    XNAT.data.context.subjectID = CONDR.lesionTracker.subjID = '$!item.getStringProperty("condr_mets:lesionCollection/subject_ID")';
    //CONDR.lesionTracker.subjID = XNAT.data.context.subjectID = '$!subject.getStringProperty("subject_ID")';
    XNAT.data.context.subjectLabel = CONDR.lesionTracker.subjLabel = '$!subject.getStringProperty("label")';
    XNAT.data.context.projectLabel = '$!item.getStringProperty("condr_mets:lesionCollection/project")';

    XNAT.app.user.isOwner = CONDR.lesionTracker.userIsOwner = $userIsOwner ;
    XNAT.app.user.isMember = CONDR.lesionTracker.userIsMember = $userIsMember ;
    XNAT.app.user.isSiteAdmin = CONDR.lesionTracker.userIsSiteAdmin = $userIsSiteAdmin ;
    XNAT.app.user.canEdit = CONDR.lesionTracker.userCanEdit = $userCanEdit ;

</script>

$page.setTitle("Lesion Collection Details")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#if ($turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = $turbineUtils.GetPassedParameter("popup", $data))
	#set ($popup = "false")
#end

<table width="100%">
	<tr>
		<td class="getTemplateName-report-om-getXSIType-project">
			#parse($turbineUtils.getTemplateName("_report",$om.getXSIType(),$project))
		</td>
		<td valign="top" align="right" class="elementActionsBox">
			#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
		</td>
	</tr>
##	<tr>
##		<td>
##			<b>Lesion Collection Details</b>
##		</td>
##	</tr>
##	<tr>
##		<td>
##			<table width="100%">
##				<tr>
##					<td valign="top">
##						<table>
##							<tr><td>Collection Type</td><td>$!item.getStringProperty("condr_mets:lesionCollection/collectionType")</td></tr>
##							<tr><td>Subject ID</td><td>$!item.getStringProperty("condr_mets:lesionCollection/subject_ID")</td></tr>
##							<tr><td>ID</td><td>$!item.getStringProperty("condr_mets:lesionCollection/ID")</td></tr>
##							<tr><td>Project</td><td>$!item.getStringProperty("condr_mets:lesionCollection/project")</td></tr>
##							<tr><td>Label</td><td>$!item.getStringProperty("condr_mets:lesionCollection/label")</td></tr>
##						</table>
##					</td>
##					<td valign="top" align="right">
##						#elementActionsBox($element $search_field $search_value $data.getSession().getAttribute("user") $item)
##					</td>
##				</tr>
##			</table>
##		</td>
##	</tr>
</table>


<br>

































<script type="text/javascript">

    if (typeof XNAT.data.selected == 'undefined') XNAT.data.selected={};

        #if($project.getItem())
        ## ???
        // ?1
        #else
            #if($om.getProject())
                #if($project)
                ## ???
                // $project
                // ?2
                #else
                    #set($project=$om.getProject())
                    // $!project
                // ?3
                #end
            #else
                #if ($om)
                    $!om.setProject($project)
                // ?4
                #end
            #end
        #end

##    XNAT.data.context.projectLabel = '$!om.getProject()';
##    XNAT.data.context.subjectID = '$!om.getId()';

    //alert('Project: '+ XNAT.data.context.projectLabel + ', Subject: ' + XNAT.data.context.subjectID);

</script>



<div id="CONDR_lesions" class="collection_wrapper">

    <!-- MODAL TEMPLATE START -->
    <div id="lesion_modal" class="html_template" style="position:fixed;left:-9999px;">
        <!-- template for lesion record modal -->
        <form class="lesion record">
            <fieldset data-count="{{COUNT}}" data-node="{{NODE}}"><div class="pad">
                <!-- hacky data store -->
                <input type="hidden" name="subject_label" class="subject_label" data-subject-label="{{SUBJECT_LABEL}}">
                <input type="hidden" name="subject_id" class="subject_id" data-subject-id="{{SUBJECT_ID}}">
                <input type="hidden" name="lesion_id" class="lesion_id" data-lesion-id="{{LESION_ID}}">
                <input type="hidden" name="collection_id" class="collection_id" data-collection-id="{{COLLECTION_ID}}">

                <h4><b>Lesion </b><a class="edit btn" href="#"></a></h4>
                <!-- sorry for the tables -- it's the easiest way to auto-size the label width for the widest one -->
                <table class="record">
                    <tr>
                        <th>
                            <label>Hemishpere</label>
                        </th>
                        <td>
                            <select required class="source" name="hemisphere" data-default="{{HEMISPHERE}}">
                                <option value="" disabled="disabled">&nbsp;</option>
                                <option value="Left">Left</option>
                                <option value="Right">Right</option>
                            </select>
                            <b class="require">*</b>
                            <input type="hidden" class="select" data-from-name='hemisphere' data-default="{{HEMISPHERE}}" value="{{HEMISPHERE}}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>Location</label>
                        </th>
                        <td>
                            <select required class="source" name="location" data-default="{{LOCATION}}">
                                <option value="" disabled="disabled">&nbsp;</option>
                                <option value="Frontal">Frontal</option>
                                <option value="Temporal">Temporal</option>
                                <option value="Occipital">Occipital</option>
                                <option value="Parietal">Parietal</option>
                                <option value="Cerebellum">Cerebellum</option>
                            </select>
                            <b class="require">*</b>
                            <input type="hidden" class="select" data-from-name='location' data-default="{{LOCATION}}" value="{{LOCATION}}">
                        </td>
                    </tr>
                    <tr>
                        <th>
                            <label>Date of Diagnosis</label>
                        </th>
                        <td>
                            <!-- data-validate options are 'onblur' or 'onsubmit' -->
                            <!-- data-name value will be passed to name attribute of input element (single only) -->
                            <span class="datepicker single iso today" data-validate="onblur" data-name="date_of_diagnosis"></span>
                            <b class="require">*</b>
                            <input type="hidden" class="diagnosis date" data-from-name='date' data-default="{{DEFAULT_DATE}}" value="{{DATE}}">
                        </td>
                    </tr>
                    <tr class="textarea">
                        <th>
                            <label class="valign-top">Description</label>
                        </th>
                        <td class="textarea">
                            <textarea style="width:300px;height:64px;" name="description" placeholder="(brief description)" data-default="{{DESCRIPTION}}">{{DESCRIPTION}}</textarea>
                            <!--<span class="hidden textarea default" data-from="lesion1-description">Put text for the description in this textarea element.</span>-->
                        </td>
                    </tr>
##                    <tr>
##                        <th>
##                            <label>Add Files</label>
##                        </th>
##                        <td>
####                            <input type="file" name="add_files">
##                            <button class="file_manager" type="button" data-expt="{{LESION_ID}}">Open File Manager</button>
##                        </td>
##                    </tr>
##                    <tr>
##                        <th>
##                            <br>
##                            <button type="submit" class="validate onsubmit">Validate Me</button>
##                        </th>
##                        <td></td>
##                    </tr>
                </table>
            </div></fieldset>
        </form>
##        <form class="files">
##            <table>
##            </table>
##        </form>
    </div>
    <!-- MODAL TEMPLATE END -->



    <div class="container" style="display:none;width:auto;border:none;">
        <div class="pad">

            <h3>Lesion Records</h3>

            <div id="lesion_collection" style="margin:20px 0;">
                <p>(no records)</p>
                <!-- filled in by javascript -->
            </div>

##            <!-- format for rendered records: -->
##            <!--
##            <table id="lesion_records">
##                <tr>
##                    <th>#</th>
##                    <th>Hemisphere</th>
##                    <th>Location</th>
##                    <th>Date of Diagnosis</th>
##                    <th>Lesion Description</th>
##                </tr>
##                <tr class="lesion record">
##                    <td class="lesion" data-count="1">1</td>
##                    <td class="hemisphere" data-val="right">Right</td>
##                    <td class="location" data-val="frontal">Frontal</td>
##                    <td class="date" data-val="2012-01-15" data-yyyy="2012" data-mm="01" data-dd="15">01/15/2012</td>
##                    <td class="description">
##                        <p style="display:inline-block;width:75%;margin:0;float:left;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
##                        <a class="edit btn" href="#" style="display:inline-block;width:20%;float:right;text-align:right;">edit record</a>
##                    </td>
##                </tr>
##            </table>
##            -->


            #if ( $userCanEdit )

                <button id="record_lesions" type="button" style="min-width:125px;">Record Lesion(s)</button>

                <br><br><br>

                <button id="add_notes" type="button" style="display:none;min-width:125px;">Add Notes</button>

            #end

            <div id="collection_notes" style="display:none;margin:20px 0;border:1px solid #ccc;">
                <h3 style="position:relative;padding:5px 8px;background:#f0f0f0;border-bottom:1px solid #ccc;">Collection Notes:

                    #if ( $userCanEdit )

                        <a class="edit btn nolink" href="#" style="position:absolute;right:8px;font-size:12px;font-weight:normal;text-decoration:underline;">edit notes</a></h3>

                    #end

                    <p style="min-height:5em;margin-top:5px;padding:10px;"></p>
            </div>

        </div><!-- /.container > .pad -->
    </div><!-- /.container -->
</div><!-- /#CONDR_lesions -->
















<!-- YUI calendar stuff -->
<!--CSS file (default YUI Sam Skin) -->
<link type="text/css" rel="stylesheet" href="$content.getURI('scripts/yui/build/calendar/assets/skins/sam/calendar.css')">
<!-- Dependencies -->
<script type="text/javascript" src="$content.getURI('scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js')"></script>
##<script type="text/javascript" src="/scripts/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<!-- Source file -->
<script type="text/javascript" src="$content.getURI('scripts/yui/build/calendar/calendar.js')"></script>
##<script type="text/javascript" src="/scripts/yui/build/calendar/calendar.js"></script>

<script type="text/javascript" src="$content.getURI('scripts/jquery.maskedinput.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/ezCalendar.js')"></script>
<script type="text/javascript" src="$content.getURI('scripts/lesionTracker/lesionTracker.js')"></script>

























<script type="text/javascript">

    jq(window).load(function(){
        jq('#CONDR_lesions').find('.container').fadeIn(100);
    });

</script>


































#parse("/screens/ReportProjectSpecificFields.vm")

<script type="text/javascript">
    if (console.log) console.log('END XDATScreen_report_condr_mets_lesionCollection.vm');
</script>
<!-- END XDATScreen_report_condr_mets_lesionCollection.vm -->
