<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
$page.setTitle("XDAT")
$page.setLinkColor($ui.alink)
$page.setVlinkColor($ui.vlink)
#xdatMonthRange()
#xdatDayRange()
#xdatYearRange()
#set($qcValues = [["Passed","Passed"],["Flagged","Flagged"],["Quarantined","Quarantined"],["Failed","Failed"]])
#set($pValues = [-1, 0, 1, 2, 3, 4, 5])
#set($pText = ["NA", 0, 1, 2, 3, 4, 5])

<script type="text/javascript">
var elementName="$!item.getXSIType()";
window.currentID="$!om.getId()";
	#if($om.getProject())
	 #if($om.getProject().equals(""))
window.currentProject="$!project";
	 #else
window.currentProject="$!om.getProject()";
	 #end
	#else
window.currentProject="$!project";
	#end

window.currentSubject="$!om.getSubjectId()";
window.currentLabel="$!om.getLabel()";
</script>

#if ($data.message)
<font color="red" size="3">$data.message</font>
#end
<p>
<form ID="form1" name="form1" method="post" action="$link.setAction("ModifySubjectAssessorData")">
<input type="hidden" name="project" value="$!{project}" >
#if($vr)
	<font color="red">Invalid parameters:<BR>$vr.toHTML()</font>
<HR>
#end

<TABLE width="100%">
	<TR>
		<TD>
			<table width="100%">
				<TR>
					<TD align="left" valign="middle">
						<DIV class="edit_title">Create Visit</DIV>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
			<TABLE width="100%">
				<TR>
					<TD valign="top" colspan=2>
						<TABLE>
							<TR><TD colspan='2'>
  								<input type="hidden" name="$om.getXSIType()/ID" id="$om.getXSIType()/ID" value="$!om.getId()"/>               
								#if($om.getId())
		  							#parse($turbineUtils.getTemplateName("psl.vm",$om.getXSIType(),$project,"edit"))
								#else
       								#parse($turbineUtils.getTemplateName("_projSubj.vm",$om.getXSIType(),$project,"upload"))
       							#end
     							</TD></TR>
							<tr>
								<TD colspan="2">#parse("/screens/EditProjectSpecificFields.vm")</TD>
							</tr>
							<TR>
								<TD align="left" valign="top">
									<TABLE>
											<TR><TD>Status</TD><TD>#cndaSelectBoxSimple("visit:visitData/validation/status" $item $qcValues $vr)</TD></TR>
											<TR><TD>Date</TD><TD>#cndaDateBox("visit:visitData/validation/date" $item $vr $years)</TD></TR>
											<TR><TD>Method</TD><TD>#xdatStringBox("visit:visitData/validation/method" $item "" $vr)</TD></TR>
											<TR><TD>Notes</TD><TD>#xdatTextArea("visit:visitData/validation/notes" $item "" $vr 10 30)</TD></TR>
											#xdatHiddenBox("visit:visitData/validation/xnat_validationData_id" $item "")
									</TABLE>
								</TD>
							</TR>          
						</TABLE>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
	<TR>
		<TD>
		#xdatEditProps($item $edit_screen)
		<TR><TD COLSPAN=2 ALIGN=left><input type="button" ONCLICK="validateForm();"  name="eventSubmit_doInsert" value="Submit"/></TD></TR>
		</TD>
	</TR>
</TABLE>
</form>

<script type="text/javascript">
function validateForm()
{
   var label = document.getElementById("visit:visitData/label");
   document.getElementById("form1").submit();
   return true;
}
</script>
