	#if ($qcAssessor && $qcAssessor.getType().equals("WUSTL_4dfp_BOLD_QC"))
	#set($mr = $!om.getImageSessionData())

	<BR/>
#set ($scanCounter = 1001)
	<a name="LINK${scanCounter}" href="#LINK${scanCounter}" onClick=" return blocking($scanCounter);">
			  <img ID="IMG$scanCounter" src="$content.getURI("images/plus.jpg")" border=0>
		WUSTL 4dfp QC Summary
	</a>
<span ID="span$!scanCounter" style="position:relative; display:none;">
	
	<table>		
		<tr>
			<td align="left"  valign="top">
					<table border="1">
						<tr>
		        			<th>Scan</th>
		        			<th>MOVEMENT</th>
		        			<th>HISTOGRAM</th>
		        		</tr>
		
						#set ($ind = 0) 
						#foreach ($qcscan in $qcAssessor.getChildItems("scans/scan"))
							<tr>
								<td>$qcscan.getProperty("id")</td>
						    	<td>
									<a target="_blank" href="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_mov/files?file_content=ORIGINAL&index=$ind")"> 
										<img src="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_mov/files?file_content=THUMBNAIL&index=$ind")" />
									</a>
								</td>	  
								<td>
									<a target="_blank" href="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_hist/files?file_content=ORIGINAL&index=$ind")"> 
										<img src="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_hist/files?file_content=THUMBNAIL&index=$ind")" /> 
									</a>
								</td>
							 </tr>		
						#set ($ind = $ind + 1)
						#end
					</table>

					<table border="1">
						<tr>
							<th> Scan </th>
							<th> Movement (rms mm) </th>
							<th> Movement (rms mm/frame) </th>
							<th> Mean voxelwise sd (mode 1000 normalized)</th>
						</tr>
						#foreach ($qcscan in $qcAssessor.getChildItems("scans/scan"))
							<tr> 
								<td> $qcscan.getProperty("id") </td>
								#foreach ($addStats in $qcscan.getChildItems("scanStatistics/additionalStatistics"))
									<td align="center">$addStats.getProperty("additionalStatistics")</td> 					
								#end 
							</tr> 
						#end
					</table>

					<table>
						<tr>
							<td style="font-size:10px"> Anat Ave </td>  <td style="font-size:10px">MPRAGE </td>
						</tr>
			        	<tr>
							<td>
								#set ($label = "Anat_Ave_snap_shot")
								<a target="_blank" href="$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_Bold_QC/out/resources/QC_Anatave/files/${om.getLabel()}_anat_ave_t88_333.gif")">
									<img src="$content.getURI("/REST/experiments/${om.getId()}/assessors/${om.getId()}_Bold_QC/out/resources/QC_Anatave/files/${om.getLabel()}_anat_ave_t88_333_thumb.gif")" />
								</a>
							</td>
							<td>
								#set ($label = "MPRAGE_snap_shot")
									<a target="_blank" href="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_MPrage/files/${om.getLabel()}_mpr.gif")">
										<img src="$content.getURI("/REST/experiments/${mr.getId()}/assessors/${qcAssessor.getId()}/out/resources/QC_MPrage/files/${om.getLabel()}_mpr_thumb.gif")" />
									</a>
							</td>
						</tr>
				
						<tr>
							<td style="font-size:10px">Cross modal voxel similarity (&eta;)</td>
						</tr>
					<table width="600px" border="1">
						<tr>
						#foreach ($param in $qcAssessor.getParameters_addparam())
							<td align="center">$param.getName()</td>
						#end

						</tr>
						<tr>
							#foreach ($param in $qcAssessor.getParameters_addparam())
								<td align="center">$param.getAddfield()</td>
							#end
						</tr>
					</table>

		
			</td>
		</tr>
</table>
</span>
#end

<BR/> <BR/>