/* general layout */
html, body { height: 100% ; margin: 0 ; }
body { background: #f0f0f0 ; font-family: Arial, Helvetica, sans-serif ; font-size: 13px ; }
h1, h2, h3, h4, h5, h6, p { margin-top: 0 ; margin-bottom: 1em ; }
button { display: inline-block ; }
select[multiple], textarea { border: 1px solid #ccc ; }

/* utility style classes */
.float-left { float: left ; text-align: left ; }
.float-right { float: right ; text-align: right ; }
.float-none { float: none ; text-align: inherit ; }
.clear-left { clear: left ; }
.clear-right { clear: right ; }
.clear-both { clear: both ; }
.valign-top { vertical-align: top ; }
.valign-middle { vertical-align: middle ; }
.valign-bottom { vertical-align: bottom ; }
.text-left { text-align: left ; }
.text-right { text-align: right ; }
.text-center { text-align: center ; }
label.disabled { opacity: 0.5 ; }
.mono { font-family: Courier, monospace ; }
.nowrap { white-space: nowrap ; }


/* page-specific styles */
#prog_log_entries { width: 100% ; max-width: 850px ; border-collapse: inherit ; }
#prog_log_entries thead th { /* border-bottom: 2px solid #d0d0d0 ; */ }
#prog_log_entries tbody tr:hover { background: #ffd !important ; }
#prog_log_entries tbody tr.record.new { color: #080 !important ; /* background: #efe ; */ }
#prog_log_entries tbody tr.record.changed { color: #088 ; /* background: #ffe ; */ }
#prog_log_entries tbody td { padding: 8px 12px ; position: relative ; border-bottom: 1px solid #d0d0d0 ; }
#prog_log_entries a.edit { text-decoration: underline ; }

/* */

/* (old - used for static HTML prototype) */
#progressions { width: 750px ; min-height: 350px ; margin: 0 auto ; background: #fff ; }
#progressions > .pad { padding: 30px ; }
#progressions .records { margin-bottom: 50px ; }
#progressions .records .no_data {  }
#progressions .records table { display: none ; }
#progressions .notes { margin-bottom: 50px ; }
#progressions .notes .no_data {  }
#progressions .notes .notes_box { display: none ; border: 1px solid #ccc ; }
#progressions .notes .notes_box > header { padding: 5px 8px ; background: #f0f0f0 ; border-bottom: 1px solid #ccc ; }
#progressions .notes .notes_box > .body { min-height: 100px ; padding: 10px 15px ; }

#progressions button { margin: 10px 0 ; }

form.progression_record { width: auto ; margin: 0 auto ; background: #fff ; }
form.progression_record table { width: 100% ; }
form.progression_record td { padding: 8px 5px ; border-bottom: 1px solid #e0e0e0 ; }
form.progression_record tr:last-of-type > td { border: none ; }
form.progression_record fieldset { margin: 0 ; padding: 0 ; border: none ; }
form.progression_record > fieldset { display: block ; padding: 0 ; }

form.progression_record label { display: inline-block ; white-space: nowrap ; }
form.progression_record label b { color: #c00 ; }
form.progression_record td:first-of-type label { font-weight: bold ; }
form.progression_record tr.disabled label { opacity: 0.5 ; }
form.progression_record tr.disabled label:hover { cursor: inherit ; }

fieldset.outcome_determiners label { height: 25px ; line-height: 25px ; vertical-align: middle ; }

.chosen-container-multi.deficits .chosen-results { max-height: 102px ; height: 102px\9 ; }
.chosen-container .chosen-drop .chosen-results li.divider { margin-left: -6px ; color: #d8d8d8 !important ; white-space: nowrap ; overflow: hidden ; letter-spacing: -1px ; }
.chosen-container.scroll .chosen-drop li.divider { margin-left: -10px ; }