
/*body { font-family: Arial, Helvetica, sans-serif ; font-size: 13px ; line-height: 15px ; }*/

.collection_wrapper .container { width: auto ; border: none ; }
.collection_wrapper .container > .pad { padding: 4px ; }

form.record fieldset { margin: 0 ; padding: 0 ; border: none ; }
form.record fieldset > .pad { padding: 0 ; }
form.record fieldset h4 { margin: 0 0 10px ; padding: 8px 12px ; background: #e5f2ff ; border: 1px solid #99ccff ; }
form.record fieldset table.record th,
form.record fieldset table.record td { padding: 2px ;}
form.record fieldset th { text-align: left ; }
form.record fieldset td { overflow: visible ; }
form.record fieldset h4 { }
form.record fieldset h4 b { }
form.record fieldset h4 a { display: none ; float: right ; font-size: 12px ; font-weight: normal ; font-style: normal ; text-decoration: underline ; }
form.record fieldset.disabled .edit_links,
form.record fieldset.active .edit_links { display: inline-block ; }
/*form.lesions fieldset.cancel .edit_links:hover { cursor: default ; }*/
form.record fieldset div.row { height: 25px ; margin: 10px 0 ; line-height: 25px ; vertical-align: middle ; }
form.record fieldset div.textarea_row { margin-top: 15px ; vertical-align: top ; }
form.record fieldset label { display: inline-block ; /* width: 120px ; */ padding: 0 4px ; text-align: right ; vertical-align: middle ; }
form.record fieldset label:after { content: ':' ; }
form.record fieldset select { width: 160px ; }
form.record fieldset input[type="text"],
form.record fieldset input[type="date"] { width: /* 155px */ auto ; padding: 2px 4px 1px 2px ; font-family: Courier, monospace ; font-size: 13px ; }
form.record fieldset b.value { display: none ; font-size: 12px ; font-weight: bold ; }
form.record fieldset b.require { display: none ; margin-left: 5px ; color: #900 ; vertical-align: top ; }
form.record fieldset.new b.require { display: inline ; }
/* ??? */
form textarea { font-family: Arial, Helvetica, sans-serif ; font-size: 13px ; line-height: 15px ; }

form.record fieldset div.yui-calcontainer { top: 50px !important ; right: 150px !important ; border-color: #ccc ; box-shadow: 0 5px 10px rgba(0,0,0,0.5); z-index: 101 ; }

hr { height: 1px ; margin: 10px 0 ; border: none ; border-bottom: 1px solid #e0e0e0 ; }
.valign-top { vertical-align: top !important ; }
.clear { clear: both ; }
.hidden { display: none ; visibility: hidden ; opacity: 0 ; }


.collection_records { width: 100% ; max-width: 720px ; }
.collection_records tr.record:hover { background: #ffd; }
.collection_records th,
.collection_records td { padding: 4px 6px ; text-align: left ; }
.collection_records th { white-space: nowrap ; vertical-align: bottom ; /* border-bottom: 2px solid #aaa ; */ }
.collection_records td { border-bottom: 1px solid #e0e0e0 ; vertical-align: top ; /* border-left: 1px solid #e0e0e0 ; */ }
.collection_records td:last-child { /* border-right: 1px solid #e0e0e0 ; */ }
.collection_records th:first-child,
.collection_records td:first-child { text-align: center ; }
.collection_records td.date { white-space: nowrap ; }