/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.MenuItemRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/**
 * State: resting.
 *
 * NOTE(mleibman,chrishenry):
 * The RTL support in Closure is provided via two mechanisms -- "rtl" CSS
 * classes and BiDi flipping done by the CSS compiler.  Closure supports RTL
 * with or without the use of the CSS compiler.  In order for them not
 * to conflict with each other, the "rtl" CSS classes need to have the @noflip
 * annotation.  The non-rtl counterparts should ideally have them as well, but,
 * since .goog-menuitem existed without .goog-menuitem-rtl for so long before
 * being added, there is a risk of people having templates where they are not
 * rendering the .goog-menuitem-rtl class when in RTL and instead rely solely
 * on the BiDi flipping by the CSS compiler.  That's why we're not adding the
 * @noflip to .goog-menuitem.
 */
/* line 30, ../../nrg/sass/goog.scss */
.goog-menuitem {
  color: #000;
  font: normal 13px Arial, sans-serif;
  list-style: none;
  margin: 0;
  /* 28px on the left for icon or checkbox; 7em on the right for shortcut. */
  padding: 4px 7em 4px 28px;
  white-space: nowrap;
}

/* BiDi override for the resting state. */
/* @noflip */
/* line 42, ../../nrg/sass/goog.scss */
.goog-menuitem.goog-menuitem-rtl {
  /* Flip left/right padding for BiDi. */
  padding-left: 7em;
  padding-right: 28px;
}

/* If a menu doesn't have checkable items or items with icons, remove padding. */
/* line 49, ../../nrg/sass/goog.scss */
.goog-menu-nocheckbox .goog-menuitem,
.goog-menu-noicon .goog-menuitem {
  padding-left: 12px;
}

/*
 * If a menu doesn't have items with shortcuts, leave just enough room for
 * submenu arrows, if they are rendered.
 */
/* line 58, ../../nrg/sass/goog.scss */
.goog-menu-noaccel .goog-menuitem {
  padding-right: 20px;
}

/* line 62, ../../nrg/sass/goog.scss */
.goog-menuitem-content {
  color: #000;
  font: normal 13px Arial, sans-serif;
}

/* State: disabled. */
/* line 68, ../../nrg/sass/goog.scss */
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content {
  color: #ccc !important;
}

/* line 72, ../../nrg/sass/goog.scss */
.goog-menuitem-disabled .goog-menuitem-icon {
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* State: hover. */
/* line 79, ../../nrg/sass/goog.scss */
.goog-menuitem-highlight,
.goog-menuitem-hover {
  background-color: #d6e9f8;
  /* Use an explicit top and bottom border so that the selection is visible
   * in high contrast mode. */
  border-color: #d6e9f8;
  border-style: dotted;
  border-width: 1px 0;
  padding-bottom: 3px;
  padding-top: 3px;
}

/* State: selected/checked. */
/* line 92, ../../nrg/sass/goog.scss */
.goog-menuitem-checkbox,
.goog-menuitem-icon {
  background-repeat: no-repeat;
  height: 16px;
  left: 6px;
  position: absolute;
  right: auto;
  vertical-align: middle;
  width: 16px;
}

/* BiDi override for the selected/checked state. */
/* @noflip */
/* line 105, ../../nrg/sass/goog.scss */
.goog-menuitem-rtl .goog-menuitem-checkbox,
.goog-menuitem-rtl .goog-menuitem-icon {
  /* Flip left/right positioning. */
  left: auto;
  right: 6px;
}

/* line 112, ../../nrg/sass/goog.scss */
.goog-option-selected .goog-menuitem-checkbox,
.goog-option-selected .goog-menuitem-icon {
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -512px 0;
}

/* Keyboard shortcut ("accelerator") style. */
/* line 119, ../../nrg/sass/goog.scss */
.goog-menuitem-accel {
  color: #999;
  /* Keyboard shortcuts are untranslated; always left-to-right. */
  /* @noflip */
  direction: ltr;
  left: auto;
  padding: 0 6px;
  position: absolute;
  right: 0;
  text-align: right;
}

/* BiDi override for shortcut style. */
/* @noflip */
/* line 132, ../../nrg/sass/goog.scss */
.goog-menuitem-rtl .goog-menuitem-accel {
  /* Flip left/right positioning and text alignment. */
  left: 0;
  right: auto;
  text-align: left;
}

/* Mnemonic styles. */
/* line 140, ../../nrg/sass/goog.scss */
.goog-menuitem-mnemonic-hint {
  text-decoration: underline;
}

/* line 144, ../../nrg/sass/goog.scss */
.goog-menuitem-mnemonic-separator {
  color: #999;
  font-size: 12px;
  padding-left: 4px;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for menus created by goog.ui.MenuSeparatorRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* line 163, ../../nrg/sass/goog.scss */
.goog-menuseparator {
  border-top: 1px solid #ccc;
  margin: 4px 0;
  padding: 0;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for buttons created by goog.ui.MenuButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* State: resting. */
/* line 183, ../../nrg/sass/goog.scss */
.goog-menu-button {
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  border: 0;
  color: #000;
  cursor: pointer;
  list-style: none;
  margin: 2px;
  outline: none;
  padding: 0;
  text-decoration: none;
  vertical-align: middle;
}

/* Pseudo-rounded corners. */
/* line 198, ../../nrg/sass/goog.scss */
.goog-menu-button-outer-box,
.goog-menu-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

/* line 204, ../../nrg/sass/goog.scss */
.goog-menu-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

/* line 209, ../../nrg/sass/goog.scss */
.goog-menu-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 216, ../../nrg/sass/goog.scss */
* html .goog-menu-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
/* line 222, ../../nrg/sass/goog.scss */
* html .goog-menu-button-rtl .goog-menu-button-outer-box {
  /* @noflip */
  left: -1px;
  /* @noflip */
  right: auto;
}

/* line 226, ../../nrg/sass/goog.scss */
* html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */
  right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 231, ../../nrg/sass/goog.scss */
*:first-child + html .goog-menu-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
/* line 236, ../../nrg/sass/goog.scss */
*:first-child + html .goog-menu-button-rtl .goog-menu-button-inner-box {
  /* @noflip */
  left: 1px;
  /* @noflip */
  right: auto;
}

/* Safari-only hacks. */
/* line 242, ../../nrg/sass/goog.scss */
::root .goog-menu-button,
::root .goog-menu-button-outer-box,
::root .goog-menu-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

/* line 248, ../../nrg/sass/goog.scss */
::root .goog-menu-button-caption,
::root .goog-menu-button-dropdown {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
/* line 255, ../../nrg/sass/goog.scss */
.goog-menu-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 261, ../../nrg/sass/goog.scss */
.goog-menu-button-disabled .goog-menu-button-outer-box,
.goog-menu-button-disabled .goog-menu-button-inner-box,
.goog-menu-button-disabled .goog-menu-button-caption,
.goog-menu-button-disabled .goog-menu-button-dropdown {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 270, ../../nrg/sass/goog.scss */
* html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 276, ../../nrg/sass/goog.scss */
*:first-child + html .goog-menu-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
/* line 282, ../../nrg/sass/goog.scss */
.goog-menu-button-hover .goog-menu-button-outer-box,
.goog-menu-button-hover .goog-menu-button-inner-box {
  border-color: #9cf #69e #69e #7af !important;
  /* Hover border wins. */
}

/* State: active, open. */
/* line 288, ../../nrg/sass/goog.scss */
.goog-menu-button-active,
.goog-menu-button-open {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
/* line 295, ../../nrg/sass/goog.scss */
.goog-menu-button-focused .goog-menu-button-outer-box,
.goog-menu-button-focused .goog-menu-button-inner-box {
  border-color: orange;
}

/* Caption style. */
/* line 301, ../../nrg/sass/goog.scss */
.goog-menu-button-caption {
  padding: 0 4px 0 0;
  vertical-align: top;
}

/* Dropdown arrow style. */
/* line 307, ../../nrg/sass/goog.scss */
.goog-menu-button-dropdown {
  height: 15px;
  width: 7px;
  /* Client apps may override the URL at which they serve the sprite. */
  background: url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -388px 0;
  vertical-align: top;
}

/* Pill (collapsed border) styles. */
/* TODO(gboyer): Remove specific menu button styles and have any button support being a menu button. */
/* line 317, ../../nrg/sass/goog.scss */
.goog-menu-button-collapse-right,
.goog-menu-button-collapse-right .goog-menu-button-outer-box,
.goog-menu-button-collapse-right .goog-menu-button-inner-box {
  margin-right: 0;
}

/* line 323, ../../nrg/sass/goog.scss */
.goog-menu-button-collapse-left,
.goog-menu-button-collapse-left .goog-menu-button-outer-box,
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  margin-left: 0;
}

/* line 329, ../../nrg/sass/goog.scss */
.goog-menu-button-collapse-left .goog-menu-button-inner-box {
  border-left: 1px solid #fff;
}

/* line 333, ../../nrg/sass/goog.scss */
.goog-menu-button-collapse-left.goog-menu-button-checked
.goog-menu-button-inner-box {
  border-left: 1px solid #ddd;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Styling for custom buttons rendered by goog.ui.CustomButtonRenderer.
 *
 * @author attila@google.com (Attila Bodis)
 */
/* line 350, ../../nrg/sass/goog.scss */
.goog-custom-button {
  margin: 2px;
  border: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #000;
  /* Client apps may override the URL at which they serve the image. */
  background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
  text-decoration: none;
  list-style: none;
  vertical-align: middle;
  cursor: default;
  outline: none;
}

/* Pseudo-rounded corners. */
/* line 366, ../../nrg/sass/goog.scss */
.goog-custom-button-outer-box,
.goog-custom-button-inner-box {
  border-style: solid;
  border-color: #aaa;
  vertical-align: top;
}

/* line 373, ../../nrg/sass/goog.scss */
.goog-custom-button-outer-box {
  margin: 0;
  border-width: 1px 0;
  padding: 0;
}

/* line 379, ../../nrg/sass/goog.scss */
.goog-custom-button-inner-box {
  margin: 0 -1px;
  border-width: 0 1px;
  padding: 3px 4px;
  white-space: nowrap;
  /* Prevents buttons from line breaking on android. */
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 387, ../../nrg/sass/goog.scss */
* html .goog-custom-button-inner-box {
  /* IE6 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* Pre-IE7 BiDi fixes. */
/* line 392, ../../nrg/sass/goog.scss */
* html .goog-custom-button-rtl .goog-custom-button-outer-box {
  /* @noflip */
  left: -1px;
}

/* line 395, ../../nrg/sass/goog.scss */
* html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */
  right: auto;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 400, ../../nrg/sass/goog.scss */
*:first-child + html .goog-custom-button-inner-box {
  /* IE7 needs to have the box shifted to make the borders line up. */
  left: -1px;
}

/* IE7 BiDi fix. */
/* line 405, ../../nrg/sass/goog.scss */
*:first-child + html .goog-custom-button-rtl .goog-custom-button-inner-box {
  /* @noflip */
  left: 1px;
}

/* Safari-only hacks. */
/* line 410, ../../nrg/sass/goog.scss */
::root .goog-custom-button,
::root .goog-custom-button-outer-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: 0;
}

/* line 416, ../../nrg/sass/goog.scss */
::root .goog-custom-button-inner-box {
  /* Required to make pseudo-rounded corners work on Safari. */
  line-height: normal;
}

/* State: disabled. */
/* line 422, ../../nrg/sass/goog.scss */
.goog-custom-button-disabled {
  background-image: none !important;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 429, ../../nrg/sass/goog.scss */
.goog-custom-button-disabled .goog-custom-button-outer-box,
.goog-custom-button-disabled .goog-custom-button-inner-box {
  color: #333 !important;
  border-color: #999 !important;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 436, ../../nrg/sass/goog.scss */
* html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 442, ../../nrg/sass/goog.scss */
*:first-child + html .goog-custom-button-disabled {
  margin: 2px 1px !important;
  padding: 0 1px !important;
}

/* State: hover. */
/* line 448, ../../nrg/sass/goog.scss */
.goog-custom-button-hover .goog-custom-button-outer-box,
.goog-custom-button-hover .goog-custom-button-inner-box {
  border-color: #9cf #69e #69e #7af !important;
  /* Hover border wins. */
}

/* State: active, checked. */
/* line 454, ../../nrg/sass/goog.scss */
.goog-custom-button-active,
.goog-custom-button-checked {
  background-color: #bbb;
  background-position: bottom left;
}

/* State: focused. */
/* line 461, ../../nrg/sass/goog.scss */
.goog-custom-button-focused .goog-custom-button-outer-box,
.goog-custom-button-focused .goog-custom-button-inner-box {
  border-color: orange;
}

/* Pill (collapsed border) styles. */
/* line 467, ../../nrg/sass/goog.scss */
.goog-custom-button-collapse-right,
.goog-custom-button-collapse-right .goog-custom-button-outer-box,
.goog-custom-button-collapse-right .goog-custom-button-inner-box {
  margin-right: 0;
}

/* line 473, ../../nrg/sass/goog.scss */
.goog-custom-button-collapse-left,
.goog-custom-button-collapse-left .goog-custom-button-outer-box,
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  margin-left: 0;
}

/* line 479, ../../nrg/sass/goog.scss */
.goog-custom-button-collapse-left .goog-custom-button-inner-box {
  border-left: 1px solid #fff;
}

/* line 483, ../../nrg/sass/goog.scss */
.goog-custom-button-collapse-left.goog-custom-button-checked
.goog-custom-button-inner-box {
  border-left: 1px solid #ddd;
}

/* Pre-IE7 IE hack; ignored by IE7 and all non-IE browsers. */
/* line 489, ../../nrg/sass/goog.scss */
* html .goog-custom-button-collapse-left .goog-custom-button-inner-box {
  left: 0;
}

/* IE7-only hack; ignored by all other browsers. */
/* line 494, ../../nrg/sass/goog.scss */
*:first-child + html .goog-custom-button-collapse-left
.goog-custom-button-inner-box {
  left: 0;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/* Author: pallosp@google.com (Peter Pallos) */
/* Sample 3-state checkbox styles. */
/* line 509, ../../nrg/sass/goog.scss */
.goog-checkbox {
  border: 1px solid #1C5180;
  display: -moz-inline-box;
  display: inline-block;
  font-size: 1px;
  /* Fixes the height in IE6 */
  height: 11px;
  margin: 0 4px 0 1px;
  vertical-align: text-bottom;
  width: 11px;
}

/* line 520, ../../nrg/sass/goog.scss */
.goog-checkbox-checked {
  background: #fff url(//ssl.gstatic.com/closure/check-sprite.gif) no-repeat 2px center;
}

/* line 524, ../../nrg/sass/goog.scss */
.goog-checkbox-undetermined {
  background: #bbb url(//ssl.gstatic.com/closure/check-sprite.gif) no-repeat 2px center;
}

/* line 528, ../../nrg/sass/goog.scss */
.goog-checkbox-unchecked {
  background: #fff;
}

/* line 532, ../../nrg/sass/goog.scss */
.goog-checkbox-disabled {
  border: 1px solid lightgray;
  background-position: -7px;
}

/*
 * Copyright 2008 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * All Rights Reserved.
 *
 * Styles for the HSV color palette.
 *
 * @author smcbride@google.com (Sean McBride)
 * @author arv@google.com (Erik Arvidsson)
 * @author manucornet@google.com (Manu Cornet)
 */
/* line 553, ../../nrg/sass/goog.scss */
.goog-hsv-palette,
.goog-hsv-palette-sm {
  position: relative;
  border: 1px solid #999;
  border-color: #ccc #999 #999 #ccc;
  width: 400px;
  height: 276px;
}

/* line 562, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm {
  width: 182px;
  height: 185px;
}

/* line 567, ../../nrg/sass/goog.scss */
.goog-hsv-palette label span,
.goog-hsv-palette-sm label span {
  display: none;
}

/* line 572, ../../nrg/sass/goog.scss */
.goog-hsv-palette-hs-backdrop,
.goog-hsv-palette-sm-hs-backdrop,
.goog-hsv-palette-hs-image,
.goog-hsv-palette-sm-hs-image {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 256px;
  height: 256px;
  border: 1px solid #999;
}

/* line 584, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-hs-backdrop,
.goog-hsv-palette-sm-hs-image {
  top: 45px;
  width: 128px;
  height: 128px;
}

/* line 591, ../../nrg/sass/goog.scss */
.goog-hsv-palette-hs-backdrop,
.goog-hsv-palette-sm-hs-backdrop {
  background-color: #000;
}

/* line 596, ../../nrg/sass/goog.scss */
.goog-hsv-palette-hs-image,
.goog-hsv-palette-v-image,
.goog-hsv-palette-hs-handle,
.goog-hsv-palette-v-handle {
  background-image: url(//ssl.gstatic.com/closure/hsv-sprite.png);
}

/* line 603, ../../nrg/sass/goog.scss */
.goog-hsv-palette-noalpha .goog-hsv-palette-hs-image,
.goog-hsv-palette-noalpha .goog-hsv-palette-v-image,
.goog-hsv-palette-noalpha .goog-hsv-palette-hs-handle,
.goog-hsv-palette-noalpha .goog-hsv-palette-v-handle {
  background-image: url(//ssl.gstatic.com/closure/hsv-sprite.gif);
}

/* line 610, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-hs-image,
.goog-hsv-palette-sm-v-image,
.goog-hsv-palette-sm-hs-handle,
.goog-hsv-palette-sm-v-handle {
  background-image: url(//ssl.gstatic.com/closure/hsv-sprite-sm.png);
}

/* line 617, ../../nrg/sass/goog.scss */
.goog-hsv-palette-noalpha .goog-hsv-palette-sm-hs-image,
.goog-hsv-palette-noalpha .goog-hsv-palette-sm-v-image,
.goog-hsv-palette-noalpha .goog-hsv-palette-sm-hs-handle,
.goog-hsv-palette-noalpha .goog-hsv-palette-sm-v-handle {
  background-image: url(//ssl.gstatic.com/closure/hsv-sprite-sm.gif);
}

/* line 624, ../../nrg/sass/goog.scss */
.goog-hsv-palette-hs-image,
.goog-hsv-palette-sm-hs-image {
  background-position: 0 0;
}

/* line 629, ../../nrg/sass/goog.scss */
.goog-hsv-palette-hs-handle,
.goog-hsv-palette-sm-hs-handle {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 11px;
  height: 11px;
  overflow: hidden;
  background-position: 0 -256px;
}

/* line 640, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-hs-handle {
  top: 40px;
  background-position: 0 -128px;
}

/* line 645, ../../nrg/sass/goog.scss */
.goog-hsv-palette-v-image,
.goog-hsv-palette-sm-v-image {
  position: absolute;
  top: 10px;
  left: 286px;
  width: 19px;
  height: 256px;
  border: 1px solid #999;
  background-color: #fff;
  background-position: -256px 0;
}

/* line 657, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-v-image {
  top: 45px;
  left: 155px;
  width: 9px;
  height: 128px;
  background-position: -128px 0;
}

/* line 665, ../../nrg/sass/goog.scss */
.goog-hsv-palette-v-handle,
.goog-hsv-palette-sm-v-handle {
  position: absolute;
  top: 5px;
  left: 279px;
  width: 35px;
  height: 11px;
  background-position: -11px -256px;
  overflow: hidden;
}

/* line 676, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-v-handle {
  top: 40px;
  left: 148px;
  width: 25px;
  background-position: -11px -128px;
}

/* line 683, ../../nrg/sass/goog.scss */
.goog-hsv-palette-swatch,
.goog-hsv-palette-sm-swatch {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 65px;
  height: 65px;
  border: 1px solid #999;
  background-color: #fff;
}

/* line 694, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-swatch {
  top: 10px;
  right: auto;
  left: 10px;
  width: 30px;
  height: 22px;
}

/* line 702, ../../nrg/sass/goog.scss */
.goog-hsv-palette-input,
.goog-hsv-palette-sm-input {
  position: absolute;
  top: 85px;
  right: 10px;
  width: 65px;
}

/* line 710, ../../nrg/sass/goog.scss */
.goog-hsv-palette-sm-input {
  top: 10px;
  right: auto;
  left: 50px;
}

/*
 * Copyright 2009 The Closure Library Authors. All Rights Reserved.
 *
 * Use of this source code is governed by the Apache License, Version 2.0.
 * See the COPYING file for details.
 */
/*
 * Standard styling for goog.ui.Dialog.
 *
 * @author ssaviano@google.com (Steven Saviano)
 * @author attila@google.com (Attila Bodis)
 */
/* line 730, ../../nrg/sass/goog.scss */
.modal-dialog {
  background: #c1d9ff;
  border: 1px solid #3a5774;
  color: #000;
  padding: 4px;
  position: absolute;
}

/* line 738, ../../nrg/sass/goog.scss */
.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited {
  color: #06c;
  cursor: pointer;
}

/* line 745, ../../nrg/sass/goog.scss */
.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

/* line 752, ../../nrg/sass/goog.scss */
.modal-dialog-title {
  background: #e0edfe;
  color: #000;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  /* Add padding on the right to ensure the close button has room. */
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1;
  /* Ensures proper width in IE6 RTL. */
}

/* line 766, ../../nrg/sass/goog.scss */
.modal-dialog-title-close {
  /* Client apps may override the URL at which they serve the sprite. */
  background: #e0edfe url(//ssl.gstatic.com/editor/editortoolbar.png) no-repeat -528px 0;
  cursor: default;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 8px;
  width: 15px;
  vertical-align: middle;
}

/* line 778, ../../nrg/sass/goog.scss */
.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

/* line 784, ../../nrg/sass/goog.scss */
.goog-buttonset-default {
  font-weight: bold;
}

/* line 41, ../../nrg/sass/nrg.scss */
.xiv-ui-thumbnail-hoverinfo, .xiv-ui-viewboxdialogs-infodialog {
  color: white;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 16px;
}

/* line 47, ../../nrg/sass/nrg.scss */
.nrg-ui-slider {
  position: absolute;
  outline: 0;
  /* removes chrome blue border */
}

/* line 54, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-horizontal {
  width: 100%;
  height: 10px;
  top: calc(100% - 10px);
  left: 0px;
}

/* line 63, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-vertical {
  width: 10px;
  height: 100%;
  top: 0px;
  left: 0px;
}

/*
 * TRACK
 */
/* line 74, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-track {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-color : rgba(100,100,100,0);*/
}

/* line 85, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-track-hovered {
  /*box-sizing: border-box;
  background-color: rgb(50,50,50);
  border: solid 1px rgb(100,100,100);*/
}

/*
 * THUMB
 */
/* line 96, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-thumb {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: gainsboro;
  z-index: 2;
  border-radius: 4px;
}

/* line 106, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-thumb-horizontal {
  width: 30px;
  height: 100%;
}

/* line 112, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-thumb-vertical {
  height: 30px;
  width: 100%;
  left: 0px;
}

/* line 119, ../../nrg/sass/nrg.scss */
.nrg-ui-slider-thumb-hovered {
  box-sizing: border-box;
  background-color: gainsboro;
  /*border: solid 1px rgb(100,100,100);*/
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 129, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput {
  position: absolute;
  top: 3px;
  width: 100px;
  height: 17px;
  left: calc(100% - 110px);
  background-color: transparent;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 141, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput-display,
.nrg-ui-hoverinput-inputbox {
  position: absolute;
  left: 0px;
  top: 0px;
  line-height: 17px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  white-space: nowrap;
}

/* line 153, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput-display {
  color: #9b9b9b;
  text-align: right;
  text-wrap: none;
}

/* line 161, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput-inputbox {
  opacity: 0;
  width: 100%;
  height: 18px;
  left: 0px;
  background-color: black;
  border: none;
  /*border-bottom: solid 1px rgb(95,95,95);*/
  outline: 0;
  color: white;
  z-index: 3;
  transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  text-align: right;
}

/* line 179, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput:hover {
  background-color: rgba(0, 0, 1, 0);
}

/* line 183, ../../nrg/sass/nrg.scss */
.nrg-ui-hoverinput:hover > .nrg-ui-hoverinput-inputbox {
  opacity: 1;
}

/**
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 191, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer {
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 203, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-scrollarea {
  display: block;
  position: relative;
  width: calc(100% - 19px);
  left: 19px;
}

/* line 211, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippyheader {
  position: relative;
  background-color: #323232;
  left: 0px;
  width: 100%;
  height: 1.5em;
  color: 10px;
  font-size: #787878;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
  line-height: 1.5em;
  margin-bottom: 4px;
}

/* line 226, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippyheader-mouseover {
  color: dimgray;
  border-bottom: solid 1px dimgray;
}

/* line 234, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippyheaderlabel, .nrg-ui-scrollablecontainer-zippyexpandicon {
  position: absolute;
  margin-left: .3em;
  background-color: none;
}

/* line 241, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippyexpandicon {
  right: .5em;
  margin-left: -10px;
  color: black;
}

/* line 248, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippyexpandicon-mouseover {
  color: black;
}

/* line 255, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-zippycontent {
  overflow: visible;
  width: 100%;
  top: 20px;
  left: 12px;
  margin-bottom: 4px;
}

/* line 265, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider {
  position: absolute;
  width: 8px;
  left: 0px;
  top: 0px;
  height: 100%;
  background-color: black;
  transition-property: background-color;
  transition-duration: .2;
}

/* line 277, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider:hover {
  background-color: black;
}

/* line 281, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider-thumb {
  background-color: #505050;
  width: 4px;
  left: 5px;
  border-radius: 5px;
  transition-property: background-color, width, left;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 291, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider:hover > .nrg-ui-scrollablecontainer-slider-thumb {
  background-color: #787878;
  width: 8px;
  left: 3px;
}

/* line 297, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider-thumb:active {
  background-color: #787878;
  width: 8px;
  left: 3px;
}

/* line 305, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider-track {
  background-color: transparent;
}

/* line 310, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablecontainer-slider-track-hovered {
  /*
  box-sizing: border-box;
  background-color: rgb(50,50,50);
  border-right: solid 1px rgb(100,100,100);
  border-left: none;
  border-top: none;
  border-bottom: none;*/
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 326, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablezippytree {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 335, ../../nrg/sass/nrg.scss */
.nrg-ui-scrollablezippytree-zippytree {
  top: 0px;
  left: 0px;
  width: 100%;
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 345, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-header {
  position: relative;
  outline: 0;
  /*background-color: rgb(90,90,90);*/
  left: 0px;
  width: 100%;
  height: 1.5em;
  color: #505050;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
  z-index: 1000;
  line-height: 1.5em;
  margin-bottom: 5px;
  margin-top: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 363, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-header:hover {
  background-color: none;
  color: #9b9b9b;
  border-bottom: solid 1px #9b9b9b;
}

/* line 371, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-header-label, .nrg-ui-zippynode-expandicon {
  position: absolute;
  margin-left: .3em;
  background-color: none;
  white-space: nowrap;
  overflow: hidden;
}

/* line 380, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-expandicon {
  right: .5em;
  margin-left: -10px;
  color: #646464;
}

/* line 387, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-expandicon-mouseover {
  color: #9b9b9b;
}

/* line 394, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-content {
  overflow: visible;
  width: 100%;
  top: 20px;
  left: 12px;
  z-index: 1000;
}

/* line 405, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-loading-holder {
  position: relative;
  height: 87px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 411, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-loading-text {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 23px);
}

/* line 418, ../../nrg/sass/nrg.scss */
.nrg-ui-zippynode-loading-image {
  position: absolute;
  width: 150px;
  height: 2px;
  top: calc(50% + 10px);
  left: calc(50% - 75px);
  opacity: .50;
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 444, ../../nrg/sass/nrg.scss */
.nrg-ui-zippytree-rootnode {
  margin-bottom: 0px;
  height: 0px;
}

/**
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 452, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog {
  position: absolute;
  outline: none;
  background-color: black;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 5px;
  border-color: white;
  z-index: 10;
  overflow: hidden;
}

/* line 464, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-overlay {
  position: absolute;
  left: 30%;
  top: 35%;
  width: 40%;
  height: 30%;
  background-color: black;
  z-index: 201;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 476, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 200;
  display: inline-block;
}

/* line 494, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-subtext {
  text-align: left;
  font-size: 12px;
}

/* line 501, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-text {
  text-align: center;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 506, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-closebutton-image, .nrg-ui-dialog-closebutton {
  height: 10px;
  width: 10px;
}

/* line 510, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-closebutton {
  position: absolute;
  cursor: pointer;
  top: calc(50% - 7px);
  height: 10px;
  width: 10px;
  left: calc(100% - 17px);
  z-index: 103;
  background: none;
  outline: none;
}

/* line 528, ../../nrg/sass/nrg.scss */
.modal-dialog-title-text {
  top: 1px;
  left: 7px;
  position: absolute;
  text-align: center;
}

/* line 536, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-title {
  background-color: #3c3c3c;
  height: 17px;
  padding: 0px;
  top: -3px;
  border: none;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  z-index: -1;
  width: calc(100% + 6px);
  left: -3px;
}

/* line 549, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-content {
  background-color: none;
  background: none;
}

/* line 555, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-buttons {
  background-color: none;
  background: none;
}

/* line 562, ../../nrg/sass/nrg.scss */
.nrg-ui-dialog-yesnomodal {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 125px);
  width: 250px;
  height: 120px;
  background: black;
  background-color: black;
  border: 1px solid white;
  padding: 4px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 10px;
  outline: 0;
  z-index: 1000;
  cursor: default;
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 584, ../../nrg/sass/nrg.scss */
.nrg-ui-errordialog {
  width: 400px;
  height: 300px;
  z-index: 100000;
}

/* line 592, ../../nrg/sass/nrg.scss */
.nrg-ui-errordialog-image {
  position: relative;
  width: 80px;
  height: 80px;
  left: calc(50% - 40px);
}

/* line 601, ../../nrg/sass/nrg.scss */
.nrg-ui-errordialog-text {
  top: 145px;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 609, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail {
  position: absolute;
  width: 87px;
  height: 87px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: black;
  box-sizing: border-box;
  border: solid 1px black;
}

/* line 622, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-selectindicator {
  position: absolute;
  top: calc(50% - 34px);
  left: 7px;
  width: 2px;
  height: 68px;
  opacity: 0;
  background-color: #646464;
}

/* line 633, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-selectindicator-active {
  opacity: 1;
}

/* line 639, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-selected {
  border: solid 1px #646464;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 649, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-hoverable:hover {
  background-color: #1e1e1e;
  z-index: 10000;
  overflow: visible;
  color: white;
  border: solid 1px #282828;
}

/* line 658, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-hoverable:hover > .nrg-ui-thumbnail-image {
  /*color: rgb(255,255,255);*/
  /*border-color: white;*/
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

/* line 664, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-hoverable:hover > .nrg-ui-thumbnail-text {
  color: #d7d7d7;
}

/* line 668, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-image, .nrg-ui-thumbnail-canvas {
  position: absolute;
  width: 70px;
  height: 70px;
  top: calc(50% - 35px);
  left: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #1e1e1e;
  /*border : none;
  border-color: rgb(100,100,100);
  border-width : 1px;
  border-radius: 0px;	
  box-sizing: border-box; */
  cursor: pointer;
}

/* line 692, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-text {
  position: absolute;
  height: 70px;
  top: 8px;
  left: 86px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 9;
  white-space: nowrap;
  color: #505050;
  line-height: 17px;
}

/* line 706, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-text-mouseover {
  color: #9b9b9b;
}

/* line 711, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-canvas {
  top: 8px;
  left: 8px;
}

/*******
* Active state
********/
/* line 722, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-text-active {
  /*color : rgb(100,100,100);*/
}

/* line 726, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-active {
  opacity: 1;
}

/* line 731, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnail-image-active {
  /*border-left: solid 2px rgb(100,100,100);*/
}

/* line 737, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnailgallery {
  position: absolute;
  overflow: hidden;
}

/* line 745, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnailgallery-thumbnail {
  position: relative;
  width: 100%;
  height: 176px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

/* line 755, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnailgallery-thumbnail-image {
  position: absolute;
  width: 160px;
  height: 160px;
  top: 8px;
  left: 8px;
  overflow-y: hidden;
  overflow-x: hidden;
  border: solid;
  border-color: white;
  border-width: 1px;
  border-radius: 0px;
  cursor: pointer;
}

/* line 771, ../../nrg/sass/nrg.scss */
.nrg-ui-thumbnailgallery-thumbnail-text {
  position: absolute;
  height: 70px;
  top: 8px;
  left: 176px;
  color: white;
  font-size: 9px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  line-height: 17px;
}

/* line 782, ../../nrg/sass/nrg.scss */
.nrg-ui-resizable-boundary {
  position: absolute;
  border: 1px dotted red;
  background-color: rgba(255, 120, 120, 0.5);
}

/* line 789, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedragger {
  position: absolute;
  font-size: 0.1px;
  z-index: 1;
  /*background-color: rgba(255,20,20, 0);*/
}

/**
  RIGHT AND LEFT
*/
/* line 800, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggerright, .nrg-ui-resizedraggerleft {
  position: absolute;
  width: 7px;
  height: 100%;
  cursor: ew-resize;
}

/* line 807, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggerright {
  left: 100%;
  /*background-color: rgba(0,255,0,.5);*/
}

/* line 812, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggerleft {
  left: -7px;
}

/**
 * TOP AND BOTTOM
 */
/* line 822, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggertop, .nrg-ui-resizedraggerbottom {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 7px;
  cursor: ns-resize;
}

/* line 830, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggertop {
  top: -7px;
  /*background-color: rgba(0,255,0,.5);*/
}

/* line 835, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggerbottom {
  top: 100%;
  /*background-color: rgba(255,0,0,.5);*/
}

/**
 * CORNERS
 */
/* line 847, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggertopright,
.nrg-ui-resizedraggertopleft,
.nrg-ui-resizedraggerbottomright,
.nrg-ui-resizedraggerbottomleft {
  position: absolute;
  width: 14px;
  height: 14px;
  cursor: move;
}

/* line 858, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggertopright,
.nrg-ui-resizedraggertopleft {
  top: calc(100% - 7px);
}

/* line 863, ../../nrg/sass/nrg.scss */
.nrg-ui-resizedraggertopright {
  left: calc(100% - 7px);
  /*background-color: orange;*/
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/**
 * ELEMENT
 */
/* line 875, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs {
  position: absolute;
  left: 0px;
}

/* line 880, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-right {
  left: 0px;
}

/* line 885, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-left {
  left: calc(100% - 18px);
}

/* line 890, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-top {
  top: calc(100% - 18px);
}

/* line 895, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-bottom {
  top: 0px;
}

/**
 * TABS
 */
/* line 906, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 0px;
  color: #646464;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: #1e1e1e;
  cursor: pointer;
  border: solid 1px #3c3c3c;
  text-align: center;
}

/* line 920, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-top {
  height: 18px;
  top: 0px;
  border-radius: 4px 4px 0px 0px;
  border-bottom: none;
}

/* line 928, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-bottom {
  height: 18px;
  top: calc(100% - 18px);
  border-radius: 0px 0px 4px 4px;
  border-top: none;
}

/* line 936, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-right {
  width: 22px;
  left: calc(100% - 22px);
  /*border-radius: 0px 4px 4px 0px;*/
  border-left: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* line 946, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-left {
  width: 18px;
  left: 0px;
  /*border-radius: 4px 0px 0px 4px;*/
  border-right: none;
}

/* line 954, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-active {
  border: solid 1px #646464;
}

/* line 959, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-active-right {
  border-left: none;
}

/* line 964, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-active-top {
  border-bottom: none;
}

/* line 969, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-tab-active {
  z-index: 1;
}

/* line 974, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-icon {
  color: #646464;
  z-index: 11;
  color: #646464;
  font-size: 10px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: table;
}

/* line 987, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-icon-active {
  color: #646464;
}

/* line 992, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-icon-top {
  width: 100%;
  height: 100%;
}

/* line 998, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-icon-right {
  left: -24px;
  top: calc(50% - 5px);
  white-space: nowrap;
}

/* line 1007, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-icon-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* line 1014, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-page {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  color: #646464;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background-color: black;
  width: 100%;
  border: solid 1px #3c3c3c;
  visibility: hidden;
  overflow: hidden;
}

/* line 1028, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-page-content {
  position: absolute;
  left: 0px;
  top: 10px;
  height: calc(100% - 20px);
  width: 100%;
  z-index: 2;
}

/* line 1039, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-page-active {
  border: solid 1px #646464;
  visibility: visible;
  z-index: 2;
}

/* line 1046, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-page-right, .nrg-ui-tabs-page-left {
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  width: calc(100% - 18px);
  border-right: none;
  border-left: none;
}

/* line 1057, ../../nrg/sass/nrg.scss */
.nrg-ui-tabs-page-top, .nrg-ui-tabs-page-bottom {
  position: absolute;
  top: 18px;
  left: 0px;
  height: calc(100% - 18px);
  width: 100%;
  border-bottom: none;
}

/**
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 1070, ../../nrg/sass/nrg.scss */
.nrg-ui-ziptabs {
  position: absolute;
}

/* line 1075, ../../nrg/sass/nrg.scss */
.nrg-ui-ziptabs:hover {
  opacity: 1;
}

/* line 1081, ../../nrg/sass/nrg.scss */
.nrg-ui-ziptabs-top, .nrg-ui-ziptabs-bottom {
  height: 18px;
}

/* line 1086, ../../nrg/sass/nrg.scss */
.nrg-ui-ziptabs-left, .nrg-ui-ziptabs-right {
  width: 18px;
  opacity: .7;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-property: opacity;
}

/* line 1095, ../../nrg/sass/nrg.scss */
.nrg-ui-ziptabs-right:hover {
  opacity: 1;
}

/**
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1109, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-icon {
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

/* line 1116, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-icon-hovered {
  opacity: 1;
}

/* line 1121, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-menuholder {
  position: absolute;
  background-color: #ff6416;
  z-index: 4000;
}

/* line 1128, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-menu {
  background-color: #7d7d7d;
  border: solid 1px #323232;
  z-index: 20000;
  cursor: pointer;
  width: 130px;
}

/* line 1137, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-menuitem {
  overflow: visible;
  margin-left: 5px;
  margin-top: 7px;
  height: 20px;
}

/* line 1145, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-menuitem-highlight {
  color: white;
}

/* line 1149, ../../nrg/sass/nrg.scss */
.nrg-ui-slideinmenu-menuitem-icon {
  position: absolute;
  margin-top: -3px;
  left: 5px;
  width: 20px;
  height: 20px;
}

/* line 4, layoutframe.scss */
.xiv-ui-layouts-layoutframe {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  background: black;
}

/* line 24, layoutframe.scss */
.xiv-ui-layouts-layoutframe-sagittal, .xiv-ui-layouts-layoutframe-coronal,
.xiv-ui-layouts-layoutframe-transverse, .xiv-ui-layouts-layoutframe-threed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* line 4, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout {
  position: absolute;
}

/* line 9, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-x, .xiv-ui-layouts-xyzvlayout-y,
.xiv-ui-layouts-xyzvlayout-z, .xiv-ui-layouts-xyzvlayout-v {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 29, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slide-maxthumb, .xiv-ui-layouts-xyzvlayout-slider:hover > .xiv-ui-layouts-xyzvlayout-slider-thumb, .xiv-ui-layouts-xyzvlayout-slider:active > .xiv-ui-layouts-xyzvlayout-slider-thumb {
  height: 8px;
  top: 14px;
}

/* line 35, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider {
  position: absolute;
  left: 30px;
  top: calc(100% - 30px);
  width: calc(100% - 40px);
  height: 30px;
  /*background-color: rgba(20,100,0,.2);*/
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  /*
      &:hover ~ .xiv-ui-playbutton {
  	top: calc(100% - 24px);
      }
  */
}
/* line 53, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider:hover > .xiv-ui-layouts-xyzvlayout-slider-track-x, .xiv-ui-layouts-xyzvlayout-slider:active > .xiv-ui-layouts-xyzvlayout-slider-track-x {
  /*
  height: 6px;
  top: 6px; */
  opacity: 1;
  border-color: rgba(150, 150, 150, 0.2);
  background-color: rgba(255, 0, 0, 0.8);
}
/* line 57, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider:hover > .xiv-ui-layouts-xyzvlayout-slider-track-y, .xiv-ui-layouts-xyzvlayout-slider:active > .xiv-ui-layouts-xyzvlayout-slider-track-y {
  /*
  height: 6px;
  top: 6px; */
  opacity: 1;
  border-color: rgba(150, 150, 150, 0.2);
  background-color: rgba(0, 255, 0, 0.8);
}
/* line 61, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider:hover > .xiv-ui-layouts-xyzvlayout-slider-track-z, .xiv-ui-layouts-xyzvlayout-slider:active > .xiv-ui-layouts-xyzvlayout-slider-track-z {
  /*
  height: 6px;
  top: 6px; */
  opacity: 1;
  border-color: rgba(150, 150, 150, 0.2);
  background-color: rgba(0, 0, 255, 0.8);
}

/* line 78, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider-track, .xiv-ui-layouts-xyzvlayout-slider-track-x,
.xiv-ui-layouts-xyzvlayout-slider-track-y,
.xiv-ui-layouts-xyzvlayout-slider-track-z {
  position: absolute;
  height: 1px;
  top: 18px;
  left: 0px;
  border-radius: 2px;
  border: solid 1px #646464;
  width: 100%;
  transition-property: top, height;
  background-color: rgba(50, 50, 50, 0.5);
  transition-property: border-color, opacity, height, top;
  opacity: .5;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 99, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider-track-x,
.xiv-ui-layouts-xyzvlayout-slider-track-y,
.xiv-ui-layouts-xyzvlayout-slider-track-z {
  /*transition-property: opacity, height, top;*/
}

/* line 110, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider-thumb {
  position: absolute;
  width: 8px;
  background: #969696;
  border: solid 1px #bebebe;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 3px rgba(125, 125, 125, 0);
  height: 1px;
  top: calc(100% - 12px);
  transition-property: box-shadow, top, height;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 127, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider-thumb:hover {
  box-shadow: 0px 0px 0px 3px rgba(155, 155, 155, 0.55);
}

/* line 131, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-slider-thumb:active {
  box-shadow: 0px 0px 0px 3px rgba(155, 155, 155, 0.55);
}

/* line 136, xyzvlayout.scss */
.xiv-ui-layouts-xyzvlayout-framenumber {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  margin-left: -8px;
  color: white;
  font-size: 9px;
  opacity: .8;
  text-align: right;
}

/* line 6, thumbnail.scss */
.xiv-ui-thumbnail {
  position: absolute;
  overflow: visible;
}

/* line 13, thumbnail.scss */
.xiv-ui-thumbnail-image {
  position: absolute;
  overflow: visible;
}

/*
@mixin appearanimate($animname) {
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: $animname;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-name: $animname;
    animation-duration: 0s;
    animation-iteration-count: 1;
}

@-webkit-keyframes infoappear {
  from { 
      visibility: visible;
      opacity: 0;
  }
  to { 
      visibility: visible;
      opacity: 1;
  }
}

@-webkit-keyframes infodisappear {
  from { 
      visibility: visible;
      opacity: 1;
  }
  to { 
      opacity: 0;
      visibility: hidden;
  }
}
*/
/* line 54, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-appear {
  visibility: visible;
  opacity: 1;
}

/* line 60, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-disappear {
  opacity: 0;
  visibility: hidden;
}

/* line 66, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo {
  position: absolute;
  z-index: 1000;
  top: 0%;
  left: 50%;
  padding: 10px 10px 10px 10px;
  white-space: nowrap;
  background-color: #1e1e1e;
  box-shadow: 10px 10px 5px rgba(30, 30, 30, 0.6);
  border-radius: 6px;
  border: solid 1px #646464;
}

/** 
 Metadata div's arrow

 Generated by: http://cssarrowplease.com/
*/
/* line 86, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-arrow {
  position: absolute;
  z-index: 1001;
  opacity: 0;
}

/* line 92, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-arrowbottom, .xiv-ui-thumbnail-hoverinfo-arrowtop {
  position: absolute;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  backgroound-color: transparent;
  pointer-events: none;
}

/* line 102, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-arrowbottom {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #646464;
  border-width: 10px;
  margin-top: -10px;
}

/* line 109, thumbnail.scss */
.xiv-ui-thumbnail-hoverinfo-arrowtop {
  border-color: transparent;
  border-right-color: #1e1e1e;
  border-width: 8px;
  margin-top: -8px;
  left: 4px;
}

/* line 118, thumbnail.scss */
.xiv-ui-thumbnail:hover > .xiv-ui-thumbnail-infohovertext {
  opacity: 1;
}

/* line 122, thumbnail.scss */
.xiv-ui-thumbnail-infohovertext {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #505050;
  position: absolute;
  right: 5px;
  opacity: 0;
}

/* line 131, thumbnail.scss */
.xiv-ui-thumbnail-infohovertext:hover {
  color: #787878;
  text-decoration: underline;
}

/* line 22, xiv.scss */
.xiv-ui-xtkcontroller {
  display: block;
  position: relative;
  width: 95%;
  margin-bottom: 10px;
  margin-top: 5px;
}

/* line 31, xiv.scss */
.xiv-ui-xtkcontroller-label {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*
 * Standard styling for the scroll gallery
 *
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 51, xiv.scss */
.xiv-ui-xtkcontroller-scrollgallery {
  top: 25px;
  left: 0px;
  width: 100%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* line 63, xiv.scss */
.xiv-ui-xtkcontroller-scrollgallery-scrollarea {
  position: relative;
  width: 166px;
  left: 14px;
}

/* line 70, xiv.scss */
.xiv-ui-xtkcontroller-scrollgallery-zippyheader {
  position: relative;
  background-color: #464646;
  left: 0px;
  color: black;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  cursor: pointer;
}

/* line 79, xiv.scss */
.xiv-ui-xtkcontroller-scrollgallery-slider-widget {
  width: 7;
  background-color: black;
  border: none;
}

/* line 87, xiv.scss */
.xiv-ui-xtkcontroller-scrollgallery-slider-thumb {
  height: 60px;
  background-color: #787878;
  border: none;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 96, xiv.scss */
.xiv-vis-xtkplane-disabledoverlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: table;
  color: black;
  font-size: 20px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  z-index: 100;
  background-color: #787878;
  opacity: 0;
}

/* line 114, xiv.scss */
.xiv-ui-displayall-checkboxholder {
  position: absolute;
  left: 30%;
}

/* line 126, xiv.scss */
.xiv-ui-sliderbase-slider {
  position: absolute;
  left: calc(55% - 65px);
  width: calc(55% - 65px);
  top: 2px;
  outline: none;
}

/* line 136, xiv.scss */
.xiv-ui-sliderbase-slider-track, .xiv-ui-slidercontroller-slider-track, .xiv-ui-twothumbslidercontroller-slider-track {
  position: absolute;
  height: 1px;
  width: 100%;
  top: calc(50% - 2px);
  background-color: #969696;
  z-index: -1;
  outline: 0;
}

/* line 148, xiv.scss */
.xiv-ui-sliderbase-slider-thumb, .xiv-ui-twothumbslidercontroller-slider-thumb-extent, .xiv-ui-twothumbslidercontroller-slider-thumb-value {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 0px;
  margin-top: -5px;
  background-color: #c8c8c8;
  border: solid 1px white;
  overflow: hidden;
  outline: 0;
  top: 4px;
  border-radius: 2px;
  box-sizing: content-box;
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0);
  transition-property: box-shadow;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

/* line 168, xiv.scss */
.xiv-ui-sliderbase-slider-thumb:hover, .xiv-ui-twothumbslidercontroller-slider-thumb-extent:hover, .xiv-ui-twothumbslidercontroller-slider-thumb-value:hover,
.xiv-ui-sliderbase-slider-thumb:active,
.xiv-ui-twothumbslidercontroller-slider-thumb-extent:active,
.xiv-ui-twothumbslidercontroller-slider-thumb-value:active {
  box-shadow: 0px 0px 0px 3px rgba(255, 255, 255, 0.55);
}

/* line 174, xiv.scss */
.xiv-ui-sliderbase-slider-track-hover {
  box-sizing: content-box;
}

/* line 179, xiv.scss */
.xiv-ui-sliderbase-valueinput {
  position: absolute;
  top: 0px;
  left: calc(100% - 56px);
  width: 50px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  outline: none;
}

/* line 189, xiv.scss */
.xiv-ui-sliderbase-valueinput-display,
.xiv-ui-sliderbase-valueinput-box {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 195, xiv.scss */
.xiv-ui-sliderbase-valueinput-box {
  height: 17px;
}

/* line 212, xiv.scss */
.xiv-ui-slidercontroller-slider {
  position: absolute;
  left: calc(55% - 65px);
  width: calc(55% - 65px);
  outline: none;
}

/* line 227, xiv.scss */
.xiv-ui-slidercontroller-slider-track-hover {
  box-sizing: content-box;
}

/* line 232, xiv.scss */
.xiv-ui-slidercontroller-value-input {
  top: -3px;
  width: 46px;
  left: calc(100% - 56px);
  background-color: transparent;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 240, xiv.scss */
.xiv-ui-buttoncontroller {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
}

/* line 245, xiv.scss */
.xiv-ui-buttoncontroller-element {
  top: 5px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: black;
  cursor: pointer;
  height: 22px;
  border-radius: 0px;
  border: none;
  background: #c8c8c8;
  width: 60px;
  font-weight: normal;
}

/* line 258, xiv.scss */
.xiv-ui-twothumbslidercontroller {
  outline: 0;
}

/* line 265, xiv.scss */
.xiv-ui-twothumbslidercontroller-slider {
  position: absolute;
  top: 20px;
  left: 25%;
  width: calc(70% - 140px);
  outline: 0;
}

/* line 280, xiv.scss */
.xiv-ui-twothumbslidercontroller-slider-thumb, .xiv-ui-twothumbslidercontroller-slider-thumb-extent, .xiv-ui-twothumbslidercontroller-slider-thumb-value {
  top: -1px;
}

/* line 290, xiv.scss */
.xiv-ui-twothumbslidercontroller-slider-thumb-value {
  left: 0px;
}

/* line 298, xiv.scss */
.xiv-ui-twothumbslidercontroller-value-input,
.xiv-ui-twothumbslidercontroller-extent-input {
  position: absolute;
  top: 0px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 306, xiv.scss */
.xiv-ui-twothumbslidercontroller-value-input {
  left: calc(100% - 140px);
}

/* line 311, xiv.scss */
.xiv-ui-twothumbslidercontroller-extent-input {
  left: calc(100% - 68px);
}

/* line 313, xiv.scss */
.xiv-ui-checkboxcontroller {
  outline: none;
}

/* line 319, xiv.scss */
.xiv-ui-checkboxcontroller-checkboxholder {
  position: absolute;
  top: 0px;
  left: 50%;
  outline: none;
}

/* line 324, xiv.scss */
.xiv-ui-radiobuttoncontroller-radiobutton {
  position: absolute;
  top: 0px;
  left: 50%;
}

/* line 328, xiv.scss */
.xiv-ui-colorpalettecontroller {
  position: absolute;
  width: 450px;
  height: 300px;
  top: 0px;
  left: 30%;
}

/* line 337, xiv.scss */
.xiv-ui-colorpalettecontroller-colorsquare {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 11px;
  width: 11px;
  border: solid 1px #5a5a5a;
  background-color: red;
  cursor: pointer;
}

/* line 349, xiv.scss */
.xiv-ui-colorpalettecontroller-colorpaletteholder {
  /*
      position: absolute;
      top: 15px;
      left: 0px;
      width: 420px;
      height: 300px;
      background-color: rgb(0,0,0);
      border: solid 1px white;
  */
}

/* line 362, xiv.scss */
.xiv-ui-colorpalettecontroller-colorpalette {
  position: absolute;
  top: 10px;
  left: 10px;
  border: none;
}

/* line 370, xiv.scss */
.xiv-ui-colorpalettecontroller-closebutton {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 100%;
  margin-left: -15px;
  width: 10px;
  height: 10px;
  content: url("../../../../images/viewer/xiv/ui/Modal/close.png");
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 384, xiv.scss */
.xiv-ui-helpdialog {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  border: solid 1px white;
  font-size: 8px;
  color: white;
  text-align: left;
  top: 10%;
  left: 10%;
  height: 300px;
  width: 400px;
  z-index: 20000;
}

/* line 400, xiv.scss */
.xiv-ui-helpdialog-title {
  height: 15px;
}

/* line 404, xiv.scss */
.xiv-ui-helpdialog-closebutton {
  top: 2px;
  left: calc(100% - 12px);
}

/* line 410, xiv.scss */
.xiv-ui-helpdialog-scrollablezippytree {
  position: absolute;
  top: 25px;
  left: 0px;
  width: calc(100% - 14px);
  height: calc(100% - 40px);
}

/* line 420, xiv.scss */
.xiv-ui-helpdialog-text {
  position: absolute;
  text-align: left;
  color: white;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  white-space: normal;
  padding: 8px;
  top: 20px;
  left: 20px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 435, xiv.scss */
.xiv-ui-viewbox {
  top: 0px;
  left: 80px;
  width: 500px;
  height: 500px;
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  z-index: 0;
}

/* line 448, xiv.scss */
.xiv-ui-viewbox-instructions {
  color: white;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #787878;
}

/* line 457, xiv.scss */
.xiv-ui-viewbox:hover {
  z-index: 2;
}

/* line 462, xiv.scss */
.xiv-ui-viewbox-hidden {
  visibility: hidden;
}

/* line 467, xiv.scss */
.xiv-ui-viewbox-draganddrophandle {
  position: absolute;
  cursor: pointer;
  width: 6px;
  height: 13px;
  opacity: .4;
  z-index: 1000;
  margin-left: -10px;
}

/* line 479, xiv.scss */
.xiv-ui-viewbox-tabdragger {
  background-color: #282828;
  height: 10px;
}

/* line 485, xiv.scss */
.xiv-ui-viewbox-tabdragger-handle {
  position: absolute;
  top: calc(50% - 1.5px);
  left: calc(50% - 15px);
  width: 30px;
  height: 3px;
  background-color: #646464;
}

/* line 496, xiv.scss */
.xiv-ui-viewbox-viewlayoutmenu {
  height: 14px;
  width: 14px;
  cursor: pointer;
}

/* line 524, xiv.scss */
.xiv-ui-viewbox-viewframe {
  position: absolute;
  top: 0px;
  left: 22px;
  width: calc(100% - 22px);
  height: calc(100% - 2px);
  background-color: black;
  position: absolute;
  overflow: visible;
}

/* line 536, xiv.scss */
.xiv-ui-viewbox-viewframe-border-right {
  background-color: #323232;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 1px;
  height: 100%;
  right: 0px;
}

/* line 542, xiv.scss */
.xiv-ui-viewbox-viewframe-border-left {
  background-color: #323232;
  position: absolute;
  z-index: 1;
  top: 0px;
  width: 1px;
  height: 100%;
  left: 0px;
}

/* line 548, xiv.scss */
.xiv-ui-viewbox-viewframe-border-top {
  background-color: #323232;
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 100%;
  height: 1px;
  top: 0px;
}

/* line 554, xiv.scss */
.xiv-ui-viewbox-viewframe-border-bottom {
  background-color: #323232;
  position: absolute;
  z-index: 1;
  left: 0px;
  width: 100%;
  height: 1px;
  bottom: 0px;
}

/* line 561, xiv.scss */
.xiv-ui-viewbox-ziptabs {
  left: 0px;
  width: 100%;
}

/* line 567, xiv.scss */
.xiv-ui-viewbox-ziptab-bounds {
  position: absolute;
  cursor: auto;
  left: 0px;
  top: 300px;
  height: calc(100% - 300px);
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
}

/* line 578, xiv.scss */
.xiv-ui-viewbox-viewlayouthandler {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  position: absolute;
}

/* line 587, xiv.scss */
.xiv-ui-viewbox-viewablegroupmenu {
  z-index: 100;
}

/* line 592, xiv.scss */
.xiv-ui-viewbox-menu-left,
.xiv-ui-viewbox-menu-top-left {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  display: block;
  overflow: hidden;
  width: 22px;
  border-top: solid #646464 1px;
  border-left: solid #646464 1px;
  border-bottom: solid #646464 1px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: black;
  opacity: .5;
  transition-property: opacity;
  z-index: 0;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 613, xiv.scss */
.xiv-ui-viewbox-menu-left:hover {
  opacity: 1;
}

/* line 617, xiv.scss */
.xiv-ui-viewbox-menu-top-left:hover {
  opacity: 1;
}

/* line 625, xiv.scss */
.xiv-ui-viewbox-menu-left {
  top: calc(50% - 57px);
}

/* line 631, xiv.scss */
.xiv-ui-viewbox-button-threedtoggle {
  width: 15px;
  height: 15px;
  opacity: .5;
}

/* line 638, xiv.scss */
.xiv-ui-viewbox-button-threedtoggle-on {
  opacity: 1;
  background-color: black;
}

/* line 646, xiv.scss */
.xiv-ui-viewbox-button-crosshairtoggle {
  width: 15px;
  height: 15px;
  opacity: .5;
}

/* line 651, xiv.scss */
.xiv-ui-viewbox-button-crosshairtoggle-on {
  opacity: 1;
  background-color: black;
}

/* line 658, xiv.scss */
.xiv-ui-viewbox-button-brightnesscontrasttoggle {
  width: 15px;
  height: 15px;
  opacity: .5;
}

/* line 663, xiv.scss */
.xiv-ui-viewbox-button-brightnesscontrasttoggle-on {
  opacity: 1;
  background-color: black;
}

/* line 669, xiv.scss */
.xiv-ui-viewbox-component-highlight {
  /*box-shadow: 0px 0px 1px 1px rgba(255,255,255, 1);*/
}

/* line 675, xiv.scss */
.xiv-ui-viewbox-inusedialog {
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 125px);
  width: 250px;
  height: 120px;
  background: black;
  background-color: black;
  border: 1px solid white;
  padding: 4px;
  color: white;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border-radius: 10px;
  outline: 0;
  z-index: 200;
}

/* line 693, xiv.scss */
.xiv-ui-viewbox-emptymenubutton {
  width: 15px;
  height: 15px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 706, xiv.scss */
.xiv-ui-viewboxdialogs-generic-toggle {
  width: 15px;
  height: 15px;
  opacity: .5;
  background-color: black;
}

/* line 714, xiv.scss */
.xiv-ui-viewboxdialogs-generic-toggle-on {
  opacity: 1;
  background-color: black;
}

/* line 722, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog {
  position: absolute;
  background-color: transparent;
  color: #9b9b9b !important;
  top: 0px;
  left: 0px;
  width: 200px;
  z-index: 10;
  border: none;
  cursor: default;
  border: solid 1px;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0);
  background-color: rgba(60, 60, 60, 0);
  transition-property: color, background-color, border-color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 742, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog-text {
  color: #9b9b9b;
  transition-property: color;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

/* line 749, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog:hover {
  color: white !important;
  border-color: white;
  background-color: rgba(60, 60, 60, 0.5);
}

/* line 756, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog-content:hover > .xiv-ui-viewboxdialogs-infodialog-text {
  color: white;
}

/* line 761, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog-title {
  opacity: 0;
  transition-property: opacity;
}

/* line 768, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog,
.xiv-ui-viewboxdialogs-infodialog-title {
  transition-duration: .15s;
  transition-timing-function: ease-out;
}

/* line 775, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog:hover > .xiv-ui-viewboxdialogs-infodialog-title {
  opacity: 1;
}

/* line 795, xiv.scss */
.xiv-ui-viewboxdialogs-infodialog-text {
  white-space: nowrap;
  text-align: left;
  font-size: 12px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 814, xiv.scss */
.xiv-ui-viewboxinteractorhandler-generic-toggle {
  width: 15px;
  height: 15px;
  opacity: .5;
}

/* line 821, xiv.scss */
.xiv-ui-viewboxinteractorhandler-generic-toggle-on {
  opacity: 1;
  background-color: black;
}

/* line 828, xiv.scss */
.xiv-ui-viewboxinteractorhandler-generic-zippytree {
  top: 30px;
  width: calc(100% - 20px);
  height: calc(100% - 30px);
}

/* line 836, xiv.scss */
.xiv-ui-viewboxinteractorhandler-generic-dialog {
  width: 470px;
  height: 330px;
  cursor: default;
  z-index: 1000000;
}

/* line 845, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-grab {
  cursor: hand;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

/* line 854, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-grabbing {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* line 860, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-grab-custom {
  cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}

/* line 865, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-grabbing-custom {
  cursor: url(https://mail.google.com/mail/images/2/closedhand.cur), default !important;
}

/* line 870, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-zoom-in {
  cursor: zoom-in;
  cursor: -webkit-zoom-in;
}

/* line 876, xiv.scss */
.xiv-ui-viewboxinteractorhandler-viewframe-zoom-out {
  cursor: zoom-out;
  cursor: -webkit-zoom-out;
}

/* line 883, xiv.scss */
.xiv-ui-viewboxinteractorhandler-zoom-follower {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: absolute;
  z-index: 1000;
  visibility: hidden;
  text-wrap: none;
  width: 200px;
}

/* line 894, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog {
  position: absolute;
  font-size: 12px;
  top: 0px;
  color: white;
  left: 0px;
  width: 200px;
  z-index: 10;
  cursor: default;
  overflow: hidden;
  /* transition styles */
  height: 150px;
  border-color: transparent;
  background-color: transparent;
  transition-property: height, background-color, border-color;
}

/* line 912, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog:hover {
  height: 440px;
  background-color: rgba(0, 0, 0, 0.9);
  border-color: white;
}

/* line 919, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
  opacity: 0;
  transition-property: opacity;
}

/* line 924, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog,
.xiv-ui-viewboxinteractorhandler-levelsdialog-title {
  transition-duration: .3s;
  /*transition-timing-function: ease-out;*/
}

/* line 930, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title {
  opacity: 1;
}

/* line 934, xiv.scss */
.xiv-ui-viewboxinteractorhandler-levelsdialog-max:hover > .xiv-ui-viewboxinteractorhandler-levelsdialog-title {
  opacity: 1;
}

/* line 941, xiv.scss */
.xiv-ui-viewboxinteractorhandler-histdetails {
  position: relative;
  height: 17px;
  width: 100%;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  border: solid 1px rgba(80, 80, 80, 0);
  transition-property: height, border;
  transition-duration: .3s;
  overflow: hidden;
}

/* line 957, xiv.scss */
.xiv-ui-viewboxinteractorhandler-histdetails-expandbutton {
  background-color: #505050;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 15px;
  width: 100%;
  padding-left: 5px;
  padding-top: 1px;
  z-index: 2;
}

/* line 971, xiv.scss */
.xiv-ui-viewboxinteractorhandler-histdetails-fadebottom {
  visibility: hidden;
  position: absolute;
  width: 100%;
  top: calc(100% - 100px);
  height: 100px;
  left: 0px;
  background: linear-gradient(to bottom, transparent 0%, black 100%);
}

/* line 982, xiv.scss */
.xiv-ui-viewboxinteractorhandler-histdetails:hover {
  border: solid 1px #505050;
  height: 110px;
}

/*
 * Standard styling for the Modal
 *
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 994, xiv.scss */
.xiv-ui-nomobilemodal {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 1004, xiv.scss */
.xiv-ui-nomobilemodal-content {
  color: white;
  font-size: 12px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 1017, xiv.scss */
.xiv-ui-modal {
  position: fixed;
  background-color: black;
  border: none;
  z-index: 4;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 1029, xiv.scss */
.xiv-ui-modal-windowed {
  position: fixed;
  border: solid 1px black;
  border-radius: 20px;
  top: 10px;
  left: 10px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

/* line 1042, xiv.scss */
.xiv-ui-modal-background {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* line 1054, xiv.scss */
.xiv-ui-modal-background-black {
  background-color: black;
  color: black;
}

/* line 1060, xiv.scss */
.xiv-ui-modal-close-button {
  position: absolute;
  cursor: pointer;
  top: 10px;
  left: 100%;
  margin-left: -20px;
  width: 10px;
  height: 10px;
}

/* line 1071, xiv.scss */
.xiv-ui-modal-fullscreen-button, .xiv-ui-modal-windowed-button {
  position: absolute;
  cursor: pointer;
  top: 27px;
  left: 100%;
  margin-left: -20px;
  width: 11px;
  height: 11px;
}

/* line 1090, xiv.scss */
.xiv-ui-modal-popup-button {
  position: absolute;
  cursor: pointer;
  top: 45px;
  left: 100%;
  margin-left: -21px;
  width: 12px;
  height: 12px;
}

/* line 1103, xiv.scss */
.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button,
.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

/* line 1112, xiv.scss */
.xiv-ui-modal-insertcolumn-button, .xiv-ui-modal-removecolumn-button {
  left: 100%;
  top: 50%;
  margin-left: -19px;
  width: 8px;
  height: 24px;
}

/* line 1121, xiv.scss */
.xiv-ui-modal-insertcolumn-button {
  margin-top: -10px;
}

/* line 1126, xiv.scss */
.xiv-ui-modal-removecolumn-button {
  margin-top: 10px;
}

/* line 1133, xiv.scss */
.xiv-ui-modal-insertrow-button, .xiv-ui-modal-removerow-button {
  top: 100%;
  left: 50%;
  margin-top: -23px;
  width: 24px;
  height: 8px;
}

/* line 1143, xiv.scss */
.xiv-ui-modal-insertrow-button {
  margin-left: -10px;
}

/* line 1148, xiv.scss */
.xiv-ui-modal-removerow-button {
  margin-left: 10px;
}

/* line 1153, xiv.scss */
.xiv-ui-modal-projecttab-bounds {
  position: absolute;
  top: 29px;
  left: 0px;
  height: calc(100% - 58px);
  width: 30%;
  background-color: rgba(120, 220, 120, 0);
}

/* line 1163, xiv.scss */
.xiv-ui-modal-projecttab {
  left: 0px;
  height: calc(100% - 60px);
  top: 29px;
  border-radius: 0px;
}

/* line 1171, xiv.scss */
.xiv-ui-modal-projecttab-dragger {
  left: calc(100%);
  width: 10px;
  background-color: #2d2d2d;
  top: 29px;
  height: calc(100% - 58px);
  border-radius: 0px 4px 4px 0px;
  opacity: 0;
}

/* line 1183, xiv.scss */
.xiv-ui-modal-projecttab-dragger-handle {
  position: absolute;
  width: 4px;
  left: 3px;
  height: 30px;
  top: calc(50% - 15px);
  background-color: #646464;
  border-radius: 4px;
}

/* line 1195, xiv.scss */
.xiv-ui-modal-addsubjects {
  width: 87%;
  height: 40px;
  line-height: 40px;
  top: calc(100% - 50px);
  background-color: #646464;
  position: absolute;
  left: 8%;
  z-index: 200;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  opacity: .7;
  border-radius: 5px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 1214, xiv.scss */
.xiv-ui-modal-addsubjects-hovered {
  opacity: 1;
}

/* line 1219, xiv.scss */
.xiv-ui-modal-foldericon {
  position: absolute;
  left: calc(50% - 9px);
  height: 15px;
  width: 15px;
  opacity: .5;
  top: 5px;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1239, xiv.scss */
.xiv-ui-thumbnailgallery {
  position: absolute;
  left: 0px;
  width: calc(100% - 10px);
}

/* line 1247, xiv.scss */
.xiv-ui-thumbnailgallery-thumbnail-dragging {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
  position: absolute;
  width: 87px;
  height: 87px;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: black;
  z-index: 2;
  opacity: .85;
  width: 150px;
  background-color: transparent;
  opacity: .5;
  border: none;
}

/*#
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 1268, xiv.scss */
.xiv-ui-viewboxhandler-handle {
  position: relative;
  cursor: pointer;
  width: 7px;
  margin-left: -1px;
  height: 17px;
  opacity: .5;
}

/* line 1279, xiv.scss */
.xiv-ui-viewboxhandler-viewboxdragclone {
  border: solid 1px white;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

/* line 1286, xiv.scss */
.xiv-ui-viewboxhandler-closebutton {
  position: absolute;
  height: 9px;
  width: 9px;
  outline: 0;
  cursor: pointer;
  opacity: .6;
}

/* line 1297, xiv.scss */
.xiv-ui-viewboxhandler-closebutton-hovered {
  opacity: 1;
}

/* line 1303, xiv.scss */
.xiv-ui-viewboxhandler-addrowbutton {
  position: absolute;
  height: 5px;
  width: 10px;
  outline: 0;
  cursor: pointer;
  opacity: .6;
}

/* line 1314, xiv.scss */
.xiv-ui-viewboxhandler-addrowbutton-hovered {
  opacity: 1;
}

/* line 1319, xiv.scss */
.xiv-ui-viewboxhandler-addcolumnbutton {
  position: absolute;
  height: 10px;
  width: 5px;
  margin-left: 5px;
  outline: 0;
  cursor: pointer;
  opacity: .6;
}

/* line 1331, xiv.scss */
.xiv-ui-viewboxhandler-addcolumnbutton-hovered {
  opacity: 1;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 1339, xiv.scss */
.xiv-ui-layouts-layouthandler {
  position: absolute;
  background: black;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1358, xiv.scss */
.xiv-ui-layouts-layout {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1369, xiv.scss */
.xiv-ui-levelscontroller {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1377, xiv.scss */
.xiv-ui-levelscontroller-sliderlabel,
.xiv-ui-levelscontroller-twothumbsliderlabel {
  position: absolute;
  font-size: 12px;
  top: 6px;
}

/* line 1385, xiv.scss */
.xiv-ui-levelscontroller-twothumbsliderlabel {
  left: 10px;
  font-size: 10px;
  top: 0px;
}

/* line 1391, xiv.scss */
.xiv-ui-levelscontroller-slidercontroller,
.xiv-ui-levelscontroller-twothumbslidercontroller {
  height: 40px;
}

/* line 1397, xiv.scss */
.xiv-ui-levelscontroller-slidercontroller {
  width: 80%;
}

/* line 1401, xiv.scss */
.xiv-ui-levelscontroller-twothumbslidercontroller {
  height: 45px;
  width: 90%;
}

/* line 1408, xiv.scss */
.xiv-ui-levelscontroller-slider {
  left: 0%;
  top: 28px;
  width: 95%;
}

/* line 1415, xiv.scss */
.xiv-ui-levelscontroller-twothumbslider {
  left: 7%;
  top: 24px;
  width: 100%;
}

/* line 1422, xiv.scss */
.xiv-ui-levelscontroller-slidervalue {
  left: calc(100% - 52px);
  width: 50px;
  top: 4px;
}

/* line 1429, xiv.scss */
.xiv-ui-levelscontroller-twothumbslidervalue,
.xiv-ui-levelscontroller-twothumbsliderextent {
  left: 10px;
  top: 32px;
}

/* line 1435, xiv.scss */
.xiv-ui-levelscontroller-twothumbsliderextent {
  left: calc(100% - 37px);
}

/* line 1442, xiv.scss */
.xiv-ui-levelscontroller-checkbox {
  top: 28px;
  width: 110px;
}

/* line 1447, xiv.scss */
.xiv-ui-levelscontroller-checkboxholder {
  top: 0px;
  width: 10px;
  outline: none;
  left: calc(100% - 15px);
}

/* line 1455, xiv.scss */
.xiv-ui-levelscontroller-checkboxcontroller {
  height: 15px;
  outline: none;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 1467, xiv.scss */
.xiv-ui-layouts-conventional {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1474, xiv.scss */
.xiv-ui-layouts-conventional-x, .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z, .xiv-ui-layouts-conventional-v {
  position: absolute;
}

/* line 1480, xiv.scss */
.xiv-ui-layouts-conventional-v {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 65%;
  z-index: 4;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #323232;
}

/* line 1494, xiv.scss */
.xiv-ui-layouts-conventional-x, .xiv-ui-layouts-conventional-y,
.xiv-ui-layouts-conventional-z {
  top: 65%;
  height: 35%;
  width: 33.33%;
}

/* line 1502, xiv.scss */
.xiv-ui-layouts-conventional-x {
  left: 33.33%;
  /*border-left: solid 1px rgb(50,50,50);*/
}

/* line 1508, xiv.scss */
.xiv-ui-layouts-conventional-y {
  left: 66.66%;
  border-left: solid 1px #323232;
}

/* line 1514, xiv.scss */
.xiv-ui-layouts-conventional-z {
  left: 0px;
  border-right: solid 1px #323232;
}

/* line 1521, xiv.scss */
.xiv-ui-layouts-conventional-x-resizeboundary,
.xiv-ui-layouts-conventional-y-resizeboundary,
.xiv-ui-layouts-conventional-z-resizeboundary,
.xiv-ui-layouts-conventional-v-resizeboundary {
  position: absolute;
  z-index: -1;
}

/* line 1530, xiv.scss */
.xiv-ui-layouts-conventional-x-resizeboundary {
  /**
  background-color: purple;
  opacity: .5;
  z-index: 20;
  */
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1546, xiv.scss */
.xiv-ui-layouts-fourup {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1553, xiv.scss */
.xiv-ui-layouts-fourup-x, .xiv-ui-layouts-fourup-y,
.xiv-ui-layouts-fourup-z, .xiv-ui-layouts-fourup-v {
  position: absolute;
  width: 50%;
  height: 50%;
}

/* line 1561, xiv.scss */
.xiv-ui-layouts-fourup-x-resizeboundary {
  /*
  background-color: blue;
  opacity: .3;
  */
  z-index: -1;
}

/* line 1570, xiv.scss */
.xiv-ui-layouts-fourup-v {
  left: 50%;
  top: 0%;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px #323232;
}

/* line 1582, xiv.scss */
.xiv-ui-layouts-fourup-x {
  left: 0%;
  top: 50%;
  border-left: none;
  border-top: none;
  border-right: solid 1px #323232;
  border-bottom: none;
}

/* line 1592, xiv.scss */
.xiv-ui-layouts-fourup-y {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: none;
  left: 50%;
  top: 50%;
}

/* line 1602, xiv.scss */
.xiv-ui-layouts-fourup-z {
  border-left: none;
  border-top: none;
  border-right: solid 1px #323232;
  border-bottom: solid 1px #323232;
  left: 0%;
  top: 0%;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1618, xiv.scss */
.xiv-ui-layouts-twodrow {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1626, xiv.scss */
.xiv-ui-layouts-twodrow-x, .xiv-ui-layouts-twodrow-y,
.xiv-ui-layouts-twodrow-z {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 33.33%;
}

/* line 1636, xiv.scss */
.xiv-ui-layouts-twodrow-x {
  left: 0px;
}

/* line 1641, xiv.scss */
.xiv-ui-layouts-twodrow-y {
  left: 33.33%;
  border-left: solid 1px #323232;
}

/* line 1647, xiv.scss */
.xiv-ui-layouts-twodrow-z {
  left: 66.66%;
  border-left: solid 1px #323232;
}

/* line 1654, xiv.scss */
.xiv-ui-layouts-twodrow-x-resizeboundary,
.xiv-ui-layouts-twodrow-y-resizeboundary,
.xiv-ui-layouts-twodrow-z-resizeboundary {
  position: absolute;
  z-index: -1;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1669, xiv.scss */
.xiv-ui-layouts-twodwidescreen {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* line 1677, xiv.scss */
.xiv-ui-layouts-twodwidescreen-y,
.xiv-ui-layouts-twodwidescreen-z {
  position: absolute;
  left: 66%;
  height: 50%;
  width: 33.33%;
}

/* line 1686, xiv.scss */
.xiv-ui-layouts-twodwidescreen-y {
  top: 0px;
  border-bottom: solid 1px #323232;
}

/* line 1692, xiv.scss */
.xiv-ui-layouts-twodwidescreen-z {
  top: 50%;
}

/* line 1697, xiv.scss */
.xiv-ui-layouts-twodwidescreen-x {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 66%;
  height: 100%;
  border-right: solid 1px #323232;
}

/* line 1708, xiv.scss */
.xiv-ui-layouts-twodwidescreen-x-resizeboundary,
.xiv-ui-layouts-twodwidescreen-y-resizeboundary,
.xiv-ui-layouts-twodwidescreen-z-resizeboundary {
  position: absolute;
  z-index: -1;
}

/* line 1716, xiv.scss */
.xiv-ui-progressbarpanel {
  position: absolute;
  top: 1px;
  left: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-color: black;
  text-align: middle;
  z-index: 2;
}

/* line 1727, xiv.scss */
.xiv-ui-progressbarpanel-thumb {
  position: absolute;
  height: 100%;
  top: 0px;
  background-color: cornflowerblue;
  border-radius: 1px;
}

/* line 1735, xiv.scss */
.xiv-ui-progressbarpanel-progbarholder {
  position: absolute;
  height: 1px;
  width: 95%;
  top: calc(50% - 1px);
  background-color: #1e1e1e;
  border-radius: 1px;
  border: none;
  left: 2.5%;
  overflow: visible;
}

/* line 1748, xiv.scss */
.xiv-ui-progressbarpanel-progressbar {
  background: cornflowerblue;
  height: 100%;
  top: 0px;
}

/* line 1755, xiv.scss */
.xiv-ui-progressbarpanel-labelholder {
  position: absolute;
  height: 15px;
  top: calc(50% - 15px);
  left: 2.5%;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  visibility: hidden;
}

@-webkit-keyframes endNode {
  from {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
  }
  /*
    50% { 
        background-color: rgba(255,255,255, 1);
        box-shadow: 0px 0px 2px 3px rgba(255,255,255, .8);
    }
  */
  to {
    background-color: white;
    box-shadow: 0px 0px 2px 3px rgba(255, 255, 255, 0.8);
  }
}
/* line 1784, xiv.scss */
.xiv-ui-progressbarpanel-endnode {
  position: absolute;
  top: 0px;
  left: calc(100% - 4px);
  height: 100%;
  width: 4px;
  border-radius: 2px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
}

/* line 1797, xiv.scss */
.xiv-ui-progressbarpanel-endnode-glow {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: endNode;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-name: endNode;
  animation-duration: .5s;
  animation-iteration-count: 1;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1812, xiv.scss */
.xiv-ui-histogram {
  position: absolute;
  height: 120px;
  z-index: 5000;
  top: -12px;
}

/* line 1819, xiv.scss */
.xiv-ui-histogram-canvas,
.xiv-ui-histogram-linecanvas {
  position: absolute;
  left: calc(10% - 1px);
  width: calc(80% - 2px);
  height: 85px;
  top: 20px;
}

/* line 1829, xiv.scss */
.xiv-ui-histogram-canvas {
  background-color: white;
}

/* line 1835, xiv.scss */
.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin,
.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: absolute;
  height: 14px;
  white-space: nowrap;
}

/* line 1846, xiv.scss */
.xiv-ui-histogram-clipmax,
.xiv-ui-histogram-clipmin {
  top: 7px;
}

/* line 1853, xiv.scss */
.xiv-ui-histogram-max,
.xiv-ui-histogram-min {
  top: calc(100% - 12px);
}

/* line 1859, xiv.scss */
.xiv-ui-histogram-max {
  width: 100%;
  text-align: right;
}

/* line 1865, xiv.scss */
.xiv-ui-histogram-min {
  left: 0px;
  text-align: left;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1876, xiv.scss */
.xiv-ui-viewablegroupmenu {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  background-color: #323232;
  border: solid 1px #9b9b9b;
  border-radius: 4px;
  z-index: 5002;
}

/* line 1893, xiv.scss */
.xiv-ui-viewablegroupmenu-thumbnailgallery {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  left: 0px;
  top: 20px;
  height: calc(100% - 20px);
  width: 100%;
  background-color: black;
  border-top: solid 1px #9b9b9b;
}

/* line 1907, xiv.scss */
.xiv-ui-viewablegroupmenu-header {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  margin-top: 2px;
  margin-left: 4px;
  color: white;
  font-size: 10px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 1919, xiv.scss */
.xiv-ui-viewablegroupmenu-thumbnail {
  width: 100%;
  height: 150px;
}

/* line 1925, xiv.scss */
.xiv-ui-viewablegroupmenu-background {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: black;
}

/* line 1938, xiv.scss */
.xiv-ui-viewablegroupmenu-thumbnail-image {
  width: 140px;
  height: 140px;
  top: 5px;
  left: 5px;
  border: solid 1px #646464;
}

/* line 1947, xiv.scss */
.xiv-ui-viewablegroupmenu-thumbnail-text {
  position: absolute;
  left: 160px;
  top: calc(50% - 7px);
  color: white;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1961, xiv.scss */
.xiv-ui-crosshairs-vertical,
.xiv-ui-crosshairs-horizontal {
  position: absolute;
  background-color: #7d7d7d;
}

/* line 1969, xiv.scss */
.xiv-ui-crosshairs-vertical {
  width: 1px;
  height: 100%;
  top: 0px;
  left: 50%;
}

/* line 1977, xiv.scss */
.xiv-ui-crosshairs-horizontal {
  width: 100%;
  height: 1px;
  top: 50%;
  left: 0px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 1989, xiv.scss */
.xiv-ui-framedisplay {
  position: absolute;
  top: 6px;
  height: 20px;
  width: 80px;
  left: calc(100% - 90px);
  text-wrap: none;
}

/* line 1999, xiv.scss */
.xiv-ui-framedisplay-text {
  font-size: 10px;
}

/*
 * @author kumar.sunil.p@gmail.com (Sunil Kumar)
 */
/* line 2007, xiv.scss */
.xiv-ui-zoomdisplay {
  position: absolute;
  top: 22px;
  height: 20px;
  width: 80px;
  left: calc(100% - 90px);
  text-wrap: none;
  font-size: 10px !important;
}

/* line 2018, xiv.scss */
.xiv-ui-zoomdisplay-text {
  font-size: 10px;
}

/*
* @author kumar.sunil.p@gmail.com (Sunil Kumar)
*/
/* line 2025, xiv.scss */
.xiv-ui-playbutton-image, .xiv-ui-playbutton {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 6px;
  width: 9px;
  opacity: .6;
}

/* line 2036, xiv.scss */
.xiv-ui-playbutton {
  cursor: pointer;
  opacity: 1;
  left: 9px;
  top: calc(100% - 13px);
}
